@use '../common' as *;

.main {
  &--home {
    padding-top: 100px;
    padding-bottom: 56px;

    .category-bar {
      position: fixed;
      top: 52px;
      z-index: 999;
      transition: top 0.2s ease;

      &.hide {
        top: -100px;
      }
    }
  }
}
