:root {
  --bg-base-100: #fff;
  --bg-base-200: #fff;
  --bg-base-300: #f8f8f8;
  --bg-base-400: #eeeeee;
  --bg-base-500: #bbbbbb;
  --bg-base-600: #bbbbbb;
  --bg-base-700: #fff;
  --bg-base-800: #f8f8f8;
  --bg-base-900: #ececec;
  --bg-base-1000: #ececec;
  --bg-base-1100: #fbfbfd;
  --bg-base-1200: #fbfbfd;
  --bg-base-1300: #c8c8c8;
  --bg-secondary-100: #000;
  --bg-accent-100: #fa3d22;
  --text-base-100: #000;
  --text-base-200: #fff;
  --text-base-300: #222;
  --text-base-400: #040404;
  --text-base-500: #222;
  --text-base-600: #111;
  --text-base-700: #111;
  --text-base-800: #444;
  --text-base-900: #000;
  --text-base-1000: #444;
  --text-base-1100: #444;
  --text-base-1200: #222;
  --text-base-1300: #222;
  --text-base-1400: #222;
  --text-base-1500: #555;
  --text-secondary-100: #6e6e6e;
  --text-secondary-200: #8b8b8b;
  --text-secondary-300: #f8f8f8;
  --text-secondary-400: #999999;
  --text-secondary-500: #686868;
  --text-secondary-600: #8b8b8b;
  --text-secondary-700: #666666;
  --text-secondary-800: #666666;
  --text-secondary-900: #bbb;
  --text-secondary-1000: #686868;
  --text-secondary-1100: #777;
  --text-secondary-1200: #777;
  --text-secondary-fix-100: #999999;
  --text-secondary-fix-200: #bbb;
  --text-accent-100: #fa3d22;
  --border-base-100: #e9ebee;
  --border-base-200: #dddddd;
  --border-base-300: #d4d4d4;
  --border-base-400: #eeeeee;
  --border-base-500: #e4e4e4;
  --border-base-600: #e3e3e3;
  --border-accent-100: #fa3d22;
  --btn-bg-base-100: #f8f8f8;
  --btn-bg-base-200: #eeeeee;
  --btn-bg-base-300: #eeeeee;
  --btn-bg-base-400: #f8f8f8;
  --btn-bg-base-500: #f8f8f8;
  --btn-bg-base-600: #bbb;
  --btn-bg-base-700: #eee;
  --btn-bg-base-800: #fff;
  --btn-bg-accent-100: #fa3d22;
  --tag-bg-base-100: rgba(4, 4, 4, 0.6);
  --tag-bg-base-200: rgba(255, 255, 255, 0.8);
  --tag-bg-base-300: #eee;
  --tag-bg-accent: #fa3d22;
  --tag-text-base-100: #fff;
  --tag-text-base-200: #040404;
  --selection-bg-base-100: #d9e6ff;
  --filter-100: invert(0);
  --overlay-bg-base-100: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base-100: #000;
    --bg-base-200: #222;
    --bg-base-300: #000;
    --bg-base-400: #444;
    --bg-base-500: #666;
    --bg-base-600: #444;
    --bg-base-700: #444;
    --bg-base-800: #444;
    --bg-base-900: #000;
    --bg-base-1000: #525252;
    --bg-base-1100: #000;
    --bg-base-1200: #444;
    --bg-base-1300: #8b8b8b;
    --bg-secondary-100: #444;
    --text-base-100: #fff;
    --text-base-300: #fff;
    --text-base-400: #fff;
    --text-base-600: #f8f8f8;
    --text-base-700: #fff;
    --text-base-800: #ececec;
    --text-base-900: #ececec;
    --text-base-1000: #8b8b8b;
    --text-base-1100: #fff;
    --text-base-1200: #eee;
    --text-base-1300: #bbb;
    --text-base-1400: #ececec;
    --text-base-1500: #eee;
    --text-secondary-200: #bbbbbb;
    --text-secondary-400: #bbbbbb;
    --text-secondary-500: #ececec;
    --text-secondary-700: #bbbbbb;
    --text-secondary-800: #8b8b8b;
    --text-secondary-900: #666;
    --text-secondary-1000: #d3d3d3;
    --text-secondary-1100: #ececec;
    --text-secondary-1200: #bbb;
    --border-base-100: #444;
    --border-base-200: #444;
    --border-base-300: #8b8b8b;
    --border-base-400: #444;
    --border-base-500: #444;
    --border-base-600: #fff;
    --btn-bg-base-100: #222;
    --btn-bg-base-200: #8b8b8b;
    --btn-bg-base-300: #222;
    --btn-bg-base-500: #444;
    --btn-bg-base-600: #8b8b8b;
    --btn-bg-base-700: #999;
    --btn-bg-base-800: #000;
    --tag-bg-base-300: #222;
    --selection-bg-base-100: #42629e;
    --filter-100: invert(1);
    --overlay-bg-base-100: rgba(0, 0, 0, 0.7);
  }
}
.dark {
  --bg-base-100: #000;
  --bg-base-200: #222;
  --bg-base-300: #000;
  --bg-base-400: #444;
  --bg-base-500: #666;
  --bg-base-600: #444;
  --bg-base-700: #444;
  --bg-base-800: #444;
  --bg-base-900: #000;
  --bg-base-1000: #525252;
  --bg-base-1100: #000;
  --bg-base-1200: #444;
  --bg-base-1300: #8b8b8b;
  --bg-secondary-100: #444;
  --text-base-100: #fff;
  --text-base-300: #fff;
  --text-base-400: #fff;
  --text-base-600: #f8f8f8;
  --text-base-700: #fff;
  --text-base-800: #ececec;
  --text-base-900: #ececec;
  --text-base-1000: #8b8b8b;
  --text-base-1100: #fff;
  --text-base-1200: #eee;
  --text-base-1300: #bbb;
  --text-base-1400: #ececec;
  --text-base-1500: #eee;
  --text-secondary-200: #bbbbbb;
  --text-secondary-400: #bbbbbb;
  --text-secondary-500: #ececec;
  --text-secondary-700: #bbbbbb;
  --text-secondary-800: #8b8b8b;
  --text-secondary-900: #666;
  --text-secondary-1000: #d3d3d3;
  --text-secondary-1100: #ececec;
  --text-secondary-1200: #bbb;
  --border-base-100: #444;
  --border-base-200: #444;
  --border-base-300: #8b8b8b;
  --border-base-400: #444;
  --border-base-500: #444;
  --border-base-600: #fff;
  --btn-bg-base-100: #222;
  --btn-bg-base-200: #8b8b8b;
  --btn-bg-base-300: #222;
  --btn-bg-base-500: #444;
  --btn-bg-base-600: #8b8b8b;
  --btn-bg-base-700: #999;
  --btn-bg-base-800: #000;
  --tag-bg-base-300: #222;
  --selection-bg-base-100: #42629e;
  --filter-100: invert(1);
  --overlay-bg-base-100: rgba(0, 0, 0, 0.7);
}

.main--my {
  padding-top: 52px;
  padding-bottom: 56px;
}
.main--my .container {
  max-width: calc(100% - 32px);
  margin: 0 auto;
  position: relative;
  padding-top: 14px;
}
.main--my .page-title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.24px;
  color: var(--text-base-300);
}
.main--my .page-desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 14px;
  color: var(--text-secondary-600);
}
.main--my-point .down-btn {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: var(--btn-bg-accent-100);
  position: fixed;
  right: 16px;
  bottom: 72px;
}
.main--my-setting .page-title {
  margin-bottom: 40px;
}
.main--my-setting .item {
  margin-bottom: 40px;
}
.main--my-setting .item:nth-last-child(2) {
  margin-bottom: 65px;
}
.main--my-setting .item > .title {
  font-family: "Pretendard-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: var(--text-base-300);
  margin-bottom: 15px;
}
.main--my-setting .item > .desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 14px;
  color: var(--text-secondary-200);
  margin-bottom: 8px;
}
.main--my-setting .item .input-list--radio .input-wrap, .main--my-setting .item .input-list--checkbox .input-wrap {
  margin-bottom: 20px;
}
.main--my-setting .item .input-list--radio .input-wrap:last-of-type, .main--my-setting .item .input-list--checkbox .input-wrap:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item .input-list--radio .input-wrap .desc, .main--my-setting .item .input-list--checkbox .input-wrap .desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary-600);
  margin-top: 4px;
  margin-left: 32px;
}
.main--my-setting .item--video .btn {
  margin-bottom: 15px;
}
.main--my-setting .item--video .btn:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item--save .desc:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item--save .input-wrap:first-of-type {
  margin-bottom: 15px;
}
.main--my-setting .item--save .btn-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  gap: 5px;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}
.main--my-setting .item--save .btn-list .btn {
  overflow: hidden;
  gap: 0;
  padding: 0 10px;
}
.main--my-setting .item--save .btn-list .btn .title {
  max-width: calc(100% - 15px);
}
.main--my-setting .item--save .btn-list .format {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: var(--text-base-300);
}
.main--my-setting .item--save .btn-list .format.format1 {
  margin-bottom: 11px;
}
.main--my-setting .item--save .btn-list .format.format2 {
  margin-bottom: 3px;
}
.main--my-setting .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.main--my-download {
  padding-bottom: 70px;
}
.main--my-download .page-title {
  margin-bottom: 6px;
}
.main--my-download .page-desc {
  margin-bottom: 32px;
}
.main--my-download .tab-bar {
  margin-bottom: 10px;
}
.main--my-download .tab-section {
  display: none;
}
.main--my-download .tab-section--import .cont {
  display: none;
}
.main--my-download .tab-section--import .cont.cont1 {
  position: relative;
  min-height: calc(100dvh - 267px);
}
.main--my-download .tab-section--import .cont.cont1 .text-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 143px;
  min-height: inherit;
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .icon {
  margin-bottom: 28px;
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .cont-title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  color: var(--text-base-300);
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .cont-desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 22px;
  color: var(--text-base-1300);
  text-align: center;
}
.main--my-download .tab-section--import .cont.cont1 .btn-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
}
.main--my-download .tab-section--import .cont.on {
  display: block;
}
.main--my-download .tab-section .btn-wrap {
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
.main--my-download .tab-section.on {
  display: block;
}
.main--my-download .cont-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
}
.main--my-download .cont-head .category-bar {
  overflow: hidden;
}
.main--my-download .cont-head .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  margin-right: 16px;
  flex-shrink: 0;
}
.main--my-download .folder-wrap {
  padding-top: 10px;
}
.main--my-download .folder-wrap.mb-88 {
  margin-bottom: 88px;
}
.main--my-download .folder-wrap .folder-head {
  max-width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-right: 4px;
  margin-bottom: 5px;
}
.main--my-download .folder-wrap .folder-head .title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  color: var(--text-base-700);
}
.main--my-download .folder-wrap .folder-head .dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 6px;
  flex-wrap: nowrap;
}
.main--my-download .folder-wrap .folder-head .dropdown-btn .count {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 14px;
  color: var(--text-secondary-600);
}
.main--my-download .folder-wrap .folder-cont {
  overflow: hidden;
  height: 0;
}
.main--my-download .folder-wrap .folder-cont .video-section .download-card {
  padding-left: 24px;
}
.main--my-download .folder-wrap.on .folder-head .dropdown-btn .icon.arrow-bottom-gray {
  transform: rotate(180deg);
}
.main--my-download .folder-wrap.on .folder-cont {
  height: 100%;
}
.main--my-download .video-section.mb-88 {
  margin-bottom: 88px;
}
.main--my-download .list-none {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  flex-wrap: nowrap;
  padding: 100px 0;
  text-align: center;
  min-height: calc(100dvh - 267px);
}
.main--my-download .list-none .desc {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 20px;
  color: var(--text-base-300);
  margin-bottom: 50px;
}
.main--my-download .video-pip {
  bottom: 66px;
  right: 10px;
}
.main--my-ezplayer .container {
  position: relative;
  min-height: calc(100dvh - 108px);
}
.main--my-ezplayer .page-title {
  margin-bottom: 30px;
}
.main--my-ezplayer .source-bar {
  margin-bottom: 12px;
}
.main--my-ezplayer .source-bar.mb-16 {
  margin-bottom: 16px;
}
.main--my-ezplayer .video-section {
  padding-bottom: 30px;
}
.main--my-ezplayer .video-section.pb-100 {
  padding-bottom: 100px;
}
.main--my-ezplayer .notice-box {
  width: 100%;
  padding: 30px 0;
  bottom: 0;
  position: absolute;
}
.main--my-ezplayer .notice-box .desc {
  font-family: "Pretendard-Regular";
  font-size: 11px;
  line-height: 16px;
  color: var(--text-secondary-600);
  text-align: center;
}
.main--my-ezplayer-none {
  padding: 0;
}
.main--my-ezplayer-none .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  position: relative;
  padding: 170px 0;
  min-height: 100dvh;
}
.main--my-ezplayer-none .container .text-cover {
  text-align: center;
}
.main--my-ezplayer-none .container .text-cover .icon {
  margin-bottom: 22px;
}
.main--my-ezplayer-none .container .text-cover .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  color: var(--text-base-300);
  margin-bottom: 10px;
}
.main--my-ezplayer-none .container .text-cover .desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 21px;
  color: var(--text-base-1300);
  margin-bottom: 100px;
}
.main--my-ezplayer-none .container .btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}
.main--my-app-update {
  background: var(--bg-base-1100);
}
.main--my-app-update .container {
  padding-bottom: 123px;
  min-height: calc(100dvh - 108px);
}
.main--my-app-update .page-title {
  margin-bottom: 40px;
}
.main--my-app-update .version-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-base-500);
  margin-bottom: 30px;
}
.main--my-app-update .version-box .logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
.main--my-app-update .version-box .logo-wrap .title {
  font-family: "Pretendard-Bold";
  font-size: 15px;
  line-height: 18px;
  color: var(--text-base-300);
  margin-bottom: 4px;
}
.main--my-app-update .version-box .logo-wrap .desc {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 15px;
  color: var(--text-secondary-1100);
}
.main--my-app-update .version-box .btn-update {
  padding: 9.5px 16px;
}
.main--my-app-update .update-history .title {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 18px;
  color: var(--text-base-300);
  margin-bottom: 20px;
}
.main--my-app-update .update-history .box {
  margin-bottom: 30px;
}
.main--my-app-update .update-history .box:last-of-type {
  margin-bottom: 60px;
}
.main--my-app-update .update-history .box .meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.main--my-app-update .update-history .box .meta .version-info {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 16px;
  color: var(--text-base-300);
}
.main--my-app-update .update-history .box .meta .date {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 15px;
  color: var(--text-secondary-1100);
}
.main--my-app-update .update-history .box .list .item {
  font-family: "Pretendard-Regular";
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 2px;
  flex-wrap: nowrap;
  font-size: 13px;
  line-height: 18px;
  color: var(--text-secondary-1100);
}
.main--my-app-update .bottom-fix {
  position: absolute;
  width: 100%;
  bottom: 40px;
}
.main--my-app-update .bottom-fix .btn--basic-underline {
  margin: 0 auto;
  margin-bottom: 20px;
}
.main--my-app-update .bottom-fix .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}