:root {
  --bg-base-100: #fff;
  --bg-base-200: #fff;
  --bg-base-300: #f8f8f8;
  --bg-base-400: #eeeeee;
  --bg-base-500: #bbbbbb;
  --bg-base-600: #bbbbbb;
  --bg-base-700: #fff;
  --bg-base-800: #f8f8f8;
  --bg-base-900: #ececec;
  --bg-base-1000: #ececec;
  --bg-secondary-100: #000;
  --bg-accent-100: #fa3d22;
  --text-base-100: #000;
  --text-base-200: #fff;
  --text-base-300: #222;
  --text-base-400: #040404;
  --text-base-500: #222;
  --text-base-600: #111;
  --text-base-700: #111;
  --text-base-800: #444;
  --text-base-900: #000;
  --text-base-1000: #444;
  --text-base-1100: #444;
  --text-base-1200: #222;
  --text-base-1300: #222;
  --text-base-1400: #222;
  --text-secondary-100: #6e6e6e;
  --text-secondary-200: #8b8b8b;
  --text-secondary-300: #f8f8f8;
  --text-secondary-400: #999999;
  --text-secondary-500: #686868;
  --text-secondary-600: #8b8b8b;
  --text-secondary-700: #666666;
  --text-secondary-800: #666666;
  --text-secondary-900: #bbb;
  --text-secondary-1000: #686868;
  --text-secondary-fix-100: #999999;
  --text-secondary-fix-200: #bbb;
  --text-accent-100: #fa3d22;
  --border-base-100: #e9ebee;
  --border-base-200: #dddddd;
  --border-base-300: #d4d4d4;
  --border-base-400: #eeeeee;
  --border-accent-100: #fa3d22;
  --btn-bg-base-100: #f8f8f8;
  --btn-bg-base-200: #eeeeee;
  --btn-bg-base-300: #eeeeee;
  --btn-bg-base-400: #f8f8f8;
  --btn-bg-base-500: #f8f8f8;
  --btn-bg-base-600: #bbb;
  --btn-bg-accent-100: #fa3d22;
  --tag-bg-base-100: rgba(4, 4, 4, 0.6);
  --tag-bg-base-200: rgba(255, 255, 255, 0.8);
  --tag-bg-accent: #fa3d22;
  --tag-text-base-100: #fff;
  --tag-text-base-200: #040404;
  --selection-bg-base-100: #d9e6ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-base-100: #000;
    --bg-base-200: #222;
    --bg-base-300: #000;
    --bg-base-400: #444;
    --bg-base-500: #666;
    --bg-base-600: #444;
    --bg-base-700: #444;
    --bg-base-800: #444;
    --bg-base-900: #000;
    --bg-base-1000: #525252;
    --bg-secondary-100: #444;
    --text-base-100: #fff;
    --text-base-300: #fff;
    --text-base-400: #fff;
    --text-base-600: #f8f8f8;
    --text-base-700: #fff;
    --text-base-800: #ececec;
    --text-base-900: #ececec;
    --text-base-1000: #8b8b8b;
    --text-base-1100: #fff;
    --text-base-1200: #eee;
    --text-base-1300: #bbb;
    --text-base-1400: #ececec;
    --text-secondary-200: #bbbbbb;
    --text-secondary-400: #bbbbbb;
    --text-secondary-500: #ececec;
    --text-secondary-700: #bbbbbb;
    --text-secondary-800: #8b8b8b;
    --text-secondary-900: #666;
    --text-secondary-1000: #d3d3d3;
    --border-base-100: #444;
    --border-base-200: #444;
    --border-base-300: #8b8b8b;
    --border-base-400: #444;
    --btn-bg-base-100: #222;
    --btn-bg-base-200: #8b8b8b;
    --btn-bg-base-300: #222;
    --btn-bg-base-500: #444;
    --btn-bg-base-600: #8b8b8b;
    --selection-bg-base-100: #42629e;
  }
}
.dark {
  --bg-base-100: #000;
  --bg-base-200: #222;
  --bg-base-300: #000;
  --bg-base-400: #444;
  --bg-base-500: #666;
  --bg-base-600: #444;
  --bg-base-700: #444;
  --bg-base-800: #444;
  --bg-base-900: #000;
  --bg-base-1000: #525252;
  --bg-secondary-100: #444;
  --text-base-100: #fff;
  --text-base-300: #fff;
  --text-base-400: #fff;
  --text-base-600: #f8f8f8;
  --text-base-700: #fff;
  --text-base-800: #ececec;
  --text-base-900: #ececec;
  --text-base-1000: #8b8b8b;
  --text-base-1100: #fff;
  --text-base-1200: #eee;
  --text-base-1300: #bbb;
  --text-base-1400: #ececec;
  --text-secondary-200: #bbbbbb;
  --text-secondary-400: #bbbbbb;
  --text-secondary-500: #ececec;
  --text-secondary-700: #bbbbbb;
  --text-secondary-800: #8b8b8b;
  --text-secondary-900: #666;
  --text-secondary-1000: #d3d3d3;
  --border-base-100: #444;
  --border-base-200: #444;
  --border-base-300: #8b8b8b;
  --border-base-400: #444;
  --btn-bg-base-100: #222;
  --btn-bg-base-200: #8b8b8b;
  --btn-bg-base-300: #222;
  --btn-bg-base-500: #444;
  --btn-bg-base-600: #8b8b8b;
  --selection-bg-base-100: #42629e;
}

.main--my {
  padding-top: 52px;
  padding-bottom: 56px;
}
.main--my .container {
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding-top: 14px;
}
.main--my .page-title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.24px;
  color: var(--text-base-300);
}
.main--my .page-desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 14px;
  color: var(--text-secondary-600);
}
.main--my-point .down-btn {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: var(--btn-bg-accent-100);
  position: fixed;
  right: 16px;
  bottom: 72px;
}
.main--my-setting .page-title {
  margin-bottom: 40px;
}
.main--my-setting .item {
  margin-bottom: 40px;
}
.main--my-setting .item:nth-last-child(2) {
  margin-bottom: 65px;
}
.main--my-setting .item > .title {
  font-family: "Pretendard-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: var(--text-base-300);
  margin-bottom: 15px;
}
.main--my-setting .item > .desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 14px;
  color: var(--text-secondary-200);
  margin-bottom: 8px;
}
.main--my-setting .item .input-list--radio .input-wrap, .main--my-setting .item .input-list--checkbox .input-wrap {
  margin-bottom: 20px;
}
.main--my-setting .item .input-list--radio .input-wrap:last-of-type, .main--my-setting .item .input-list--checkbox .input-wrap:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item .input-list--radio .input-wrap .desc, .main--my-setting .item .input-list--checkbox .input-wrap .desc {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary-600);
  margin-top: 4px;
  margin-left: 32px;
}
.main--my-setting .item--video .btn {
  margin-bottom: 15px;
}
.main--my-setting .item--video .btn:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item--save .desc:last-of-type {
  margin-bottom: 0;
}
.main--my-setting .item--save .input-wrap:first-of-type {
  margin-bottom: 15px;
}
.main--my-setting .item--save .btn-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  gap: 5px;
  flex-wrap: nowrap;
  margin-bottom: 8px;
}
.main--my-setting .item--save .btn-list .btn {
  overflow: hidden;
  gap: 0;
  padding: 0 10px;
}
.main--my-setting .item--save .btn-list .btn .title {
  max-width: calc(100% - 15px);
}
.main--my-setting .item--save .btn-list .format {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: var(--text-base-300);
}
.main--my-setting .item--save .btn-list .format.format1 {
  margin-bottom: 11px;
}
.main--my-setting .item--save .btn-list .format.format2 {
  margin-bottom: 3px;
}
.main--my-setting .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.main--my-download {
  padding-bottom: 70px;
}
.main--my-download .page-title {
  margin-bottom: 6px;
}
.main--my-download .page-desc {
  margin-bottom: 32px;
}
.main--my-download .tab-bar {
  margin-bottom: 10px;
}
.main--my-download .tab-section {
  display: none;
}
.main--my-download .tab-section--import .cont {
  display: none;
}
.main--my-download .tab-section--import .cont.cont1 {
  position: relative;
  min-height: calc(100vh - 267px);
}
.main--my-download .tab-section--import .cont.cont1 .text-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-top: 60px;
  padding-bottom: 143px;
  min-height: inherit;
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .icon {
  margin-bottom: 28px;
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .cont-title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  color: var(--text-base-300);
}
.main--my-download .tab-section--import .cont.cont1 .text-cover .cont-desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 22px;
  color: var(--text-base-1300);
  text-align: center;
}
.main--my-download .tab-section--import .cont.cont1 .btn-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
}
.main--my-download .tab-section--import .cont.on {
  display: block;
}
.main--my-download .tab-section .btn-wrap {
  max-width: calc(100% - 32px);
  margin: 0 auto;
}
.main--my-download .tab-section.on {
  display: block;
}
.main--my-download .cont-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
}
.main--my-download .cont-head .category-bar {
  overflow: hidden;
}
.main--my-download .cont-head .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  margin-right: 16px;
  flex-shrink: 0;
}
.main--my-download .video-section {
  margin-bottom: 88px;
}