@use '../common' as *;

.main {
  &--my {
    padding-top: 52px;
    padding-bottom: 56px;

    .container {
      @include max-width();
      position: relative;
      padding-top: 14px;
    }

    .page-title {
      @include preBold();
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.24px;
      color: var(--text-base-300);
    }

    .page-desc {
      @include preRegular();
      font-size: 12px;
      line-height: 14px;
      color: var(--text-secondary-600);
    }

    // my-point
    &-point {
      .down-btn {
        width: 52px;
        height: 52px;
        border-radius: 100%;
        background: var(--btn-bg-accent-100);
        position: fixed;
        right: 16px;
        bottom: 72px;
      }
    }

    // my-setting
    &-setting {
      .page-title {
        margin-bottom: 40px;
      }

      .item {
        margin-bottom: 40px;

        &:nth-last-child(2) {
          margin-bottom: 65px;
        }

        > .title {
          @include preSemiBold();
          font-size: 14px;
          line-height: 16px;
          color: var(--text-base-300);
          margin-bottom: 15px;
        }

        > .desc {
          @include preRegular();
          font-size: 12px;
          line-height: 14px;
          color: var(--text-secondary-200);
          margin-bottom: 8px;
        }

        .input-list {
          &--radio,
          &--checkbox {
            .input-wrap {
              margin-bottom: 20px;

              &:last-of-type {
                margin-bottom: 0;
              }

              .desc {
                @include preRegular();
                font-size: 12px;
                line-height: 16px;
                color: var(--text-secondary-600);
                margin-top: 4px;
                margin-left: 32px;
              }
            }
          }
        }

        &--video {
          .btn {
            margin-bottom: 15px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &--save {
          .desc {
            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .input-wrap {
            &:first-of-type {
              margin-bottom: 15px;
            }
          }

          .btn-list {
            @include flex-pos($ai: flex-end, $g: 5px);
            margin-bottom: 8px;

            .btn {
              overflow: hidden;
              gap: 0;
              padding: 0 10px;

              .title {
                max-width: calc(100% - 15px);
              }
            }

            .format {
              @include preMedium();
              font-size: 15px;
              color: var(--text-base-300);

              &.format1 {
                margin-bottom: 11px;
              }

              &.format2 {
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      .btn-wrap {
        @include flex-pos($ai: center, $g: 10px);
        margin-bottom: 40px;
      }
    }

    // my-download
    &-download {
      padding-bottom: 70px;

      .page-title {
        margin-bottom: 6px;
      }

      .page-desc {
        margin-bottom: 32px;
      }

      .tab-bar {
        margin-bottom: 10px;
      }

      .tab-section {
        display: none;

        &--import {
          .cont {
            display: none;

            &.cont1 {
              position: relative;
              min-height: calc(100dvh - 267px);

              .text-cover {
                @include flex-pos($fd: column, $jc: center, $ai: center);
                padding-top: 60px;
                padding-bottom: 143px;
                min-height: inherit;

                .icon {
                  margin-bottom: 28px;
                }

                .cont-title {
                  @include preBold();
                  font-size: 16px;
                  line-height: 19px;
                  margin-bottom: 10px;
                  color: var(--text-base-300);
                }

                .cont-desc {
                  @include preRegular();
                  font-size: 16px;
                  line-height: 22px;
                  color: var(--text-base-1300);
                  text-align: center;
                }
              }

              .btn-wrap {
                @include pos-x-center();
                bottom: 0;
                width: 100%;
              }
            }

            &.on {
              display: block;
            }
          }
        }

        .btn-wrap {
          @include max-width();
        }

        &.on {
          display: block;
        }
      }

      .cont-head {
        @include flex-pos($jc: space-between, $g: 10px);

        .category-bar {
          overflow: hidden;
        }

        .btn-wrap {
          @include flex-pos($jc: center, $ai: center);
          margin-right: 16px;
          flex-shrink: 0;
        }
      }

      .folder-wrap {
        padding-top: 10px;

        &.mb-88 {
          margin-bottom: 88px;
        }

        .folder-head {
          @include max-width();
          @include flex-pos($ai: center, $jc: space-between);
          padding-right: 4px;
          margin-bottom: 5px;

          .title {
            @include flex-pos($ai: center, $g: 6px);
            @include preBold();
            font-size: 16px;
            line-height: 19px;
            color: var(--text-base-700);
          }

          .dropdown-btn {
            @include flex-pos($ai: center, $g: 6px);

            .count {
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);
            }
          }
        }

        .folder-cont {
          overflow: hidden;
          height: 0;

          .video-section {
            .download-card {
              padding-left: 24px;
            }
          }
        }

        &.on {
          .folder-head {
            .dropdown-btn {
              .icon {
                &.arrow-bottom-gray {
                  transform: rotate(180deg);
                }
              }
            }
          }

          .folder-cont {
            height: 100%;
          }
        }
      }

      .video-section {
        &.mb-88 {
          margin-bottom: 88px;
        }
      }

      .list-none {
        @include flex-pos($fd: column, $jc: center, $ai: center, $g: 22px);
        padding: 100px 0;
        text-align: center;
        min-height: calc(100dvh - 267px);

        .desc {
          @include preBold();
          font-size: 16px;
          line-height: 20px;
          color: var(--text-base-300);
          margin-bottom: 50px;
        }
      }

      .video-pip {
        bottom: 66px;
        right: 10px;
      }
    }

    // my-ezplayer
    &-ezplayer {
      .container {
        position: relative;
        min-height: calc(100dvh - 108px);
      }

      .page-title {
        margin-bottom: 30px;
      }

      .source-bar {
        margin-bottom: 12px;

        &.mb-16 {
          margin-bottom: 16px;
        }
      }

      .video-section {
        padding-bottom: 30px;

        &.pb-100 {
          padding-bottom: 100px;
        }
      }

      .notice-box {
        width: 100%;
        padding: 30px 0;
        bottom: 0;
        position: absolute;

        .desc {
          @include preRegular();
          font-size: 11px;
          line-height: 16px;
          color: var(--text-secondary-600);
          text-align: center;
        }
      }
    }

    &-ezplayer-none {
      padding: 0;

      .container {
        @include flex-pos($jc: center, $ai: center);
        position: relative;
        padding: 170px 0;
        min-height: 100dvh;

        .text-cover {
          text-align: center;

          .icon {
            margin-bottom: 22px;
          }

          .title {
            @include preBold();
            font-size: 16px;
            line-height: 19px;
            color: var(--text-base-300);
            margin-bottom: 10px;
          }

          .desc {
            @include preRegular();
            font-size: 16px;
            line-height: 21px;
            color: var(--text-base-1300);
            margin-bottom: 100px;
          }
        }

        .btn {
          @include pos-x-center();
          bottom: 40px;
        }
      }
    }

    // my-app-update
    &-app-update {
      background: var(--bg-base-1100);

      .container {
        padding-bottom: 123px;
        min-height: calc(100dvh - 108px);
      }

      .page-title {
        margin-bottom: 40px;
      }

      .version-box {
        @include flex-pos($ai: center, $jc: space-between);
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-base-500);
        margin-bottom: 30px;

        .logo-wrap {
          @include flex-pos($ai: center, $g: 12px);

          .title {
            @include preBold();
            font-size: 15px;
            line-height: 18px;
            color: var(--text-base-300);
            margin-bottom: 4px;
          }

          .desc {
            @include preRegular();
            font-size: 13px;
            line-height: 15px;
            color: var(--text-secondary-1100);
          }
        }

        .btn-update {
          padding: 9.5px 16px;
        }
      }

      .update-history {
        .title {
          @include preRegular();
          font-size: 15px;
          line-height: 18px;
          color: var(--text-base-300);
          margin-bottom: 20px;
        }

        .box {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 60px;
          }

          .meta {
            @include flex-pos($ai: center, $jc: space-between);
            margin-bottom: 10px;

            .version-info {
              @include preRegular();
              font-size: 14px;
              line-height: 16px;
              color: var(--text-base-300);
            }

            .date {
              @include preRegular();
              font-size: 13px;
              line-height: 15px;
              color: var(--text-secondary-1100);
            }
          }

          .list {
            .item {
              @include preRegular();
              @include flex-pos($g: 2px);
              font-size: 13px;
              line-height: 18px;
              color: var(--text-secondary-1100);
            }
          }
        }
      }

      .bottom-fix {
        position: absolute;
        width: 100%;
        bottom: 40px;

        .btn--basic-underline {
          margin: 0 auto;
          margin-bottom: 20px;
        }

        .btn-wrap {
          @include flex-pos($ai: center, $g: 10px);
        }
      }
    }
  }
}
