@use '../common' as *;

.main {
  &--non-member {
    padding-top: 52px;

    .container {
      @include max-width();
      padding-top: 25px;
      padding-bottom: 70px;
    }

    .search-wrap {
      @include flex-pos($ai: center);
      border-radius: 8px;
      border: 1px solid var(--border-base-200);
      height: 52px;
      padding: 0 16px;
      margin-bottom: 70px;

      .nav-btn,
      .search-btn {
        margin-right: 16px;
      }

      .search-btn {
        @include preRegular();
        width: 100%;
        color: var(--text-secondary-200);
        font-size: 16px;
        height: 100%;
        text-align: left;
      }
    }

    .desc-box {
      .title {
        @include preBold();
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        position: relative;
        padding-top: 195px;
        margin-bottom: 24px;

        &::before {
          @include image-set();
          @include elm-create();
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 170px;
          height: 170px;
          background-image: url(../../images/page/non-member/empty.png);
        }
      }

      .desc {
        @include preRegular();
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        text-align: center;
        color: var(--text-secondary-400);
      }
    }
  }
}
