@use '../common' as *;

:root {
  --onboarding-deco: url(../../images/page/onboarding/onboarding-deco.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --onboarding-deco: url(../../images/page/onboarding/dark/onboarding-deco.png);
  }
}

.dark {
  --onboarding-deco: url(../../images/page/onboarding/dark/onboarding-deco.png);
}

.main {
  &--onboarding {
    .section {
      // common
      min-height: 650px;
      height: 100dvh;
      padding-bottom: 40px;
      display: none;

      &.on {
        display: block;
      }

      .container {
        @include max-width();
        height: 100%;
      }

      .icon-wrap {
        @include flex-pos($jc: center, $ai: center);
        background: var(--bg-accent-100);
        border-radius: 100%;

        &--key {
          width: 54px;
          height: 54px;
          margin-bottom: 25px;
        }

        &--down {
          margin: 0 auto;
          width: 40px;
          height: 40px;
          margin-bottom: 12px;
        }
      }

      &--1 {
        padding-top: 50px;

        .item-wrap {
          @include flex-pos($fd: column, $jc: space-between);
          height: 100%;

          .item {
            .section-title {
              @include preBold();
              font-size: 22px;
              line-height: 26px;
              color: var(--text-base-300);
              margin-bottom: 15px;
            }

            .section-desc {
              @include preRegular();
              font-size: 14px;
              line-height: 19px;
              color: var(--text-secondary-700);
            }

            .desc-list {
              @include flex-pos($fd: column, $g: 16px);
              margin-bottom: 40px;

              .desc-box {
                @include flex-pos($ai: center, $g: 15px);
                padding: 17px 24px;
                border-radius: 8px;
                border: 1px solid var(--border-base-400);

                .icon {
                  flex-shrink: 0;
                }

                .title {
                  @include preBold();
                  font-size: 16px;
                  color: var(--text-base-300);
                  line-height: 19px;
                  margin-bottom: 4px;
                }

                .desc {
                  @include preRegular();
                  font-size: 13px;
                  line-height: 15px;
                  color: var(--text-secondary-600);
                }
              }
            }
          }
        }
      }

      &--2 {
        padding-top: 42px;

        .item-wrap {
          @include flex-pos($fd: column, $jc: space-between);
          height: 100%;

          .item {
            position: relative;

            .section-title {
              @include preBold();
              font-size: 24px;
              line-height: 32px;
              color: var(--text-base-300);
              margin-bottom: 12px;
              text-align: center;
            }

            .section-desc {
              @include preMedium();
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              color: var(--text-base-1200);

              .orange {
                color: var(--text-accent-100);
              }
            }

            .deco {
              @include image-set();
              @include pos-x-center();
              bottom: 0;
              width: 360px;
              height: 380px;
              background-image: var(--onboarding-deco);
            }

            .btn {
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

.popup {
  &--select {
    .box {
      .icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
      }

      .title {
        line-height: 26px;
        text-align: center;
        margin-bottom: 20px;
      }

      .desc-toggle {
        @include preRegular();
        text-decoration: underline;
        display: block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 16px;
        color: var(--text-base-1000);
      }

      .desc {
        @include preRegular();
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: var(--text-secondary-800);
        margin-top: 20px;
        display: none;

        &.on {
          display: block;
        }
      }

      .btn-wrap {
        margin-top: 32px;
      }
    }
  }
}
