@use '../common' as *;

.main {
  &--player {
    background: var(--bg-base-900);

    .video-player-area {
      height: 33dvh;
      min-height: 202px;
    }

    .video-title {
      @include preBold();
      @include text-cut-one();
      @include max-width();
      padding: 20px 0;
      font-size: 15px;
      line-height: 20px;
      color: var(--text-base-400);
    }
  }
}

.popup {
  &--select {
    .box {
      .cont {
        margin-bottom: 0;

        .list {
          margin-bottom: 25px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .popup {
    &--select {
      .box {
        bottom: 10px;
        max-width: 360px;
        border-radius: 20px;
      }
    }
  }
}
