@use '../common' as *;

.main {
  &--search {
    padding-top: 62px;
    padding-bottom: 56px;

    // search-bar
    .search-bar {
      width: 100%;
      background: var(--bg-base-100);
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      border-bottom: 1px solid var(--border-accent-100);

      .container {
        @include max-width();
        @include flex-pos($jc: space-between, $ai: center);
      }

      .back,
      .mike {
        flex-shrink: 1;
      }

      .back,
      .title {
        margin-right: 20px;
      }

      .title {
        @include text-cut-one();
        @include preSemiBold();
        font-size: 16px;
        line-height: 1;
        color: var(--text-base-300);
        text-align: left;
        width: 100%;
        height: 52px;
      }
    }
  }
}
