@use '../common' as *;

.main {
  &--trending {
    padding-top: 52px;
    padding-bottom: 56px;

    .title-cover {
      @include max-width();
      @include flex-pos($ai: center, $g: 10px);
      padding: 14px 0 32px;

      .title {
        @include preBold();
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.48px;
        color: var(--text-base-700);

        .meta {
          @include preRegular();
          display: block;
          font-size: 12px;
          line-height: 14px;
          color: var(--text-secondary-600);
          margin-top: 6px;
        }
      }
    }
  }
}
