@use '../common' as *;

.main {
  &--watch {
    padding-bottom: 56px;

    .player-wrap {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 56.25%;
      z-index: 99;

      .player {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }

      .btn-wrap {
        position: absolute;
        left: 0;
        z-index: 1;
        bottom: -58px;
        @include flex-pos($jc: flex-end, $g: 16px);
        padding: 14px 16px;
        width: 100%;
        height: 58px;
        background: var(--bg-base-100);
        transition: bottom 0.1s ease;

        &.hide {
          bottom: 0;
        }
      }
    }

    .player-area {
      padding-top: 56.25%;
      margin-bottom: 58px;
    }
  }
}

.popup {
  &--select {
    .box {
      .cont {
        .cont-item {
          margin-bottom: 40px;

          &:first-of-type {
            margin-bottom: 20px;
          }

          &:nth-last-child(2) {
            margin-bottom: 0;
          }

          &:last-of-type {
            margin-top: 15px;
          }

          > .title {
            margin-bottom: 14px;
          }

          &--1 {
            @include max-width();

            > .desc {
              margin-left: 32px;
              margin-top: 2px;
            }
          }

          .list {
            &--radio {
              .item {
                label {
                  padding-left: 8px;
                }
              }

              &-type2 {
                .item {
                  label {
                    padding-left: 32px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 930px) and (orientation: landscape) {
  .main {
    &--watch {
      .player-wrap {
        position: relative;
        padding-top: calc(56.25% - 96px);

        .btn-wrap {
          bottom: -58px;

          &.hide {
            bottom: -58px;
          }
        }
      }

      .player-area {
        display: none;
      }
    }
  }
}
