/* header-max768px */
.header-max768px {
  display: none;
}

/* banner-video-max768px */
.banner-video-max768px {
  display: none;
}

/* introduceApp-max768px */
.introduceApp-max768px {
  display: none;
}

/* introduceProduct-max768px */
.introduceProduct-max768px {
  display: none;
}