.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  height: 116px;
}
.header .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-top: 42px;
  padding-bottom: 35px;
}
.header .logo a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  display: block;
  width: 85px;
  height: 39px;
  background-image: url(../../../images/components/header/logo.png);
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 153px;
  flex-wrap: nowrap;
}
.header .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item {
  position: relative;
}
.header .nav .menu .menu-item .menu-btn {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  color: #111;
}
.header .nav .menu .menu-item .menu-btn.arrow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item .menu-btn.arrow i {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 12px;
  height: 6px;
  background-image: url(../../../images/components/header/arrow.png);
}
.header .nav .menu .menu-item.download .sub-menu-wrap {
  top: calc(100% + 20px);
  left: -29px;
  min-width: 640px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  display: none;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu {
  display: grid;
  grid-template-areas: "item1 item2" "item3 item4" "item5 item5";
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item {
  display: inline-flex;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item1 {
  grid-area: item1;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item2 {
  grid-area: item2;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item3 {
  grid-area: item3;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item4 {
  grid-area: item4;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item5 {
  grid-area: item5;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 14px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .desc {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #6e6e6e;
  display: block;
  margin-top: 2px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice {
  background: #f61821;
  border-radius: 4px;
  padding: 22px 22px 24px;
  text-align: center;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .title {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 11px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #fff;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc strong {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  display: block;
  margin-bottom: 4px;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  min-width: 204px;
  padding: 17px 20px 21px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu .item > a {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu .item > a:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .menu .menu-item .sub-menu-wrap {
  position: absolute;
}
.header .nav .menu .menu-item.on .menu-btn.arrow {
  color: #fc3220;
}
.header .nav .menu .menu-item.on .menu-btn.arrow i {
  background-image: url(../../../images/components/header/arrow-red.png);
  transform: rotate(-180deg);
}
.header .nav .menu .menu-item.on .sub-menu-wrap {
  display: block;
}
.header .nav .utils {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 6px;
  flex-wrap: nowrap;
}
.header .nav .utils .lang {
  position: relative;
  height: 100%;
}
.header .nav .utils .lang .lang-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  position: relative;
  padding: 9px 8px;
  min-width: 84px;
  max-width: 84px;
  height: 36px;
  border: solid 1px #aaa;
  border-radius: 6px;
  cursor: pointer;
}
.header .nav .utils .lang .lang-info .title {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .utils .lang .lang-info .icon.left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background-image: url(../../../images/components/header/lang.png);
}
.header .nav .utils .lang .lang-info .icon.right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  right: 8px;
  width: 10px;
  height: 5px;
  background-image: url(../../../images/components/header/arrow-lang.png);
}
.header .nav .utils .lang .lang-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  top: calc(100% + 2px);
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  background: #fff;
  border: 1px solid #aaa;
  display: none;
}
.header .nav .utils .lang .lang-menu .item {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .utils .lang .lang-menu .item .btn {
  font-family: "Pretendard-Regular";
}
.header .nav .utils .lang .lang-menu .item .btn:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .utils .lang.on .lang-info .icon.right {
  transform: rotate(-180deg);
}
.header .nav .utils .lang.on .lang-menu {
  display: flex;
}
.header .nav .utils .acc {
  position: relative;
  height: 100%;
}
.header .nav .utils .acc .acc-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  position: relative;
  width: 100px;
  height: 36px;
  background: #fc3220;
  border-radius: 6px;
  padding: 9px 12px;
  cursor: pointer;
}
.header .nav .utils .acc .acc-info .title {
  font-family: "Pretendard-Medium";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 58px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
}
.header .nav .utils .acc .acc-info .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  right: 10px;
  width: 10px;
  height: 5px;
  background-image: url(../../../images/components/header/arrow-acc.png);
}
.header .nav .utils .acc .acc-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
  top: calc(100% + 2px);
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  background: #fc3220;
  display: none;
}
.header .nav .utils .acc .acc-menu .item {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
}
.header .nav .utils .acc .acc-menu .item .btn {
  font-family: "Pretendard-Regular";
}
.header .nav .utils .acc .acc-menu .item .btn:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .utils .acc.on .acc-info .icon {
  transform: rotate(-180deg);
}
.header .nav .utils .acc.on .acc-menu {
  display: flex;
}
.header .nav .utils .login-btn {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
  width: 100px;
  height: 36px;
  background: #fc3220;
  border-radius: 6px;
}
.header .nav .toggle-btn {
  display: none;
}

footer {
  position: relative;
  background: #141414;
}
footer .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 32px;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 70px;
}
footer .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  width: 126px;
  height: 18px;
  background-image: url(../../../images/components/footer/logo.png);
}
footer .info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 8px;
  flex-wrap: nowrap;
}
footer .info .item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
footer .info .item p {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  font-family: "Pretendard-Light";
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #a5a5a5;
}
footer .info .item p::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #a5a5a5;
}
footer .info .item p:last-of-type::after {
  display: none;
}
footer .links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
footer .links > a {
  font-family: "Pretendard-Light";
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #fff;
}
footer .links > a::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
}
footer .links > a:last-of-type::after {
  display: none;
}
footer #top-btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  z-index: 99;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-image: url(../../../images/components/footer/btn-top.png);
  position: absolute;
  top: -56px;
  right: 60px;
  transform: translateX(140px);
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
footer #top-btn.on {
  transform: translateX(0);
}

.ezcapture .section .section-title.type1 {
  font-family: "Pretendard-Bold";
  font-size: 38px;
  line-height: 1.26;
  letter-spacing: -0.38px;
  color: #111;
}
.ezcapture .section .section-title.type2 {
  font-family: "Pretendard-Bold";
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.28px;
  color: #111;
}
.ezcapture .section .section-title.type2.red {
  color: #fc3220;
}
.ezcapture .section .section-desc.type1 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.18px;
  color: #111;
}
.ezcapture .section .section-desc.type1.gray {
  color: #6e6e6e;
}
.ezcapture .section .section-desc.type2 {
  font-family: "Pretendard-Regular";
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: -0.2px;
  color: #111;
}
.ezcapture .section.section1 {
  padding-top: 114px;
  margin-bottom: 150px;
}
.ezcapture .section.section1 .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section1 .scroll-trigger .cont {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section1 .scroll-trigger .cont .deco-wrap .deco {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section1 .scroll-trigger.on .cont {
  opacity: 1;
}
.ezcapture .section.section1 .scroll-trigger.on .cont .deco-wrap .deco {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section1 .scroll-trigger .cont {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.ezcapture .section.section1 .scroll-trigger .cont .item .logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.ezcapture .section.section1 .scroll-trigger .cont .item .logo span {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.24px;
  color: #111;
}
.ezcapture .section.section1 .scroll-trigger .cont .item .section-title {
  margin-bottom: 40px;
}
.ezcapture .section.section1 .scroll-trigger .cont .item .section-desc {
  margin-bottom: 60px;
}
.ezcapture .section.section1 .scroll-trigger .cont .item .basic-btn .text .download-arrow {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 15px;
  height: 15px;
  background-image: url(../../../images/common/icon/download-arrow.png);
}
.ezcapture .section.section1 .scroll-trigger .cont .deco-wrap {
  width: 100%;
  max-width: 612px;
}
.ezcapture .section.section1 .scroll-trigger .cont .deco-wrap .deco {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 100%;
  padding-top: 64%;
  background-image: url(../../../images/page/ezcapture/section/section1-deco.png);
}
.ezcapture .section.section2 {
  margin-bottom: 120px;
}
.ezcapture .section.section2 .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section2 .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section2 .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section2 .scroll-trigger .scroll-down {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section2 .scroll-trigger .swiper {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section2 .scroll-trigger .swiper .swiper-wrapper .swiper-slide .slide-item .deco-wrap .deco {
  opacity: 0;
  transform: translateY(30%);
}
.ezcapture .section.section2 .scroll-trigger .swiper .swiper-wrapper .swiper-slide .slide-item .desc {
  opacity: 0;
}
.ezcapture .section.section2 .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section2 .scroll-trigger.on .section-desc {
  opacity: 1;
}
.ezcapture .section.section2 .scroll-trigger.on .scroll-down {
  opacity: 1;
}
.ezcapture .section.section2 .scroll-trigger.on .swiper {
  opacity: 1;
}
.ezcapture .section.section2 .scroll-trigger.on .swiper .swiper-wrapper .swiper-slide-active .slide-item .deco-wrap .deco {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section2 .scroll-trigger.on .swiper .swiper-wrapper .swiper-slide-active .slide-item .desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}
.ezcapture .section.section2 .scroll-trigger--1 {
  margin-bottom: 10px;
}
.ezcapture .section.section2 .scroll-trigger--1 .section-title {
  text-align: center;
}
.ezcapture .section.section2 .scroll-trigger--2 {
  margin-bottom: 40px;
}
.ezcapture .section.section2 .scroll-trigger--2 .section-desc {
  text-align: center;
}
.ezcapture .section.section2 .scroll-trigger--3 .scroll-down {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-image: url(../../../images/page/ezcapture/icon/page-down.png);
  animation: scrollDownAni 0.7s ease-in infinite alternate-reverse;
  margin-bottom: 90px;
}
@keyframes scrollDownAni {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
  }
}
.ezcapture .section.section2 .scroll-trigger--4 {
  padding: 50px 100px 60px;
  background: #f8f8f8;
  border-radius: 30px;
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .controls {
  margin-bottom: 50px;
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .controls .pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  flex-wrap: wrap;
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .swiper-wrapper .swiper-slide .slide-item .deco-wrap {
  overflow: hidden;
  margin-bottom: 50px;
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .swiper-wrapper .swiper-slide .slide-item .deco-wrap .deco {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 100%;
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .swiper-wrapper .swiper-slide .slide-item .deco-wrap .deco.deco1 {
  width: 100%;
  padding-top: 54%;
  background-image: url(../../../images/page/ezcapture/section/section2-deco1.png);
}
.ezcapture .section.section2 .scroll-trigger--4 .swiper .swiper-wrapper .swiper-slide .slide-item .desc {
  font-family: "Pretendard-Medium";
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}
.ezcapture .section.section3 {
  margin-bottom: 120px;
}
.ezcapture .section.section3 .container {
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section3 .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section3 .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section3 .scroll-trigger .item .deco-wrap .deco {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section3 .scroll-trigger .item .title-wrap .title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section3 .scroll-trigger .item .desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section3 .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section3 .scroll-trigger.on .section-desc {
  opacity: 1;
}
.ezcapture .section.section3 .scroll-trigger.on .item .deco-wrap .deco {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section3 .scroll-trigger.on .item .title-wrap .title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section3 .scroll-trigger.on .item .desc {
  opacity: 1;
}
.ezcapture .section.section3 .cont {
  display: grid;
  gap: 50px 24px;
  grid-template-areas: "item1 item2" "item3 item4";
  grid-template-columns: 1fr 1fr;
}
.ezcapture .section.section3 .scroll-trigger--1 {
  margin-bottom: 20px;
}
.ezcapture .section.section3 .scroll-trigger--1 .section-title {
  text-align: center;
}
.ezcapture .section.section3 .scroll-trigger--2 {
  margin-bottom: 80px;
}
.ezcapture .section.section3 .scroll-trigger--2 .section-desc {
  text-align: center;
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap {
  overflow: hidden;
  margin-bottom: 24px;
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap .deco {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 100%;
  padding-top: 64%;
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap .deco.deco1 {
  background-image: url(../../../images/page/ezcapture/section/section3-deco1.png);
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap .deco.deco2 {
  background-image: url(../../../images/page/ezcapture/section/section3-deco2.png);
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap .deco.deco3 {
  background-image: url(../../../images/page/ezcapture/section/section3-deco3.png);
}
.ezcapture .section.section3 .scroll-trigger--3 .item .deco-wrap .deco.deco4 {
  background-image: url(../../../images/page/ezcapture/section/section3-deco4.png);
}
.ezcapture .section.section3 .scroll-trigger--3 .item .title-wrap {
  overflow: hidden;
  margin-bottom: 14px;
}
.ezcapture .section.section3 .scroll-trigger--3 .item .title-wrap .title {
  font-family: "Pretendard-SemiBold";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #111;
}
.ezcapture .section.section3 .scroll-trigger--3 .item .desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.16px;
  color: #6e6e6e;
}
.ezcapture .section.section4 {
  background: #f8f8f8;
  padding: 90px 0;
  margin-bottom: 120px;
}
.ezcapture .section.section4 .container {
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section4 .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section4 .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section4 .scroll-trigger .swiper {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section4 .scroll-trigger .swiper .swiper-wrapper .swiper-slide {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section4 .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section4 .scroll-trigger.on .section-desc {
  opacity: 1;
}
.ezcapture .section.section4 .scroll-trigger.on .swiper {
  opacity: 1;
}
.ezcapture .section.section4 .scroll-trigger.on .swiper .swiper-wrapper .swiper-slide {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section4 .scroll-trigger--1 {
  margin-bottom: 20px;
}
.ezcapture .section.section4 .scroll-trigger--1 .section-title {
  text-align: center;
}
.ezcapture .section.section4 .scroll-trigger--2 {
  margin-bottom: 20px;
}
.ezcapture .section.section4 .scroll-trigger--2 .section-desc {
  text-align: center;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  gap: normal;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 18px;
  flex-wrap: nowrap;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item {
  background: #fff;
  border-radius: 20px;
  width: 33%;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .link {
  display: block;
  padding: 30px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .score {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-bottom: 16px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .score .num {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #6e6e6e;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .score .num b {
  font-family: "Pretendard-Bold";
  color: #111;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .title {
  font-family: "Pretendard-Bold";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
  margin-bottom: 14px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.14px;
  color: #111;
  margin-bottom: 14px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .name {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #111;
  margin-bottom: 6px;
}
.ezcapture .section.section4 .scroll-trigger--3 .swiper .swiper-wrapper .swiper-slide .slide-item .cont .date {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #111;
}
.ezcapture .section.section5 {
  margin-bottom: 120px;
}
.ezcapture .section.section5 .container {
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section5 .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section5 .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section5 .scroll-trigger .item .deco-wrap .deco {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section5 .scroll-trigger .item .title-wrap .title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section5 .scroll-trigger .item .reviewer {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section5 .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section5 .scroll-trigger.on .section-desc {
  opacity: 1;
}
.ezcapture .section.section5 .scroll-trigger.on .item .deco-wrap .deco {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section5 .scroll-trigger.on .item .title-wrap .title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section5 .scroll-trigger.on .item .reviewer {
  opacity: 1;
}
.ezcapture .section.section5 .cont {
  display: grid;
  gap: 40px 18px;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  grid-template-columns: 1fr 1fr 1fr;
}
.ezcapture .section.section5 .scroll-trigger--1 {
  margin-bottom: 20px;
}
.ezcapture .section.section5 .scroll-trigger--1 .section-title {
  text-align: center;
}
.ezcapture .section.section5 .scroll-trigger--2 {
  margin-bottom: 80px;
}
.ezcapture .section.section5 .scroll-trigger--2 .section-desc {
  text-align: center;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .deco-wrap {
  overflow: hidden;
  margin-bottom: 18px;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .deco-wrap .deco {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 100%;
  padding-top: 68.5%;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .title-wrap {
  overflow: hidden;
  margin-bottom: 8px;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .title-wrap .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Pretendard-Medium";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .reviewer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .reviewer .avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: inline-block;
  min-width: 30px;
  min-height: 30px;
}
.ezcapture .section.section5 .scroll-trigger--3 .item .reviewer .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #111;
}
.ezcapture .section.section6 {
  margin-bottom: 120px;
}
.ezcapture .section.section6 .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
}
.ezcapture .section.section6 .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.ezcapture .section.section6 .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section6 .scroll-trigger .dropdown-wrap {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.ezcapture .section.section6 .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.ezcapture .section.section6 .scroll-trigger.on .section-desc {
  opacity: 1;
}
.ezcapture .section.section6 .scroll-trigger.on .dropdown-wrap {
  opacity: 1;
}
.ezcapture .section.section6 .cont {
  padding: 90px 100px 50px;
  border-radius: 30px;
  background: #f8f8f8;
}
.ezcapture .section.section6 .cont .scroll-trigger--1 {
  margin-bottom: 20px;
}
.ezcapture .section.section6 .cont .scroll-trigger--1 .section-title {
  text-align: center;
}
.ezcapture .section.section6 .cont .scroll-trigger--2 {
  margin-bottom: 70px;
}
.ezcapture .section.section6 .cont .scroll-trigger--2 .section-desc {
  text-align: center;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap .dropdown-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  width: 100%;
  padding: 39px 0;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap .dropdown-btn .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
  font-family: "Pretendard-Bold";
  text-align: left;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: -0.18px;
  color: #111;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap .dropdown-cont {
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #d4d4d4;
  padding: 0;
  height: 0;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap .dropdown-cont p {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.16px;
  color: #111;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap:last-of-type .dropdown-cont {
  border-color: transparent;
}
.ezcapture .section.section6 .cont .scroll-trigger--3 .dropdown-group .dropdown-wrap.on .dropdown-cont {
  border-top: 1px solid #fc3220;
  padding: 30px;
  height: 100%;
}