@use './common' as *;
@import './base/reset';
@import './base/fonts';
@import './components/icons';
@import './components/coupon';
@import './components/input';
@import './components/btn';
@import './components/popup';
@import './components/header';
@import './components/tab';
@import './components/my-point';
@import './components/npay-coupon';
@import './components/notice-box';

body {
  &.scroll-lock {
    overflow: hidden;
  }

  .wrap {
    overflow: hidden;
    min-height: 100vh;
    padding-top: 55px;
  }
}
