// common
@mixin flex-pos($d: flex, $fd: row, $jc: start, $ai: stretch, $g: normal, $fw: nowrap) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
  flex-wrap: $fw;
}

@mixin image-set($bs: cover, $bp: center) {
  background-size: $bs;
  background-repeat: no-repeat;
  background-position: $bp;
  background-color: transparent;
}

@mixin text-custom($fz: 1em, $lh: 1, $ls: normal, $fw: 400, $c: var(--color-white)) {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
  color: $c;
}

@mixin text-hide() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

@mixin pos-setting($p: absolute, $t: unset, $l: unset, $r: unset, $b: unset) {
  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin elm-create($c: '') {
  content: $c;
  display: block;
  position: absolute;
  box-sizing: border-box;
}
