@mixin imgSet_1($size: contain) {
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: $size;
}

@mixin flex_1($jC: center, $aI: center) {
  display: flex;
  align-items: $aI;
  justify-content: $jC;
}