body {
  overflow: hidden;
}

.wrap {
  overflow: hidden;
  height: 100vh;

  header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 160px;

    .fp_menu_wrap {

      .fp_menu {
        a {
          transition: .3s;
        }
      }

      .fp_menu.on {
        a {
          font-family: 'Campton-SemiBold';
          color: #2ca4e9;
        }
      }

      .fp_menu:hover {
        a {
          font-family: 'Campton-SemiBold';
          color: #2ca4e9;
        }
      }
    }
  }

  .fp_page_wrap {
    transition: .8s ease-in-out;

    .fp_page {
      height: 100vh;
      background: #1b1b1b;

      &:nth-child(3),
      &:nth-child(5) {background: #fff;}

      .fp_scroll_box {
        height: 100vh;
        overflow: hidden;
        overflow-y: auto;
      }
  
      .fp_scroll_box::-webkit-scrollbar {
        display: none;
      }
  
      .fp_scroll_box {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }

    footer.fp_page {
      height: unset;
      background: #010101;
    }
  }

  .fp_top_btn {
    cursor: pointer;
    box-sizing: border-box;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 64px;
    height: 64px;
    transform: scale(1);
    text-indent: -9999px;
    transition: .5s;
    border: none;
    background: #fff url(../images/main/top_btn.png) no-repeat center / 28px;
  }

  .fp_top_btn.white {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 0px 8px 0px;
  }

  .fp_top_btn:hover {
    background: #2ca4e9 url(../images/main/top_btn.png) no-repeat center / 28px;
  }
}