:root {
  // small
  --coupon-npay-s-3000: url(../images/npay-s-3000.png);
  --coupon-npay-s-5000: url(../images/npay-s-5000.png);
  --coupon-npay-s-10000: url(../images/npay-s-10000.png);
  --coupon-npay-s-20000: url(../images/npay-s-20000.png);
  --coupon-npay-s-30000: url(../images/npay-s-30000.png);

  // large
  --coupon-npay-l-3000: url(../images/npay-l-3000.png);
  --coupon-npay-l-5000: url(../images/npay-l-5000.png);
  --coupon-npay-l-10000: url(../images/npay-l-10000.png);
  --coupon-npay-l-20000: url(../images/npay-l-20000.png);
  --coupon-npay-l-30000: url(../images/npay-l-30000.png);
}

.coupon {
  @include image-set();
  display: inline-block;
  width: 100%;

  &--s {
    max-width: 80px;
    min-height: 50px;
  }

  &--l {
    max-width: 200px;
    min-height: 114px;
  }

  &--npay {
    &.coupon--s {
      &.coupon--3000 {
        background-image: var(--coupon-npay-s-3000);
      }

      &.coupon--5000 {
        background-image: var(--coupon-npay-s-5000);
      }

      &.coupon--10000 {
        background-image: var(--coupon-npay-s-10000);
      }

      &.coupon--20000 {
        background-image: var(--coupon-npay-s-20000);
      }

      &.coupon--30000 {
        background-image: var(--coupon-npay-s-30000);
      }
    }

    &.coupon--l {
      &.coupon--3000 {
        background-image: var(--coupon-npay-l-3000);
      }

      &.coupon--5000 {
        background-image: var(--coupon-npay-l-5000);
      }

      &.coupon--10000 {
        background-image: var(--coupon-npay-l-10000);
      }

      &.coupon--20000 {
        background-image: var(--coupon-npay-l-20000);
      }

      &.coupon--30000 {
        background-image: var(--coupon-npay-l-30000);
      }
    }
  }
}
