:root {
  // common
  --icon-point: url(../icons/point.png);
  --icon-point-bounce: url(../icons/point-bounce.png);

  // arrow
  --icon-arrow-right-type1: url(../icons/arrow-right-type1.png);
  --icon-arrow-left-type1: url(../icons/arrow-left-type1.png);
  --icon-arrow-top-type1: url(../icons/arrow-top-type1.png);

  // activities
  --icon-activities-daily-checkin: url(../icons/activities-daily-checkin.png);
  --icon-activities-zodiac-fortune: url(../icons/activities-zodiac-fortune.png);
  --icon-activities-lucky-number: url(../icons/activities-lucky-number.png);
  --icon-activities-recommended-item: url(../icons/activities-recommended-item.png);
  --icon-activities-fortune-catch: url(../icons/activities-fortune-catch.png);
  --icon-activities-lucky-roulette: url(../icons/activities-lucky-roulette.png);
  --icon-activities-watermelon-game: url(../icons/activities-watermelon-game.png);
  --icon-activities-mole: url(../icons/activities-mole.png);
  --icon-activities-reaction-game: url(../icons/activities-reaction-game.png);
  --icon-activities-lucky-dalgona: url(../icons/activities-lucky-dalgona.png);
  --icon-activities-ladder-game: url(../icons/activities-ladder-game.png);
  --icon-activities-wish-lantern: url(../icons/activities-wish-lantern.png);
  --icon-activities-rain-dodge: url(../icons/activities-rain-dodge.png);
  --icon-activities-lucky-quiz: url(../icons/activities-lucky-quiz.png);
  --icon-activities-find-color: url(../icons/activities-find-color.png);

  // missions
  --icon-missions-short-form: url(../icons/missions-short-form.png);
  --icon-missions-click: url(../icons/missions-click.png);
  --icon-missions-point: url(../icons/missions-point.png);
  --icon-missions-gift-box: url(../icons/missions-gift-box.png);
  --icon-missions-flag: url(../icons/missions-flag.png);
  --icon-missions-earn: url(../icons/missions-earn.png);
  --icon-missions-dart: url(../icons/missions-dart.png);

  // my
  --icon-my-point-exchange: url(../icons/my-point-exchange.png);
  --icon-my-point-history: url(../icons/my-point-history.png);
  --icon-my-inquiry: url(../icons/my-inquiry.png);
  --icon-my-logout: url(../icons/my-logout.png);
}

.icon {
  @include image-set();
  @include text-hide();
  display: inline-block;

  // size
  // 20px, 24px, 40px 44px
  &--100 {
    width: 20px;
    height: 20px;
  }

  &--200 {
    width: 24px;
    height: 24px;
  }

  &--300 {
    width: 40px;
    height: 40px;
  }

  &--400 {
    width: 44px;
    height: 44px;
  }

  // common
  &--point {
    background-image: var(--icon-point);

    &-bounce {
      width: 36px;
      height: 28px;
      background-image: var(--icon-point-bounce);
    }
  }

  // arror
  &--arrow {
    &-right {
      &-type1 {
        width: 5px;
        height: 10px;
        background-image: var(--icon-arrow-right-type1);
      }
    }

    &-left {
      &-type1 {
        background-image: var(--icon-arrow-left-type1);
      }
    }

    &-top {
      &-type1 {
        width: 14px;
        height: 14px;
        background-image: var(--icon-arrow-top-type1);
      }
    }
  }

  // activities
  &--activities {
    &-daily-checkin {
      background-image: var(--icon-activities-daily-checkin);
    }

    &-zodiac-fortune {
      background-image: var(--icon-activities-zodiac-fortune);
    }

    &-lucky-number {
      background-image: var(--icon-activities-lucky-number);
    }

    &-recommended-item {
      background-image: var(--icon-activities-recommended-item);
    }

    &-fortune-catch {
      background-image: var(--icon-activities-fortune-catch);
    }

    &-lucky-roulette {
      background-image: var(--icon-activities-lucky-roulette);
    }

    &-watermelon-game {
      background-image: var(--icon-activities-watermelon-game);
    }

    &-mole {
      background-image: var(--icon-activities-mole);
    }

    &-reaction-game {
      background-image: var(--icon-activities-reaction-game);
    }

    &-lucky-dalgona {
      background-image: var(--icon-activities-lucky-dalgona);
    }

    &-ladder-game {
      background-image: var(--icon-activities-ladder-game);
    }

    &-wish-lantern {
      background-image: var(--icon-activities-wish-lantern);
    }

    &-rain-dodge {
      background-image: var(--icon-activities-rain-dodge);
    }

    &-lucky-quiz {
      background-image: var(--icon-activities-lucky-quiz);
    }

    &-find-color {
      background-image: var(--icon-activities-find-color);
    }
  }

  // missions
  &--missions {
    &-short-form {
      background-image: var(--icon-missions-short-form);
    }

    &-click {
      background-image: var(--icon-missions-click);
    }

    &-point {
      background-image: var(--icon-missions-point);
    }

    &-gift-box {
      background-image: var(--icon-missions-gift-box);
    }

    &-flag {
      background-image: var(--icon-missions-flag);
    }

    &-earn {
      background-image: var(--icon-missions-earn);
    }

    &-dart {
      background-image: var(--icon-missions-dart);
    }
  }

  // my
  &--my {
    width: 22px;
    height: 22px;

    &-point-exchange {
      background-image: var(--icon-my-point-exchange);
    }

    &-point-history {
      background-image: var(--icon-my-point-history);
    }

    &-inquiry {
      background-image: var(--icon-my-inquiry);
    }

    &-logout {
      background-image: var(--icon-my-logout);
    }
  }
}
