.input {
  &::placeholder {
    @include preRegular();
    font-size: 14px;
    line-height: 16px;
    color: var(--color-text-input-100);
  }

  &--default {
    &[type='text'],
    &[type='number'] {
      @include preRegular();
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: var(--color-text-input-200);
      border: 1px solid var(--color-border-input-100);
      height: 50px;
      border-radius: 8px;
      padding: 0 15px;
    }

    &[type='checkbox'] {
      + .input__label {
        @include flex-pos($ai: center, $g: 10px);

        .input__label-img {
          @include image-set();
          background-image: url(../icons/check-before.png);
          display: block;
          width: 20px;
          height: 20px;
        }

        .input__label-desc {
          @include preBold();
          font-size: 14px;
          line-height: 16px;
          color: var(--color-text-input-200);

          &--lg {
            font-size: 16px;
            line-height: 19px;
          }

          .input__label-emphasis {
            color: var(--color-text-input-300);
            margin-right: 5px;
          }
        }
      }

      &:checked {
        + .input__label {
          .input__label-img {
            background-image: url(../icons/check-after.png);
          }
        }
      }
    }

    &[type='radio'] {
      + .input__label {
        @include flex-pos($ai: center, $g: 15px);

        .input__label-img {
          @include image-set();
          background-image: url(../icons/radio-before.png);
          display: block;
          width: 24px;
          height: 24px;
        }

        .input__label-title {
          @include preRegular();
          font-size: 16px;
          line-height: 19px;
          color: var(--color-text-input-200);
        }
      }

      &:checked {
        + .input__label {
          .input__label-img {
            background-image: url(../icons/radio-after.png);
          }
        }
      }
    }
  }
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
  box-sizing: border-box;

  &::placeholder {
    @include preRegular();
    font-size: 14px;
    line-height: 16px;
    color: var(--color-text-input-100);
  }

  &--default {
    @include preRegular();
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-text-input-200);
    border: 1px solid var(--color-border-input-100);
    border-radius: 8px;
    padding: 15px;

    &:focus {
      outline: none;
    }
  }
}
