.notice-box {
  &--agreement {
    border-radius: 8px;
    background: var(--color-bg-item-200);
    padding: 20px;

    .notice-box__item {
      @include flex-pos($g: 2px);

      &--spaced {
        margin-bottom: 15px;
      }
    }

    .notice-box__desc {
      @include preRegular();
      font-size: 12px;
      line-height: 18px;
      color: var(--color-text-desc-item-500);
      word-break: keep-all;

      &--medium {
        @include preMedium();
      }
    }

    .notice-box__emphasis {
      color: var(--color-text-desc-item-700);
    }

    .notice-box__marker {
      @include preRegular();
      font-size: 12px;
      line-height: 18px;
      color: var(--color-text-desc-item-500);
    }
  }
}
