.tab {
  &--default {
    .tab__menu {
      @include flex-pos($ai: center, $g: 40px);
      padding: 15px 20px 15px 26px;
      border-bottom: 1px solid var(--color-border-item-100);
    }

    .tab__btn {
      @include preBold();
      position: relative;
      font-size: 18px;
      line-height: 21px;
      color: var(--color-text-button-300);

      &::before {
        @include elm-create();
        @include pos-x-center();
        display: none;
        top: 35px;
        width: 100%;
        height: 3px;
        background: var(--color-bg-button-100);
      }

      &.is-active {
        color: var(--color-text-button-400);

        &::before {
          display: block;
        }
      }
    }

    .tab__content {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}
