@mixin preRegular() {
  font-family: 'Pretendard-Regular';
}

@mixin preBold() {
  font-family: 'Pretendard-Bold';
}

@mixin preExtraBold() {
  font-family: 'Pretendard-ExtraBold';
}

@mixin preBlack() {
  font-family: 'Pretendard-Black';
}

// common
@mixin image-set() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

@mixin pos-center() {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin text-hide() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin elm-create() {
  content: "";
  display: block;
  position: absolute;
}

@mixin link-box() {
  // basic
  display: inline-block;

  > div {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;

    .text-box {
      @include preBlack();
      font-size: 20px;
      line-height: 24px;
      color: #000;
      height: 24px;
      position: relative;
      overflow: hidden;


      .text {
        em {
          transition: .2s;
          display: inline-block;

          &:nth-child(1) {transition-delay: .02s}
          &:nth-child(2) {transition-delay: .04s}
          &:nth-child(3) {transition-delay: .06s}
          &:nth-child(4) {transition-delay: .08s}
          &:nth-child(5) {transition-delay: .1s}
          &:nth-child(6) {transition-delay: .12s}
          &:nth-child(7) {transition-delay: .14s}
          &:nth-child(8) {transition-delay: .16s}
          &:nth-child(9) {transition-delay: .18s}
          &:nth-child(10) {transition-delay: .20s}
          &:nth-child(11) {transition-delay: .22s}
          &:nth-child(12) {transition-delay: .24s}
          &:nth-child(13) {transition-delay: .26s}
        }

        &.text2 {
          @include pos-center();
          position: absolute;
          white-space: nowrap;

          em {
            transform: translateY(100%);
          }
        }
      }
    }

    .arrow-box {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: #11c5b6;
      overflow: hidden;

      .arrow {
        @include image-set();
        display: block;
        width: 100%;
        height: 100%;
        background-size: 12px;
        transition: .3s;
        background-image: url(../images/icon/link-arrow.png);

        &.arrow2 {
          transform: translateX(-100%);
        }
      }
    }

    a {
      width: 100%;
      height: 100%;
      @include pos-center();
    }
  }

  // hover
  &:hover {
    > div {
      .text-box {
        .text {
          &.text1 {
            em {
              transform: translateY(-100%);
            }
          }

          &.text2 {
            em {
              transform: translateY(0);
            }
          }
        }
      }

      .arrow-box {
        .arrow {
          &.arrow1 {
            transform: translateX(100%) translateY(-100%);
          }

          &.arrow2 {
            transform: translateX(0%) translateY(-100%);
          }
        }
      }

      a {
        width: 100%;
        height: 100%;
        @include pos-center();
      }
    }
  }
}

@mixin sub-common-title() {
  @include image-set();
  height: 450px;
  background-color: #000;
  padding-top: 168px;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    @include elm-create();
    @include image-set();
    bottom: 0;
    background-position-y: top;
    z-index: 0;
  }

  &::before {
    width: 238px;
    height: 171px;
    left: 0;
    background-image: url(../images/common/common-1.png);
  }

  &::after {
    width: 440px;
    height: 240px;
    right: 0;
    background-image: url(../images/common/common-2.png);
  }

  h2 {
    // basic
    @include preExtraBold();
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 55px;
    line-height: 1.27;
    color: #fff;

    .text-line {
      display: block;
      overflow: hidden;

      em {
        display: inline-block;
        transform: translateY(100%);
      }
    }

    // on
    &.on {
      .text-line {
        em {
          transform: translateY(0);
          transition: transform .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
    }
  }
}

@mixin sub-common-about() {
  display: inline-block;
  position: relative;

  .title-bg {
    @include pos-center();
    @include image-set();
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-image: url(../images/common/common-bg-1.png);
  }

  .title {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 16px 40px 15px 30px;
    border-radius: 27.5px;
    background: #11c5b6;

    p {
      @include preBlack();
      position: relative;
      padding-left: 35px;
      color: #fff;

      &::before {
        @include elm-create();
        @include image-set();
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-image: url(../images/icon/text-con.png);
      }
    }
  }
}

@mixin sub-dubbleBox-style() {
  display: flex;
  gap: 30px;
  overflow: hidden;

  .item {
    // basic
    position: relative;
    width: 50%;
    height: 600px;
    transition: .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
    border-radius: 20px;

    .bg-img {
      @include image-set();
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    p {
      position: relative;
    }

    &.item1 {
      background-image: linear-gradient(125deg, #0578e4 4%, #1af998 99%);
      transform: translateX(-50%);

      .bg-img {
        &.type1 {
          background-image: url(../images/main/main-cont2-1.png);
        }

        &.type2 {
          background-image: url(../images/about/about-cont3-1.png);
        }
      }
    }

    &.item2 {
      background-image: linear-gradient(113deg, #7333FB 12%, #be38ff 99%);
      transform: translateX(50%);

      .bg-img {
        &.type1 {
          background-image: url(../images/main/main-cont2-2.png);
        }

        &.type2 {
          background-image: url(../images/about/about-cont3-2.png);
        }
      }
    }

    // on
    &.on {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@mixin sub-text-ani-type1() {
  .text-line {
    display: block;
    overflow: hidden;

    em {
      display: inline-block;
      transform: translateY(100%);
      transition: transform .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
  }
}

@mixin sub-text-ani-type1-on() {
  .text-line {
    em {
      transform: translateY(0);
    }
  }
}

@mixin elm-right-to-left-ani-type1() {
  opacity: 0;
  transform: translateX(30%);
  transition: .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.on {
    opacity: 1;
    transform: translateX(0);
  }
}

@mixin elm-left-to-right-ani-type1() {
  opacity: 0;
  transform: translateX(-30%);
  transition: .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &.on {
    opacity: 1;
    transform: translateX(0);
  }
}