body.scrollNone {
  overflow: hidden;
}

.mo {
  display: none;
}

.wrap {
  overflow: hidden;
}

.container {
  max-width: calc(100vw - 160px);
  margin: 0 auto;
}
.container.sub {
  max-width: calc(100vw - 440px);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  transition: 0.5s;
}
header.on {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .container h1 a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 160px;
  height: 23px;
  background-image: url(../images/icon/logo.png);
}
header .container .content-box > div {
  display: flex;
  align-items: center;
  gap: 110px;
}
header .container .content-box > div .menu {
  display: flex;
  align-items: center;
  gap: 110px;
}
header .container .content-box > div .menu li a {
  font-family: "Pretendard-Black";
  font-size: 20px;
  color: #fff;
  position: relative;
  padding-bottom: 4px;
}
header .container .content-box > div .menu li a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  height: 2px;
  width: 0;
  background: #fff;
}
header .container .content-box > div .menu li a.on::before, header .container .content-box > div .menu li a:hover::before {
  width: 100%;
}
header .container .content-box > div .lang {
  position: relative;
}
header .container .content-box > div .lang .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  min-width: 95px;
  max-width: 95px;
  border: solid 1px #777;
  border-radius: 5px;
  cursor: pointer;
}
header .container .content-box > div .lang .item > p {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  color: #fff;
}
header .container .content-box > div .lang .item .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
}
header .container .content-box > div .lang .item .icon.icon1 {
  width: 15px;
  height: 15px;
  margin-right: 6px;
  background-image: url(../images/icon/global.png);
}
header .container .content-box > div .lang .item .icon.icon2 {
  position: absolute;
  right: 10px;
  width: 10px;
  height: 5px;
  background-image: url(../images/icon/lang-arrow-bottom.png);
  transform: rotate(0deg);
  transition: 0.3s;
}
header .container .content-box > div .lang .item.on .icon.icon2 {
  transform: rotate(-180deg);
}
header .container .content-box > div .lang .list {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  transition: 0.5s;
}
header .container .content-box > div .lang .list li > button {
  font-family: "Pretendard-Bold";
  position: relative;
  font-size: 14px;
  color: #000;
  padding: 0;
}
header .container .content-box > div .lang .list li > button::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000;
  transition: 0.5s;
}
header .container .content-box > div .lang .list li > button:hover::before {
  width: 100%;
}
header .container .content-box > div .lang .list.on {
  height: 113px;
  border: solid 1px #777;
}
header .container .content-box > div .toggle {
  display: none;
  text-indent: -9999px;
  position: relative;
  z-index: 99999;
  border: none;
  width: 30px;
  height: 23px;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
header .container .content-box > div .toggle i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  transition: 0.3s;
}
header .container .content-box > div .toggle::before, header .container .content-box > div .toggle::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  left: 0;
  transition: 0.3s;
}
header .container .content-box > div .toggle::before {
  top: 0;
}
header .container .content-box > div .toggle::after {
  bottom: 0;
}
header .container .content-box > div .toggle.on::before, header .container .content-box > div .toggle.on::after {
  top: 50%;
  left: 50%;
}
header .container .content-box > div .toggle.on::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .container .content-box > div .toggle.on::after {
  bottom: unset;
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .container .content-box > div .toggle.on i {
  opacity: 0;
}

footer {
  background: #000;
}
footer .container {
  padding: 70px 0 60px;
}
footer .container > .title {
  font-family: "Pretendard-Black";
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 63px;
  color: #fff;
  text-align: center;
}
footer .container .item-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .container .item-box .item.item1 .footer-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 160px;
  height: 23px;
  background-image: url(../images/icon/logo.png);
  margin-bottom: 30px;
}
footer .container .item-box .item.item1 ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .container .item-box .item.item1 ul li {
  position: relative;
  padding-left: 93px;
}
footer .container .item-box .item.item1 ul li .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
footer .container .item-box .item.item1 ul li .text {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #777;
}
footer .container .item-box .item.item2 .text {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #777;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: calc(100vw - 80px);
    margin: 0 auto;
  }
  .container.sub {
    max-width: calc(100vw - 80px);
  }
}
@media screen and (max-width: 1280px) {
  header .container .content-box > div {
    gap: 70px;
  }
  header .container .content-box > div .menu {
    gap: 70px;
  }
  header .container .content-box > div .menu li a {
    font-size: 18px;
  }
  footer .container {
    padding: 63px 0 54px;
  }
  footer .container > .title {
    font-size: 27px;
    line-height: 32px;
    margin-bottom: 57px;
  }
  footer .container .item-box .item.item1 ul {
    gap: 10px;
  }
  footer .container .item-box .item.item1 ul li {
    padding-left: 84px;
  }
  footer .container .item-box .item.item1 ul li .title {
    font-size: 14px;
  }
  footer .container .item-box .item.item1 ul li .text {
    font-size: 14px;
  }
  footer .container .item-box .item.item2 .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  header .container .content-box > div {
    gap: 50px;
  }
  header .container .content-box > div .menu {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 30vh;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    overflow: hidden;
    background: #fff;
  }
  header .container .content-box > div .menu li a {
    font-size: 45px;
    padding-bottom: 0;
  }
  header .container .content-box > div .menu li a::before {
    display: none;
  }
  header .container .content-box > div .menu.on {
    right: 0;
    background: #000;
    transition: background 0.8s;
  }
  header .container .content-box > div .toggle {
    display: block;
  }
  footer .container .item-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100vw - 40px);
  }
  .container.sub {
    max-width: calc(100vw - 40px);
  }
  header .container {
    height: 58px;
  }
  header .container h1 a {
    width: 120px;
    height: 17px;
  }
  header .container .content-box > div {
    gap: 15px;
  }
  header .container .content-box > div .menu {
    align-items: flex-start;
    gap: 50px;
    padding-top: 30vh;
    padding-left: 20px;
  }
  header .container .content-box > div .menu li a {
    font-size: 25px;
    line-height: 30px;
  }
  header .container .content-box > div .lang .item {
    padding: 5px 7px;
    min-width: 74px;
    max-width: 74px;
    border-radius: 5px;
  }
  header .container .content-box > div .lang .item > p {
    font-size: 12px;
  }
  header .container .content-box > div .lang .item .icon.icon1 {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
  header .container .content-box > div .lang .item .icon.icon2 {
    right: 7px;
    width: 7px;
    height: 3.5px;
  }
  header .container .content-box > div .lang .list {
    gap: 7px;
  }
  header .container .content-box > div .lang .list li > button {
    font-size: 12px;
  }
  header .container .content-box > div .lang .list.on {
    height: 103px;
  }
  header .container .content-box > div .toggle {
    width: 22px;
    height: 16px;
  }
  header .container .content-box > div .toggle i {
    height: 2px;
    border-radius: 1px;
  }
  header .container .content-box > div .toggle::before, header .container .content-box > div .toggle::after {
    height: 2px;
    border-radius: 1px;
  }
  footer .container {
    padding: 40px 0 30px;
  }
  footer .container > .title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  footer .container .item-box {
    gap: 30px;
  }
  footer .container .item-box .item.item1 .footer-logo {
    width: 90px;
    height: 13px;
    margin-bottom: 20px;
  }
  footer .container .item-box .item.item1 ul {
    gap: 8px;
  }
  footer .container .item-box .item.item1 ul li {
    padding-left: 72px;
  }
  footer .container .item-box .item.item1 ul li .title {
    font-size: 12px;
  }
  footer .container .item-box .item.item1 ul li .text {
    font-size: 12px;
  }
  footer .container .item-box .item.item1 ul li:nth-child(3) .text {
    max-width: 231px;
    line-height: 1.25;
  }
  footer .container .item-box .item.item2 .text {
    font-size: 11px;
  }
}