@import "common";

// main page
.main {
  .content {
    .container {
      height: 100%;
    }

    &.content1 {
      @include image-set();
      position: relative;
      height: 100vh;
      overflow: hidden;
      background-color: #000;

      .bg-box {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8.44%;
        width: 930px;
        height: 1260px;

        .bg-img {
          @include image-set();
          width: 100%;
          height: 100%;
          background-image: url(../images/main/main-cont1-1_test.png);
          animation: imgRotate1 60s linear infinite alternate-reverse;

          @keyframes imgRotate1 {
            0% {
              transform: rotate(0deg) scale(1.3);
            }

            100% {
              transform: rotate(-360deg) scale(1);
            }
          }
        }
      }

      .container {
        display: flex;
        align-items: center;

        h2 {
          // basic
          @include preExtraBold();
          font-size: 78px;
          line-height: 1.26;
          color: #fff;

          .text-line {
            display: block;
            overflow: hidden;

            em {
              display: inline-block;
              transform: translateY(100%);
            }
          }

          // on
          &.on {
            .text-line {
              em {
                transform: translateY(0);
                transition: transform .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              }
            }
          }
        }
      }
    }

    &.content2 {
      background: #fff;
      padding-top: 80px;
      padding-bottom: 150px;

      .container {
        .content-box {
          .item {
            border-radius: 20px;
          }

          &.content-box1 {
            @include sub-dubbleBox-style();
            margin-bottom: 80px;

            .item {
              padding: 50px 70px;
              
              p {
                @include preBold();
                position: relative;
                padding-top: 30px;
                font-size: 40px;
                line-height: 50px;
                color: #fff;

                &::before {
                  @include elm-create();
                  @include image-set();
                  top: 0;
                  left: 0;
                  width: 20px;
                  height: 20px;
                  background-image: url(../images/icon/text-con.png);
                }
              }
            }
          }

          &.content-box2 {
            overflow: hidden;

            .item {
              // basic
              position: relative;
              display: flex;
              height: 650px;
              background: #e4ecf1;
              padding: 130px 70px 100px;
              transition: .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
              opacity: 0;
              transform: translateY(50%);

              .item-box {
                &.item-box1 {
                  > .text-box {
                    .text {
                      // basic
                      .text-line {
                        display: block;
                        overflow: hidden;

                        em {
                          display: inline-block;
                          transform: translateY(100%);
                          transition: transform .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                        }
                      }

                      &.text1 {
                        @include preExtraBold();
                        font-size: 70px;
                        line-height: 85px;
                        color: #000;
                        margin-bottom: 25px;
                      }

                      &.text2 {
                        @include preRegular();
                        font-size: 25px;
                        line-height: 35px;
                        color: #777;
                        margin-bottom: 100px;
                      }
                    }
                  }

                  .link-box {
                    @include link-box();
                  }
                }

                &.item-box2 {
                  position: absolute;
                  right: 155px;
                  bottom: 0;
                  perspective: 500px;

                  .ani-img {
                    @include image-set();
                    width: 604px;
                    height: 585px;
                    background-image: url(../images/main/main-cont2-3.png);
                    opacity: 0;
                    transform: scale(0.1) rotateX(70deg);
                    transition: .85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
                  }
                }
              }

              // on
              &.on {
                opacity: 1;
                transform: translateY(0);

                .item-box {
                  &.item-box1 {
                    > .text-box {
                      .text {
                        .text-line {
                          em {
                            transform: translateY(0);
                          }
                        }

                        &.text2 {
                          .text-line {
                            em {
                              transition-delay: .3s;
                            }
                          }
                        }
                      }
                    }
                  }
  
                  &.item-box2 {
                    .ani-img {
                      opacity: 1;
                        transform: scale(1) rotateX(0deg);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// about page
.about {
  .content {
    &.content1 {
      @include sub-common-title();
    }

    &.content2 {
      padding-top: 230px;
      padding-bottom: 207px;
      overflow: hidden;
      opacity: 0;
      transition: 1s linear;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .text-box {
          // basic
          @include sub-text-ani-type1();

          .title-box {
            @include sub-common-about();
            margin-bottom: 30px;
          }

          .text {
            @include preBold();
            font-size: 40px;
            line-height: 1.38;
            color: #000;
          }

          &.on {
            @include sub-text-ani-type1-on();
          }
        }

        .img-box {
          position: relative;
          width: 562px;
          height: 552px;

          .img {
            @include image-set();
            position: absolute;

            &.img1 {
              width: 562px;
              height: 552px;
              background-image: url(../images/about/about-cont2-2.png);
              transition: 5s linear infinite;
              animation: imgRotate2 20s linear infinite;

              @keyframes imgRotate2 {
                100% {
                  transform: rotate(360deg);
                }
              }
            }

            &.img2 {
              width: 514px;
              height: 522px;
              background-image: url(../images/about/about-cont2-1.png);
              animation: imgScale 2s ease-in infinite alternate-reverse;

              @keyframes imgScale {
                0% {
                  transform: scale(1);
                }

                100% {
                  transform: scale(.97);
                }
              }
            }
          }
        }
      }

      &.on {
        opacity: 1;
      }
    }

    &.content3 {
      padding-top: 100px;
      overflow: hidden;

      .container {
        .content-box {
          &.content-box1 {
            .text {
              &.text1 {
                @include sub-text-ani-type1();
                @include preExtraBold();
                font-size: 60px;
                line-height: 1.17;
                color: #000;
                text-align: center;
                margin-bottom: 20px;

                &.on {
                  @include sub-text-ani-type1-on()
                }
              }

              &.text2 {
                @include preRegular();
                font-size: 25px;
                line-height: 1.6;
                color: #777;
                text-align: center;
                opacity: 0;
                transition: .5s linear;
                margin-bottom: 60px;

                &.on {
                  opacity: 1;
                }
              }
            }
          }

          &.content-box2 {
            @include sub-dubbleBox-style();
            margin-bottom: 150px;

            .item {
              padding: 60px;
              
              .text {
                &.text1 {
                  @include preBold();
                  position: relative;
                  font-size: 40px;
                  line-height: 50px;
                  color: #fff;
                  margin-bottom: 20px;
                }

                &.text2 {
                  @include preRegular();
                  font-size: 20px;
                  line-height: 30px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

// product page
.product {
  .content {
    &.content1 {
      @include sub-common-title();
    }

    &.content2 {
      padding-top: 100px;
      padding-bottom: 80px;
      overflow: hidden;
      opacity: 0;
      transition: 1s linear;

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > .text-box {
          // basic
          @include sub-text-ani-type1();

          .title-box {
            @include sub-common-about();
            margin-bottom: 30px;
          }

          .text {
            @include preBold();
            font-size: 40px;
            line-height: 1.38;
            color: #000;
          }

          &.on {
            @include sub-text-ani-type1-on();
          }
        }

        .img-box {
          // basic
          position: relative;
          width: 648px;
          height: 482px;

          .img {
            @include image-set();
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: transform .85s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .1s;
            transform: translateX(210px) translateY(-85px);

            &.img1 {
              width: 415px;
              height: 391px;
              background-image: url(../images/product/product-cont2-1.png);
            }

            &.img2 {
              width: 441px;
              height: 391px;
              background-image: url(../images/product/product-cont2-2.png);
            }

            &.img3 {
              width: 475px;
              height: 391px;
              background-image: url(../images/product/product-cont2-3.png);
            }

            &.img4 {
              width: 522px;
              height: 391px;
              background-image: url(../images/product/product-cont2-4.png);
            }
          }

          &.on {
            .img {
              opacity: 1;
              &.img1 {
                transform: translateX(210px) translateY(-85px);
                // transition-delay: .6s;
              }

              &.img2 {
                transform: translateX(145px) translateY(-58px);
                // transition-delay: .4s;
              }

              &.img3 {
                transform: translateX(70px) translateY(-28px);
                // transition-delay: .2s;
              }

              &.img4 {
                transform: translateX(-20px) translateY(10px);
              }
            }
          }
        }
      }

      &.on {
        opacity: 1;
      }
    }

    &.content3 {
      padding-top: 100px;
      overflow: hidden;

      .container {
        .content-box {
          &.content-box1 {
            .text {
              @include sub-text-ani-type1();
              @include preExtraBold();
              font-size: 60px;
              line-height: 1.17;
              color: #000;
              text-align: center;
              margin-bottom: 60px;

              &.on {
                @include sub-text-ani-type1-on()
              }
            }
          }

          &.content-box2 {
            overflow: hidden;
            
            .item {
              @include elm-right-to-left-ani-type1();
              padding: 65px;
              border-radius: 20px;
              background: #e4ecf1;
              margin-bottom: 40px;
              min-height: 480px;
              max-height: 480px;
              display: flex;
              align-items: center;
              gap: 100px;

              &:nth-child(even) {
                @include elm-left-to-right-ani-type1();
              }

              &:last-child {
                margin-bottom: 150px;
              }

              &.type1 {
                .img-box {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 400px;
                  height: 350px;
                  background: #fff;
                  border-radius: 30px;

                  .img {
                    &.ezcapture {
                      @include image-set();
                      width: 182px;
                      height: 204px;
                      background-image: url(../images/product/product-logo1.png);
                    }
                  }
                }

                > .text-box {
                  .title {
                    @include preExtraBold();
                    font-size: 50px;
                    line-height: 60px;
                    color: #000;
                    margin-bottom: 20px;
                  }

                  > .text {
                    @include preRegular();
                    font-size: 25px;
                    line-height: 1.4;
                    color: #777;
                    margin-bottom: 60px;
                  }

                  .link-box {
                    @include link-box();
                  }
                }
              }

              &.type2 {
                display: flex;
                align-items: center;
                justify-content: center;

                .text {
                  @include preExtraBold();
                  position: relative;
                  font-size: 50px;
                  line-height: 60px;
                  color: #a0aaaf;
                  padding-left: 72px;

                  &::before {
                    @include elm-create();
                    @include image-set();
                    width: 52px;
                    height: 52px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(../images/icon/clock-coming.png);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// location page
.location {
  .content {
    &.content1 {
      @include sub-common-title();
      padding-top: 193px;
    }

    &.content2 {
      padding-top: 100px;
      padding-bottom: 150px;

      .container {
        .info-box {
          // basic
          opacity: 0;
          transition: 1s ease-in-out;
          margin-bottom: 40px;

          .text-box {
            display: inline-block;
            padding-left: 27px;
            margin-right: 110px;
            margin-bottom: 30px;

            &:first-child {
              display: block;
              margin-right: 0;
            }

            .title {
              @include preBlack();
              position: relative;
              font-size: 22px;
              line-height: 26px;
              color: #000;
              margin-bottom: 10px;

              &::before {
                @include elm-create();
                @include image-set();
                width: 12px;
                height: 12px;
                top: 6px;
                left: -27px;
                background-image: url(../images/icon/text-con-black.png);
              }
            }

            .text {
              @include preRegular();
              font-size: 18px;
              line-height: 21px;
              color: #555;
            }
          }

          &.on {
            opacity: 1;
          }
        }

        .map-wrap {
          width: 100%;
          height: 600px;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}