@import "common";

@media screen and (max-width: 1700px) {
  // main page
  .main {
    .content {
      &.content2 {
        padding-top: 60px;
        padding-bottom: 100px;

        .container {
          .content-box {
            &.content-box1 {
              margin-bottom: 60px;

              .item {
                padding: 50px;

                &.item1 {
                  p {
                    max-width: 350px;
                  }
                }
              }
            }

            &.content-box2 {
              .item {
               
                .item-box {
                  &.item-box2 {
                    right: 70px;

                    .ani-img {
                      @include image-set();
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // about page
  .about {
    .content {
      &.content2 {
        padding-top: 60px;
        padding-bottom: 60px;

        .container {
          justify-content: space-around;

          .img-box {
            width: 511px;
            height: 502px;

            .img {
              &.img1 {
                width: 511px;
                height: 502px;
              }

              &.img2 {
                width: 467px;
                height: 475px;
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 100px;

        .container {
          .content-box {
            &.content-box2 {
              margin-bottom: 60px;

              .item {
                padding: 50px;

                &.item1 {
                  p {
                    max-width: 350px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // product page
  .product {
    .content {
      &.content2 {
        padding-top: 60px;
        padding-bottom: 60px;

        .container {
          justify-content: space-around;

          .img-box {
            // basic
            width: 589px;
            height: 438px;

            .img {
              transform: translateX(191px) translateY(-77px);

              &.img1 {
                width: 377px;
                height: 355px;
              }

              &.img2 {
                width: 401px;
                height: 355px;
              }

              &.img3 {
                width: 432px;
                height: 355px;
              }

              &.img4 {
                width: 475px;
                height: 355px;
              }
            }

            &.on {
              .img {
                &.img1 {
                  transform: translateX(191px) translateY(-77px);
                }

                &.img2 {
                  transform: translateX(132px) translateY(-53px);
                }

                &.img3 {
                  transform: translateX(64px) translateY(-25px);
                }

                &.img4 {
                  transform: translateX(-18px) translateY(9px);
                }
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 100px;

        .container {
          .content-box {
            &.content-box1 {
              .text {
                margin-bottom: 60px;
              }
            }

            &.content-box2 {
              .item {
                padding: 50px;
                min-height: 450px;
                max-height: 450px;
                gap: 80px;

                &:last-child {
                  margin-bottom: 60px;
                }
              }
            }
          }
        }
      }
    }
  }

  // location page
  .location {
    .content {
      &.content2 {
        padding-top: 60px;
        padding-bottom: 60px;

        .container {
          .info-box {
            .text-box {
              display: inline-block;
              padding-left: 27px;
              margin-right: 110px;
              margin-bottom: 30px;

              &:first-child {
                display: block;
                margin-right: 0;
              }

              .title {
                @include preBlack();
                position: relative;
                font-size: 22px;
                line-height: 26px;
                color: #000;
                margin-bottom: 10px;

                &::before {
                  @include elm-create();
                  @include image-set();
                  width: 12px;
                  height: 12px;
                  top: 6px;
                  left: -27px;
                  background-image: url(../images/icon/text-con-black.png);
                }
              }

              .text {
                @include preRegular();
                font-size: 18px;
                line-height: 21px;
                color: #555;
              }
            }

            &.on {
              opacity: 1;
            }
          }

          .map-wrap {
            width: 100%;
            height: 600px;

            iframe {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  // main page
  .main {
    .content {
      &.content1 {
        .bg-box {
          width: 715px;
          height: 969px;
          right: 5.44%;
        }
      }

      &.content2 {
        .container {
          .content-box {
            &.content-box1 {
              .item {
                height: 490px;

                .bg-img {
                  top: unset;
                  left: unset;
                  bottom: 0;
                  right: 0;
                  width: 90%;
                  height: 90%;
                }
              }
            }

            &.content-box2 {
              .item {
                padding: 50px;
                height: unset;
               
                .item-box {
                  &.item-box1 {
                    > .text-box {
                      .text {
                        &.text2 {
                          margin-bottom: 70px;
                        }
                      }
                    }
                  }

                  &.item-box2 {
                    right: 70px;

                    .ani-img {
                      @include image-set();
                      width: 403px;
                      height: 390px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // about page
  .about {
    .content {
      &.content2 {
        .container {
          .img-box {
            width: 393px;
            height: 386px;

            .img {
              &.img1 {
                width: 393px;
                height: 386px;
              }

              &.img2 {
                width: 359px;
                height: 365px;
              }
            }
          }
        }
      }

      &.content3 {
        .container {
          .content-box {
            &.content-box2 {
              .item {
                height: 490px;
  
                .bg-img {
                  top: unset;
                  left: unset;
                  bottom: 0;
                  right: 0;
                  width: 90%;
                  height: 90%;
                }
              }
            }
          }
        }
      }
    }
  }

  // product page
  .product {
    .content {
      &.content2 {
        .container {
          .img-box {
            // basic
            width: 491px;
            height: 365px;

            .img {
              transform: translateX(159px) translateY(-64px);

              &.img1 {
                width: 314px;
                height: 296px;
              }

              &.img2 {
                width: 334px;
                height: 296px;
              }

              &.img3 {
                width: 360px;
                height: 296px;
              }

              &.img4 {
                width: 396px;
                height: 296px;
              }
            }

            &.on {
              .img {
                &.img1 {
                  transform: translateX(159px) translateY(-64px);
                }

                &.img2 {
                  transform: translateX(110px) translateY(-44px);
                }

                &.img3 {
                  transform: translateX(53px) translateY(-21px);
                }

                &.img4 {
                  transform: translateX(-15px) translateY(8px);
                }
              }
            }
          }
        }
      }

      &.content3 {
        .container {
          .content-box {
            &.content-box1 {
              .text {
                margin-bottom: 60px;
              }
            }

            &.content-box2 {
              .item {
                padding: 50px;
                gap: 50px;
                min-height: 400px;
                max-height: 400px;

                &:last-child {
                  margin-bottom: 60px;
                }

                &.type1 {
                  .img-box {
                    width: 350px;
                    height: 300px;

                    .img {
                      &.ezcapture {
                        width: 152px;
                        height: 170px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 노트북
@media screen and (max-width: 1280px) {
  // common
  @mixin link-box() {
    > div {
      gap: 12px;
  
      .text-box {
        font-size: 16px;
        line-height: 19px;
        height: 19px;
      }
  
      .arrow-box {
        width: 48px;
        height: 48px;
  
        .arrow {
          background-size: 10px;
        }
      }
    }
  }

  @mixin sub-common-title() {
    height: 360px;
    padding-top: 135px;

    &::before {
      width: 170px;
      height: 122px;
    }

    &::after {
      width: 314px;
      height: 171px;
    }
  
    h2 {
      // basic
      font-size: 44px;
      line-height: 1.02;
    }
  }

  @mixin sub-common-about() {
    .title-bg {
      width: 400px;
      height: 400px;
    }
  
    .title {
      padding: 13px 32px 12px 24px;
      border-radius: 22px;
  
      p {
        padding-left: 28px;
  
        &::before {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  // main page
  .main {
    .content {
      &.content1 {
        .bg-box {
          right: 0;
        }

        .container {
          display: flex;
          align-items: center;

          h2 {
            font-size: 60px;
          }
        }
      }

      &.content2 {
        .container {
          .content-box {
            .item {
              border-radius: 15px !important;
            }

            &.content-box1 {
              .item {
                p {
                  @include preBold();
                  font-size: 32px;
                  line-height: 40px;
                  padding-top: 24px;

                  &::before {
                    width: 15px;
                    height: 15px;
                  }
                }
                
                &.item1 {
                  p {
                    max-width: 320px;
                  }
                }
              }
            }

            &.content-box2 {
              overflow: hidden;

              .item {
                .item-box {
                  &.item-box1 {
                    > .text-box {
                      .text {
                        &.text1 {
                          font-size: 56px;
                          line-height: 68px;
                          margin-bottom: 20px;
                        }

                        &.text2 {
                          @include preRegular();
                          font-size: 20px;
                          line-height: 28px;
                          margin-bottom: 60px;
                        }
                      }
                    }

                    .link-box {
                      @include link-box();
                    }
                  }

                  &.item-box2 {
                    right: 50px;

                    .ani-img {
                      width: 336px;
                      height: 325px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // about page
  .about {
    .content {
      &.content1 {
        @include sub-common-title();
      }

      &.content2 {
        .container {
          > .text-box {
            .title-box {
              @include sub-common-about();
            }

            .text {
              font-size: 30px;
              line-height: 1.27;
            }
          }

          .img-box {
            width: 328px;
            height: 322px;

            .img {
              &.img1 {
                width: 328px;
                height: 322px;
              }

              &.img2 {
                width: 299px;
                height: 304px;
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 60px;

        .container {
          .content-box {
            &.content-box1 {
              .text {
                &.text1 {
                  font-size: 48px;
                }

                &.text2 {
                  font-size: 20px;
                  line-height: 1.3;
                }
              }
            }

            &.content-box2 {
              .item {
                border-radius: 15px;

                .text {
                  &.text1 {
                    @include preBold();
                    position: relative;
                    font-size: 32px;
                    line-height: 40px;
                  }

                  &.text2 {
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // product page
  .product {
    .content {
      &.content1 {
        @include sub-common-title();
      }

      &.content2 {
        .container {
          > .text-box {
            .title-box {
              @include sub-common-about();
            }

            .text {
              font-size: 30px;
              line-height: 1.27;
            }
          }

          .img-box {
            // basic
            width: 409px;
            height: 304px;

            .img {
              transform: translateX(133px) translateY(-53px);

              &.img1 {
                width: 262px;
                height: 247px;
              }

              &.img2 {
                width: 278px;
                height: 247px;
              }

              &.img3 {
                width: 300px;
                height: 247px;
              }

              &.img4 {
                width: 330px;
                height: 247px;
              }
            }

            &.on {
              .img {
                &.img1 {
                  transform: translateX(133px) translateY(-53px);
                }

                &.img2 {
                  transform: translateX(92px) translateY(-37px);
                }

                &.img3 {
                  transform: translateX(44px) translateY(-18px);
                }

                &.img4 {
                  transform: translateX(-13px) translateY(7px);
                }
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 60px;

        .container {
          .content-box {
            &.content-box1 {
              .text {
                font-size: 48px;
              }
            }

            &.content-box2 {
              .item {
                padding: 50px;
                gap: 50px;
                min-height: unset;
                max-height: unset;

                &:last-child {
                  margin-bottom: 60px;
                }

                &.type1 {
                  .img-box {
                    width: 300px;
                    height: 250px;

                    .img {
                      &.ezcapture {
                        width: 127px;
                        height: 142px;
                      }
                    }
                  }

                  > .text-box {
                    .title {
                      font-size: 40px;
                      line-height: 48px;
                    }
  
                    > .text {
                      font-size: 20px;
                      line-height: 1.25;
                      margin-bottom: 40px;
                    }

                    .link-box {
                      @include link-box();
                    }
                  }
                }

                &.type2 {
                  min-height: 350px;
                  max-height: 350px;

                  .text {
                    font-size: 40px;
                    line-height: 60px;
                    padding-left: 56px;
  
                    &::before {
                      width: 42px;
                      height: 42px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // location page
  .location {
    .content {
      &.content1 {
        @include sub-common-title();
        padding-top: 160px;
      }

      &.content2 {
        .container {
          .info-box {
            .text-box {
              padding-left: 22px;
              margin-right: 90px;
              margin-bottom: 20px;
              
              .title {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 5px;

                &::before {
                  top: 5px;
                  left: -22px;
                }
              }

              .text {
                font-size: 16px;
                line-height: 20px;
              }
            }
          }

          .map-wrap {
            height: 450px;
          }
        }
      }
    }
  }
}

// 태블릿
@media screen and (max-width: 1024px) {
  .pc {display: none;}
  .mo {display: block;}

  // main page
  .main {
    .content {
      &.content1 {
        .bg-box {
          width: 620px;
          height: 840px;
          right: -10%;
        }

        .container {
          display: flex;
          align-items: center;

          h2 {
            font-size: 65px;
          }
        }
      }

      &.content2 {
        .container {
          .content-box {
            &.content-box1 {
              flex-direction: column;

              .item {
                width: 100%;
                height: 380px;

                &.item1 {
                  p {
                    max-width: 280px;
                  }
                }
              }
            }

            &.content-box2 {
              .item {
                padding-bottom: 505px;

                .item-box {
                  &.item-box1 {
                    > .text-box {
                      .text {
                        &.text2 {
                          margin-bottom: 40px;
                        }
                      }
                    }
                  }

                  &.item-box2 {
                    right: unset;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 50px;

                    .ani-img {
                      width: 403px;
                      height: 390px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // about page
  .about {
    .content {
      &.content2 {
        .container {
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;

          .img-box {
            width: 100%;
            height: 418px;

            .img {
              left: 50%;
              transform: translateX(-50%);

              &.img1 {
                width: 426px;
                height: 418px;

                @keyframes imgRotate2 {
                  100% {
                    transform: translateX(-50%) rotate(360deg);
                  }
                }
              }

              &.img2 {
                width: 389px;
                height: 396px;

                @keyframes imgScale {
                  0% {
                    transform: translateX(-50%) scale(1);
                  }

                  100% {
                    transform: translateX(-50%) scale(.97);
                  }
                }
              }
            }
          }
        }

        &.on {
          opacity: 1;
        }
      }

      &.content3 {
        .container {
          .content-box {
            &.content-box2 {
              flex-direction: column;

              .item {
                width: 100%;
                height: 380px;
              }
            }
          }
        }
      }
    }
  }

  // product page
  .product {
    .content {
      &.content2 {
        .container {
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;

          .img-box {
            width: 100%;
            height: 365px;

            .img {
              left: 50%;
              transform: translateX(calc(-50% + 133px)) translateY(-53px);

              &.img1 {
                width: 314px;
                height: 296px;
              }

              &.img2 {
                width: 334px;
                height: 296px;
              }

              &.img3 {
                width: 360px;
                height: 296px;
              }

              &.img4 {
                width: 396px;
                height: 296px;
              }
            }

            &.on {
              .img {
                &.img1 {
                  transform: translateX(calc(-50% + 133px)) translateY(-53px);
                }

                &.img2 {
                  transform: translateX(calc(-50% + 92px)) translateY(-37px);
                }

                &.img3 {
                  transform: translateX(calc(-50% + 44px)) translateY(-18px);
                }

                &.img4 {
                  transform: translateX(-50%) translateY(7px);
                }
              }
            }
          }
        }
      }

      &.content3 {
        .container {
          .content-box {

            &.content-box2 {
              .item {
                padding: 50px;
                gap: 40px;
                min-height: unset;
                max-height: unset;

                &.type1 {
                  flex-direction: column;
                  align-items: flex-start;

                  .img-box {
                    width: 100%;
                    height: 250px;
                    border-radius: 20px;

                    .img {
                      &.ezcapture {
                        width: 127px;
                        height: 142px;
                      }
                    }
                  }

                  > .text-box {
                    .title {
                      font-size: 40px;
                      line-height: 48px;
                    }
  
                    > .text {
                      font-size: 20px;
                      line-height: 1.25;
                      margin-bottom: 40px;
                    }
                  }
                }

                &.type2 {
                  min-height: 596px;
                  max-height: 596px;

                  .text {
                    font-size: 40px;
                    line-height: 60px;
                    padding-left: 56px;
  
                    &::before {
                      width: 42px;
                      height: 42px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // location page
  .location {
    .content {
      &.content2 {
        .container {
          .info-box {
            .text-box {
              display: block;
              margin-right: 0;

              &:first-child {
                br {
                  display: none;
                }
              }
            }
          }

          .map-wrap {
            height: 450px;
          }
        }
      }
    }
  }
}

// 모바일
@media screen and (max-width: 768px) {
  // common
  @mixin link-box() {
    > div {
      gap: 10px;
  
      .text-box {
        font-size: 14px;
        line-height: 16px;
        height: 16px;
      }
  
      .arrow-box {
        width: 35px;
        height: 35px;
  
        .arrow {
          background-size: 7px;
        }
      }
    }
  }

  @mixin sub-common-title() {
    height: 300px;
    padding-top: 122px;

    &::before {
      width: 89px;
      height: 64px;
    }

    &::after {
      width: 180px;
      height: 93px;
    }
  
    h2 {
      // basic
      font-size: 22px;
      line-height: 1.32;
    }
  }

  @mixin sub-common-about() {
    .title-bg {
      width: 230px;
      height: 230px;
    }
  
    .title {
      padding: 11px 24px 10px 20px;
      border-radius: 17.5px;
  
      p {
        padding-left: 24px;
        font-size: 14px;
  
        &::before {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  // main page
  .main {
    .content {
      &.content1 {
        .bg-box {
          width: 100%;
          height: 100%;
          right: -35%;

          .bg-img {
            background-size: contain;
          }
        }

        .container {
          h2 {
            font-size: 35px;
            line-height: 1.29;
          }
        }
      }

      &.content2 {
        padding-top: 40px;
        padding-bottom: 60px;

        .container {
          .content-box {
            &.content-box1 {
              gap: 15px;
              margin-bottom: 40px;

              .item {
                padding: 20px;
                height: 230px;

                p {
                  font-size: 20px;
                  line-height: 25px;
                  padding-top: 23px;

                  &::before {
                    width: 13px;
                    height: 13px;
                  }
                }

                &.item1 {
                  p {
                    max-width: 280px;
                  }
                }

                .bg-img {
                  width: 80%;
                  height: 80%;
                }
              }
            }

            &.content-box2 {
              .item {
                padding: 40px 20px;
                padding-bottom: 315px;

                .item-box {
                  &.item-box1 {
                    > .text-box {
                      .text {
                        &.text1 {
                          font-size: 28px;
                          line-height: 35px;
                          margin-bottom: 10px;
                        }

                        &.text2 {
                          font-size: 13px;
                          line-height: 18px;
                          margin-bottom: 20px;
                        }
                      }
                    }

                    .link-box {
                      @include link-box();
                    }
                  }

                  &.item-box2 {
                    bottom: 35px;

                    .ani-img {
                      width: 257px;
                      height: 249px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // about page
  .about {
    .content {
      &.content1 {
        @include sub-common-title();
      }

      &.content2 {
        padding-top: 50px;
        padding-bottom: 40px;

        .container {
          > .text-box {
            .title-box {
              @include sub-common-about();
              margin-bottom: 15px;
            }

            .text {
              font-size: 20px;
              line-height: 1.4;
            }
          }

          .img-box {
            height: 294px;

            .img {

              &.img1 {
                width: 300px;
                height: 294px;
              }

              &.img2 {
                width: 274px;
                height: 278px;
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 40px;
        .container {
          .content-box {
            &.content-box1 {
              .text {
                &.text1 {
                  font-size: 26px;
                  line-height: 1.23;
                  margin-bottom: 10px;
                }

                &.text2 {
                  @include preRegular();
                  font-size: 12px;
                  line-height: 1.33;
                  margin-bottom: 30px;
                }
              }
            }

            &.content-box2 {
              margin-bottom: 60px;

              .item {
                padding: 20px;
                height: 230px;
                
                .text {
                  &.text1 {
                    font-size: 20px;
                    line-height: 1.25;
                    margin-bottom: 10px;
                  }

                  &.text2 {
                    font-size: 13px;
                    line-height: 1.38;
                  }
                }

                .bg-img {
                  width: 80%;
                  height: 80%;
                }
              }
            }
          }
        }
      }
    }
  }

  // product page
  .product {
    .content {
      &.content1 {
        @include sub-common-title();
      }

      &.content2 {
        padding-top: 50px;
        padding-bottom: 40px;

        .container {
          gap: 40px;

          > .text-box {
            .title-box {
              @include sub-common-about();
              margin-bottom: 15px;
            }

            .text {
              font-size: 20px;
              line-height: 1.4;
            }
          }

          .img-box {
            height: 230px;

            .img {
              left: 50%;
              transform: translateX(calc(-60% + 65px)) translateY(-35px);

              &.img1 {
                width: 197px;
                height: 186px;
              }

              &.img2 {
                width: 209px;
                height: 186px;
              }

              &.img3 {
                width: 225px;
                height: 186px;
              }

              &.img4 {
                width: 241px;
                height: 186px;
              }
            }

            &.on {
              .img {
                &.img1 {
                  transform: translateX(calc(-60% + 65px)) translateY(-35px);
                }

                &.img2 {
                  transform: translateX(calc(-60% + 44px)) translateY(-23px);
                }

                &.img3 {
                  transform: translateX(calc(-60% + 20px)) translateY(-8px);
                }

                &.img4 {
                  transform: translateX(-60%) translateY(7px);
                }
              }
            }
          }
        }
      }

      &.content3 {
        padding-top: 40px;

        .container {
          .content-box {
            &.content-box1 {
              .text {
                font-size: 26px;
                line-height: 1.23;
                margin-bottom: 30px;
              }
            }
            
            &.content-box2 {
              .item {
                padding: 20px;
                padding-bottom: 30px;
                gap: 30px;
                min-height: unset;
                max-height: unset;
                margin-bottom: 15px;

                &.type1 {
                  .img-box {
                    width: 100%;
                    height: 175px;

                    .img {
                      &.ezcapture {
                        width: 102px;
                        height: 115px;
                      }
                    }
                  }

                  > .text-box {
                    .title {
                      font-size: 23px;
                      line-height: 28px;
                      margin-bottom: 10px;
                    }
  
                    > .text {
                      font-size: 14px;
                      line-height: 1.43;
                      margin-bottom: 15px;
                    }

                    .link-box {
                      @include link-box();
                    }
                  }
                }

                &.type2 {
                  min-height: 380px;
                  max-height: 380px;

                  .text {
                    font-size: 23px;
                    line-height: 28px;
                    padding-left: 0;
                    padding-top: 62px;
  
                    &::before {
                      top: 0;
                      left: 50%;
                      transform: translateX(-50%);
                      width: 52px;
                      height: 52px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // location page
  .location {
    .content {
      &.content1 {
        @include sub-common-title();
        padding-top: 137px;
      }

      &.content2 {
        padding-top: 50px;

        .container {
          .info-box {
            margin-bottom: 30px;
            
            .text-box {
              position: relative;
              padding-left: 20px;

              &:first-child {
                height: 36px;
                white-space: nowrap;

                br {
                  display: block;
                }
              }
              
              .title {
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 0;

                &::before {
                  top: 1px;
                  left: -20px;

                }
              }

              .text {
                position: absolute;
                top: 0;
                left: 104px;
                font-size: 14px;
              }
            }
          }

          .map-wrap {
            height: 400px;
          }
        }
      }
    }
  }
}
