@import "common";

@media screen and (max-height: 918px) {
  .wrap {
    .fp_page_wrap {
      .fp_page {
        .fp_scroll_box {
          .center {
            min-height: 919px;
            position: relative;
          }
        }
      }
    } 
  }
}

@media screen and (max-width: 1850px) {
  .wrap {
    .fp_page_wrap {

      // page2
      .fp_page.page2 {
        .fp_scroll_box {
          .center {
            padding-left: 80px;

            .left {
              width: 30%;
            }

            .right {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1785px) {
  .wrap {
    .fp_page_wrap {

      // page1
      .fp_page.page1 {
        .fp_scroll_box {
          .center {
            .text_box {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-left: 0;
              min-width: unset;
            }
      
            .btn_box {
              padding: 0 16px;
              justify-content: center;
            }
          }
        }
      }

      // footer
      footer {
        align-items: flex-end;

        .left {
          flex-direction: column;
          gap: 22px;
          align-items: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 1630px) {
  .wrap {
    .fp_page_wrap {

      // page2
      .fp_page.page2 {
        .fp_scroll_box {
          .center {

            h3 {
              font-size: 35px;
            }

            .right {
              .gauge_img_box {
                .gauge_img {
                  width: 900px;
                }
                
                .gauge_img4 {
                  width: 800px;
                }
              }
            }
          }
        }
      }

      // page4
      .fp_page.page4 {
        .fp_scroll_box {
          .center {
            .line_box {
              padding: 0 140px;
            }

            .text_box_wrap {
              .text_box {
                padding: 0 140px;
              }
            }
          }
        }
      }
      

      // page3
      .fp_page.page3 {
        .fp_scroll_box {
          .center {
            padding-left: 160px;
            padding-right: 106px;

            &::after {
              right: 160px;
            }
          }
        }
      }

      // page5
      .fp_page.page5 {
        .fp_scroll_box {
          .center {
            padding-left: 160px;
            padding-right: 106px;

            &::after {
              right: 160px;
            }

            .gauge_box {
              right: 220px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1540px) {
  .wrap {
    header {
  
      div {
        gap: 70px;
      }
    }

    .fp_page_wrap {

      // page6
      .fp_page.page6 {
        .fp_scroll_box {
          .center {
            gap: 100px;
          }
        }
      }

      // footer
      footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 31px 80px;
        gap: 22px;
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  .wrap {
    .fp_page_wrap {
      // page2
      .fp_page.page2 {
        .fp_scroll_box {
          .center {
            padding-left: 40px;

            h3 {
              font-size: 28px;
            }

            .left {
              .gauge_box {
                li {
                  p {
                    font-size: 18px;
                  }
                  
                  .gauge {
                    width: 300px;
                  }
                }
              }
            }

            .right {
              .gauge_img_box {
                .gauge_img {
                  width: 700px;
                  height: 436px;
                }
                
                .gauge_img4 {
                  width: 600px;
                }
                
                > div:last-child {

                  p:first-child {
                    font-size: 20px;
                  }

                  p:last-child {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1290px) {
  .wrap {
    header {
      padding: 0 80px;
   
    }
  }
}

@media screen and (max-width: 1150px) {
  .wrap {
    header,
    header.white {
      padding: 0 16px;
      height: 56px;

      h1 {
        a {
          width: 69px;
          height: 24px;
        }
      }

      div {
        font-size: 16px;

        ul {
          display: none;
        }
      }
    }

    .fp_page_wrap {
      // page1
      .fp_page.page1 {
        .fp_scroll_box {
          .center {
            min-height: 640px;

            .line_box {
              padding: 0 16px;  

              span:first-child {
                display: none;
              }

              span:last-child {
                display: none;
              }
            }
            
            .text_box {
              margin-bottom: 40px;
              margin-top: 0;
      
              > ul {
                flex-direction: column-reverse;
                align-items: flex-start;
                min-width: 296px;
      
                li:first-child {
                  p {
                    font-size: 60px;
                  }
                }
      
                li:last-child {
                  display: flex;
                  flex-direction: column;
                  margin-left: 0;
                  margin-bottom: 20px;
      
                  p {
                    span {
                      font-size: 16px;
                      line-height: 19px;
                    }
                  }
                }
              }
      
              > div {
                margin-left: 67px;
                p {
                  font-size: 60px;
                }
              }
            }
      
            .btn_box {
              padding: 0 16px;
              flex-direction: column;

              > a {
                width: 100%;
                max-width: 296px;
                font-size: 16px;
                height: 48px;
              }

              > a:last-child {
                position: relative;
                justify-content: flex-end;

                span:first-child {
                  position: absolute;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      // page2
      .fp_page.page2 {
        .fp_scroll_box {
          .center {
            min-height: 780px;
            padding-left: 0;
            flex-direction: column;
            justify-content: center;
            gap: 24px;

            h2 {
              font-size: 16px;
              margin-bottom: 20px;
              margin-top: 5px;
            }

            h3 {
              font-size: 28px;
              margin-bottom: 60px;
              text-align: center;
            }

            .left {
              width: 100%;
              padding: 0 16px;
              align-items: center;
              height: unset;

              .gauge_btn {
                display: flex;
              }

              .gauge_box {
                position: relative;
                display: block;
                width: 100%;
                height: 45px;
                li {
                  position: absolute;
                  opacity: 0;
                  width: 100%;
                  p {
                    font-size: 24px;

                    span {
                      font-size: 20px;
                    }
                  }
                  
                  .gauge {
                    width: 100%;
                  }
                }

                li.on {
                  opacity: 1;
                  z-index: 99;
                  
                }
              }
            }

            .right {
              width: 100%;
              height: unset;
              min-height: 414px;

              .gauge_img_box {
                overflow: hidden;
                padding: 0 16px;
                .gauge_img {
                  width: 100%;
                  height: 308px;
                  margin-bottom: 25px;
                }
                
                .gauge_img4 {
                  width: 100%;
                  background-image: url(../images/main/page2_img04_mo.png);
                }
                
                > div:last-child {
                  flex-direction: column;
                  gap: 16px;

                  p:first-child {
                    font-size: 20px;
                  }

                  p:last-child {
                    font-size: 16px;
                    line-height: 22px;
                    word-break: keep-all;
                  }
                }
              }
            }
          }
        }
      }

      // page3
      .fp_page.page3 {
        .fp_scroll_box {
          .center {
            position: relative;
            padding-top: 60px;
            min-height: 780px;
            padding-left: 16px;
            padding-right: 16px;

            &::before,
            &::after {
              display: none;
            }
            
            .slick-arrow {
              width: 40px;
              height: 40px;
              z-index: 99;
            }

            .slick-prev {
              background: #E0E3E8 url(../images/main/page3_arrow_prev.png) no-repeat center / 5.7px 11.5px;
              top: 298px;
              right: 40px;
            }
            
            .slick-next {
              background: #026EFF url(../images/main/page3_arrow_next.png) no-repeat center / 5.7px 11.5px;
              top: 258px;
            }

            .slick-dots {
              flex-direction: row;
              left: 0;
              top: 270px;
              gap: 8px;

              li {
                width: 6px;
                height: 6px;

                &::before {
                  display: none;
                }

                button {
                  border-radius: 0;
                  width: 6px;
                  height: 6px;
                  padding: 0;
                }
              }

              li.slick-active {
                width: 16px;
                button {
                  width: 16px;
                  background: #026eff;
                  transition: width .3s;
                }
              }
            }

            h2 {
              font-size: 16px;
              margin-top: 0;
              margin-bottom: 12px;
            }

            .slider {
              position: relative;
              padding-right: 0;
              height: 627px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                background: #eef1f5;
                width: 100vw;
                height: 1px;
                left: -16px;
                top: 297px;
              }

              .slick-slide {
                height: 627px;
              }

              > div {
                position: relative;
                height: 627px;
                h3 {
                  font-size: 32px;
                  margin-bottom: 24px;
                }

                p {
                  font-size: 20px;
                  line-height: 27px;
                  margin-bottom: 0;
                  word-break: keep-all;

                  br {
                    display: none;
                  }

                  span {
                    font-size: 16px;
                    line-height: 22px;
                    margin-top: 16px;
                  }
                }

                .img {
                  height: 268px;
                  position: absolute;
                  bottom: 0;
                }
              }
            }
          }
        }
      }

      // page4
      .fp_page.page4 {
        .fp_scroll_box {
          .center {
            padding-top: 60px;
            min-height: 968px;
            .line_box {
              display: none;
            }

            h2 {
              font-size: 16px;
              margin-top: 0;
              margin-bottom: 12px;
            }

            h3 {
              font-size: 32px;
            }

            .btn_box {
              height: 44px;
              margin-bottom: 38px;

              > span {
                height: 44px;
              }

              a {
                font-size: 15px;
              }

              a:nth-child(2) {
                width: 128px;
              }

              a:last-child {
                width: 200px;
              }
            }

            .img_box {
              width: 100%;
              height: 126px;
              margin-bottom: 30px;

              .img {
                padding-bottom: 20px;
                div {
                  min-width: 764px;
                }
              }
              
              .img1 {
                div {
                  background-image: url('../images/main/page4_img01_mo.png');
                }
              }

              .img2 {
                div {
                  background-image: url('../images/main/page4_img02_mo.png');
                }
              }
            }

            > .text_box {
              margin-bottom: 0;
              height: unset;
              min-height: 115px;
              margin-bottom: 28px;

              p {
                font-size: 16px;
                line-height: 24px;
                padding: 0 16px;
                word-break: keep-all;

                br {
                  display: none;
                }
              }
            }

            .text_box_wrap {
              height: unset;
              min-height: 400px;
              .text_box {
                border: none;
                display: block;
                padding: 0;
                height: unset;

                .text {
                  width: 100%;
                  border-top: 1px solid #323232;
                  padding: 20px 0;

                  p:first-child {
                    margin-bottom: 16px;
                  }
                }
              }
            }
          }
        }
      }

      // page5
      .fp_page.page5 {
        .fp_scroll_box {
          .center {
            position: relative;
            padding-top: 60px;
            min-height: 890px;
            padding-left: 16px;
            padding-right: 16px;

            &::before,
            &::after {
              display: none;
            }

            h2 {
              font-size: 16px;
              margin-top: 0;
              margin-bottom: 12px;
            }

            h3 {
              font-size: 32px;
              margin-bottom: 24px;
            }

            > p {
              line-height: 27px;
              margin-bottom: 30px;
              word-break: keep-all;

              br {
                display: none;
              }
            }

            .slick-arrow {
              width: 40px;
              height: 40px;
              z-index: 99;
            }

            .slick-prev {
              background: #E0E3E8 url(../images/main/page3_arrow_prev.png) no-repeat center / 5.7px 11.5px;
              top: 40px;
              right: 40px;
            }
            
            .slick-next {
              background: #026EFF url(../images/main/page3_arrow_next.png) no-repeat center / 5.7px 11.5px;
              top: 0;
            }

            .slider_wrap {
              position: relative;
              .gauge_box {
                left: 0;
                right: unset;
                gap: 12px;
                top: 0;
  
                .current {
                  font-size: 16px;
                  line-height: 16px;
                  height: 17px;
                }
              }
            }

            .slider {
              position: relative;
              padding-right: 0;
              height: 567px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                background: #eef1f5;
                width: 100vw;
                height: 1px;
                left: -16px;
                top: 40px;
              }

              .slick-slide {
                height: 567px;
              }

              > div {
                position: relative;
                height: 567px;

                .slide_cont {
                  height: 567px;
                  flex-direction: column;
                  justify-content: flex-end;

                  .text_box {
                    padding-left: 0;
                    width: 100%;
                    height: 100%;
                    gap: 12px;
                    justify-content: flex-end;

                    h4 {
                      position: absolute;
                      font-size: 20px;
                      margin-bottom: 0;
                      top: 100px;
                    }

                    p {
                      font-size: 16px;
                      line-height: 24px;
                      margin-bottom: 0;
                      word-break: keep-all;

                      &::before {
                        left: 1px;
                      }
    
                      br {
                        display: none;
                      }
    
                      span {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 0;
                        left: 70px;
                      }
                    }
                  }
  
                  .img {
                    width: 100%;
                    height: 328px;
                    position: absolute;
                    bottom: 82px;
                  }

                  .img1 {
                    background-image: url(../images/main/page5_img01_mo.png);
                  }
                }
              }
            }
          }
        }
      }

      // page6
      .fp_page.page6 {
        .fp_scroll_box {
          .center {
            gap: 45px;
            flex-direction: column;
            padding: 0 16px;
            
            .left {
              position: relative;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding-bottom: 40px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: 100vw;
                height: 1px;
                background: #333333;
                left: -16px;
                bottom: 0;
              }

              h2 {
                font-size: 16px;
                margin-bottom: 16px;
              }

              h3 {
                font-size: 32px;
                line-height: 32px;
                margin-bottom: 24px;

                br {display: none;}
              }

              p:last-child {
                font-size: 16px;
                line-height: 24px;
                color: #CCCCCC;

                br {display: none;}
              }
            }
          }
        }
      }
    }

    .fp_top_btn {
      width: 48px;
      height: 48px;
      right: 16px;
      bottom: 16px;
      background: #fff url(../images/main/top_btn.png) no-repeat center / 24px;
    }

    .fp_top_btn:hover {
      background: #2ca4e9 url(../images/main/top_btn.png) no-repeat center / 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrap {

    .fp_page_wrap {
      // page2
      .fp_page.page2 {
        .fp_scroll_box {
          .center {
            h3 {
              text-align: left;
            }

            .left {
              align-items: flex-start;
            }
          }
        }
      }

      // page6
      .fp_page.page6 {
        .fp_scroll_box {
          .center {
            min-height: 1263px;
            
            .left {
              align-items: flex-start;

              
              p:last-child {
                br {display: block;}
              }
              
            }

            .right {
              .form_wrap {
                ul {
                  max-width: unset;
                  gap: 32px 0;

                  li {
                    min-width: 100%;

                    .input_box {
                      input {
                        min-width: 100%;
                        box-sizing: border-box;
                      }
                    }
                  }

                  li:nth-child(7) {
                    flex-wrap: wrap;

                    .title {
                      width: 100%;
                    }

                    .check_box {
                      margin-left: 1px;
                    }

                    .custom_select_box {
                      min-width: 164px;
                      max-width: 978px;

                      .select_list {
                        width: 164px;
                      }
                    }
                  }
                }
              }

              .btn_wrap {
                flex-direction: column;
                gap: 10px;

                .btn {
                  padding: 13px 59px;
                }
              }
            }
          }
        }
      }

      // footer
      footer {
        padding: 16px 16px 32px 16px;
        gap: 20px;
        border-top: 1px solid #333333;

        > div {
          ul {
            gap: 12px;

            li {
              font-size: 12px;
            }
          }

          ul:first-child {
            gap: 12px 16px;
            margin-bottom: 12px;
            li {
              opacity: .5;

              &:last-child {
                width: 100%;
                opacity: .3;
              }
            }
          }

          ul:last-child {
            li:first-child {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
