:root {
	--vh: 100%;
}

.wrap {
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		// height를 설정 하세요
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;

		.fp_menu_wrap {
			display: flex;
			align-items: center;

			.fp_menu {
				width: 100px;
				padding: 8px 16px;
				border: 1px solid #eee;
				text-align: center;
				cursor: pointer;

				/* a {} */
			}

			.fp_menu.on {
				background-color: #555;

				/* a {} */
			}
		}
	}

	.fp_page_wrap {
		// transition을 설정 하세요
		transition: .8s ease-in-out;

		.fp_page {
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			overflow-y: auto;
			box-sizing: border-box;
			padding-top: 80px;

			.fp_scroll_box::-webkit-scrollbar {
				display: none;
			}

			.fp_scroll_box {
				-ms-overflow-style: none;
				scrollbar-width: none;
			}
		}

		footer.fp_page {
			padding-top: 0;
			height: 100px; // height를 설정 하세요
		}
	}

	.fp_top_btn {
		cursor: pointer;
		box-sizing: border-box;
		position: fixed;
		text-indent: -9999px;
		border: none;
	}
}