.feedback {
  .section {
    padding-top: 44px;
    margin-bottom: 150px;

    // container
    .container {
      @include max-width($mw: 1206px);
    }

    // scroll-trigger
    .scroll-trigger {
      .section-title {
        transition: $transition-littleslow;
        opacity: 0;
        transform: translateY(50%);
      }

      .section-desc {
        transition: $transition-littleslow;
        opacity: 0;
      }

      .write-wrap {
        transition: $transition-littleslow;
        opacity: 0;
        transform: translateY(10%);
      }

      &.on {
        .section-title {
          opacity: 1;
          transform: translateY(0);
        }

        .section-desc {
          opacity: 1;
        }

        .write-wrap {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    // style
    .scroll-trigger {
      &--1 {
        margin-bottom: 18px;

        .section-title {
          @include preBold();
          font-size: 42px;
          line-height: 1.14;
          letter-spacing: -0.42px;
          color: $color-text-black;
        }
      }

      &--2 {
        margin-bottom: 70px;

        .section-desc {
          @include preRegular();
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: -0.16px;
          color: $color-text-gray;
        }
      }

      &--3 {
        .write-wrap {
          padding-top: 50px;
          border-top: 1px solid $color-border-black;

          .item {
            margin-bottom: 40px;

            &:last-of-type {
              margin-bottom: 90px;
            }

            &.warning {
              margin-bottom: 16px;
            }

            .title,
            .desc {
              @include preRegular();
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.16px;
              color: $color-text-black;

              span {
                color: $color-text-red;
              }
            }

            .title {
              margin-bottom: 16px;
            }

            .desc {
              margin-top: 16px;
            }

            .form-message {
              @include preLight();
              font-size: 14px;
              line-height: 16px;
              letter-spacing: -0.14px;
              color: $color-text-red;
              margin-top: 8px;
              display: none;

              &.on {
                display: block;
              }
            }

            .dropdown-wrap-list {
              @include flex-pos($ai: center, $g: 10px);

              .dropdown-wrap {
                max-width: 490px;

                &.mw310 {
                  max-width: 310px;
                }
              }
            }

            .input-wrap {
              height: 44px;

              &.radio {
                &.type1 {
                  @include flex-pos($ai: center, $g: 60px);
                  height: 100%;
                }

                &.type2 {
                  @include flex-pos($ai: center, $g: 50px);
                  overflow-x: auto;
                  height: 100%;

                  &::-webkit-scrollbar {
                    display: none;
                  }
                }
              }
            }

            .textarea-wrap {
              textarea {
                min-width: 100%;
                max-width: 100%;
                min-height: 250px;
                max-height: 250px;
              }
            }

            .file-list {
              padding: 24px 30px;
              background: $color-bg-gray2;
              border-radius: 8px;
              margin-top: 8px;

              .item {
                @include flex-pos($ai: center, $g: 14px);
                margin-bottom: 22px;

                &:last-of-type {
                  margin-bottom: 0;
                }

                .name {
                  @include preRegular();
                  font-size: 16px;
                  line-height: 19px;
                  letter-spacing: -0.16px;
                  color: $color-text-black;
                }
              }
            }

            .info-wrap {
              background: $color-bg-gray;
              border-radius: 8px;
              padding: 6px;
              border: 1px solid $color-border-secondary;

              .cont {
                height: 286px;
                overflow-y: auto;
                padding: 9px 44px 9px 14px;

                /* 스크롤바의 폭 너비 */
                &::-webkit-scrollbar {
                  width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                  background: #bebebe; /* 스크롤바 색상 */
                  border-radius: 3px; /* 스크롤바 둥근 테두리 */
                }

                &::-webkit-scrollbar-track {
                  background: transparent; /*스크롤바 뒷 배경 색상*/
                }

                .text {
                  @include preRegular();
                  font-size: 16px;
                  line-height: 1.5;
                  letter-spacing: -0.16px;
                  color: $color-text-gray;
                }
              }
            }
          }

          .basic-btn {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .feedback {
    .section {
      padding-top: 28px;
      margin-bottom: 80px;

      // style
      .scroll-trigger {
        &--1 {
          margin-bottom: 20px;

          .section-title {
            font-size: 30px;
            line-height: 1.2;
            letter-spacing: -0.3px;
          }
        }

        &--2 {
          margin-bottom: 48px;

          .section-desc {
            line-height: 1.38;
          }
        }

        &--3 {
          .write-wrap {
            padding-top: 40px;

            .item {
              margin-bottom: 24px;

              &:last-of-type {
                margin-bottom: 60px;
              }

              &.warning {
                margin-bottom: 18px;
              }

              .title,
              .desc {
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: -0.14px;
              }

              .title {
                margin-bottom: 12px;
              }

              .desc {
                margin-top: 12px;
              }

              .form-message {
                margin-top: 6px;
              }

              .dropdown-wrap-list {
                @include flex-pos($fd: column, $g: 6px);

                .dropdown-wrap {
                  max-width: unset;

                  &.mw310 {
                    max-width: unset;
                  }

                  &:first-of-type {
                    z-index: 99;
                  }
                }
              }

              .input-wrap {
                height: 44px;

                &.radio {
                  &.type1 {
                    @include flex-pos($ai: center, $g: 50px);
                  }

                  &.type2 {
                    @include flex-pos($ai: center, $g: 30px);
                  }
                }
              }

              .textarea-wrap {
                textarea {
                  min-height: 300px;
                  max-height: 300px;
                }
              }

              .file-list {
                padding: 18px 20px;

                .item {
                  @include flex-pos($ai: center, $g: 10px);
                  margin-bottom: 20px;

                  .name {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: -0.15px;
                  }
                }
              }

              .info-wrap {
                padding: 6px;

                .cont {
                  height: 364px;
                  padding: 8px 9px 8px 6px;

                  .text {
                    font-size: 14px;
                    line-height: 1.43;
                    letter-spacing: -0.14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
