footer {
  position: relative;
  background: #141414;

  .container {
    @include max-width();
    @include flex-pos($fd: column, $g: 32px);
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .logo {
    @include image-set();
    @include text-hide();
    width: 126px;
    height: 18px;
    background-image: url(../../../images/components/footer/logo.png);
  }

  .info {
    @include flex-pos($fd: column, $g: 8px);

    .item {
      @include flex-pos($ai: center, $g: 10px);

      p {
        @include flex-pos($ai: center, $g: 10px);
        @include preLight();
        position: relative;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.14px;
        color: #a5a5a5;

        &::after {
          content: '';
          width: 1px;
          height: 10px;
          background: #a5a5a5;
        }

        &:last-of-type {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .links {
    @include flex-pos($ai: center, $g: 10px);

    > a {
      @include preLight();
      @include flex-pos($ai: center, $g: 15px);
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.14px;
      color: #fff;

      &::after {
        content: '';
        width: 1px;
        height: 10px;
        background: #fff;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }

  #top-btn {
    @include image-set();
    @include text-hide();
    z-index: 99;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-image: url(../../../images/components/footer/btn-top.png);
    position: absolute;
    top: -56px;
    right: 60px;
    transform: translateX(140px);
    transition: $transition-littlefast;

    &.on {
      transform: translateX(0);
    }
  }
}
