@use '../common' as *;

.header {
  &__container {
    @include maxWidth();
    @include flex-pos($jc: space-between, $ai: center);
    padding-top: 42px;
    padding-bottom: 35px;
  }

  &__logo {
    a {
      @include image-set($bs: contain);
      @include text-hide();
      display: block;
      width: 85px;
      height: 39px;
      background-image: url(/assets/images/components/header/logo.png);
    }
  }

  &__content {
    @include flex-pos($ai: center, $g: 153px);

    & .header__nav {
      & .header__menu {
        @include flex-pos($ai: center, $g: 50px);

        &-item {
          position: relative;

          & .header__menu-button {
            @include preMedium();
            font-size: 18px;
            line-height: 21px;
            color: $color-text-primary;

            &--with-arrow {
              @include flex-pos($ai: center, $g: 12px);
              transition: $transition-fast;

              i {
                @include image-set($bs: contain);
                transition: $transition-fast;
                width: 12px;
                height: 6px;
                background-image: url(/assets/images/components/header/arrow.png);
              }

              &.on,
              &:hover {
                color: $color-text-accent;

                i {
                  background-image: url(/assets/images/components/header/arrow-red.png);
                  transform: rotate(-180deg);
                }
              }
            }
          }

          & .header__submenu {
            position: absolute;
          }

          &--download {
            & .header__submenu {
              top: calc(100% + 20px);
              left: -29px;
              width: 100vw;
              max-width: 640px;
              padding: 30px;
              border-radius: 10px;
              background: #fff;
              box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);

              &-list {
                @include flex-pos($g: 30px 60px, $fw: wrap);

                & .header__submenu-item {
                  flex-basis: calc(50% - 30px);
                }
              }
            }
          }

          &--customerservice {
            & .header__submenu {
            }
          }
        }
      }
    }

    & .header__utils {
      display: none;
    }

    & .header__toggle-button {
      display: none; // 임시
    }
  }
}
