:root {
  --white-100: #fff;
  --black-100: #000;
  --black-200: #222;
  --black-300: #030303;
  --charcoal-100: #555;
  --charcoal-200: #999;
  --charcoal-300: #777;
  --gray-100: #f3f4f6;
  --gray-200: #888;
  --gray-300: #b1b1b1;
  --gray-400: #e9e9e9;
  --gray-500: #f8f9fb;
  --gray-600: #f0f0f0;
  --gray-700: #d8d8d8;
  --gray-800: #afafaf;
  --gray-900: #aaa;
  --gray-1000: #eee;
  --yellow-100: #ffdd00;
  --blue-100: #0084fd;
  --red-100: #f83131;

  // < background > -------------------------------------------
  --color-bg-header-100: var(--white-100); // ( header )
  --color-bg-bottom-nav-100: var(--white-100); // ( botton-nav )
  --color-bg-section-100: var(--white-100); // ( section )
  --color-bg-section-200: var(--gray-100);
  --color-bg-section-300: var(--gray-500);
  --color-bg-item-100: var(--white-100); // ( item )
  --color-bg-item-200: var(--gray-500);
  --color-bg-popup-100: var(--white-100); // ( popup )
  --color-bg-button-100: var(--blue-100); // ( button )
  --color-bg-button-200: var(--gray-1000);
  --color-bg-badge-100: var(--yellow-100); // ( badge )
  --color-bg-badge-200: var(--white-100);
  --color-bg-badge-300: var(--blue-100);
  --color-bg-badge-400: var(--black-200);
  // < /background > -------------------------------------------

  // < text > -------------------------------------------
  --color-text-header-100: var(--black-200); // ( header )
  --color-text-bottom-nav-100: var(--gray-300); // ( botton-nav )
  --color-text-title-section-100: var(--black-100); // ( section / title )
  --color-text-title-section-200: var(--charcoal-200);
  --color-text-title-item-100: var(--black-200); // ( item / title )
  --color-text-title-item-200: var(--charcoal-200);
  --color-text-title-item-300: var(--charcoal-300);
  --color-text-title-item-400: var(--charcoal-100);
  --color-text-desc-item-100: var(--charcoal-100); // ( item / desc )
  --color-text-desc-item-200: var(--gray-200);
  --color-text-desc-item-300: var(--blue-100);
  --color-text-desc-item-400: var(--black-200);
  --color-text-desc-item-500: var(--charcoal-300);
  --color-text-desc-item-600: var(--charcoal-200);
  --color-text-desc-item-700: var(--red-100);
  --color-text-button-100: var(--black-200); // ( button )
  --color-text-button-200: var(--white-100);
  --color-text-button-300: var(--gray-900);
  --color-text-button-400: var(--blue-100);
  --color-text-input-100: var(--gray-800); // ( input )
  --color-text-input-200: var(--black-200);
  --color-text-input-300: var(--blue-100);
  --color-text-badge-100: var(--black-300); // ( badge )
  --color-text-badge-200: var(--blue-100);
  --color-text-badge-300: var(--white-100);
  // < /text > -------------------------------------------

  // < border > -------------------------------------------
  --color-border-bottom-nav-100: var(--gray-400); // ( botton-nav )
  --color-border-item-100: var(--gray-600); // ( item )
  --color-border-input-100: var(--gray-700); // ( input )
  --color-border-badge-100: var(--blue-100); // ( badge )
  --color-border-badge-200: var(--black-200);
  // < /border > -------------------------------------------
}
