@mixin flex($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

@mixin ba_elm() {
  content: "";
  display: block;
  position: absolute;
}

@mixin img_set() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin layout() {
  max-width: 1440px;
  margin: 0 auto;
}

@mixin txt_hide() {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin txt_pop_sb30px() {
  font-family: 'Poppins-SemiBold';
  font-size: 30px;
  color: #03dc80;
  line-height: 43px;
  margin-bottom: 20px;
}

@mixin txt_pre_eb56px() {
  font-family: 'Pretendard-ExtraBold';
  font-size: 56px;
  color: #000000;
  line-height: 71.5px;
}

@mixin txt_pre_eb38px() {
  font-family: 'Pretendard-ExtraBold';
  font-size: 38px;
  color: #000000;
  line-height: 58px;
}

@mixin txt_pre_r22px() {
  font-family: 'Pretendard-Regular';
  font-size: 22px;
  color: #444;
  line-height: 32px;
}