@import "common";

// common
.mo {
  display: none;
}

// header
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.6);

  .box {
    @include layout();
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    h1 {
      a {
        @include txt_hide();
        background: url(../images/icon/logo-s.svg) no-repeat center / contain;
        width: 244px;
        height: 30px;
      }
    }

    .toggle {
      display: none;
      text-indent: -9999px;
      position: relative;
      z-index: 99999;
      border: none;
      width: 20px;
      height: 20px;
      padding: 0;
      background: transparent;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: block;
        width: 14.2px;
        height: 2px;
        background: #000;
      }

      &::before,
      &::after {
        width: 100%;
        height: 2px;
        background: #000;
        left: 0;
        transition: .3s;
        @include ba_elm();
      }

      &::before {
        top: 0;
        
      }

      &::after {
        bottom: 0;
      }

      &.on {
        &::before,
        &::after {
          top: 50%;
          left: 50%;
        }

        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
          bottom: unset;
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        i {
          opacity: 0;
        }

      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 50px;

      .fp_menu_wrap {
        display: flex;
        gap: 40px;
        
        .fp_menu {
          font-family: 'Pretendard-Medium';
          font-size: 18px;
          line-height: 65px;
          
          a {
            color: #000;
            transition: .3s;
          }

          &.on {
            a {
              color: #03dc80;
            }
          }
        }
      }

      > a {
        font-family: 'Pretendard-SemiBold';
        width: 121px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #fff;
        background: linear-gradient(to right, #04dc49 -3%, #00dcf5);
        font-size: 18px;
      }
    }

    .bg {
      position: fixed;
      display: none;
      z-index: 999;
      background: rgba(0, 0, 0, .7);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;

      &.on {
        display: block;
      }
    }
  }
}

// page common
.fp_page {
  padding: 0 16px;
  padding-top: 100px;

  .center {
    @include layout();
    min-height: 100%;
  }
}

// page1
.page1 {
  background: url(../images/main/page1_bg.png) no-repeat center / cover;

  .center {
    @include flex($jc: space-between);

    .box {
      &.box1 {
        h2 {
          @include txt_pop_sb30px();
          margin-bottom: 30px;
        }
    
        h3 {
          font-family: 'Pretendard-Bold';
          font-size: 52px;
          line-height: 70px;
          color: #fff;
          word-spacing: 10px;
          margin-bottom: 30px;

          span {
            word-spacing: normal;
            background: linear-gradient(to right, #04dc49, #00dcf5 96%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
    
        p {
          font-family: 'Pretendard-Regular';
          color: #fff;
          font-size: 22px;
          line-height: 36px;
        }
      }

      &.box2 {
        .slider {
          @include flex($ai:flex-end, $fd: column, $g: 24px);

          .area {
            @include flex($ai:flex-end, $fd: column, $g: 24px);
            
            .item {
              padding-top: 28px;
              width: 160px;
              height: 160px;
              background-color: rgba(255, 255, 255, 0.7);
              background-position: center 56px;
              background-repeat: no-repeat;
              background-size: 80px;
              cursor: pointer;
    
              &.item1 {
                background-image: url(../images/icon/ico_main_01.svg);
              }
    
              &.item2 {
                background-image: url(../images/icon/ico_main_02.svg);
              }
    
              &.item3 {
                background-image: url(../images/icon/ico_main_03.svg);
              }
    
              &.item4 {
                background-image: url(../images/icon/ico_main_04.svg);
              }
    
              p {
                &.title {
                  text-align: center;
                  font-size: 20px;
                  font-family: 'Pretendard-Medium';
                }
    
                &.text {
                  font-family: 'Pretendard-Light';
                  font-size: 16px;
                  line-height: 22px;
                  text-indent: -9999px;
                  opacity: 0;
                  color: #fff;
                  margin-top: 6px;
                  white-space: nowrap;
                }
              }
    
              &:hover {
                width: 342px;
                transition: .3s;
                background-color: rgba(0, 0, 0, 0.3);
                background-position: 34px center;
                padding: 45px 42px 44px 134px;
    
                &.item1 {
                  background-image: url(../images/icon/ico_main_01_w.svg);
                }
      
                &.item2 {
                  background-image: url(../images/icon/ico_main_02_w.svg);
                }
      
                &.item3 {
                  background-image: url(../images/icon/ico_main_03_w.svg);
                }
      
                &.item4 {
                  background-image: url(../images/icon/ico_main_04_w.svg);
                }
    
                p {
                  &.title {
                    color: #fff;
                    text-align: left;
                  }
      
                  &.text {
                    text-indent: unset;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// page2
.page2 {
  padding-top: 150px;
  padding-bottom: 150px;

  .center {
    @include flex($fd: column, $g: 70px);

    .box {
      &.box1 {
        text-align: center;

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
        }
      }

      &.box2 {
        width: 100%;

        .slider {
          @include flex($g: 24px);

          .item {
            width: calc(33.33% - 16px);

            .flip {
              width: 100%;
              height: 580px;
              perspective: 1100px;
              cursor: pointer;
    
              .card {
                width: 100%; 
                height: 100%; 
                position: relative;
                transition: .4s;
                transform-style: preserve-3d;
    
                .front, .back {
                  position: absolute;
                  width: 100%; 
                  height: 100%;
                  backface-visibility: hidden;
                  border-radius: 24px;
                  overflow: hidden;
                }
    
                .front {
                  padding: 80px 40px;
    
                  &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    right: 40px;
                    bottom: 40px;
                    border-radius: 100%;
                    background: rgba(255, 255, 255, .5) url(../images/icon/ico_hover.svg) no-repeat center / 33px;
                  }
    
                  .title {
                    display: inline-block;
                    font-family: 'Poppins-Medium';
                    font-size: 22px;
                    line-height: 34px;
                    padding: 8px 20px;
                    background: #fff;
                    border-radius: 23px;
                    color: #000;
                    margin-bottom: 24px;
                  }
    
                  .text {
                    font-family: 'Pretendard-ExtraBold';
                    font-size: 38px;
                    line-height: 58px;
                    color: #fff;
                  }
                }
      
                .back {
                  transform: rotateY(180deg);
                  padding: 56px 36px 46px 36px;
                  border: 4px solid #dfdfdf;
    
                  &::before {
                    width: 100%;
                    height: 100%;
                    max-width: calc(100% - 72px);
                    @include ba_elm();
                  }
    
                  ul {
                    li {
                      position: relative;
                      font-family: 'Pretendard-Regular';
                      font-size: 22px;
                      line-height: 32px;
                      color: #000;
                      padding-left: 9px;
    
                      &::before {
                        @include ba_elm();
                        width: 3px;
                        height: 3px;
                        background: #000;
                        left: 0;
                        top: 13px;
                      }
                    }
                  }
                }
              }
    
              &.flip1 {
                .card {
                  .front {
                    background: #03dc80;
                  }
    
                  .back {
                    &::before {
                      background: url(../images/main/page2_img1.png) no-repeat center bottom / contain;
                      bottom: 50px;
                      max-height: 108px;
                    }
                  }
                }
              }
    
              &.flip2 {
                .card {
                  .front {
                    background: #73e4ef;
                  }
    
                  .back {
                    &::before {
                      background: url(../images/main/page2_img2.png) no-repeat center bottom / contain;
                      bottom: 26px;
                      max-height: 290px;
                    }
                  }
                }
              }
    
              &.flip3 {
                .card {
                  .front {
                    background: #f1f1f1;
                    
                    &::before {
                      background: rgba(255, 255, 255, .7) url(../images/icon/ico_hover_g.svg) no-repeat center / 33px;
                    }
    
                    .text {
                      color: #000;
                    }
                  }
    
                  .back {
                    padding-right: 26px;
                    &::before {
                      background: url(../images/main/page2_img3.png) no-repeat center bottom / contain;
                      bottom: 50px;
                      max-height: 277px;
                    }
                  }
                }
              }
    
              &:hover {
                .card {
                  transform: rotateY(180deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

// page3
.page3 {
  padding-top: 150px;
  padding-bottom: 110px;
  background: #f9f9f9;

  .center {
    @include flex($fd: column, $g: 70px);

    .box {
      text-align: center;

      &.box1 {

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();

          span {
            font-family: 'Pretendard-SemiBold';
            font-size: 42px;
            color: #999;
          }
        }
      }

      &.box2 {
        .slider {
          width: 100%;
          max-width: 1440px;
          padding: 0 140px;
          background: #fff;

          button {
            background: transparent;
            border: unset;
            outline: none;
            text-indent: -9999px;
          }

          .slick-arrow {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            background: url(../images/icon/ico_str_arr_off.svg) no-repeat center / contain;
            
            &:hover {
              transition: .3s;
              background: url(../images/icon/ico_str_arr_on.svg) no-repeat center / contain;
            }

            &.slick-prev {
              left: 30px;
            }

            &.slick-next {
              transform: translateY(-50%) rotate(180deg);
              right: 30px;
            }
          }
          

          .item {
            @include flex($fd: column, $jc: flex-start);
            padding: 60px 0 60px;
            height: 564px;

            h4 {
              @include txt_pre_eb38px();
              margin-bottom: 20px;
            }

            p {
              @include txt_pre_r22px();
              max-width: 1000px;
              margin-bottom: 40px;

              span {
                font-family: 'Pretendard-SemiBold';
                color: #03dc80;
              }
            }

            .img {
              width: 100%;
              max-width: 1000px;
              height: 100%;
              max-height: 280px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;

              &.img1 {
                background-image: url(../images/main/page3_img1.png);
              }

              &.img2 {
                background-image: url(../images/main/page3_img2.png);
              }

              &.img3 {
                background-image: url(../images/main/page3_img3.png);
              }
            }
          }
        }
      }
    }
  }
}

// page4
.page4 {
  padding-top: 150px;
  padding-bottom: 88px;

  .center {
    @include flex($jc: flex-start, $fd: column, $g: 70px);

    .box {
      &.box1 {
        text-align: center;

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
          margin-bottom: 20px;
        }

        p {
          font-family: 'Pretendard-Regular';
          font-size: 20px;
          line-height: 30px;
          color: #000;
        }
      }

      &.box2 {
        width: 100%;

        ul {
          @include flex($g: 24px);
          flex-wrap: wrap;
          margin-bottom: 70px;

          li {
            a {
              white-space: nowrap;
              font-family: 'Pretendard-Medium';
              display: inline-block;
              font-size: 24px;
              line-height: 29px;
              padding: 11.5px 44px;
              border-radius: 26px;
              background: #f9f9f9;
              color: #000;
            }

            &.on {
              a {
                transition: .3s;
                font-family: 'Pretendard-Bold';
                background: #000;
                color: #fff;
              }
            }
          }
        }

        .img_box {
          position: relative;
          width: 100%;
          max-width: 1440px;
          height: 394px;
          overflow: hidden;

          .tab {
            @include img_set();
            @include flex();
            left: 50%;
            transform: translateX(-100%);
            position: absolute;
            opacity: 0;
            width: 100%;

            &:nth-child(even) {
              transform: translateX(0);
            }
  
            &.on {
              transform: translateX(-50%);
              opacity: 1;
              transition: .4s;
            }
  
            &.tab1 {
              background-image: url(../images/main/page4_img1.png);
              height: 335px;
            }
  
            &.tab2 {
              background-image: url(../images/main/page4_img2.png);
              height: 210px;
            }
  
            &.tab3 {
              background-image: url(../images/main/page4_img3.png);
              height: 210px;
            }
  
            &.tab4 {
              background-image: url(../images/main/page4_img4.png);
              height: 394px;
            }
  
            &.tab5 {
              background-image: url(../images/main/page4_img5.png);
              height: 210px;
            }
  
          }
        }
      }
    }
  }
}

// page5
.page5 {
  padding-top: 150px;
  padding-bottom: 150px;

  .center {
    @include flex($jc: flex-start, $fd: column, $g: 70px);

    .box {
      text-align: center;

      &.box1 {

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
          margin-bottom: 20px;
        }

        p {
          font-family: 'Pretendard-Regular';
          font-size: 20px;
          line-height: 30px;
          color: #000;
        }
      }

      &.box2 {
        width: 100%;

        .slider {
          @include flex($g: 24px);

          .item {
            position: relative;
            width: calc(33.33% - 16px);
            height: 580px;
            padding: 80px 33px 0;
            background: #f9f9f9;
            border-radius: 24px;
  
            h4 {
              @include txt_pre_eb38px();
            }
  
            p {
              @include txt_pre_r22px();
            }
  
            &::before {
              @include ba_elm();
              left: 50%;
              transform: translateX(-50%);
              bottom: 50px;
              width: calc(100% - 66px);
              max-width: 397px;
              height: 100%;
            }
  
            &.item1 {
              &::before {
                max-height: 250px;
                background: url(../images/main/page5_img1.png) no-repeat center / contain;
              }
            }
  
            &.item2 {
              &::before {
                max-height: 250px;
                background: url(../images/main/page5_img2.png) no-repeat center / contain;
              }
            }
  
            &.item3 {
              &::before {
                max-height: 273px;
                background: url(../images/main/page5_img3.png) no-repeat center / contain;
              }
            }
          }
        }
      }
    }
  }
}

// page6
.page6 {
  padding-top: 150px;
  padding-bottom: 150px;
  background: #f2fffa;

  .center {
    @include flex($fd: column, $g: 70px);

    .box {
      &.box1 {
        text-align: center;

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
          margin-bottom: 20px;
        }

        p {
          font-family: 'Pretendard-Regular';
          font-size: 20px;
          line-height: 30px;
          color: #000;
        }
      }

      &.box2 {
        .slider {
          width: 100%;
          max-width: 1440px;
          padding: 0 140px;
          background: #fff;

          button {
            background: transparent;
            border: unset;
            outline: none;
            text-indent: -9999px;
          }

          .slick-arrow {
            position: absolute;
            width: 80px;
            height: 80px;
            cursor: pointer;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            background: url(../images/icon/ico_str_arr_off.svg) no-repeat center / contain;
            
            &:hover {
              transition: .3s;
              background: url(../images/icon/ico_str_arr_on.svg) no-repeat center / contain;
            }

            &.slick-prev {
              left: 30px;
            }

            &.slick-next {
              transform: translateY(-50%) rotate(180deg);
              right: 30px;
            }
          }
          
          .item {
            @include flex($jc: space-between);
            height: 538px;
            padding-left: 106px;
            padding-right: 81px;

            .text_box {
              h4 {
                font-family: 'Pretendard-Bold';
                font-size: 32px;
                line-height: 40px;
                color: #000;
                margin-bottom: 30px;
              }
              
              ul {
                max-width: 364px;

                li {
                  position: relative;
                  font-family: 'Pretendard-Regular';
                  font-size: 20px;
                  line-height: 32px;
                  padding-left: 9px;
                  color: #999;

                  &::before {
                    @include ba_elm();
                    width: 3px;
                    height: 3px;
                    left: 0;
                    top: 13px;
                    background: #999;
                  }
                }
              }
            }

            .img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;

              &.img1 {
                max-width: 396px;
                max-height: 283px;
                background-image: url(../images/main/page6_img1.png);
              }

              &.img2 {
                max-width: 574px;
                max-height: 302px;
                background-image: url(../images/main/page6_img2.png);
              }

              &.img3 {
                max-width: 464px;
                max-height: 453px;
                background-image: url(../images/main/page6_img3.png);
              }
            }
          }
        }
      }
    }
  }
}

// page7
.page7 {
  padding-top: 150px;
  padding-bottom: 140px;

  .center {
    @include flex($fd: column, $g: 70px);

    .box {
      &.box1 {
        text-align: center;

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
        }
      }

      &.box2 {
        .slider {
          width: 100%;
          max-width: 1440px;
          background: #fff;

          .slick-dots {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -34px;
            @include flex($fd: column, $g: 25px);

            li {
              button {
                cursor: pointer;
                text-indent: -9999px;
                width: 14px;
                height: 14px;
                background: #dfdfdf;
                border: none;
                border-radius: 100%;
              }
            }

            li.slick-active {
              button {
                background: #03dc80;
              }
            }
          }

          .item {
            @include flex($fd: column, $jc: flex-start, $ai: flex-start, $g: 40px);
            width: 100%;
            height: 668px;

            h4 {
              font-family: 'Poppins-Regular';
              font-size: 30px;
              color: #999;
            }

            .img {
              width: 100%;
              max-width: 1440px;
              height: 100%;
              max-height: 585px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;

              &.img1 {
                background-image: url(../images/main/page7_img1.png);
              }

              &.img2 {
                background-image: url(../images/main/page7_img2.png);
              }
            }
          }
        }
      }
    }
  }
}

// page8
.page8 {
  padding-top: 150px;
  padding-bottom: 120px;

  .center {
    @include flex($fd: column, $g: 70px);

    .box {
      &.box1 {
        text-align: center;

        h2 {
          @include txt_pop_sb30px();
        }

        h3 {
          @include txt_pre_eb56px();
        }
      }

      &.box2 {
        width: 100%;
        .map_wrap {
          max-width: 1440px;
          height: 450px;
          margin-bottom: 40px;

          iframe {
            width: 100%;
            height: 100%;
          }
        }

        .text_wrap {
          @include flex($jc: space-between);

          > .text {
            font-family: 'Pretendard-ExtraBold';
            font-size: 30px;
            line-height: 45px;
            color: #000;
          }

          .text_box {
            @include flex($g: 30px, $ai: flex-start);
            .text {
              font-family: 'Pretendard-SemiBold';
              font-size: 18px;
              letter-spacing: -.36px;
              color: #999;

              span {
                display: block;
                margin-top: 21px;
                font-family: 'Pretendard-Medium';
                font-size: 16px;
                line-height: 21px;
                letter-spacing: .48px;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

// footer
footer {
  position: relative;
  overflow: visible !important;

  @include flex($fd: column, $g: 8px);
  &.fp_page {
    padding: 58px 16px;
    background: #f1f1f1;
  }

  div {
    @include flex($g: 17px);
  }

  p {
    position: relative;
    font-family: 'Pretendard-Light';
    font-size: 14px;
    color: #999;

    &::before {
      @include ba_elm();
      width: 1px;
      height: 100%;
      background: #d9d9d9;
      top: 0;
      right: -8px;
    }

    &:last-of-type {
      &::before {
        display: none;
      }
    }
  }

  // top btn
  .fp_top_btn {
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: -40px;
    right: 8.3%;
    transform: translateX(320px);
    width: 80px;
    height: 80px;
    text-indent: -9999px;
    transition: .3s;
    border: none;
    background: url(../images/icon/btn_top.svg) no-repeat center / contain;

    &:hover {
      background: url(../images/icon/btn_top_hover.svg) no-repeat center / contain;
    }
  }

  &.now {
    .fp_top_btn {
      transform: translateX(0);
    }
  }
}

// login
.login_wrap {
  height: 100vh;
  padding: 0 20px;
  background: url(../images/main/login_bg.png) no-repeat center / cover;
  @include flex();
  
  .login {
    width: 100%;
    height: 100%;
    max-width: 782px;
    max-height: 607px;
    padding: 0 20px;
    background: #fff;
    @include flex($fd: column);

    h1 {
      @include txt_hide();
      background: url(../images/icon/logo-m.svg) no-repeat center / contain;
      width: 100%;
      height: 100%;
      max-width: 300px;
      max-height: 30px;
      margin-bottom: 66px;
    }

    p {
      font-family: 'Pretendard-Regular';
      font-size: 20px;
      color: #ccc;
      margin-bottom: 21px;
    }

    .input_box {
      width: 100%;
      margin-bottom: 13px;
      
      input {
        display: block;
        width: 100%;
        max-width: 440px;
        margin: 0 auto;
        border: none;
        font-family: 'Pretendard-Regular';
        font-size: 16px;
        color: #9e9e9e;
        outline: none;
        padding: 17px 0;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 22px;
      }
    }

    .btn_box {
      width: 100%;
      max-width: 440px;

      input {
        display: none;
      }

      input[type=checkbox] + label {
        cursor: pointer;
        font-family: 'Pretendard-Medium';
        font-size: 15px;
        line-height: 22px;
        color: #666666;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        i {
          display: block;
          box-sizing: border-box;
          width: 22px;
          height: 22px;
          margin-right: 12px;
          background: url(../images/icon/chk_off.svg) no-repeat center / contain;
        }
      }

      input[type=checkbox]:checked + label {

        i {
          background: url(../images/icon/chk_on.svg) no-repeat center / contain;
        }
      }

      button {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        border: none;
        height: 70px;
        font-family: 'Pretendard-SemiBold';
        font-size: 26px;
        color: #fff;
        background: linear-gradient(to right, #04dc49 -1%, #00dcf5 102%);

        span {
          position: relative;
          z-index: 99;
        }

        &::before {
          @include ba_elm();
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #1f6447;
          transition: .3s;
          opacity: 0;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}