@media only screen and (max-width: 1400px) {
    .progressBar {
        top: 97%;
    }

    .container.main {


        .contents .customSliderWrap .slick-arrow  {
            right: -1rem;
            width: 4rem;
            height: 4rem;
            &.slick-prev {
                right: 6.25rem;
                &::after{
                    right: calc(100% + 1.5rem);
                    height: 2rem;
                }
            }
        }

        .strenghts .customSliderWrap .slick-arrow {
            top: -7rem;

            width: 4rem;
            height: 4rem;
            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }

        .iMBC_video .titleWrap {
            padding-right: 4rem;
        }
        .iMBC_banner {
            .titleWrap{
                padding: 15rem 2rem 6rem;
            }
            .scrollSliderWrap{
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    

    .customSliderWrap {
        width: 100%;

        .customSlider {
            height: 80rem;
        }
    }

    .progressBar {
        position: absolute;
        bottom: 5%;
        left: 2rem;
        width: calc(100% - 4rem);
        height: 0.4rem;
        i {
            width: 16%;
        }
    }

    .container.main {
        
        .page:not(.intro,.iMBC_banner ,.footer) {
            .center {
                @include centerPositionMob();
                padding: 10rem 0 5rem;
            }

            &.now {
                .center {
                    animation: ani-fadein 1s forwards ease-in-out;
                }
            }

        }
        
        h2 {
            margin: 0 0 4rem;
            font-size: 2.8rem;

            &::after {
                width: 0.6rem;
                height: 0.6rem;
            }
        }

        h3 {
            font-size: 2rem;
        }

        .intro {
            .bgCont {
                i {

                    &:nth-child(1) {
                        top: 21%;
                        left: -14%;
                        width: 14.9rem;
                        height: 15.2rem;
                    }

                    &:nth-child(2) {
                        top: 61.5%;
                        left: 31.5%;
                        width: 12.7rem;
                        height: 12.2rem;
                    }

                    &:nth-child(3) {
                        top: 90%;
                        left: 69%;
                        width: 12.6rem;
                        height: 12.3rem;
                    }

                    &:nth-child(4) {
                        top: 24%;
                        left: 70%;
                        width: 9.1rem;
                        height: 8.3rem;
                    }

                    &:nth-child(5) {
                        display: none;
                    }

                    &:nth-child(6) {
                        top: 11%;
                        left: 53%;
                        width: 6.9rem;
                        height: 5.3rem;
                    }

                    &:nth-child(7) {
                        display: none;
                    }

                    &:nth-child(8) {
                        top: 97%;
                        left: 29%;
                        width: 8.5rem;
                        height: 9.4rem;
                        background-image: url(../images/intro/main_img08_m.png);
                    }

                    &:nth-child(9) {
                        top: 60%;
                        left: -5%;
                        width: 9.6rem;
                        height: 6.2rem;
                    }

                }
            }

            .center {
                top: calc(50% + 2rem) !important;
                
                p {
                    margin-top: 6rem;
                    font-size: 2.4rem;

                    &::before {
                        width: 15.9rem;
                        height: 10.6rem;
                        background-image: url(../images/intro/m_imbc_logo.svg);
                        margin: 0 auto 3rem;
                    }
                }

                ul {
                    flex-direction: column;
                    gap: 2rem;
                    margin-top: 14rem;

                    .btn {
                        width: 20rem;
                        height: 4rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .contents {
            h2 {
                line-height: 1.25;

                &::after {
                    left: calc(100% + 0.1rem);
                    bottom: 0.7rem;
                }
            }
            .slick-slide{
                overflow: hidden;
            }
            .center {
                padding: 13rem 0 0rem;
            }

            .customSliderWrap {
                .csBtnWrap {
                    button {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                .contBox {
                    >p {
                        font-size: 1.8rem;
                    }
                }
            }

            .contents-01,
            .contents-02 {
                .contBox {
                    flex-direction: column;
                }
            }

            .contents-01 {
                .contBox {
                    gap: 2rem;

                    >p::after {
                        width: 19.4rem;
                        height: 31.7rem;
                        margin: 2rem 0 0;
                        background-image: url(../images/intro/sec1_img01_m.png);

                    }

                    ul {
                        gap: 1.6rem;
                        max-width: 32rem;
                        li {
                            width: 15rem;
                            height: 14.4rem;
                            padding: 2rem 1.5rem;
                            font-size: 1.2rem;

                            .title {
                                font-size: 2rem;
                            }

                            .i {
                                &::after {
                                    left: calc(100% + 0.5rem);
                                    width: 0.4rem;
                                    height: 0.4rem;
                                }
                            }
                        }
                    }
                }
            }

            .contents-02 {
                .contBox {
                    gap: 5rem;
                    align-items: center;
                    >p::after {
                        width: 36rem;
                        height: 32rem;
                        margin: 4.6rem 0 0;
                        background-size: cover;
                    }

                    ul {
                        width: 100%;

                        li {
                            min-height: 5rem;
                            margin: 0 0 3.2rem;
                            font-size: 1.8rem;

                            &::before,
                            &::after {
                                width: 0.8rem;
                                height: 0.8rem;
                            }

                            &::before {
                                top: 0.8rem;
                            }
                        }
                    }
                }

            }

            .contents-03 {
                .graphWrap {
                    flex-direction: column;
                    gap: 3rem;
                    margin: 0;

                    .chartD {
                        font-size: 1.6rem;

                        .cdIndex {
                            span {
                                font-size: 1.4rem;
                            }

                            &:nth-of-type(1) {
                                left: 68%;
                            }

                            &:nth-of-type(2) {
                                left: -1%;
                            }
                        }

                        .ani_chartD {
                            width: 24rem;
                            height: 24rem;

                            span {
                                width: 10.9rem;
                                height: 10.9rem;
                            }

                            &::after {
                                top: 55.5%;
                            }
                        }
                    }

                    .chartB {
                        flex: auto;
                        width: 50%;
                        min-width: 32.6rem;
                        height: 31rem;
                        background-image: url(../images/intro/sec1_img3_m.svg);
                        background-size: 32.6rem auto;
                        background-repeat: no-repeat;
                        background-position:  center 3.5rem;
                        font-size: 1.4rem;
                        ul {
                            width: 27.2rem;
                            padding: 0;
                            margin: 0rem auto;
                            background-image: none;
                            transform: rotate(-90deg);
                            li {    
                                text-align: center;
                                margin:  0 0 3rem;
                                >span {
                                    transform: rotate(90deg);
                                    width: 5rem;
                                }
                            }
                        }

                        .ani_chartB {
                            height: 2.8rem;
                            span {
                                top: 30%;
                                left: calc(100% - 3.5rem);
                                transform: rotate(90deg);
                            }
                        }
                    }
                }

                p:nth-of-type(2) {
                    margin-top: 1.4rem;
                    font-size: 1.4rem;
                }
            }

        }

        .strenghts {
            h2 {
                margin: 0 auto 4rem;
            }

            .customSliderWrap {
                .csBtnWrap {
                    button {
                        top: -7rem;
                        width: 4rem;
                        height: 4rem;
                        margin: 0 0 2rem;
                    }
                }

                .contBox {
                    >p {
                        padding:  0 0.5rem;
                        font-size: 1.8rem;
                        @include fontB();
                    }
                }
            }

            .strenghts-01 {
                .visualBox {
                    width: 22.3rem;
                    height: 16.8rem;
                    padding: 1.3rem 1.5rem;
                }

                .txtBox {
                    span {
                        font-size: 1.2rem;

                        &.title {
                            font-size: 1.4rem;
                            margin: 0.8rem 0 0.5rem;
                        }
                    }
                }

                .contBox {
                    >ul {
                        flex-direction: column;
                        align-items: center;
                        gap: 3rem;
                        width: 100%;
                        >li {
                            &:not(:first-child) {
                                &::before {
                                    display: none;
                                }
                            }
                            &:nth-child(2){
                                .visualBox{
                                    >div{
                                        
                                    &::before{
                                        width: 6.5rem ;
                                        height: 8.5rem;
                                        margin: 0 auto 1rem;
                                        background-image: url(../images/intro/sec2_DMP_01_m.png);
                                    }
                                    
                                    &:nth-child(2)::before{
                                        width: 5.1rem;
                                        height: 6rem;
                                        margin-top: 1rem;
                                        background-image: url(../images/intro/sec2_DMP_02_m.png);
                                    }
                                    }

                                }

                            }
                            &:nth-child(3){
                                .visualBox{
                                    width: 25.8rem;
                                    height: 11rem;
                                    padding: 0;
                                    background-color: transparent;
                                    ul{
                                        li{
                                            padding: 0.6rem 1.2rem;
                                            margin: 0 0.3rem 1rem;
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }

            .strenghts-02 {
                .contBox {
                    >div {
                        margin-top: 10rem;
                        p {
                            position: inherit;
                            margin: 4rem 0 0;
                            padding:0;
                            background-color: transparent;
                            font-size: 1.6rem;
    
                            >span {
                                color: $blue-txt;
                            }
                        }
                    }
                }

            }

            .strenghts-03 {
                .contBox{
                    >ul{
                        gap: 2.5rem;
                        max-width: 36rem;
                        margin: 7rem auto 0;
                        li{
                            padding-left: 9.5rem;
                            &::before{
                                top: 45%;
                                width: 8rem;
                                height: 8rem;
                            }
                            >div{
                                width: calc(100% - 28.3rem);
                                font-size: 1.3rem;
                            }
                            span{
                                top: 3rem;
                            }
                            .title {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
        .iMBC_video{
            .titleWrap{
                display: block;
                h2{
                    margin: 0 0 2.5rem;                    
                }
            }
            .contBox{
                flex-direction: column;
                align-items: center;
                gap: 4rem;
                >img{
                    max-width: 32rem;
                    margin: 4rem auto 0;
                }
                .adBox {
                    .boxTitle {
                        padding: 1rem 0;
                        font-size: 1.8rem;
                    }
    
                    p {
                        padding:  0 2rem;
                        margin: 1.4rem 0 4rem;
                        font-size: 1.3rem;
                        text-align: center;
                    }
    
                    ul {
                        width: fit-content;
                        margin: 0 auto;
                        li {
                            gap: 1rem;
                            font-size: 1.2rem;
                            &:not(:first-child) {
                                margin-top: 2.2rem;
                            }
    
                            .title {
                                width: 7.5rem;
                                height: 4rem;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
        .iMBC_banner{
            .titleWrap {
                position: inherit;
                top: 0%;
                padding: 10rem 2rem 6rem;
                h2 {
                    margin-bottom: 2rem;
                }
            }
            .slick-dots{
                float: none;
                margin: 5rem auto 7rem;
            }
            .adBox {
                img {
                    max-width: 32rem;
                }
    
                .boxTitle {
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }
    
                p {
                    margin: 2rem 0 2rem;
                    height: 4rem;
                    font-size: 1.3rem;
                }
    
                ul {
                    width: fit-content;
                    margin: 0 auto;
                    li {
                        gap: 1.5rem;
                        font-size: 1.2rem;
    
                        .title {
                            width: 6.5rem;
                            min-width: 6.5rem;
                            font-size: 1.4rem;
                            @include fontSB();
                        }
                        &:not(:first-child){
                            span:not(.title){
                                line-height: 2.75;
                            }
                        }
                    }
                }
    
            }
            .scrollSliderWrap {
                float: none;
                width: 100%;
                .slickSlider  {
                    gap: 0;
                    .slickItem {
                        width: 100vw !important;
                        height: 58rem;
                        &:nth-child(n+5) {
                            width: 100vw;
                            .adBox {
                                img{
                                       max-height: 32rem;
                                }
                                p { 
                                    margin: 0 0 2rem;
                                }
                            }
                        }
                        &:last-child{
                            ul{
                                li:first-child{
                                    span:not(.title){
                                        line-height: 1.75;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
    
                        } 
                    }
                }
            }

        }
        .contact{
            .center{
                h2{
                    float: none;
                }
                .contactFormWrap{
                    float: none;
                    width: 100%;
                    max-width: 36rem;
                    margin: 0 auto;
                    ul{
                        row-gap: 2rem;
                        padding-top: 0;
                        input[type=checkbox] + label{
                            margin-right: 1.8rem;
                        }
                        li{
                            .title{
                                margin: 0 0 0.5rem;
                                @include fontEB();
                            }
                        }
                    }
                }
                .btnWrap {
                    clear: both;
                    position: inherit;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    max-width: 43rem;
                    padding: 4rem 0;
                    margin: 0 auto;
                    .btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}



//PC max-height 768
@media only screen and (min-width: 768px) and (max-height: 880px){


    .container.main {
        
        .page:not(.intro,.iMBC_banner ,.footer) {
            .center {
                @include centerPositionMob();
                margin: 22rem auto 15rem;
            }

            &.now {
                .center {
                    animation: ani-fadein 1s forwards ease-in-out;
                }
            }

        }
    }
}