@charset "UTF-8";
.common-banner.type1 .content-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding-top: 68px;
  padding-bottom: 58px;
  background-image: url(../images/common/common-banner-type1-bg.png);
}
.common-banner.type1 .content-box.type1 {
  padding-bottom: 40px;
}
.common-banner.type1 .content-box.type1 .container .text-box {
  padding-bottom: 40px;
}
.common-banner.type1 .content-box .container .text-box {
  display: flex;
  align-items: flex-end;
  gap: 26px;
}
.common-banner.type1 .content-box .container .text-box > .title {
  font-family: "Pretendard-Bold";
  font-size: 90px;
  line-height: 108px;
  letter-spacing: -0.9px;
  color: #fff;
}
.common-banner.type1 .content-box .container .text-box > .text {
  font-family: "Pretendard-Light";
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.18px;
  color: #fff;
  margin-bottom: 19px;
}
.common-banner.type1 .content-box .container .input-box {
  display: flex;
  gap: 10px;
}
.common-banner.type1 .content-box .container .input-box .search {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 80px;
  height: 50px;
  border-radius: 12px;
  background-color: #fc3220;
  background-image: url(../images/icon/search-type1.png);
  background-size: 36px;
}

.common-tab.type1 .content-box {
  display: flex;
  gap: 51px;
}
.common-tab.type1 .content-box .item .link {
  font-family: "Pretendard-Medium";
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.22px;
  position: relative;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  display: block;
  color: #111;
}
.common-tab.type1 .content-box .item .link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  border-radius: 2px;
  background: #fc3220;
}
.common-tab.type1 .content-box .item.on .link {
  font-family: "Pretendard-Bold";
  color: #fc3220;
}
.common-tab.type1 .content-box .item.on .link::before {
  width: 100%;
}

.common-notice.type1 > .title {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  margin-bottom: 12px;
}
.common-notice.type1 > .title span {
  color: #fc3220;
}
.common-notice.type1 .content-box {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  overflow: hidden;
}
.common-notice.type1 .content-box .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px 0 22px;
  border-bottom: solid 1px #d4d4d4;
  opacity: 0;
  transition: 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(30%);
}
.common-notice.type1 .content-box .item:last-of-type {
  border-bottom: none;
}
.common-notice.type1 .content-box .item .text-box {
  display: flex;
  align-items: center;
  gap: 85px;
}
.common-notice.type1 .content-box .item .text-box > .title {
  font-family: "Pretendard-Regular";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #111;
  width: 83px;
  text-align: center;
}
.common-notice.type1 .content-box .item .text-box > .link {
  font-family: "Pretendard-Medium";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #111;
  width: 329px;
}
.common-notice.type1 .content-box .item .text-box > .link:hover {
  text-decoration: underline;
}
.common-notice.type1 .content-box .item .date {
  font-family: "Pretendard-Light";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.common-notice.type1 .content-box .item .views {
  font-family: "Pretendard-Light";
  margin-right: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.common-notice.type1 .content-box .item .views span {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 12px;
  background-image: url(../images/icon/viewer.png);
}
.common-notice.type1.s-react {
  opacity: 0;
  transition: 0.85s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.common-notice.type1.s-react.on {
  opacity: 1;
}
.common-notice.type1.s-react.on .content-box .item {
  opacity: 1;
  transform: translateY(0);
}

.common-navigation.type1 .content-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.common-navigation.type1 .content-box .arrow {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/notice-type1-arrow.png);
}
.common-navigation.type1 .content-box .arrow.double {
  background-image: url(../images/icon/notice-type1-arrow-double.png);
}
.common-navigation.type1 .content-box .arrow.right {
  transform: rotate(180deg);
}
.common-navigation.type1 .content-box .num-list {
  display: flex;
  align-items: center;
  gap: 33px;
  height: 40px;
  padding: 0 8px;
}
.common-navigation.type1 .content-box .num-list .num a,
.common-navigation.type1 .content-box .num-list .num button {
  font-family: "Pretendard-Medium";
  position: relative;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #111;
}
.common-navigation.type1 .content-box .num-list .num a:hover,
.common-navigation.type1 .content-box .num-list .num button:hover {
  text-decoration: underline;
}
.common-navigation.type1 .content-box .num-list .num.on a,
.common-navigation.type1 .content-box .num-list .num.on button {
  color: #fff;
}
.common-navigation.type1 .content-box .num-list .num.on a::before,
.common-navigation.type1 .content-box .num-list .num.on button::before {
  content: "";
  display: block;
  position: absolute;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fc3220;
  z-index: -1;
}

.common-input.file {
  cursor: pointer;
}
.common-input.file.type1 {
  font-family: "Pretendard-Regular";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #8e8e8e;
  width: 100%;
  height: 50px;
  border: solid 1px #d4d4d4;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.common-input.file.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 50px;
  background: #fff;
  right: 0;
}
.common-input.file.type1 span {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  min-width: 21px;
  height: 21px;
  background-image: url(../images/icon/file-type1.png);
}

.common-email-list {
  padding: 25px;
  border-radius: 8px;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}
.common-email-list .email-box {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.common-email-list .email-box .email {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
  display: flex;
  align-items: center;
  gap: 14px;
}
.common-email-list .email-box .email span {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  display: block;
  width: 24px;
  height: 24px;
}
.common-email-list .email-box .email span.kakao {
  background-image: url(../images/icon/kakao-logo.png);
}
.common-email-list .email-box .email span.naver {
  background-image: url(../images/icon/naver-logo.png);
}
.common-email-list .email-box .email span.google {
  background-image: url(../images/icon/google-logo.png);
}

.common-foo-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.common-foo-link-box a {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #6e6e6e;
  padding-right: 14px;
  margin-right: 13px;
}
.common-foo-link-box a:hover {
  text-decoration: underline;
}
.common-foo-link-box a::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background: #d4d4d4;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.common-foo-link-box a:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
.common-foo-link-box a:last-of-type::before {
  display: none;
}

.common-foo-text {
  font-family: "Pretendard-Light";
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #8e8e8e;
  text-align: center;
}

.common-btn.type1 {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: unset;
  height: 50px;
  border-radius: 8px;
  background-image: linear-gradient(102deg, #fc3220 3%, #f45526 116%);
}
.common-btn.type1.black {
  background: #1e1e1e;
}
.common-btn.type2 {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #ff5b29;
}
.common-btn.type2:hover {
  text-decoration: underline;
}

.common-info-box {
  border-radius: 8px;
  padding: 6px;
  background: #f5f5f5;
  border: solid 1px #d4d4d4;
  padding: 6px;
}
.common-info-box > div {
  height: 286px;
  overflow-y: auto;
  padding: 9px 44px 9px 14px;
  /* 스크롤바의 폭 너비 */
}
.common-info-box > div::-webkit-scrollbar {
  width: 6px;
}
.common-info-box > div::-webkit-scrollbar-thumb {
  background: #bebebe; /* 스크롤바 색상 */
  border-radius: 3px; /* 스크롤바 둥근 테두리 */
}
.common-info-box > div::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}
.common-info-box > div > .text {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.16px;
  color: #6e6e6e;
  margin-bottom: 24px;
}
.common-info-box > div > .text:last-of-type {
  margin-bottom: 0;
}

#popup-wrap {
  display: none;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#popup-wrap.on {
  display: block;
}
#popup-wrap .popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#popup-wrap .popup.on {
  display: block;
}

#popup-login {
  position: relative;
  z-index: 999999;
}
#popup-login .close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 26px;
  height: 26px;
  background-image: url(../images/icon/login-close.png);
  position: absolute;
  right: 0;
  top: -36px;
  transition: 0.3s;
}
#popup-login .close:hover {
  transform: rotate(90deg);
}
#popup-login .popup-content {
  display: flex;
  align-items: center;
  max-width: 960px;
  height: 560px;
  overflow: hidden;
  border-radius: 30px;
}
#popup-login .popup-content .content-box {
  height: 100%;
}
#popup-login .popup-content .content-box.content-box1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-image: url(../images/common/login-bg.png);
  position: relative;
  padding: 207px 123px 206px 50px;
}
#popup-login .popup-content .content-box.content-box1::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 41px;
  height: 34px;
  background-image: url(../images/common/login-cont1-2.png);
}
#popup-login .popup-content .content-box.content-box1 .title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 307px;
  height: 147px;
  background-image: url(../images/common/login-cont1-1.png);
}
#popup-login .popup-content .content-box.content-box2 {
  padding: 60px 80px 40px 80px;
  background: #fff;
}
#popup-login .popup-content .content-box.content-box2 .title {
  font-family: "Pretendard-Bold";
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -0.26px;
  color: #111;
  margin-bottom: 20px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 {
  position: relative;
  margin-bottom: 24px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box {
  position: relative;
  margin-bottom: 12px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box:first-of-type {
  margin-bottom: 4px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box input {
  display: block;
  min-width: 320px;
  height: 48px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box > .text {
  font-family: "Pretendard-Regular";
  display: none;
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #fc3220;
  width: unset;
  padding-right: 14px;
  padding-left: 14px;
  background: #fff;
  height: calc(100% - 2px);
  border-radius: 0 12px 12px 0;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box.on input {
  border-color: #fb3220;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .input-box.on > .text {
  display: flex;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 50px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .check-box input[type=checkbox] + label {
  font-size: 14px;
  letter-spacing: -0.14px;
  height: 20px;
  line-height: 20px;
  padding-left: 26px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .check-box input[type=checkbox] + label i {
  width: 20px;
  height: 20px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .link-box {
  display: flex;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .link-box > a {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #111;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .link-box > a:first-of-type {
  position: relative;
  padding-right: 7px;
  margin-right: 6px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .link-box > a:first-of-type::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 1px;
  background: #d4d4d4;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .list-box .link-box > a:hover {
  text-decoration: underline;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .warning-text {
  font-family: "Pretendard-Regular";
  display: none;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #fc3220;
  position: absolute;
  left: 0;
  bottom: 67px;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .warning-text.on {
  display: block;
}
#popup-login .popup-content .content-box.content-box2 .line.line1 .link {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 8px;
  background-image: linear-gradient(98deg, #fc3220 3%, #f45526 109%);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .text.text1 {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #111;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .text.text1::before, #popup-login .popup-content .content-box.content-box2 .line.line2 .text.text1::after {
  content: "";
  display: block;
  position: absolute;
  width: 130px;
  height: 1px;
  background: #d4d4d4;
  top: 50%;
  transform: translateY(-50%);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .text.text1::before {
  left: 0;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .text.text1::after {
  right: 0;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .text.text2 {
  font-family: "Pretendard-Light";
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.12px;
  color: #8e8e8e;
  text-align: center;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 {
  display: flex;
  gap: 4px;
  margin-bottom: 30px;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 a {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  transition: 0.3s;
  border-radius: 8px;
  background-size: 24px;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 a:hover {
  background-color: #dfdfdf;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 a.kakao {
  background-image: url(../images/icon/kakao-logo.png);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 a.naver {
  background-image: url(../images/icon/naver-logo.png);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box1 a.google {
  background-image: url(../images/icon/google-logo.png);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 a {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.13px;
  color: #111;
  padding-right: 7px;
  margin-right: 6px;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 a:hover {
  text-decoration: underline;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 a::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 9px;
  background: #d4d4d4;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 a:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
#popup-login .popup-content .content-box.content-box2 .line.line2 .link-box.link-box2 a:last-of-type::before {
  display: none;
}

.popup.basic {
  position: relative;
  min-width: 480px;
  padding: 62px 44px 40px;
  background: #fff;
  border-radius: 14px;
}
.popup.basic .close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/popup-close.png);
}
.popup.basic .text {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #111;
  margin-bottom: 50px;
  text-align: center;
}
.popup.basic .text span {
  font-family: "Pretendard-Bold";
  display: block;
  margin-bottom: 7px;
}
.popup.basic .common-email-list {
  margin: 0 auto;
  margin-bottom: 40px;
}
.popup.basic > .btn {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  color: #fff;
  border-radius: 8px;
  height: 50px;
  background-image: linear-gradient(98deg, #fc3220 3%, #f45526 116%);
}
.popup.basic > .btn.type1 {
  width: unset;
  padding: 0 58px;
  margin: 0 auto;
}
.popup.basic .btn-box {
  display: flex;
  gap: 6px;
}
.popup.basic .btn-box .common-btn {
  width: 100%;
}