@font-face {
  font-family: "Pretendard-Regular";
  src: url("../font/Pretendard-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("../font/Pretendard-Medium.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("../font/Pretendard-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("../font/Pretendard-Bold.woff") format("woff");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("../font/Pretendard-ExtraBold.woff") format("woff");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

body {
  color: #000;
}
body.scrollNone {
  overflow: hidden;
}

:root {
  --color1: #202236;
  --color2: #f2f3f5;
  --color3: #383c5e;
  --color4: #202236;
  --color5: #3143b5;
  --color6: #3143b5;
}

.hana {
  --color1: #00928f;
  --color2: #f2f5f3;
  --color3: #13c9be;
  --color4: #13c9be;
  --color5: #13c9be;
  --color6: #00928f;
}
.hana .ico-heart.on {
  background-image: url(../images/icon/heart-on_hana.png);
}
.hana .ico-check.on {
  background-image: url(../images/icon/check-on_hana.png);
}

.ico-arrow {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
}
.ico-arrow.type1 {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/arrow-type1.png);
}
.ico-arrow.type1.top {
  transform: rotate(0deg);
}
.ico-arrow.type1.right {
  transform: rotate(90deg);
}
.ico-arrow.type1.bottom {
  transform: rotate(180deg);
}
.ico-arrow.type1.left {
  transform: rotate(270deg);
}
.ico-arrow.type2 {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/arrow-type2.png);
}
.ico-arrow.type2.right {
  transform: rotate(0deg);
}
.ico-arrow.type2.bottom {
  transform: rotate(90deg);
}

.ico-close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
}
.ico-close.type1 {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/close-type1.png);
}
.ico-close.type2 {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/close-type2.png);
}

.ico-home {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/home.png);
}

.ico-heart {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/heart.png);
}
.ico-heart.on {
  background-image: url(../images/icon/heart-on.png);
}

.ico-check {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/check.png);
}
.ico-check.on {
  background-image: url(../images/icon/check-on.png);
}

.ico-question {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/question.png);
}

.ico-point {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/point.png);
}

.ico-exclamation {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon/exclamation.png);
}

.list-wrap-box {
  margin-bottom: 25px;
}
.list-wrap-box .first-list {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.list-wrap-box .first-list p {
  font-family: "Pretendard-Bold";
  font-size: 16px;
}
.list-wrap-box .first-list .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.list-wrap-box .list-wrap.type3 {
  overflow: hidden;
  height: 0;
}
.list-wrap-box.on .first-list .ico-arrow {
  transform: rotate(0deg);
}
.list-wrap-box.on .list-wrap.type3 {
  transition: 0.3s;
}

.list-wrap {
  width: 100%;
}
.list-wrap.type1 {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.list-wrap.type1 .list {
  position: relative;
  background: #fff;
  border-radius: 16px;
  width: 50%;
  min-height: 130px;
  max-height: 130px;
  padding-top: 18px;
}
.list-wrap.type1 .list .title {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.list-wrap.type1 .list .title .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 14px;
  border: solid 1px #d9d9d9;
}
.list-wrap.type1 .list .percent {
  font-family: "Pretendard-ExtraBold";
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  font-size: 20px;
}
.list-wrap.type1 .list a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9;
}
.list-wrap.type1 .list button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.list-wrap.type2 .list {
  background: #fff;
  padding: 14px 20px;
  min-height: 110px;
}
.list-wrap.type2 .list.red .point-box {
  color: #ec3f3f;
}
.list-wrap.type2 .list.blue .point-box {
  color: var(--color5);
}
.list-wrap.type2 .list.green .text-box .text.text2 {
  text-decoration: line-through;
}
.list-wrap.type2 .list.green .point-box {
  color: #396d4a;
}
.list-wrap.type2 .list.green .point-box .text.text2 {
  text-decoration: line-through;
}
.list-wrap.type2 .list .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 4px;
}
.list-wrap.type2 .list .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.list-wrap.type2 .list .text-box .text {
  font-family: "Pretendard-Regular";
  font-size: 11px;
  color: #777;
}
.list-wrap.type2 .list .text-box .text.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 192px;
  white-space: nowrap;
}
.list-wrap.type2 .list .text-box .text.text2 {
  font-size: 12px;
}
.list-wrap.type2 .list .point-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.list-wrap.type2 .list .point-box .text {
  font-family: "Pretendard-Bold";
}
.list-wrap.type2 .list .point-box .text.text1 {
  display: flex;
  align-items: center;
  gap: 3px;
}
.list-wrap.type2 .list .point-box .text.text1 p {
  font-size: 14px;
}
.list-wrap.type2 .list .point-box .text.text2 {
  font-size: 16px;
}
.list-wrap.type2 .list .date {
  font-family: "Pretendard-Medium";
  display: block;
  width: 100%;
  font-size: 12px;
}
.list-wrap.type3 .list {
  background: #fff;
}
.list-wrap.type3 .list.on > .top .ico-arrow {
  transform: rotate(0deg);
}
.list-wrap.type3 .list > .top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}
.list-wrap.type3 .list > .top p {
  font-family: "Pretendard-Medium";
  width: 100%;
  word-break: keep-all;
  position: relative;
  padding-left: 20px;
  max-width: 260px;
  font-size: 15px;
  line-height: 1.2;
}
.list-wrap.type3 .list > .top p::before {
  font-family: "Pretendard-Bold";
  content: "Q";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 18px;
}
.list-wrap.type3 .list > .top .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.list-wrap.type3 .list > .bottom {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.list-wrap.type3 .list > .bottom > div {
  overflow: hidden;
  padding: 10px 20px;
}
.list-wrap.type3 .list > .bottom > div > div {
  border-radius: 16px;
  padding: 18px 20px;
  background: #fafafa;
}
.list-wrap.type3 .list > .bottom > div > div p {
  font-size: 13px;
  line-height: 17px;
  color: #777;
}

.point-info-wrap {
  padding: 0 20px;
}
.point-info-wrap .point-info {
  position: relative;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.point-info-wrap .point-info .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.point-info-wrap .point-info .text-box .title {
  font-family: "Pretendard-Medium";
  font-size: 14px;
}
.point-info-wrap .point-info .text-box .point {
  font-family: "Pretendard-Bold";
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}
.point-info-wrap .point-info a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tool-tip-box {
  position: relative;
}
.tool-tip-box.on .tool-tip {
  display: block;
}
.tool-tip-box .tool-tip {
  font-family: "Pretendard-Regular";
  position: absolute;
  background: var(--color1);
  padding: 5px 7px;
  color: #fff;
  border-radius: 7px;
  font-size: 12px;
  display: none;
  top: 21px;
  left: -47px;
  white-space: nowrap;
  z-index: 9;
}
.tool-tip-box .tool-tip::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 4.6px 7.7px 4.6px;
  border-color: transparent transparent var(--color1) transparent;
}
.tool-tip-box .tool-tip::before {
  top: -7px;
  left: 49.5px;
}

.gray-box {
  padding: 18px 20px;
  border-radius: 16px;
  background: #fafafa;
}
.gray-box ul li {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 12px;
  padding-left: 11px;
  line-height: 16px;
  color: #777;
  margin-bottom: 7px;
}
.gray-box ul li:last-of-type {
  margin-bottom: 0;
}
.gray-box ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 100%;
}

.select-btn {
  user-select: none;
  cursor: pointer;
}
.select-btn.type1 {
  border: solid 2px #eeeeee;
  background: #fff;
  padding: 14px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  max-height: 50px;
}
.select-btn.type1.on .ico-arrow {
  transform: rotate(0deg);
}
.select-btn.type1 .value {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: #c8c8c8;
}
.select-btn.type1 .value.on {
  font-family: "Pretendard-Bold";
  color: #000;
}
.select-btn.type1 .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.select-btn.type2 {
  display: flex;
  align-items: center;
  gap: 5px;
  min-height: 16px;
}
.select-btn.type2.on .ico-arrow {
  transform: rotate(-90deg);
}
.select-btn.type2 .value {
  font-family: "Pretendard-Medium";
  font-size: 14px;
  color: #777;
}
.select-btn.type2 .ico-arrow {
  transform: rotate(90deg);
  transition: 0.3s;
}

#select-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#select-wrap.on {
  display: block;
}
#select-wrap .select-list {
  display: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 20px 20px 0 0;
  padding: 0 20px;
  min-height: 450px;
}
#select-wrap .select-list.on {
  display: block;
}
#select-wrap .select-list .select-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: #fff;
}
#select-wrap .select-list .select-head p {
  font-family: "Pretendard-Bold";
  font-size: 18px;
}
#select-wrap .select-list .select-cont {
  padding-top: 70px;
  max-height: 448px;
  overflow: hidden;
  overflow-y: auto;
}
#select-wrap .select-list .select-cont::-webkit-scrollbar {
  display: none;
}
#select-wrap .select-list .select-cont .list {
  padding: 13.5px 0;
  min-height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#select-wrap .select-list .select-cont .list .value {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #666;
}
#select-wrap .select-list .select-cont .list .ico-check {
  display: none;
}
#select-wrap .select-list .select-cont .list.on .value {
  font-family: "Pretendard-Bold";
  color: #000;
}
#select-wrap .select-list .select-cont .list.on .ico-check {
  display: block;
}

input {
  box-sizing: border-box;
  display: block;
}

input[type=file] {
  display: none;
}

input[type=file] + label {
  font-family: "Pretendard-Bold";
  cursor: pointer;
  padding: 7px 14px;
  background: var(--color1);
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  min-height: 30px;
}

.file-box .file-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.file-box .file-info .size {
  font-family: "Pretendard-Medium";
  font-size: 12px;
}
.file-box .file-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.file-box .file-list .list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.file-box .file-list .list p {
  font-family: "Pretendard-Medium";
  font-size: 12px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type=text],
textarea {
  font-family: "Pretendard-Bold";
  font-size: 15px;
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  border: solid 2px #eeeeee;
}
input[type=text]:focus,
textarea:focus {
  outline: none;
}
input[type=text]::placeholder,
textarea::placeholder {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: #c8c8c8;
}
input[type=text].error,
textarea.error {
  position: relative;
  border: solid 2px #ec3f3f;
  margin-bottom: 0;
}
input[type=text].error + span,
textarea.error + span {
  font-family: "Pretendard-Regular";
  display: block;
  color: #ec3f3f;
  font-size: 11px;
  margin-top: 3px;
  margin-bottom: 10px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
input[type=checkbox] + label .ico-check.on {
  display: none;
}

input[type=checkbox]:checked + label .ico-check {
  display: none;
}
input[type=checkbox]:checked + label .ico-check.on {
  display: block;
}

.tab-box-wrap {
  width: 100%;
}
.tab-box-wrap .tab-box {
  display: flex;
  gap: 8px;
  padding: 0 20px;
  overflow-x: auto;
}
.tab-box-wrap .tab-box::-webkit-scrollbar {
  display: none;
}
.tab-box-wrap .tab-box .tab a {
  font-family: "Pretendard-Regular";
  display: block;
  padding: 7px 14px;
  border-radius: 15px;
  font-size: 14px;
  background: var(--color2);
  white-space: nowrap;
  color: #697486;
}
.tab-box-wrap .tab-box .tab.on a {
  font-family: "Pretendard-Bold";
  background: var(--color1);
  color: #fff;
}

.submit-btn {
  font-family: "Pretendard-Regular";
  display: block;
  width: 100%;
  background: #c8c8c8;
  border-radius: 12px;
  padding: 17.5px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.submit-btn.on {
  background: var(--color3);
}

#popup-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#popup-wrap.on {
  display: block;
}
#popup-wrap .popup {
  display: none;
  background: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 25px 25px;
  min-width: 280px;
  border-radius: 18px;
}
#popup-wrap .popup.on {
  display: block;
}
#popup-wrap .popup p {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}
#popup-wrap .popup .btn-box .popup-btn {
  font-family: "Pretendard-Medium";
  padding: 11px;
  width: 100%;
  background: var(--color4);
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}
#popup-wrap .popup .btn-box .popup-btn.gray {
  color: #000;
  background: #ececec;
}

header {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 46px;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: 9999;
}
header h1 {
  font-family: "Pretendard-Regular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .btn-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root {
  --color1: #202236;
  --color2: #f2f3f5;
  --color3: #383c5e;
  --color4: #202236;
  --color5: #3143b5;
  --color6: #3143b5;
}

.hana {
  --color1: #00928f;
  --color2: #f2f5f3;
  --color3: #13c9be;
  --color4: #13c9be;
  --color5: #13c9be;
  --color6: #00928f;
}
.hana .ico-heart.on {
  background-image: url(../images/icon/heart-on_hana.png);
}
.hana .ico-check.on {
  background-image: url(../images/icon/check-on_hana.png);
}

.ico-arrow {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
}
.ico-arrow.type1 {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/arrow-type1.png);
}
.ico-arrow.type1.top {
  transform: rotate(0deg);
}
.ico-arrow.type1.right {
  transform: rotate(90deg);
}
.ico-arrow.type1.bottom {
  transform: rotate(180deg);
}
.ico-arrow.type1.left {
  transform: rotate(270deg);
}
.ico-arrow.type2 {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/arrow-type2.png);
}
.ico-arrow.type2.right {
  transform: rotate(0deg);
}
.ico-arrow.type2.bottom {
  transform: rotate(90deg);
}

.ico-close {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
}
.ico-close.type1 {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/close-type1.png);
}
.ico-close.type2 {
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/close-type2.png);
}

.ico-home {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/home.png);
}

.ico-heart {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/heart.png);
}
.ico-heart.on {
  background-image: url(../images/icon/heart-on.png);
}

.ico-check {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/icon/check.png);
}
.ico-check.on {
  background-image: url(../images/icon/check-on.png);
}

.ico-question {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/question.png);
}

.ico-point {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../images/icon/point.png);
}

.ico-exclamation {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon/exclamation.png);
}

.list-wrap-box {
  margin-bottom: 25px;
}
.list-wrap-box .first-list {
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.list-wrap-box .first-list p {
  font-family: "Pretendard-Bold";
  font-size: 16px;
}
.list-wrap-box .first-list .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.list-wrap-box .list-wrap.type3 {
  overflow: hidden;
  height: 0;
}
.list-wrap-box.on .first-list .ico-arrow {
  transform: rotate(0deg);
}
.list-wrap-box.on .list-wrap.type3 {
  transition: 0.3s;
}

.list-wrap {
  width: 100%;
}
.list-wrap.type1 {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.list-wrap.type1 .list {
  position: relative;
  background: #fff;
  border-radius: 16px;
  width: 50%;
  min-height: 130px;
  max-height: 130px;
  padding-top: 18px;
}
.list-wrap.type1 .list .title {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.list-wrap.type1 .list .title .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 14px;
  border: solid 1px #d9d9d9;
}
.list-wrap.type1 .list .percent {
  font-family: "Pretendard-ExtraBold";
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  font-size: 20px;
}
.list-wrap.type1 .list a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9;
}
.list-wrap.type1 .list button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.list-wrap.type2 .list {
  background: #fff;
  padding: 14px 20px;
  min-height: 110px;
}
.list-wrap.type2 .list.red .point-box {
  color: #ec3f3f;
}
.list-wrap.type2 .list.blue .point-box {
  color: var(--color5);
}
.list-wrap.type2 .list.green .text-box .text.text2 {
  text-decoration: line-through;
}
.list-wrap.type2 .list.green .point-box {
  color: #396d4a;
}
.list-wrap.type2 .list.green .point-box .text.text2 {
  text-decoration: line-through;
}
.list-wrap.type2 .list .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 4px;
}
.list-wrap.type2 .list .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}
.list-wrap.type2 .list .text-box .text {
  font-family: "Pretendard-Regular";
  font-size: 11px;
  color: #777;
}
.list-wrap.type2 .list .text-box .text.text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 192px;
  white-space: nowrap;
}
.list-wrap.type2 .list .text-box .text.text2 {
  font-size: 12px;
}
.list-wrap.type2 .list .point-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.list-wrap.type2 .list .point-box .text {
  font-family: "Pretendard-Bold";
}
.list-wrap.type2 .list .point-box .text.text1 {
  display: flex;
  align-items: center;
  gap: 3px;
}
.list-wrap.type2 .list .point-box .text.text1 p {
  font-size: 14px;
}
.list-wrap.type2 .list .point-box .text.text2 {
  font-size: 16px;
}
.list-wrap.type2 .list .date {
  font-family: "Pretendard-Medium";
  display: block;
  width: 100%;
  font-size: 12px;
}
.list-wrap.type3 .list {
  background: #fff;
}
.list-wrap.type3 .list.on > .top .ico-arrow {
  transform: rotate(0deg);
}
.list-wrap.type3 .list > .top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}
.list-wrap.type3 .list > .top p {
  font-family: "Pretendard-Medium";
  width: 100%;
  word-break: keep-all;
  position: relative;
  padding-left: 20px;
  max-width: 260px;
  font-size: 15px;
  line-height: 1.2;
}
.list-wrap.type3 .list > .top p::before {
  font-family: "Pretendard-Bold";
  content: "Q";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  font-size: 18px;
}
.list-wrap.type3 .list > .top .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.list-wrap.type3 .list > .bottom {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.list-wrap.type3 .list > .bottom > div {
  overflow: hidden;
  padding: 10px 20px;
}
.list-wrap.type3 .list > .bottom > div > div {
  border-radius: 16px;
  padding: 18px 20px;
  background: #fafafa;
}
.list-wrap.type3 .list > .bottom > div > div p {
  font-size: 13px;
  line-height: 17px;
  color: #777;
}

.point-info-wrap {
  padding: 0 20px;
}
.point-info-wrap .point-info {
  position: relative;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.point-info-wrap .point-info .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.point-info-wrap .point-info .text-box .title {
  font-family: "Pretendard-Medium";
  font-size: 14px;
}
.point-info-wrap .point-info .text-box .point {
  font-family: "Pretendard-Bold";
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
}
.point-info-wrap .point-info a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tool-tip-box {
  position: relative;
}
.tool-tip-box.on .tool-tip {
  display: block;
}
.tool-tip-box .tool-tip {
  font-family: "Pretendard-Regular";
  position: absolute;
  background: var(--color1);
  padding: 5px 7px;
  color: #fff;
  border-radius: 7px;
  font-size: 12px;
  display: none;
  top: 21px;
  left: -47px;
  white-space: nowrap;
  z-index: 9;
}
.tool-tip-box .tool-tip::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 4.6px 7.7px 4.6px;
  border-color: transparent transparent var(--color1) transparent;
}
.tool-tip-box .tool-tip::before {
  top: -7px;
  left: 49.5px;
}

.gray-box {
  padding: 18px 20px;
  border-radius: 16px;
  background: #fafafa;
}
.gray-box ul li {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 12px;
  padding-left: 11px;
  line-height: 16px;
  color: #777;
  margin-bottom: 7px;
}
.gray-box ul li:last-of-type {
  margin-bottom: 0;
}
.gray-box ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 100%;
}

.select-btn {
  user-select: none;
  cursor: pointer;
}
.select-btn.type1 {
  border: solid 2px #eeeeee;
  background: #fff;
  padding: 14px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  max-height: 50px;
}
.select-btn.type1.on .ico-arrow {
  transform: rotate(0deg);
}
.select-btn.type1 .value {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: #c8c8c8;
}
.select-btn.type1 .value.on {
  font-family: "Pretendard-Bold";
  color: #000;
}
.select-btn.type1 .ico-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}
.select-btn.type2 {
  display: flex;
  align-items: center;
  gap: 5px;
  min-height: 16px;
}
.select-btn.type2.on .ico-arrow {
  transform: rotate(-90deg);
}
.select-btn.type2 .value {
  font-family: "Pretendard-Medium";
  font-size: 14px;
  color: #777;
}
.select-btn.type2 .ico-arrow {
  transform: rotate(90deg);
  transition: 0.3s;
}

#select-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#select-wrap.on {
  display: block;
}
#select-wrap .select-list {
  display: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 20px 20px 0 0;
  padding: 0 20px;
  min-height: 450px;
}
#select-wrap .select-list.on {
  display: block;
}
#select-wrap .select-list .select-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  background: #fff;
}
#select-wrap .select-list .select-head p {
  font-family: "Pretendard-Bold";
  font-size: 18px;
}
#select-wrap .select-list .select-cont {
  padding-top: 70px;
  max-height: 448px;
  overflow: hidden;
  overflow-y: auto;
}
#select-wrap .select-list .select-cont::-webkit-scrollbar {
  display: none;
}
#select-wrap .select-list .select-cont .list {
  padding: 13.5px 0;
  min-height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#select-wrap .select-list .select-cont .list .value {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #666;
}
#select-wrap .select-list .select-cont .list .ico-check {
  display: none;
}
#select-wrap .select-list .select-cont .list.on .value {
  font-family: "Pretendard-Bold";
  color: #000;
}
#select-wrap .select-list .select-cont .list.on .ico-check {
  display: block;
}

input {
  box-sizing: border-box;
  display: block;
}

input[type=file] {
  display: none;
}

input[type=file] + label {
  font-family: "Pretendard-Bold";
  cursor: pointer;
  padding: 7px 14px;
  background: var(--color1);
  color: #fff;
  font-size: 14px;
  border-radius: 15px;
  min-height: 30px;
}

.file-box .file-info {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}
.file-box .file-info .size {
  font-family: "Pretendard-Medium";
  font-size: 12px;
}
.file-box .file-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.file-box .file-list .list {
  display: flex;
  align-items: center;
  gap: 5px;
}
.file-box .file-list .list p {
  font-family: "Pretendard-Medium";
  font-size: 12px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type=text],
textarea {
  font-family: "Pretendard-Bold";
  font-size: 15px;
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  border: solid 2px #eeeeee;
}
input[type=text]:focus,
textarea:focus {
  outline: none;
}
input[type=text]::placeholder,
textarea::placeholder {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  color: #c8c8c8;
}
input[type=text].error,
textarea.error {
  position: relative;
  border: solid 2px #ec3f3f;
  margin-bottom: 0;
}
input[type=text].error + span,
textarea.error + span {
  font-family: "Pretendard-Regular";
  display: block;
  color: #ec3f3f;
  font-size: 11px;
  margin-top: 3px;
  margin-bottom: 10px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  box-sizing: border-box;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
}
input[type=checkbox] + label .ico-check.on {
  display: none;
}

input[type=checkbox]:checked + label .ico-check {
  display: none;
}
input[type=checkbox]:checked + label .ico-check.on {
  display: block;
}

.tab-box-wrap {
  width: 100%;
}
.tab-box-wrap .tab-box {
  display: flex;
  gap: 8px;
  padding: 0 20px;
  overflow-x: auto;
}
.tab-box-wrap .tab-box::-webkit-scrollbar {
  display: none;
}
.tab-box-wrap .tab-box .tab a {
  font-family: "Pretendard-Regular";
  display: block;
  padding: 7px 14px;
  border-radius: 15px;
  font-size: 14px;
  background: var(--color2);
  white-space: nowrap;
  color: #697486;
}
.tab-box-wrap .tab-box .tab.on a {
  font-family: "Pretendard-Bold";
  background: var(--color1);
  color: #fff;
}

.submit-btn {
  font-family: "Pretendard-Regular";
  display: block;
  width: 100%;
  background: #c8c8c8;
  border-radius: 12px;
  padding: 17.5px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}
.submit-btn.on {
  background: var(--color3);
}

#popup-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#popup-wrap.on {
  display: block;
}
#popup-wrap .popup {
  display: none;
  background: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 25px 25px;
  min-width: 280px;
  border-radius: 18px;
}
#popup-wrap .popup.on {
  display: block;
}
#popup-wrap .popup p {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;
}
#popup-wrap .popup .btn-box .popup-btn {
  font-family: "Pretendard-Medium";
  padding: 11px;
  width: 100%;
  background: var(--color4);
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}
#popup-wrap .popup .btn-box .popup-btn.gray {
  color: #000;
  background: #ececec;
}

.wrap {
  height: 100vh;
  padding-top: 46px;
  color: #000;
}

.main {
  padding: 20px 0;
  background: #fafafa;
  min-height: 100%;
}
.main .point-info-wrap {
  margin-bottom: 20px;
}
.main .point-info-wrap .point-info {
  padding-right: 10px;
}
.main .tab-box-wrap {
  margin-bottom: 15px;
}
.main .main-list-wrap {
  padding: 0 20px;
}
.main .main-list-wrap .main-list {
  background: #fff;
  width: 100%;
  margin-bottom: 10px;
  max-height: 130px;
  min-height: 130px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.main .main-list-wrap .main-list .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: solid 1px #d9d9d9;
  border-radius: 21px;
}
.main .main-list-wrap .main-list .title {
  font-family: "Pretendard-Medium";
  font-size: 17px;
}
.main .main-list-wrap .main-list .title span {
  font-family: "Pretendard-ExtraBold";
  margin-top: 3px;
  display: block;
  font-size: 20px;
}
.main .list-wrap {
  flex-wrap: wrap;
}
.main .list-wrap .list {
  width: calc(50% - 5px);
}
.main .list-wrap .list.list1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-top: 0;
  padding-right: 26px;
}
.main .list-wrap .list.list1 .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  height: 80px;
  border: solid 1px #d9d9d9;
  border-radius: 21px;
}
.main .list-wrap .list.list1 .title {
  font-family: "Pretendard-Medium";
  font-size: 17px;
  margin-bottom: 0;
  gap: 3px;
}
.main .list-wrap .list.list1 .title span {
  font-family: "Pretendard-ExtraBold";
  display: block;
  font-size: 20px;
}

.sub {
  min-height: 100%;
}
.sub.sub-1 {
  padding: 20px 0 0;
  background: #fafafa;
}
.sub.sub-1 .point-info-wrap {
  margin-bottom: 10px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:first-of-type {
  margin-bottom: 16px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:first-of-type .tool-tip {
  left: -29px;
  text-align: center;
  line-height: 16px;
  padding: 5px 13px;
  border-radius: 12px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:first-of-type .tool-tip::before {
  left: 31.5px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip {
  flex-direction: column;
  align-items: center;
  left: -47px;
  padding: 6px 10px;
  border-radius: 12px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip.on {
  display: flex;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip p {
  margin-bottom: 4px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip ul li {
  margin-bottom: 3px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.8);
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip ul li:last-of-type {
  margin-bottom: 0;
}
.sub.sub-1 .point-info-wrap .point-info .text-box:last-of-type .tool-tip::before {
  left: 50.5px;
}
.sub.sub-1 .point-info-wrap .point-info .text-box > div {
  display: flex;
  align-items: center;
  gap: 3px;
}
.sub.sub-1 .line.line1 {
  padding: 0 20px;
  margin-bottom: 10px;
}
.sub.sub-1 .line.line1 a {
  font-family: "Pretendard-Bold";
  color: #000;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sub.sub-1 .line.line1 p {
  font-family: "Pretendard-Medium";
  font-size: 13px;
  color: #777;
}
.sub.sub-1 .cont.cont1 {
  background: #fff;
  min-height: calc(100vh - 243px);
  padding-top: 10px;
}
.sub.sub-1 .cont.cont1 .line.line2 {
  padding: 0 20px;
  margin-bottom: 10px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub.sub-1 .cont.cont1 .line.line2 > p {
  font-family: "Pretendard-Bold";
  font-size: 16px;
}
.sub.sub-1 .cont.cont1 .tab-box-wrap {
  margin-bottom: 10px;
}
.sub.sub-1 .cont.cont1 .list-none-box {
  position: relative;
  height: calc(100vh - 347px);
}
.sub.sub-1 .cont.cont1 .list-none-box p {
  font-family: "Pretendard-Bold";
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
.sub.sub-2 .cont.cont1 {
  padding: 0 20px 22px;
}
.sub.sub-2 .cont.cont1 .box .gray-box p {
  font-family: "Pretendard-SemiBold";
  display: flex;
  align-items: center;
  font-size: 14px;
}
.sub.sub-2 .cont.cont1 .box .gray-box p span {
  font-family: "Pretendard-Regular";
  display: inline-block;
  font-size: 13px;
  color: #777;
}
.sub.sub-2 .cont.cont1 .box .gray-box p span.percent {
  font-family: "Pretendard-Bold";
  font-size: 14px;
  color: var(--color6);
}
.sub.sub-2 .cont.cont1 .box.box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  min-height: 126px;
  margin-bottom: 10px;
}
.sub.sub-2 .cont.cont1 .box.box1 .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sub.sub-2 .cont.cont1 .box.box1 .title p {
  font-family: "Pretendard-SemiBold";
  font-size: 18px;
}
.sub.sub-2 .cont.cont1 .box.box1 .title p.blue {
  font-family: "Pretendard-ExtraBold";
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  color: var(--color6);
}
.sub.sub-2 .cont.cont1 .box.box1 .title p.blue span {
  font-size: 30px;
}
.sub.sub-2 .cont.cont1 .box.box1 .logo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 80px;
  height: 80px;
  border-radius: 21px;
  border: solid 1px #d9d9d9;
}
.sub.sub-2 .cont.cont1 .box.box2 {
  margin-bottom: 10px;
}
.sub.sub-2 .cont.cont1 .box.box2 .gray-box {
  min-height: 83px;
}
.sub.sub-2 .cont.cont1 .box.box2 .gray-box p {
  gap: 20px;
  margin-bottom: 13px;
}
.sub.sub-2 .cont.cont1 .box.box2 .gray-box p:last-of-type {
  margin-bottom: 0;
}
.sub.sub-2 .cont.cont1 .box.box3 {
  margin-bottom: 15px;
}
.sub.sub-2 .cont.cont1 .box.box3 a {
  font-family: "Pretendard-Bold";
  color: #000;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.sub.sub-2 .cont.cont1 .box.box4 {
  margin-bottom: 8px;
}
.sub.sub-2 .cont.cont1 .box.box4 .sub-title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 10px;
}
.sub.sub-2 .cont.cont1 .box.box4 .gray-box {
  margin-bottom: 15px;
}
.sub.sub-2 .cont.cont1 .box.box4 .gray-box p {
  gap: 6px;
  margin-bottom: 13px;
}
.sub.sub-2 .cont.cont1 .box.box4 .gray-box p:last-of-type {
  margin-bottom: 0;
}
.sub.sub-2 .cont.cont1 .box.box5 {
  margin-bottom: 40px;
}
.sub.sub-2 .cont.cont1 .box.box5 p {
  font-family: "Pretendard-SemiBold";
  font-size: 13px;
  color: #777;
  margin-bottom: 11px;
}
.sub.sub-2 .cont.cont1 .box.box5 ul li {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 12px;
  padding-left: 11px;
  line-height: 1.2;
  color: #777;
  margin-bottom: 7px;
}
.sub.sub-2 .cont.cont1 .box.box5 ul li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 3px;
  height: 3px;
  background: #777;
  border-radius: 100%;
}
.sub.sub-3 {
  padding: 10px 0 20px;
}
.sub.sub-3 .box.box1 {
  padding: 0 20px;
}
.sub.sub-3 .box.box1 .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 10px;
}
.sub.sub-3 .box.box1 .gray-box {
  padding: 20px 15px;
}
.sub.sub-4 {
  padding: 20px;
}
.sub.sub-4 .box.box1 {
  padding-bottom: 10px;
}
.sub.sub-4 .box.box1 .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 10px;
}
.sub.sub-4 .box.box1 .gray-box {
  margin-bottom: 15px;
}
.sub.sub-4 .form-box-wrap .type-check-input-box {
  margin-bottom: 10px;
}
.sub.sub-4 .form-box-wrap .form-box {
  display: none;
}
.sub.sub-4 .form-box-wrap .form-box.on {
  display: block;
}
.sub.sub-4 .form-box-wrap .form-box .input-box {
  margin-bottom: 10px;
}
.sub.sub-4 .form-box-wrap .form-box .input-box > p {
  font-family: "Pretendard-Regular";
  margin-top: 3px;
  font-size: 11px;
  color: #777;
}
.sub.sub-4 .form-box-wrap .form-box .input-box input[type=checkbox] + label {
  margin-top: 38px;
  margin-bottom: 23px;
}
.sub.sub-4 .form-box-wrap .form-box .gray-box {
  margin-bottom: 25px;
}
.sub.sub-4 .form-box-wrap .form-box .gray-box p {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 17px;
  color: #777;
}
.sub.sub-4 .form-box-wrap .form-box .gray-box ul li {
  font-size: 14px;
  line-height: 18px;
}
.sub.sub-4 .form-box-wrap .form-box .gray-box ul li::before {
  top: 6px;
}
.sub.sub-4 .form-box-wrap .form-box .file-box {
  margin-top: 25px;
  margin-bottom: 25px;
}
.sub.sub-4 .form-box-wrap .form-box .file-box .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  margin-bottom: 10px;
}