.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  height: 116px;

  .container {
    @include max-width();
    @include flex-pos($jc: space-between, $ai: center);
    padding-top: 42px;
    padding-bottom: 35px;
  }

  .logo {
    a {
      @include image-set($bs: contain);
      @include text-hide();
      display: block;
      width: 85px;
      height: 39px;
      background-image: url(../../../images/components/header/logo.png);
    }
  }

  .nav {
    @include flex-pos($ai: center, $g: 153px);

    .menu {
      @include flex-pos($ai: center, $g: 50px);

      .menu-item {
        position: relative;

        .menu-btn {
          @include preMedium();
          font-size: 18px;
          line-height: 21px;
          color: $color-text-black;

          &.arrow {
            @include flex-pos($ai: center, $g: 12px);

            i {
              @include image-set($bs: contain);
              transition: $transition-fast;
              width: 12px;
              height: 6px;
              background-image: url(../../../images/components/header/arrow.png);
            }
          }
        }

        &.download {
          .sub-menu-wrap {
            top: calc(100% + 20px);
            left: -29px;
            min-width: 640px;
            padding: 30px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
            display: none;

            .sub-menu {
              display: grid;
              grid-template-areas:
                'item1 item2'
                'item3 item4'
                'item5 item6';
              grid-template-columns: 1fr 1fr;
              gap: 30px;
              margin-bottom: 40px;

              .item {
                display: inline-flex;

                &.item1 {
                  grid-area: item1;
                }
                &.item2 {
                  grid-area: item2;
                }
                &.item3 {
                  grid-area: item3;
                }
                &.item4 {
                  grid-area: item4;
                }
                &.item5 {
                  grid-area: item5;
                }

                > a {
                  @include flex-pos($g: 14px);

                  .cont {
                    .title {
                      @include preBold();
                      font-size: 16px;
                      line-height: 19px;
                      letter-spacing: -0.16px;
                      color: $color-text-black;
                    }

                    .desc {
                      @include preRegular();
                      font-size: 14px;
                      line-height: 16px;
                      letter-spacing: -0.14px;
                      color: $color-text-gray;
                      display: block;
                      margin-top: 2px;
                    }
                  }
                }
              }
            }

            .notice {
              background: #f61821;
              border-radius: 4px;
              padding: 22px 22px 24px;
              text-align: center;

              .title {
                @include preRegular();
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.16px;
                color: $color-text-white;
                text-decoration: underline;
                margin-bottom: 11px;
              }

              .desc {
                @include preRegular();
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.16px;
                color: $color-text-white;

                strong {
                  @include preBold();
                  font-size: 18px;
                  line-height: 21px;
                  letter-spacing: -0.18px;
                  display: block;
                  margin-bottom: 4px;
                }
              }
            }
          }
        }

        &.customerservice {
          .sub-menu-wrap {
            @include pos-x-center();
            top: calc(100% + 20px);
            min-width: 204px;
            padding: 17px 20px 21px;
            background: #fff;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display: none;

            .sub-menu {
              @include flex-pos($fd: column, $g: 10px);

              .item {
                > a {
                  @include preRegular();
                  font-size: 15px;
                  line-height: 18px;
                  letter-spacing: -0.15px;
                  color: $color-text-black;

                  &:hover {
                    @include preMedium();
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }

        .sub-menu-wrap {
          position: absolute;
        }

        // on
        &.on {
          .menu-btn {
            &.arrow {
              color: $color-text-red;

              i {
                background-image: url(../../../images/components/header/arrow-red.png);
                transform: rotate(-180deg);
              }
            }
          }

          .sub-menu-wrap {
            display: block;
          }
        }
      }
    }

    .utils {
      @include flex-pos($g: 6px);

      .lang {
        position: relative;
        height: 100%;

        .lang-info {
          @include flex-pos($ai: center);
          position: relative;
          padding: 9px 8px;
          min-width: 84px;
          max-width: 84px;
          height: 36px;
          border: solid 1px $color-border-primary;
          border-radius: 6px;
          cursor: pointer;

          .title {
            @include preMedium();
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.15px;
            color: $color-text-black;
          }

          .icon {
            &.left {
              @include image-set();
              width: 14px;
              height: 14px;
              margin-right: 6px;
              background-image: url(../../../images/components/header/lang.png);
            }

            &.right {
              @include image-set();
              transition: $transition-fast;
              position: absolute;
              right: 8px;
              width: 10px;
              height: 5px;
              background-image: url(../../../images/components/header/arrow-lang.png);
            }
          }
        }

        .lang-menu {
          @include pos-x-center();
          @include flex-pos($ai: center, $fd: column, $g: 10px);
          top: calc(100% + 2px);
          width: 100%;
          border-radius: 6px;
          padding: 12px;
          background: #fff;
          border: 1px solid $color-border-primary;
          display: none;

          .item {
            .btn {
              @include preRegular();
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.15px;
              color: $color-text-black;

              &:hover {
                @include preMedium();
                text-decoration: underline;
              }
            }
          }
        }

        &.on {
          .lang-info {
            .icon {
              &.right {
                transform: rotate(-180deg);
              }
            }
          }

          .lang-menu {
            display: flex;
          }
        }
      }

      .acc {
        position: relative;
        height: 100%;

        .acc-info {
          @include flex-pos($ai: center);
          position: relative;
          width: 100px;
          height: 36px;
          background: $color-button-primary;
          border-radius: 6px;
          padding: 9px 12px;
          cursor: pointer;

          .title {
            @include preMedium();
            @include text-cut-one();
            max-width: 58px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.15px;
            color: $color-text-white;
          }

          .icon {
            @include image-set();
            transition: $transition-fast;
            position: absolute;
            right: 10px;
            width: 10px;
            height: 5px;
            background-image: url(../../../images/components/header/arrow-acc.png);
          }
        }

        .acc-menu {
          @include pos-x-center();
          @include flex-pos($fd: column, $g: 10px);
          top: calc(100% + 2px);
          width: 100%;
          border-radius: 6px;
          padding: 12px;
          background: $color-bg-red;
          display: none;

          .item {
            .btn {
              @include preRegular();
              font-size: 15px;
              line-height: 18px;
              letter-spacing: -0.15px;
              color: $color-text-white;

              &:hover {
                @include preMedium();
                text-decoration: underline;
              }
            }
          }
        }

        &.on {
          .acc-info {
            .icon {
              transform: rotate(-180deg);
            }
          }

          .acc-menu {
            display: flex;
          }
        }
      }

      .login-btn {
        @include preMedium();
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.15px;
        color: $color-text-white;
        width: 100px;
        height: 36px;
        background: $color-button-primary;
        border-radius: 6px;
      }
    }
  }

  .toggle-btn {
    @include text-hide();
    position: relative;
    display: none;
    width: 22px;
    height: 22px;
    z-index: 999999;

    i {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      width: 18px;
      height: 2px;
      background: $color-bg-black;
    }

    &::before,
    &::after {
      @include elm-create();
      width: 100%;
      height: 2px;
      background: $color-bg-black;
      left: 0;
      transition: 0.3s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.on {
      &::before,
      &::after {
        top: 50%;
        left: 50%;
      }

      &::before {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        bottom: unset;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      i {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .header {
    .nav {
      @include flex-pos($ai: center, $g: 50px);

      .menu {
        @include flex-pos($ai: center, $g: 40px);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    height: 60px;

    .container {
      @include flex-pos($jc: space-between, $ai: center);
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }

    .logo {
      z-index: 999999;

      a {
        width: 67px;
        height: 30px;
      }
    }

    .nav {
      display: none;

      .menu {
        @include flex-pos($fd: column, $g: 34px);

        .menu-item {
          .menu-btn {
            width: 100%;

            &.arrow {
              @include flex-pos($jc: space-between, $ai: center, $g: 12px);
            }
          }

          &.download {
            .sub-menu-wrap {
              z-index: 9;
              top: calc(100% + 15px);
              left: 50%;
              transform: translateX(-50%);
              min-width: unset;
              width: 100vw;
              padding: 0;
              border-radius: 0;
              box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
              display: none;

              .sub-menu {
                border-top: 1px solid $color-border-red;
                padding: 32px 0 36px;
                grid-template-areas:
                  'item1'
                  'item2'
                  'item3'
                  'item4'
                  'item5';
                grid-template-columns: 1fr;
                width: calc(100vw - 100px);
                margin: 0 auto;
                gap: 32px;

                .item {
                  > a {
                    @include flex-pos($ai: center, $g: 12px);

                    .cont {
                      .title {
                        @include preMedium();
                      }

                      .desc {
                        margin-top: 1px;
                      }
                    }
                  }
                }
              }

              .notice {
                border-radius: 0;
                padding: 22px 22px 28px;
                height: 100%;

                .title {
                  font-size: 15px;
                  line-height: 18px;
                  letter-spacing: -0.15px;
                }

                .desc {
                  font-size: 15px;
                  line-height: 18px;
                  letter-spacing: -0.15px;

                  strong {
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: -0.16px;
                    margin-bottom: 8px;
                  }
                }
              }
            }
          }

          &.customerservice {
            .sub-menu-wrap {
              z-index: 9;
              top: calc(100% + 15px);
              left: 50%;
              transform: translateX(-50%);
              min-width: unset;
              width: 100vw;
              padding: 0;
              border-radius: 0;
              box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
              display: none;

              .sub-menu {
                @include flex-pos($fd: column, $g: 25px);
                border-top: 1px solid $color-border-red;
                padding: 28px 0;
                width: calc(100vw - 100px);
                margin: 0 auto;

                .item {
                  > a {
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: -0.16px;
                  }
                }
              }
            }
          }
        }
      }

      .utils {
        @include flex-pos($fd: column, $g: 20px);

        .lang {
          .lang-info {
            @include flex-pos($ai: center, $jc: center);
            padding: 12px 20px;
            min-width: 100%;
            max-width: 100%;
            height: 44px;
            border-radius: 8px;

            .title {
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.16px;
            }

            .icon {
              &.left {
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }

              &.right {
                right: 20px;
                width: 12px;
                height: 6px;
              }
            }
          }

          .lang-menu {
            display: none;
            top: unset;
            bottom: calc(100% + 2px);
            border-radius: 8px;
            padding: 18px;

            .item {
              .btn {
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.16px;
              }
            }
          }
        }

        .acc {
          .acc-info {
            @include flex-pos($ai: center, $jc: center);
            width: 100%;
            height: 44px;
            border-radius: 8px;
            padding: 12px 20px;

            .title {
              max-width: calc(100% - 104px);
              font-size: 18px;
              line-height: 21px;
              letter-spacing: -0.18px;
            }

            .icon {
              right: 20px;
              width: 12px;
              height: 6px;
            }
          }

          .acc-menu {
            display: none;
            top: unset;
            bottom: calc(100% + 2px);
            border-radius: 8px;
            padding: 24px;

            .item {
              .btn {
                font-size: 18px;
                line-height: 21px;
                letter-spacing: -0.18px;
              }
            }
          }
        }

        .login-btn {
          font-size: 18px;
          line-height: 21px;
          letter-spacing: -0.18px;
          width: 100%;
          height: 44px;
          min-height: 44px;
          border-radius: 8px;
        }
      }

      &.on {
        @include flex-pos($fd: column, $jc: space-between, $g: 100px);
        padding: 130px 50px 70px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        background: $color-bg-white;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        .menu {
          .menu-item {
            &.on {
              .sub-menu-wrap {
                display: block;
              }
            }
          }
        }

        .utils {
          .lang {
            &.on {
              .lang-menu {
                @include flex-pos($ai: center, $fd: column, $g: 20px);
              }
            }
          }

          .acc {
            &.on {
              .acc-menu {
                @include flex-pos($fd: column, $ai: center, $g: 24px);
              }
            }
          }
        }
      }
    }

    .toggle-btn {
      display: block;
    }
  }
}
