#popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 99999;
  background: rgba(0, 0, 0, 0.7);
  display: none;

  &.on {
    display: block;
  }

  .popup {
    &.basic {
      @include pos-center();
      background: $color-bg-white;
      padding: 40px;
      border-radius: 14px;

      .popup-head {
        margin-bottom: 24px;

        .popup-title {
          &.type1 {
            @include preBold();
            text-align: center;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.18px;
            color: $color-text-black;
            margin-bottom: 2px;
          }
        }

        .popup-desc {
          &.type1 {
            @include preMedium();
            text-align: center;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.16px;
            color: $color-text-black;
          }
        }
      }

      .popup-cont {
        .item {
          &--1 {
            margin-bottom: 30px;
          }

          .input-wrap {
            height: 44px;
          }

          .btn-wrap {
            @include flex-pos($ai: center, $g: 10px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #popup-wrap {
    .popup {
      &.basic {
        padding: 34px 20px 24px;

        .popup-head {
          margin-bottom: 22px;

          .popup-title {
            &.type1 {
              font-size: 16px;
              line-height: 19px;
              letter-spacing: -0.16px;
            }
          }

          .popup-desc {
            &.type1 {
              font-size: 14px;
              line-height: 16px;
              letter-spacing: -0.14px;
            }
          }
        }

        .popup-cont {
          .item {
            &--1 {
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }
}
