:root {
  --vh: 100%;
}

body {
  overflow: hidden;
}
body .wrap {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
body .wrap .fp_page_wrap {
  transition: 0.8s ease-in-out;
}
body .wrap .fp_page_wrap .fp_page {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body .wrap .fp_page_wrap .fp_page::-webkit-scrollbar {
  display: none;
}
body .wrap .fp_page_wrap footer.fp_page {
  height: auto !important;
}