@media screen and (max-width: 1600px) {
  header {
    height: 91px;
  }
  header .box h1 a {
    width: 205px;
    height: 27px;
  }
  header .box .menu {
    gap: 36px;
  }
  header .box .menu .fp_menu_wrap {
    gap: 36px;
  }
  header .box .menu .fp_menu_wrap .fp_menu {
    font-size: 16px;
    line-height: 19px;
  }
  header .box .menu > a {
    width: 109px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
  header.type1 {
    height: 64px;
  }
  header.type2 {
    height: 64px;
  }
  .fp_nav_wrap {
    right: 20px;
  }
  .fp_page {
    padding-top: 91px;
  }
  .page1 {
    padding: 91px 0 0;
  }
  .page1 .center > .box.box1 .line > div {
    height: calc(100vh - 91px);
  }
  .page1 .center > .box.box2 .title-box {
    gap: 7px;
  }
  .page1 .center > .box.box2 .title-box .title--box .title {
    font-size: 73px;
    line-height: 88px;
  }
  .page1 .center > .box.box2 .title-box .group-box {
    gap: 23px;
  }
  .page1 .center > .box.box2 .btn-box {
    gap: 36px;
  }
  .page1 .center > .box.box2 .btn-box .text {
    font-size: 27px;
    line-height: 36px;
  }
  .page1 .center > .box.box2 .btn-box .btn--box {
    gap: 23px;
  }
  .page1 .center > .box.box2 .btn-box .btn--box button, .page1 .center > .box.box2 .btn-box .btn--box a {
    font-size: 16px;
    line-height: 19px;
    width: 164px;
    height: 45px;
  }
  .page2 .center .tab-list {
    gap: 23px;
  }
  .page2 .center .tab-list .tab {
    font-size: 16px;
    line-height: 19px;
    width: 164px;
    height: 45px;
  }
  .page2 .center > .tab-box {
    min-height: 773px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type1 {
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 14px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type2 {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 13px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text {
    gap: 9px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text > .text {
    font-size: 16px;
    line-height: 19px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 .tab-text {
    margin-bottom: 55px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item {
    gap: 64px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .img-box {
    height: 255px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box {
    margin-bottom: 23px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box .title {
    font-size: 47px;
    line-height: 57px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .text {
    font-size: 16px;
    line-height: 25px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area.area1 {
    margin-bottom: 36px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots {
    gap: 9px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots li button {
    width: 13px;
    height: 13px;
    border-radius: 6px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots li.slick-active button {
    width: 55px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area {
    height: 724px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .tab-text {
    margin-bottom: 76px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .bg {
    width: 438px;
    height: 438px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text {
    font-size: 22px;
    line-height: 26px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 {
    font-size: 49px;
    line-height: 60px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 span {
    font-size: 22px;
    line-height: 26px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type2 {
    font-size: 42px;
    line-height: 52px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type3 {
    font-size: 18px;
    line-height: 22px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type4 {
    font-size: 33px;
    line-height: 39px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box1 {
    width: 238px;
    height: 238px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 {
    width: 327px;
    height: 176px;
    left: 91px;
    top: 30px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 > div {
    border-radius: 88px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box3 {
    width: 218px;
    height: 218px;
    right: 195px;
    top: -33px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 {
    width: 327px;
    height: 176px;
    top: 288px;
    left: 199px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 > div {
    border-radius: 88px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 {
    width: 400px;
    height: 203px;
    top: 235px;
    right: 82px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 .text.text1 {
    margin-bottom: 9px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 > div {
    border-radius: 101px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .tab-text {
    margin-bottom: 43px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box {
    width: 450px;
    min-width: 450px;
    height: 450px;
    min-height: 450px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box .text::after {
    width: 66%;
    height: 28%;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box {
    position: relative;
    right: unset;
    top: unset;
    transform: translateY(0) translateX(200px);
    width: 728px;
    min-width: 728px;
    height: 326px;
    min-height: 326px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 .tab-text {
    margin-bottom: 48px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider {
    gap: 20px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item {
    width: 10vw;
    height: 534px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area:nth-of-type(1) .item, .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area:nth-of-type(3) .item {
    width: 20vw;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content1 > .item-box .slider .area .item .img-box {
    width: 400px;
  }
  .page3 .center h2 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 25px;
  }
  .page3 .center > .box .slider-nav .slick-dots {
    gap: 23px;
  }
  .page3 .center > .box .slider-nav .slick-dots li {
    gap: 10px;
  }
  .page3 .center > .box .slider-nav .slick-dots li.slick-active {
    font-size: 16px;
    line-height: 19px;
    gap: 7px;
  }
  .page3 .center > .box .slider {
    max-width: 836px;
  }
  .page3 .center > .box .slider .item-box {
    height: 650px;
  }
  .page3 .center > .box .slider .item-box .item > .text-box {
    margin-bottom: 12px;
  }
  .page3 .center > .box .slider .item-box .item > .text-box .text {
    font-size: 27px;
    line-height: 33px;
  }
  .page3 .center > .box .slider .item-box .item > .text.text1 {
    font-size: 16px;
    line-height: 22px;
  }
  .page3 .center > .box .slider .item-box .item > .text.text2 {
    font-size: 16px;
    line-height: 21px;
  }
  .page3 .center > .box .slider .item-box .item.item1 > .text.text1 {
    margin-bottom: 71px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box {
    margin-bottom: 69px;
    gap: 36px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img1 {
    width: 227px;
    height: 318px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 {
    width: 339px;
    height: 318px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 i {
    width: 339px;
    height: 73px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img3 {
    width: 227px;
    height: 318px;
    transform: translateX(-290px);
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img4 {
    width: 227px;
    height: 318px;
    margin-left: 57px;
  }
  .page3 .center > .box .slider .item-box .item.item2 > .text.text1 {
    margin-bottom: 38px;
  }
  .page3 .center > .box .slider .item-box .item.item2 .img-box {
    margin-bottom: 31px;
  }
  .page3 .center > .box .slider .item-box .item.item2 .img-box .img {
    height: 411px;
  }
  .page3 .center > .box .slider .item-box .item.item3 > .text.text1 {
    margin-bottom: 57px;
  }
  .page3 .center > .box .slider .item-box .item.item3 .img-box {
    margin-bottom: 50px;
  }
  .page3 .center > .box .slider .item-box .item.item3 .img-box .img {
    height: 373px;
  }
  .page3 .center > .box .slider .item-box .item.item4 > .text.text1 {
    margin-bottom: 35px;
  }
  .page3 .center > .box .slider .item-box .item.item4 .img-box {
    margin-bottom: 50px;
  }
  .page3 .center > .box .slider .item-box .item.item4 .img-box .img {
    height: 373px;
  }
  .page4 .center h2 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 43px;
  }
  .page4 .center > .box {
    justify-content: space-between;
    gap: 40px;
  }
  .page4 .center > .box .content-box.content-box1 {
    padding-top: 61px;
    width: 100%;
  }
  .page4 .center > .box .content-box.content-box1 .item-box {
    gap: 18px;
    margin-bottom: 18px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div {
    padding: 16px;
    min-height: 64px;
    border-radius: 0 32px 32px 0;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .title {
    font-size: 25px;
    line-height: 31px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .title span {
    margin-right: 18px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .text {
    font-size: 16px;
    line-height: 26px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div:hover {
    border-radius: 0 82px 82px 0;
    min-height: 165px;
    max-height: 165px;
    padding: 30px 16px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div:hover .text {
    margin-top: 18px;
  }
  .page4 .center > .box .content-box.content-box1 > .text {
    font-size: 22px;
    gap: 7px;
  }
  .page4 .center > .box .content-box.content-box1 > .text i {
    width: 33px;
    height: 33px;
  }
  .page4 .center > .box .content-box.content-box2 {
    padding-right: 390px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div {
    width: 127px;
    height: 127px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div i {
    width: 54px;
    height: 54px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div .text {
    font-size: 16px;
    line-height: 19px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item1 {
    transform: translate(110px, 0);
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item2 {
    transform: translate(0, 3px);
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item3 {
    transform: translate(10px, 38px);
  }
  .page4 .center > .box .content-box.content-box2 .img-box {
    width: 446px;
    height: 626px;
    left: 113px;
  }
  .page4 .center > .box .content-box.content-box2 .img-box .img {
    transform: translateX(73px);
  }
  .page5 .center {
    justify-content: space-around;
    gap: 50px;
    padding-top: 78px;
    padding-bottom: 40px;
  }
  .page5 .center .box.box1 .form-box {
    gap: 20px;
  }
  .page5 .center .box.box2 .text-box.text-box1 {
    gap: 27px;
  }
  .page5 .center .box.box2 .text-box.text-box1 .text--box .text {
    font-size: 76px;
    line-height: 87px;
  }
  .page5 .center .box.box2 .text-box.text-box2 {
    gap: 60px;
  }
  .page5 .center .box.box2 .text-box.text-box2 > p {
    font-size: 18px;
    line-height: 29px;
  }
  .page5 .center .box.box2 .text-box.text-box2 .fp_top_btn {
    width: 73px;
    height: 73px;
    transform: translateY(73px);
  }
  footer {
    justify-content: space-between;
    gap: 20px;
  }
  footer .logo {
    width: 205px;
    height: 27px;
  }
}
@media screen and (max-width: 1200px) {
  .mo {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  header {
    height: 56px;
    background-color: transparent;
  }
  header .box h1 a {
    width: 168px;
    height: 23px;
  }
  header .box .toggle {
    display: block;
  }
  header .box .toggle.on {
    position: fixed;
    top: 24px;
    right: 20px;
  }
  header .box .menu {
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: absolute;
    background: #fff;
    height: 100vh;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 12px 20px;
    transform: translateX(100%);
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 300px;
    gap: 46px;
  }
  header .box .menu .fp_menu_wrap {
    flex-direction: column;
    gap: 36px;
  }
  header .box .menu .fp_menu_wrap .fp_menu {
    font-size: 20px;
    line-height: 24px;
  }
  header .box .menu .fp_menu_wrap .fp_menu a {
    color: #000;
  }
  header .box .menu > a {
    width: 120px;
    height: 44px;
    color: #ed1c24;
    background: #fff;
    border: 1px solid #ed1c24;
    font-size: 20px;
  }
  header .box .menu.on {
    transform: translateX(0);
  }
  header.type1 {
    height: 40px;
    background: #fff;
  }
  header.type1 .box .toggle.on i {
    background: #000;
  }
  header.type1 .box .toggle.on::before, header.type1 .box .toggle.on::after {
    background: #000;
  }
  header.type1 .box .menu .fp_menu_wrap .fp_menu a {
    color: #000;
  }
  header.type1 .box .menu .fp_menu_wrap .fp_menu.on a {
    font-family: "Pretendard-Bold";
  }
  header.type2 {
    height: 40px;
    background: #000;
  }
  header.type2 .box h1 a {
    background-image: url(../images/icon/logo-type1.png);
  }
  header.type2 .box .toggle i {
    background: #fff;
  }
  header.type2 .box .toggle::before, header.type2 .box .toggle::after {
    background: #fff;
  }
  header.type2 .box .toggle.on i {
    background: #000;
  }
  header.type2 .box .toggle.on::before, header.type2 .box .toggle.on::after {
    background: #000;
  }
  header.type2 .box .menu .fp_menu_wrap .fp_menu a {
    color: #000;
  }
  header.type2 .box .menu .fp_menu_wrap .fp_menu.on a {
    font-family: "Pretendard-Bold";
  }
  header.type2 .box .menu > a {
    background: #fff;
  }
  .fp_nav_wrap {
    display: none;
  }
  .fp_page {
    padding: 0 20px;
    padding-top: 50px;
  }
  .page1 {
    padding: 0;
  }
  .page1 .center {
    display: flex;
    flex-direction: column;
  }
  .page1 .center > .box.box1 {
    display: flex;
    width: 100vw;
    height: 43.42vh;
  }
  .page1 .center > .box.box1 .line {
    width: 25vw;
    height: 100%;
    transform: translateY(-100%);
  }
  .page1 .center > .box.box1 .line > div {
    width: 100vw;
    height: 100%;
    background-position-y: top;
  }
  .page1 .center > .box.box1 .line.line1 > div {
    top: 0;
    left: 0;
  }
  .page1 .center > .box.box1 .line.line2 > div {
    top: 0;
    left: -25vw;
  }
  .page1 .center > .box.box1 .line.line3 > div {
    top: 0;
    left: -50vw;
  }
  .page1 .center > .box.box1 .line.line4 > div {
    top: 0;
    left: -75vw;
  }
  .page1 .center > .box.box2 {
    width: 100vw;
    padding: 30px 20px 50px;
    min-height: 56.58vh;
    justify-content: center;
    gap: 78px;
  }
  .page1 .center > .box.box2 .title-box {
    align-items: center;
    gap: 7px;
  }
  .page1 .center > .box.box2 .title-box .title--box .title {
    font-size: 66px;
    line-height: 80px;
  }
  .page1 .center > .box.box2 .title-box .group-box {
    gap: 23px;
  }
  .page1 .center > .box.box2 .btn-box {
    align-items: center;
    gap: 36px;
  }
  .page1 .center > .box.box2 .btn-box .text {
    font-size: 25px;
    line-height: 33px;
    text-align: center;
  }
  .page1 .center > .box.box2 .btn-box .btn--box {
    gap: 23px;
  }
  .page1 .center > .box.box2 .btn-box .btn--box button, .page1 .center > .box.box2 .btn-box .btn--box a {
    font-size: 18px;
    line-height: 21px;
    width: 180px;
    height: 50px;
  }
  .page1.now .center .box.box1 .line {
    width: 25vw;
    transform: translateY(0);
  }
  .page2 .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
  .page2 .center .tab-list {
    flex-wrap: wrap;
    position: relative;
    top: unset;
    left: unset;
    gap: 15px 20px;
    margin-bottom: 40px;
  }
  .page2 .center .tab-list .tab {
    font-size: 17px;
    line-height: 20px;
    width: calc(50% - 10px);
    height: 44px;
  }
  .page2 .center .tab-list .tab:last-of-type {
    width: 100%;
  }
  .page2 .center > .tab-box {
    min-height: 710px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title {
    text-align: center;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 12px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type2 {
    font-family: "Montserrat-Medium";
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 12px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text {
    text-align: center;
    gap: 9px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text > .text {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text > .text span {
    display: block;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 .tab-text {
    margin-bottom: 70px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area {
    width: 45%;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .img-box {
    width: 100%;
    opacity: 0;
    height: 230px;
    transform: translateY(50px);
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box {
    margin-bottom: 15px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box .title {
    font-size: 43px;
    line-height: 52px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .text {
    line-height: 23px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area.area1 {
    margin-bottom: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots {
    gap: 6px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .slick-dots li.slick-active button {
    width: 50px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area {
    height: 690px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .tab-text {
    margin-bottom: 30px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .bg {
    width: 365px;
    height: 365px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text {
    font-size: 18px;
    line-height: 22px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 {
    font-size: 41px;
    line-height: 50px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 span {
    font-size: 18px;
    line-height: 22px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type2 {
    font-size: 35px;
    line-height: 43px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type3 {
    font-size: 16px;
    line-height: 19px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type4 {
    font-size: 28px;
    line-height: 33px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box1 {
    width: 198px;
    height: 198px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 {
    width: 273px;
    height: 147px;
    left: 125px;
    top: -15px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 > div {
    border-radius: 73px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box3 {
    width: 182px;
    height: 182px;
    right: 175px;
    top: 16px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 {
    width: 273px;
    height: 147px;
    top: 250px;
    left: 130px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 > div {
    border-radius: 73px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 {
    width: 333px;
    height: 169px;
    top: 310px;
    right: 170px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 .text.text1 {
    margin-bottom: 8px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 > div {
    border-radius: 84px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box {
    padding-right: 182px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box {
    width: 409px;
    min-width: 409px;
    height: 409px;
    min-height: 409px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box {
    transform: translateY(0) translateX(182px);
    width: 662px;
    min-width: 662px;
    height: 296px;
    min-height: 296px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 .tab-text {
    margin-bottom: 34px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider {
    gap: 20px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item {
    height: 445px;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content1 > .item-box .slider .area .item .img-box {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
  .page3 .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page3 .center h2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 30px;
    text-align: center;
  }
  .page3 .center > .box {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .page3 .center > .box .slider-nav {
    position: relative;
    top: unset;
    left: unset;
  }
  .page3 .center > .box .slider-nav .slick-dots {
    flex-direction: row;
    justify-content: center;
    gap: 44px;
  }
  .page3 .center > .box .slider-nav .slick-dots li {
    gap: 0;
    flex-direction: column;
    max-width: 20px;
    height: 20px;
  }
  .page3 .center > .box .slider-nav .slick-dots li i {
    width: 20px;
    height: 20px;
  }
  .page3 .center > .box .slider-nav .slick-dots li i::before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 44px;
    height: 2px;
  }
  .page3 .center > .box .slider-nav .slick-dots li span {
    display: none;
  }
  .page3 .center > .box .slider-nav .slick-dots li.slick-active {
    gap: 10px;
    height: 44px;
  }
  .page3 .center > .box .slider-nav .slick-dots li.slick-active span {
    display: block;
  }
  .page3 .center > .box .slider {
    max-width: 836px;
  }
  .page3 .center > .box .slider .item-box {
    height: 650px;
  }
  .page3 .center > .box .slider .item-box .item > .text-box .text {
    font-size: 25px;
    line-height: 30px;
  }
  .page3 .center > .box .slider .item-box .item.item1 > .text.text1 {
    margin-bottom: 71px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box {
    margin-bottom: 69px;
    gap: 36px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 {
    width: 330px;
    height: 318px;
    transform: translateX(-15px);
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 i {
    width: 330px;
    height: 73px;
  }
  .page4 .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 85px;
  }
  .page4 .center h2 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 40px;
  }
  .page4 .center > .box {
    flex-direction: column;
    gap: 50px;
  }
  .page4 .center > .box .content-box.content-box1 {
    padding-top: 0;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .title {
    font-size: 23px;
    line-height: 28px;
  }
  .page4 .center > .box .content-box.content-box1 > .text {
    display: none;
  }
  .page4 .center > .box .content-box.content-box2 {
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div {
    width: 115px;
    height: 115px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div i {
    width: 49px;
    height: 49px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div .text {
    font-size: 16px;
    line-height: 19px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item1 {
    transform: translate(0, 0);
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item2 {
    transform: translate(0, 0);
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item.item3 {
    transform: translate(0, 0);
  }
  .page4 .center > .box .content-box.content-box2 .img-box {
    position: relative;
    width: 267px;
    height: 420px;
    left: unset;
  }
  .page4 .center > .box .content-box.content-box2 .img-box .img {
    transform: translateX(73px);
    background-image: url(../images/main/page4-4_mo.png);
  }
  .page5 .center {
    position: relative;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 60px;
    padding-top: 0;
    padding-bottom: 150px;
  }
  .page5 .center .box.box1 .form-box {
    justify-content: center;
    gap: 20px;
  }
  .page5 .center .box.box1 .form-box .form--box {
    gap: 60px;
  }
  .page5 .center .box.box1 .form-box .form--box .input-box > div {
    width: calc(50vw - 30px);
  }
  .page5 .center .box.box1 .form-box .form--box .input-box.input-box9 {
    margin-top: 4px;
  }
  .page5 .center .box.box2 {
    gap: 15px;
  }
  .page5 .center .box.box2 .text-box.text-box1 {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .page5 .center .box.box2 .text-box.text-box1 .text--box .text {
    font-size: 69px;
    line-height: 79px;
  }
  .page5 .center .box.box2 .text-box.text-box2 {
    display: block;
    gap: 0;
  }
  .page5 .center .box.box2 .text-box.text-box2 > p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .page5 .center .box.box2 .text-box.text-box2 .fp_top_btn {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 66px;
    height: 66px;
    transform: translateY(66px);
  }
  .page5.now .center .box.box1 .form-box,
  .page5.keep .center .box.box1 .form-box {
    transition-delay: 0.3s;
  }
  .page5.now .center .box.box2 .text-box.text-box1 .text--box .text.text2,
  .page5.keep .center .box.box2 .text-box.text-box1 .text--box .text.text2 {
    transition-delay: 0.3s;
  }
  .page5.now .center .box.box2 .text-box.text-box2 > p,
  .page5.keep .center .box.box2 .text-box.text-box2 > p {
    transition-delay: 0.8s;
  }
  footer {
    gap: 24px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  footer.fp_page {
    padding: 40px 20px 50px;
  }
  footer .logo {
    width: 168px;
    height: 23px;
    background-size: contain;
  }
  footer .text-box {
    align-items: flex-start;
    gap: 0;
  }
  footer .text-box > div {
    flex-direction: column;
  }
  footer .text-box > div p {
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 6px;
  }
  footer .text-box > div p::before {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area {
    width: 50%;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 {
    left: 24px;
    top: -15px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box3 {
    right: 90px;
    top: 16px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 {
    top: 250px;
    left: 50px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 {
    top: 310px;
    right: 50px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .tab-text {
    margin-bottom: 80px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box {
    padding-right: 140px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box {
    width: 315px;
    min-width: 315px;
    height: 315px;
    min-height: 315px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box {
    transform: translateY(0) translateX(140px);
    width: 509px;
    min-width: 509px;
    height: 228px;
    min-height: 228px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 .tab-text {
    margin-bottom: 70px;
  }
  .page3 .center > .box .slider .item-box {
    height: 650px;
  }
  .page3 .center > .box .slider .item-box .item.item2 .img-box .img {
    width: 80%;
  }
  .page3 .center > .box .slider .item-box .item.item3 .img-box .img {
    width: 90%;
  }
  .page3 .center > .box .slider .item-box .item.item4 .img-box .img {
    width: 90%;
  }
  .page4 .center > .box {
    gap: 40px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box {
    gap: 10px;
    margin-bottom: 0;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .title {
    font-size: 19px;
    line-height: 23px;
  }
  .page4 .center > .box .content-box.content-box2 {
    gap: 40px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box {
    gap: 20px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div {
    width: 98px;
    height: 98px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div i {
    width: 43px;
    height: 43px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div .text {
    font-size: 13px;
    line-height: 15px;
  }
  .page4 .center > .box .content-box.content-box2 .img-box {
    width: 236px;
    height: 370px;
  }
  .page5 .center .box.box2 .text-box.text-box1 .text--box .text {
    font-size: 58px;
    line-height: 66px;
  }
}
@media screen and (max-width: 768px) {
  .page1 .center > .box.box2 .title-box {
    gap: 0;
  }
  .page1 .center > .box.box2 .title-box .title--box .title {
    font-size: 40px;
    line-height: 49px;
  }
  .page1 .center > .box.box2 .title-box .group-box {
    gap: 15px;
  }
  .page1 .center > .box.box2 .btn-box {
    gap: 20px;
  }
  .page1 .center > .box.box2 .btn-box .text {
    font-size: 16px;
    line-height: 24px;
  }
  .page1 .center > .box.box2 .btn-box .btn--box {
    flex-direction: column;
    gap: 10px;
  }
  .page2 .center .tab-list {
    margin-bottom: 30px;
  }
  .page2 .center > .tab-box {
    min-height: 547px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title {
    text-align: center;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .page2 .center > .tab-box > .tab-content .tab-title.type2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .page2 .center > .tab-box > .tab-content .tab-text {
    gap: 0;
  }
  .page2 .center > .tab-box > .tab-content .tab-text > .text {
    font-size: 14px;
    line-height: 20px;
    gap: 0;
  }
  .page2 .center > .tab-box > .tab-content .tab-text > .text span {
    display: inline;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 .tab-text {
    margin-bottom: 70px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box {
    position: relative;
    left: -20px;
    width: 100vw;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider {
    width: 100%;
    display: block;
    padding-left: 20px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area {
    width: 67.68vw;
    margin-right: 25px;
    margin-bottom: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .img-box {
    min-height: 164px;
    height: 21.58vh;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box {
    margin-bottom: 10px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .title-box .title {
    font-size: 24px;
    line-height: 29px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content1 > .item-box .slider .area .item .text-box .text {
    word-break: break-all;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area {
    height: 537px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .tab-text {
    margin-bottom: 71px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .bg {
    width: 190px;
    height: 190px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text {
    font-size: 13px;
    line-height: 15px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 {
    font-size: 28px;
    line-height: 34px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type1 span {
    font-size: 13px;
    line-height: 15px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type2 {
    font-size: 18px;
    line-height: 22px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type3 {
    font-size: 11px;
    line-height: 13px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box .text.type4 {
    font-size: 22px;
    line-height: 26px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box1 {
    width: 104px;
    height: 104px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 {
    width: 170px;
    height: 90px;
    left: 105px;
    top: -52px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 > div {
    border-radius: 45px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box3 {
    width: 117px;
    height: 117px;
    right: 110px;
    top: -14px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 {
    width: 170px;
    height: 90px;
    top: 151px;
    left: 95px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 > div {
    border-radius: 45px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 {
    width: 235px;
    height: 90px;
    top: 251px;
    right: 110px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 .text.text1 {
    margin-bottom: 6px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 > div {
    border-radius: 45px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .tab-text {
    margin-bottom: 21px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box {
    padding-right: 0;
    flex-direction: column-reverse;
    gap: 43px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box {
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .text--box .text::after {
    width: 92px;
    height: 146px;
    background-image: url(../images/main/page2-3-1_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box {
    position: relative;
    transform: translateY(0) translateX(0);
    width: 260px;
    min-width: 260px;
    height: 144px;
    min-height: 144px;
    overflow: visible;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box::before {
    content: "";
    display: block;
    position: absolute;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    top: 100%;
    width: 37px;
    height: 33px;
    background-image: url(../images/main/page2-3-3_mo.png);
    transform: translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item2 .text-box .img-box .img {
    transform: translateX(0);
    background-image: url(../images/main/page2-3-2_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 .tab-text {
    margin-bottom: 20px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box::before {
    display: none;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider {
    flex-direction: column;
    gap: 26px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item {
    width: 100% !important;
    height: 388px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img {
    opacity: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img1 {
    background-image: url(../images/main/page2-4-1_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img2 {
    background-image: url(../images/main/page2-4-2_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img3 {
    background-image: url(../images/main/page2-4-3_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img4 {
    background-image: url(../images/main/page2-4-4_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img5 {
    background-image: url(../images/main/page2-4-5_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .area .item .img.img6 {
    background-image: url(../images/main/page2-4-6_mo.png);
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .slick-dots {
    display: flex;
    gap: 5px;
    justify-content: center;
    opacity: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .slick-dots li {
    display: flex;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .slick-dots li button {
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1.5px solid #777;
  }
  .page2 .center > .tab-box > .tab-content.tab-content3 > .item-box .slider .slick-dots li.slick-active button {
    background: #ed1c24;
    border-color: #ed1c24;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content1 > .item-box .slider .area .item .img-box {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content1 > .item-box .slider .area .item .img-box .img {
    border-radius: 40px 0 40px 0;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content2 > .item-box .slider .area.slick-active .item.item2 .text-box .text--box {
    transition-delay: 1.3s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content2 > .item-box .slider .area.slick-active .item.item2 .text-box .img-box .img {
    transition-delay: 0.3s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content2 > .item-box .slider .area.slick-active .item.item2 .text-box .img-box::before {
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0.8s;
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img {
    opacity: 0;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img1 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img2 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img3 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img4 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img5 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area .item .img.img6 {
    transition-delay: 0s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .area.slick-active .item .img {
    transition: 2s;
    opacity: 1;
    transition-delay: 0.3s;
  }
  .page2.now .center > .tab-box > .tab-content.on.tab-content3 > .item-box .slider .slick-dots {
    transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0.3s;
    opacity: 1;
  }
  .page3 .center h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .page3 .center > .box {
    gap: 30px;
  }
  .page3 .center > .box .slider-nav .slick-dots li.slick-active {
    gap: 5px;
  }
  .page3 .center > .box .slider {
    max-width: 100%;
    padding-bottom: 48px;
  }
  .page3 .center > .box .slider .item-box {
    height: unset;
  }
  .page3 .center > .box .slider .item-box .item > .text-box {
    margin-bottom: 8px;
  }
  .page3 .center > .box .slider .item-box .item > .text-box .text {
    font-size: 18px;
    line-height: 21px;
  }
  .page3 .center > .box .slider .item-box .item > .text.text1 {
    font-size: 14px;
    line-height: 20px;
  }
  .page3 .center > .box .slider .item-box .item > .text.text2 {
    font-size: 14px;
    line-height: 20px;
  }
  .page3 .center > .box .slider .item-box .item.item1 > .text.text1 {
    margin-bottom: 20px;
  }
  .page3 .center > .box .slider .item-box .item.item1 > .text.text2 {
    display: none;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box {
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img1 {
    width: 100%;
    height: 98px;
    background-image: url(../images/main/page3-1-1_mo.png);
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 {
    width: 100%;
    height: 166px;
    justify-content: center;
    transform: translateX(0);
    top: 98px;
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img2 i {
    width: 62px;
    height: 100%;
    background-image: url(../images/main/page3-1-2_mo.png);
    transform: translateX(0) translateY(-100%);
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img3 {
    width: 100%;
    height: 98px;
    background-image: url(../images/main/page3-1-3_mo.png);
    transform: translateX(0) translateY(-113px);
  }
  .page3 .center > .box .slider .item-box .item.item1 .img-box .img.img4 {
    margin-left: 0;
    margin-top: 48px;
    width: 100%;
    height: 154px;
    background-image: url(../images/main/page3-1-4_mo.png);
  }
  .page3 .center > .box .slider .item-box .item.item2 > .text.text1 {
    margin-bottom: 90px;
  }
  .page3 .center > .box .slider .item-box .item.item2 .img-box {
    margin-bottom: 24px;
  }
  .page3 .center > .box .slider .item-box .item.item2 .img-box .img {
    width: 100%;
    min-height: 195px;
    height: 25.66vh;
    background-image: url(../images/main/page3-2_mo.png);
  }
  .page3 .center > .box .slider .item-box .item.item3 > .text.text1 {
    margin-bottom: 60px;
  }
  .page3 .center > .box .slider .item-box .item.item3 .img-box {
    margin-bottom: 24px;
  }
  .page3 .center > .box .slider .item-box .item.item3 .img-box .img {
    width: 100%;
    min-height: 289px;
    height: 38.03vh;
    background-image: url(../images/main/page3-3_mo.png);
  }
  .page3 .center > .box .slider .item-box .item.item4 > .text.text1 {
    margin-bottom: 40px;
  }
  .page3 .center > .box .slider .item-box .item.item4 .img-box {
    margin-bottom: 24px;
  }
  .page3 .center > .box .slider .item-box .item.item4 .img-box .img {
    width: 100%;
    min-height: 289px;
    height: 38.03vh;
    background-image: url(../images/main/page3-4_mo.png);
  }
  .page3.now .center > .box .slider .item-box.slick-active .item.item1 .img-box .img.img2 i {
    transform: translateX(0) translateY(0);
  }
  .page3.now .center > .box .slider .item-box.slick-active .item.item1 .img-box .img.img3 {
    transform: translateX(0) translateY(0);
  }
  .page4 .center h2 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .page4 .center > .box {
    gap: 50px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box {
    gap: 15px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div {
    align-items: flex-start;
    border-radius: 0 28px 28px 0;
    min-height: 56px;
    padding: 20px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .title {
    font-size: 20px;
    line-height: 24px;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div .text {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div:hover {
    min-height: 155px;
    max-height: 155px;
    border-radius: 0 40px 40px 0;
  }
  .page4 .center > .box .content-box.content-box1 .item-box .item > div:hover .text {
    margin-top: 12px;
  }
  .page4 .center > .box .content-box.content-box2 {
    gap: 17px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box {
    gap: 15px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div {
    gap: 4px;
  }
  .page4 .center > .box .content-box.content-box2 .item-box .item > div .text {
    font-size: 13px;
    line-height: 15px;
  }
  .page4 .center > .box .content-box.content-box2 .img-box {
    width: 196px;
    height: 308px;
  }
  .page5 .center {
    gap: 50px;
    padding-bottom: 90px;
  }
  .page5 .center .box.box1 .form-box {
    flex-direction: column;
    gap: 24px;
  }
  .page5 .center .box.box1 .form-box .form--box {
    gap: 24px;
  }
  .page5 .center .box.box1 .form-box .form--box .input-box > div {
    width: 100%;
  }
  .page5 .center .box.box1 .form-box .form--box .input-box.input-box9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }
  .page5 .center .box.box2 {
    gap: 8px;
  }
  .page5 .center .box.box2 .text-box.text-box1 {
    gap: 8px;
  }
  .page5 .center .box.box2 .text-box.text-box1 .text--box .text {
    font-size: 28px;
    line-height: 34px;
  }
  .page5 .center .box.box2 .text-box.text-box2 > p {
    font-size: 14px;
    line-height: 22px;
  }
  .page5 .center .box.box2 .text-box.text-box2 .fp_top_btn {
    width: 50px;
    height: 50px;
    transform: translateY(50px);
  }
}
@media screen and (max-width: 600px) {
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box2 {
    left: 0;
    top: -52px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box3 {
    right: 0;
    top: -14px;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box4 {
    top: 151px;
    left: 0;
  }
  .page2 .center > .tab-box > .tab-content.tab-content2 > .item-box .slider .area .item.item1 .text-box .text--box.text--box5 {
    top: 251px;
    right: 0;
  }
}