@charset "UTF-8";
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  background: #fff;
  height: 116px;
}
.header .container {
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-top: 42px;
  padding-bottom: 35px;
}
.header .logo a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  display: block;
  width: 85px;
  height: 39px;
  background-image: url(../../../images/components/header/logo.png);
}
.header .nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 153px;
  flex-wrap: nowrap;
}
.header .nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item {
  position: relative;
}
.header .nav .menu .menu-item .menu-btn {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  color: #111;
}
.header .nav .menu .menu-item .menu-btn.arrow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item .menu-btn.arrow i {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  width: 12px;
  height: 6px;
  background-image: url(../../../images/components/header/arrow.png);
}
.header .nav .menu .menu-item.download .sub-menu-wrap {
  top: calc(100% + 20px);
  left: -29px;
  min-width: 640px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  display: none;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu {
  display: grid;
  grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item {
  display: inline-flex;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item1 {
  grid-area: item1;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item2 {
  grid-area: item2;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item3 {
  grid-area: item3;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item4 {
  grid-area: item4;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item.item5 {
  grid-area: item5;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 14px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .desc {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #6e6e6e;
  display: block;
  margin-top: 2px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice {
  background: #f61821;
  border-radius: 4px;
  padding: 22px 22px 24px;
  text-align: center;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .title {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #fff;
  text-decoration: underline;
  margin-bottom: 11px;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #fff;
}
.header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc strong {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.18px;
  display: block;
  margin-bottom: 4px;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  min-width: 204px;
  padding: 17px 20px 21px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu .item > a {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu .item > a:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .menu .menu-item .sub-menu-wrap {
  position: absolute;
}
.header .nav .menu .menu-item.on .menu-btn.arrow {
  color: #fc3220;
}
.header .nav .menu .menu-item.on .menu-btn.arrow i {
  background-image: url(../../../images/components/header/arrow-red.png);
  transform: rotate(-180deg);
}
.header .nav .menu .menu-item.on .sub-menu-wrap {
  display: block;
}
.header .nav .utils {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 6px;
  flex-wrap: nowrap;
}
.header .nav .utils .lang {
  position: relative;
  height: 100%;
}
.header .nav .utils .lang .lang-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  position: relative;
  padding: 9px 8px;
  min-width: 84px;
  max-width: 84px;
  height: 36px;
  border: solid 1px #aaa;
  border-radius: 6px;
  cursor: pointer;
}
.header .nav .utils .lang .lang-info .title {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .utils .lang .lang-info .icon.left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background-image: url(../../../images/components/header/lang.png);
}
.header .nav .utils .lang .lang-info .icon.right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  right: 8px;
  width: 10px;
  height: 5px;
  background-image: url(../../../images/components/header/arrow-lang.png);
}
.header .nav .utils .lang .lang-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  top: calc(100% + 2px);
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  background: #fff;
  border: 1px solid #aaa;
  display: none;
}
.header .nav .utils .lang .lang-menu .item .btn {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #111;
}
.header .nav .utils .lang .lang-menu .item .btn:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .utils .lang.on .lang-info .icon.right {
  transform: rotate(-180deg);
}
.header .nav .utils .lang.on .lang-menu {
  display: flex;
}
.header .nav .utils .acc {
  position: relative;
  height: 100%;
}
.header .nav .utils .acc .acc-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  position: relative;
  width: 100px;
  height: 36px;
  background: #fc3220;
  border-radius: 6px;
  padding: 9px 12px;
  cursor: pointer;
}
.header .nav .utils .acc .acc-info .title {
  font-family: "Pretendard-Medium";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 58px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
}
.header .nav .utils .acc .acc-info .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: absolute;
  right: 10px;
  width: 10px;
  height: 5px;
  background-image: url(../../../images/components/header/arrow-acc.png);
}
.header .nav .utils .acc .acc-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 10px;
  flex-wrap: nowrap;
  top: calc(100% + 2px);
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  background: #fc3220;
  display: none;
}
.header .nav .utils .acc .acc-menu .item .btn {
  font-family: "Pretendard-Regular";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
}
.header .nav .utils .acc .acc-menu .item .btn:hover {
  font-family: "Pretendard-Medium";
  text-decoration: underline;
}
.header .nav .utils .acc.on .acc-info .icon {
  transform: rotate(-180deg);
}
.header .nav .utils .acc.on .acc-menu {
  display: flex;
}
.header .nav .utils .login-btn {
  font-family: "Pretendard-Medium";
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #fff;
  width: 100px;
  height: 36px;
  background: #fc3220;
  border-radius: 6px;
}
.header .toggle-btn {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  position: relative;
  display: none;
  width: 22px;
  height: 22px;
  z-index: 999999;
}
.header .toggle-btn i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 2px;
  background: #111;
}
.header .toggle-btn::before, .header .toggle-btn::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background: #111;
  left: 0;
  transition: 0.3s;
}
.header .toggle-btn::before {
  top: 0;
}
.header .toggle-btn::after {
  bottom: 0;
}
.header .toggle-btn.on::before, .header .toggle-btn.on::after {
  top: 50%;
  left: 50%;
}
.header .toggle-btn.on::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header .toggle-btn.on::after {
  bottom: unset;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header .toggle-btn.on i {
  opacity: 0;
}

@media screen and (max-width: 1600px) {
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
  }
  .header .nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    height: 60px;
  }
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: normal;
    flex-wrap: nowrap;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header .logo {
    z-index: 999999;
  }
  .header .logo a {
    width: 67px;
    height: 30px;
  }
  .header .nav {
    display: none;
  }
  .header .nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 34px;
    flex-wrap: nowrap;
  }
  .header .nav .menu .menu-item .menu-btn {
    width: 100%;
  }
  .header .nav .menu .menu-item .menu-btn.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap {
    z-index: 9;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    min-width: unset;
    width: 100vw;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu {
    border-top: 1px solid #fc3220;
    padding: 32px 0 36px;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5";
    grid-template-columns: 1fr;
    width: calc(100vw - 100px);
    margin: 0 auto;
    gap: 32px;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .title {
    font-family: "Pretendard-Medium";
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .sub-menu .item > a .cont .desc {
    margin-top: 1px;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .notice {
    border-radius: 0;
    padding: 22px 22px 28px;
    height: 100%;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .notice .title {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
  }
  .header .nav .menu .menu-item.download .sub-menu-wrap .notice .desc strong {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.16px;
    margin-bottom: 8px;
  }
  .header .nav .menu .menu-item.customerservice .sub-menu-wrap {
    z-index: 9;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    min-width: unset;
    width: 100vw;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    display: none;
  }
  .header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 25px;
    flex-wrap: nowrap;
    border-top: 1px solid #fc3220;
    padding: 28px 0;
    width: calc(100vw - 100px);
    margin: 0 auto;
  }
  .header .nav .menu .menu-item.customerservice .sub-menu-wrap .sub-menu .item > a {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.16px;
  }
  .header .nav .utils {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 20px;
    flex-wrap: nowrap;
  }
  .header .nav .utils .lang .lang-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: normal;
    flex-wrap: nowrap;
    padding: 12px 20px;
    min-width: 100%;
    max-width: 100%;
    height: 44px;
    border-radius: 8px;
  }
  .header .nav .utils .lang .lang-info .title {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.16px;
  }
  .header .nav .utils .lang .lang-info .icon.left {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  .header .nav .utils .lang .lang-info .icon.right {
    right: 20px;
    width: 12px;
    height: 6px;
  }
  .header .nav .utils .lang .lang-menu {
    display: none;
    top: unset;
    bottom: calc(100% + 2px);
    border-radius: 8px;
    padding: 18px;
  }
  .header .nav .utils .lang .lang-menu .item .btn {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.16px;
  }
  .header .nav .utils .acc .acc-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: normal;
    flex-wrap: nowrap;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    padding: 12px 20px;
  }
  .header .nav .utils .acc .acc-info .title {
    max-width: calc(100% - 104px);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.18px;
  }
  .header .nav .utils .acc .acc-info .icon {
    right: 20px;
    width: 12px;
    height: 6px;
  }
  .header .nav .utils .acc .acc-menu {
    display: none;
    top: unset;
    bottom: calc(100% + 2px);
    border-radius: 8px;
    padding: 24px;
  }
  .header .nav .utils .acc .acc-menu .item .btn {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.18px;
  }
  .header .nav .utils .login-btn {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.18px;
    width: 100%;
    height: 44px;
    min-height: 44px;
    border-radius: 8px;
  }
  .header .nav.on {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 100px;
    flex-wrap: nowrap;
    padding: 130px 50px 70px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: #fff;
    overflow-y: auto;
  }
  .header .nav.on::-webkit-scrollbar {
    display: none;
  }
  .header .nav.on .menu .menu-item.on .sub-menu-wrap {
    display: block;
  }
  .header .nav.on .utils .lang.on .lang-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
  }
  .header .nav.on .utils .acc.on .acc-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .header .toggle-btn {
    display: block;
  }
}
.feedback .section {
  padding-top: 44px;
  margin-bottom: 150px;
}
.feedback .section .container {
  max-width: 1206px;
  margin: 0 auto;
  padding: 0 15px;
}
.feedback .section .scroll-trigger .section-title {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(50%);
}
.feedback .section .scroll-trigger .section-desc {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}
.feedback .section .scroll-trigger .write-wrap {
  transition: 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  transform: translateY(10%);
}
.feedback .section .scroll-trigger.on .section-title {
  opacity: 1;
  transform: translateY(0);
}
.feedback .section .scroll-trigger.on .section-desc {
  opacity: 1;
}
.feedback .section .scroll-trigger.on .write-wrap {
  opacity: 1;
  transform: translateY(0);
}
.feedback .section .scroll-trigger--1 {
  margin-bottom: 18px;
}
.feedback .section .scroll-trigger--1 .section-title {
  font-family: "Pretendard-Bold";
  font-size: 42px;
  line-height: 1.14;
  letter-spacing: -0.42px;
  color: #111;
}
.feedback .section .scroll-trigger--2 {
  margin-bottom: 70px;
}
.feedback .section .scroll-trigger--2 .section-desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  color: #6e6e6e;
}
.feedback .section .scroll-trigger--3 .write-wrap {
  padding-top: 50px;
  border-top: 1px solid #111;
}
.feedback .section .scroll-trigger--3 .write-wrap .item {
  margin-bottom: 40px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item:last-of-type {
  margin-bottom: 90px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item.warning {
  margin-bottom: 16px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .title,
.feedback .section .scroll-trigger--3 .write-wrap .item .desc {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .title span,
.feedback .section .scroll-trigger--3 .write-wrap .item .desc span {
  color: #fc3220;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .title {
  margin-bottom: 16px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .desc {
  margin-top: 16px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .form-message {
  font-family: "Pretendard-Light";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.14px;
  color: #fc3220;
  margin-top: 8px;
  display: none;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .form-message.on {
  display: block;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list .dropdown-wrap {
  max-width: 490px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list .dropdown-wrap.mw310 {
  max-width: 310px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap {
  height: 44px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap.radio.type1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 60px;
  flex-wrap: nowrap;
  height: 100%;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap.radio.type2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap.radio.type2::-webkit-scrollbar {
  display: none;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .textarea-wrap textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .file-list {
  padding: 24px 30px;
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 8px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .file-list .item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 14px;
  flex-wrap: nowrap;
  margin-bottom: 22px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .file-list .item:last-of-type {
  margin-bottom: 0;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .file-list .item .name {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.16px;
  color: #111;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap {
  background: #f8f8f8;
  border-radius: 8px;
  padding: 6px;
  border: 1px solid #d4d4d4;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont {
  height: 286px;
  overflow-y: auto;
  padding: 9px 44px 9px 14px;
  /* 스크롤바의 폭 너비 */
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont::-webkit-scrollbar {
  width: 6px;
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont::-webkit-scrollbar-thumb {
  background: #bebebe; /* 스크롤바 색상 */
  border-radius: 3px; /* 스크롤바 둥근 테두리 */
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}
.feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont .text {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.16px;
  color: #6e6e6e;
}
.feedback .section .scroll-trigger--3 .write-wrap .basic-btn {
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .feedback .section {
    padding-top: 28px;
    margin-bottom: 80px;
  }
  .feedback .section .scroll-trigger--1 {
    margin-bottom: 20px;
  }
  .feedback .section .scroll-trigger--1 .section-title {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.3px;
  }
  .feedback .section .scroll-trigger--2 {
    margin-bottom: 48px;
  }
  .feedback .section .scroll-trigger--2 .section-desc {
    line-height: 1.38;
  }
  .feedback .section .scroll-trigger--3 .write-wrap {
    padding-top: 40px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item {
    margin-bottom: 24px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item:last-of-type {
    margin-bottom: 60px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item.warning {
    margin-bottom: 18px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .title,
  .feedback .section .scroll-trigger--3 .write-wrap .item .desc {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.14px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .title {
    margin-bottom: 12px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .desc {
    margin-top: 12px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .form-message {
    margin-top: 6px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 6px;
    flex-wrap: nowrap;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list .dropdown-wrap {
    max-width: unset;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list .dropdown-wrap.mw310 {
    max-width: unset;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .dropdown-wrap-list .dropdown-wrap:first-of-type {
    z-index: 99;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap {
    height: 44px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap.radio.type1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .input-wrap.radio.type2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .textarea-wrap textarea {
    min-height: 300px;
    max-height: 300px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .file-list {
    padding: 18px 20px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .file-list .item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .file-list .item .name {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.15px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap {
    padding: 6px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont {
    height: 364px;
    padding: 8px 9px 8px 6px;
  }
  .feedback .section .scroll-trigger--3 .write-wrap .item .info-wrap .cont .text {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.14px;
  }
}