@use '../../common' as *;
@import '../../components/header';

.userreview2 {
  .section {
    padding-top: 44px;
    margin-bottom: 60px;

    // container
    .container {
      @include max-width($mw: 1206px);
    }

    // scroll-trigger
    .scroll-trigger {
      .meta-wrap {
        transition: $transition-littleslow;
        opacity: 0;
      }

      .detail-cont {
        transition: $transition-littleslow;
        opacity: 0;
        transform: translateY(10%);
      }

      .basic-btn {
        transition: $transition-littleslow;
        opacity: 0;
      }

      &.on {
        .meta-wrap {
          opacity: 1;
        }

        .detail-cont {
          opacity: 1;
          transform: translateY(0);
        }

        .basic-btn {
          opacity: 1;
        }
      }
    }

    // style
    .scroll-trigger {
      &--1 {
        margin-bottom: 30px;
      }

      &--2 {
        .detail-cont {
          margin-bottom: 40px;
        }

        .basic-btn {
          margin: 0 auto;
        }
      }
    }
  }
}
