.u-mt-20 {
  margin-top: 20px !important;
}

.u-mb-7 {
  margin-bottom: 7px !important;
}

.u-mb-8 {
  margin-bottom: 8px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-g-12 {
  gap: 12px !important;
}
