@charset 'utf-8';

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('../font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('../font/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../font/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../font/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Campton-Light';
  src: url('../font/Campton-Light.woff') format('woff');
}


@font-face {
  font-family: 'Campton-Medium';
  src: url('../font/Campton-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Campton-SemiBold';
  src: url('../font/Campton-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Campton-Bold';
  src: url('../font/Campton-Bold.woff') format('woff');
}