@use '../../common' as *;
@import '../../components/header';
@import '../../components/footer';

.components {
  .section {
    background: #000000;
    border-bottom: 1px solid #fff;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #fff;

    &:first-child {
      border-top: 1px solid #fff;
    }

    &:last-child {
      border-bottom: none;
    }

    h2 {
      @include preBold();
      font-size: 50px;
      line-height: 1;
      text-align: center;
      margin-bottom: 50px;
    }

    .item-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h3 {
        @include preMedium();
        font-size: 33px;
        line-height: 1;
        margin-bottom: 40px;
        text-decoration: underline;
      }

      .item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 30px;
        padding: 0 15px;

        &:last-of-type {
          margin-bottom: 0;
        }

        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          .title {
            @include preRegular();
            font-size: 18px;
            line-height: 1;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
