header {
  transition: 1s;
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #000;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999;
}
header h1 a {
  display: block;
  width: 120px;
  height: 48px;
  background: url(../images/main/logo.svg) no-repeat center/100%;
  text-indent: -9999px;
}
header .login {
  font-family: "Pretendard-Light";
  width: 155px;
  height: 55px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
header .login:hover {
  font-family: "Pretendard-Medium";
  background: #fff;
  color: #000;
}

header.white {
  background: #fff;
}
header.white h1 a {
  background: url(../images/main/logo_white.svg) no-repeat center/100%;
}
header.white .login {
  color: #000;
  border: 1px solid #000;
}
header.white .login:hover {
  background: #000;
  color: #fff;
}

.pageWrap .page {
  padding: 0 10%;
  overflow: hidden;
  position: relative;
}
.pageWrap .page h2 {
  font-family: "Pretendard-SemiBold";
  font-size: 70px;
  color: #010101;
  font-weight: 600;
}
.pageWrap .page p, .pageWrap .page li {
  font-family: "Pretendard-Light";
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}
.pageWrap .page h2, .pageWrap .page p, .pageWrap .page li {
  position: relative;
  z-index: 99;
}
.pageWrap .page a {
  z-index: 99;
}
.pageWrap .page.cont1 {
  background: url(../images/main/cont1_bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.pageWrap .page.cont1::before, .pageWrap .page.cont1::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont1::before {
  width: 45.5%;
  height: 611px;
  background: url(../images/main/cont1_img01.png) no-repeat bottom right/contain;
  bottom: 0;
  right: 0;
  transform: translateY(150px);
}
.pageWrap .page.cont1::after {
  width: 47.2%;
  height: 546px;
  background: url(../images/main/cont1_img02.png) no-repeat center/contain;
  bottom: 26%;
  right: 8.8%;
  transform: translateY(-150px);
}
.pageWrap .page.cont1 h2 {
  line-height: 1.29;
  color: #fff;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont1 p {
  color: #999999;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont1 a {
  font-family: "Pretendard-Medium";
  display: inline-block;
  width: 400px;
  height: 90px;
  font-size: 28px;
  line-height: 90px;
  font-weight: 500;
  text-align: center;
  background: #2db400;
  border-radius: 10px;
}
.pageWrap .page.cont1.on::before, .pageWrap .page.cont1.on::after {
  opacity: 1;
}
.pageWrap .page.cont1.on::before {
  transform: translateY(0px);
}
.pageWrap .page.cont1.on::after {
  transform: translateY(0px);
}
.pageWrap .page.cont1.on h2 {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont1.on p {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont2 {
  background: url(../images/main/cont2_bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}
.pageWrap .page.cont2::before {
  content: "";
  display: block;
  position: absolute;
  width: 43%;
  height: 83.5%;
  background: url(../images/main/cont2_img01.png) no-repeat center/contain;
  bottom: 0;
  left: 0;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont2 h2 {
  transform: translateX(150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  gap: 30px;
  transform: translateX(150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont2 ul li {
  display: inline-block;
  position: relative;
  color: #666666;
  padding-left: 52.5px;
}
.pageWrap .page.cont2 ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 49.5px;
  height: 48.5px;
  background: url(../images/main/cont2_img02.png) no-repeat center/cover;
  bottom: 0;
  left: 0;
}
.pageWrap .page.cont2.on::before {
  transform: translateY(0px);
  opacity: 1;
}
.pageWrap .page.cont2.on h2 {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont2.on ul {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont3 {
  background: #F4FFF1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 44px;
}
.pageWrap .page.cont3::before {
  content: "";
  display: block;
  position: absolute;
  width: 1097px;
  height: 100%;
  background: url(../images/main/cont3_img01.png) no-repeat center/cover;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.7s ease-in-out;
}
.pageWrap .page.cont3 h2 {
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont3 p {
  line-height: 1.67;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont3.on::before {
  opacity: 1;
}
.pageWrap .page.cont3.on h2 {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont3.on p {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont4 {
  background: url(../images/main/cont4_bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
  gap: 100px;
  padding-top: 160px;
}
.pageWrap .page.cont4 h2 {
  color: #fff;
  opacity: 0;
  transform: translateY(150px);
  transition: 0.5s;
}
.pageWrap .page.cont4 .slider_wrap {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont4 .slider_wrap .btn {
  display: none;
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider {
  display: flex;
  justify-content: space-between;
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item {
  min-width: 365px;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item p {
  text-align: center;
  font-family: "Pretendard-Medium";
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item p span {
  display: block;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  color: #3ae800;
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item .img {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: calc(100vh - 420px);
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item .img1 {
  background-image: url(../images/main/cont4_img01.png);
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item .img2 {
  background-image: url(../images/main/cont4_img02.png);
}
.pageWrap .page.cont4 .slider_wrap .content_wrap .slider .item .img3 {
  background-image: url(../images/main/cont4_img03.png);
}
.pageWrap .page.cont4.on h2 {
  transform: translateY(0px);
  opacity: 1;
}
.pageWrap .page.cont4.on .slider_wrap {
  transform: translateY(0px);
  opacity: 1;
}
.pageWrap .page.cont5 {
  background: url(../images/main/cont5_bg.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.pageWrap .page.cont5 h2 {
  font-size: 64px;
  color: #fff;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont5 ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transform: translateX(-150px);
  opacity: 0;
  transition: 0.5s;
}
.pageWrap .page.cont5 ul li {
  position: relative;
  font-size: 24px;
  padding-left: 10px;
  color: #fff;
}
.pageWrap .page.cont5 ul li span {
  color: #3ae800;
}
.pageWrap .page.cont5 ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.pageWrap .page.cont5.on h2 {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap .page.cont5.on ul {
  transform: translateX(0px);
  opacity: 1;
}
.pageWrap footer {
  padding: 64px 10% !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
}
.pageWrap footer .footer_logo {
  text-indent: -9999px;
  width: 210px;
  height: 36px;
  background: url(../images/main/footer_logo.svg) no-repeat center/100%;
}
.pageWrap footer .text_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pageWrap footer .text_box ul {
  display: flex;
  flex-wrap: wrap;
}
.pageWrap footer .text_box ul li {
  position: relative;
  color: #bbbbbb;
  font-size: 14px;
  line-height: 16px;
  padding-right: 16px;
  margin-right: 15px;
}
.pageWrap footer .text_box ul li::before {
  content: "";
  display: block;
  width: 1px;
  background: #555555;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.pageWrap footer .text_box ul li span {
  position: relative;
  display: inline-block;
  padding-right: 16px;
  margin-right: 15px;
}
.pageWrap footer .text_box ul li span::before {
  content: "";
  display: block;
  width: 1px;
  background: #555555;
  height: 10px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.pageWrap footer .text_box ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
.pageWrap footer .text_box ul li:last-child::before {
  display: none;
}
.pageWrap footer .btn_box {
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}
.pageWrap footer .btn_box li {
  text-align: center;
  height: 100%;
}
.pageWrap footer .btn_box li a {
  transition: 0.3s;
  display: block;
  font-size: 14px;
  line-height: 40px;
  height: 100%;
}
.pageWrap footer .btn_box li a:hover {
  font-family: "Pretendard-Medium";
  background: #fff;
  color: #000;
}
.pageWrap footer .btn_box li:first-child {
  position: relative;
  width: 41%;
}
.pageWrap footer .btn_box li:first-child::before {
  content: "";
  display: block;
  width: 1px;
  background: #707070;
  height: 15px;
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
}
.pageWrap footer .btn_box li:last-child {
  width: 59%;
}

.topBtn {
  cursor: pointer;
  position: fixed;
  opacity: 0;
  right: 40px;
  width: 64px;
  height: 64px;
  transform: scale(0);
  border-radius: 100%;
  text-indent: -9999px;
  transition: 0.5s;
  border: none;
  background: #FEFEFE url(../images/main/topBtn.svg) no-repeat center/30%;
}

.topBtn.on {
  opacity: 1;
  transform: scale(1);
  transition: 0.5s;
}

.modal {
  display: none;
}

.modal.on {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.on .modal_main {
  width: 50%;
  height: 70%;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
}
.modal.on .modal_main .modal_header {
  height: 15%;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  padding: 0 6.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal.on .modal_main .modal_header .modal_logo {
  text-indent: -9999px;
  width: 90px;
  height: 80%;
  background: url(../images/main/logo_white.svg) no-repeat center/100%;
}
.modal.on .modal_main .modal_header .remove {
  position: relative;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  border: none;
  background: unset;
  cursor: pointer;
}
.modal.on .modal_main .modal_header .remove::before, .modal.on .modal_main .modal_header .remove::after {
  content: "";
  display: block;
  position: absolute;
  background: #040504;
  width: 1px;
  height: 30px;
  top: 50%;
  left: 50%;
}
.modal.on .modal_main .modal_header .remove::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal.on .modal_main .modal_header .remove::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.modal.on .modal_main .modal_cont {
  height: 85%;
  padding: 6.4% 6.6%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.modal.on .modal_main .modal_cont h3 {
  font-family: "Pretendard-Medium";
  color: #333;
  font-size: 24px;
}
.modal.on .modal_main .modal_cont .text_box {
  height: 80%;
  overflow-y: auto;
}
.modal.on .modal_main .modal_cont .text_box p {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 25px;
  color: #333;
}