:root {
  --white-100: #fff;
  --black-100: #000;
  --black-200: #222;
  --black-300: #030303;
  --charcoal-100: #555;
  --charcoal-200: #999;
  --charcoal-300: #777;
  --gray-100: #f3f4f6;
  --gray-200: #888;
  --gray-300: #b1b1b1;
  --gray-400: #e9e9e9;
  --gray-500: #f8f9fb;
  --gray-600: #f0f0f0;
  --gray-700: #d8d8d8;
  --gray-800: #afafaf;
  --gray-900: #aaa;
  --gray-1000: #eee;
  --yellow-100: #ffdd00;
  --blue-100: #0084fd;
  --red-100: #f83131;
  --color-bg-header-100: var(--white-100);
  --color-bg-bottom-nav-100: var(--white-100);
  --color-bg-section-100: var(--white-100);
  --color-bg-section-200: var(--gray-100);
  --color-bg-section-300: var(--gray-500);
  --color-bg-item-100: var(--white-100);
  --color-bg-item-200: var(--gray-500);
  --color-bg-popup-100: var(--white-100);
  --color-bg-button-100: var(--blue-100);
  --color-bg-button-200: var(--gray-1000);
  --color-bg-badge-100: var(--yellow-100);
  --color-bg-badge-200: var(--white-100);
  --color-bg-badge-300: var(--blue-100);
  --color-bg-badge-400: var(--black-200);
  --color-text-header-100: var(--black-200);
  --color-text-bottom-nav-100: var(--gray-300);
  --color-text-title-section-100: var(--black-100);
  --color-text-title-section-200: var(--charcoal-200);
  --color-text-title-item-100: var(--black-200);
  --color-text-title-item-200: var(--charcoal-200);
  --color-text-title-item-300: var(--charcoal-300);
  --color-text-title-item-400: var(--charcoal-100);
  --color-text-desc-item-100: var(--charcoal-100);
  --color-text-desc-item-200: var(--gray-200);
  --color-text-desc-item-300: var(--blue-100);
  --color-text-desc-item-400: var(--black-200);
  --color-text-desc-item-500: var(--charcoal-300);
  --color-text-desc-item-600: var(--charcoal-200);
  --color-text-desc-item-700: var(--red-100);
  --color-text-button-100: var(--black-200);
  --color-text-button-200: var(--white-100);
  --color-text-button-300: var(--gray-900);
  --color-text-button-400: var(--blue-100);
  --color-text-input-100: var(--gray-800);
  --color-text-input-200: var(--black-200);
  --color-text-input-300: var(--blue-100);
  --color-text-badge-100: var(--black-300);
  --color-text-badge-200: var(--blue-100);
  --color-text-badge-300: var(--white-100);
  --color-border-bottom-nav-100: var(--gray-400);
  --color-border-item-100: var(--gray-600);
  --color-border-input-100: var(--gray-700);
  --color-border-badge-100: var(--blue-100);
  --color-border-badge-200: var(--black-200);
}

.benefits__section .container {
  max-width: calc(100% - 40px);
  margin: 0 auto;
}
.benefits__section--activities {
  background-color: var(--color-bg-section-100);
  padding: 10px 0 30px;
}
.benefits__section--activities .benefits__banner:first-of-type {
  margin-bottom: 30px;
}
.benefits__section--activities .benefits__list {
  margin-bottom: 30px;
}
.benefits__section--missions {
  background-color: var(--color-bg-section-200);
  padding: 30px 0 40px;
}
.benefits__section--missions .benefits__title {
  margin-bottom: 20px;
}
.benefits__title {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  letter-spacing: -0.36px;
  color: var(--color-text-title-section-100);
}
.benefits__banner {
  height: 100px;
}
.benefits__banner-content {
  position: relative;
  max-width: 320px;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}
.benefits__banner-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  font-family: "Pretendard-Bold";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: var(--color-bg-badge-100);
  color: var(--color-text-badge-100);
  font-size: 12px;
}
.benefits__list--activities {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 0;
}
.benefits__list--missions {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 12px;
  flex-wrap: nowrap;
}
.benefits__item--missions {
  background-color: var(--color-bg-item-100);
  border-radius: 15px;
  min-height: 80px;
}
.benefits__btn--activities {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  max-width: 0;
  margin: 0 auto;
}
.benefits__btn--missions {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 18px;
  flex-wrap: nowrap;
  padding: 18px 24px;
  width: 100%;
  height: 100%;
}
.benefits__btn--missions .icon--arrow-right-type1 {
  margin-left: auto;
}
.benefits__item-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: nowrap;
}
.benefits__item-title {
  font-family: "Pretendard-Bold";
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 19px;
  color: var(--color-text-title-item-100);
}
.benefits__item-desc--activities {
  font-family: "Pretendard-Regular";
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.24px;
  color: var(--color-text-desc-item-100);
  white-space: nowrap;
}
.benefits__item-desc--missions {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  letter-spacing: -0.28px;
  line-height: 16px;
  color: var(--color-text-desc-item-200);
}