@use '../common' as *;

.benefits {
  &__section {
    .container {
      @include max-width();
    }

    &--activities {
      background-color: var(--color-bg-section-100);
      padding: 10px 0 30px;

      .benefits__banner {
        &:first-of-type {
          margin-bottom: 30px;
        }
      }

      .benefits__list {
        margin-bottom: 30px;
      }
    }

    &--missions {
      background-color: var(--color-bg-section-200);
      padding: 30px 0 40px;

      .benefits__title {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    @include preBold();
    font-size: 18px;
    letter-spacing: -0.36px;
    color: var(--color-text-title-section-100);
  }

  &__banner {
    height: 100px;

    &-content {
      position: relative;
      max-width: 320px;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      margin: 0 auto;
    }

    &-badge {
      @include flex-pos($jc: center, $ai: center);
      @include preBold();
      position: absolute;
      top: 8px;
      right: 8px;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background: var(--color-bg-badge-100);
      color: var(--color-text-badge-100);
      font-size: 12px;
    }
  }

  &__list {
    &--activities {
      display: grid;
      grid-template-columns: repeat(5, minmax(0, 1fr));
      grid-template-rows: repeat(3, 1fr);
      gap: 20px 0;
    }

    &--missions {
      @include flex-pos($fd: column, $g: 12px);
    }
  }

  &__item {
    &--missions {
      background-color: var(--color-bg-item-100);
      border-radius: 15px;
      min-height: 80px;
    }
  }

  &__btn {
    &--activities {
      @include flex-pos($fd: column, $ai: center, $g: 10px);
      max-width: 0;
      margin: 0 auto;
    }

    &--missions {
      @include flex-pos($ai: center, $g: 18px);
      padding: 18px 24px;
      width: 100%;
      height: 100%;

      .icon--arrow-right-type1 {
        margin-left: auto;
      }
    }
  }

  &__item-content {
    @include flex-pos($fd: column, $ai: flex-start, $g: 5px);
  }

  &__item-title {
    @include preBold();
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 19px;
    color: var(--color-text-title-item-100);
  }

  &__item-desc {
    &--activities {
      @include preRegular();
      font-size: 12px;
      line-height: 12px;
      letter-spacing: -0.24px;
      color: var(--color-text-desc-item-100);
      white-space: nowrap;
    }

    &--missions {
      @include preRegular();
      font-size: 14px;
      letter-spacing: -0.28px;
      line-height: 16px;
      color: var(--color-text-desc-item-200);
    }
  }
}
