@use '../common' as *;

.contact-us {
  &__section {
    padding: 5px 0 50px;

    .container {
      @include max-width();
    }

    .btn--content {
      margin-top: 30px;
    }
  }

  &__content {
    &--submit {
      padding-top: 30px;
    }

    &--history {
      padding-top: 10px;
    }
  }

  &__empty {
    @include flex-pos($fd: column, $ai: center, $jc: center, $g: 20px);
    height: calc(100vh - 236px);
    min-height: 430px;
  }

  &__item {
    &--list {
      border-bottom: 1px solid var(--color-border-item-100);
    }

    .icon--arrow-top-type1 {
      transform: rotate(180deg);
    }

    .notice-box--agreement {
      padding: 0;
      margin-top: 0;
    }

    .notice-box--agreement,
    .contact-us__item-content--bottom {
      overflow: hidden;
      height: 0;
    }

    &.is-active {
      .icon--arrow-top-type1 {
        transform: rotate(0deg);
      }

      .notice-box--agreement {
        padding: 20px;
        margin-top: 16px;
      }

      .notice-box--agreement,
      .contact-us__item-content--bottom {
        height: 100%;
      }
    }
  }

  &__item-content {
    &--top {
      @include flex-pos($ai: center, $jc: space-between, $g: 12px);
      position: relative;
      margin: 20px 0;

      .icon--arrow-top-type1 {
        flex-shrink: 0;
      }
    }
  }

  &__answer-box {
    border-radius: 8px;
    padding: 20px 20px 25px;
    background-color: var(--color-bg-item-200);

    .contact-us__info-box {
      margin-bottom: 16px;
    }
  }

  &__info-box {
    @include flex-pos($ai: center, $g: 15px);
    margin-bottom: 12px;
  }

  &__field {
    &--text {
      margin-bottom: 20px;

      &:nth-last-of-type(3) {
        margin-bottom: 30px;
      }
    }

    &--checkbox {
      @include flex-pos($ai: center, $jc: space-between);
    }
  }

  &__title {
    @include preBold();
    font-size: 16px;
    line-height: 19px;

    &--submit {
      color: var(--color-text-title-item-100);
      margin-bottom: 10px;
    }

    &--list {
      color: var(--color-text-title-item-400);
    }
  }

  &__desc {
    &--empty {
      @include preRegular();
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-text-desc-item-600);
      margin-bottom: 30px;
    }

    &--list {
      @include preRegular();
      font-size: 14px;
      line-height: 18px;
      color: var(--color-text-desc-item-100);

      &.contact-us__desc--spaced {
        margin-bottom: 20px;
      }
    }
  }

  &__img {
    &--empty {
      @include image-set();
      width: 60px;
      height: 60px;
      background-image: url(../../images/empty-type1.png);
    }
  }

  &__badge {
    @include preRegular();
    @include flex-pos($ai: center, $jc: center);
    font-size: 12px;
    border-radius: 14px;
    padding: 7px 12px;
    max-width: 68px;
    white-space: nowrap;

    &--pending {
      background-color: var(--color-bg-badge-200);
      border: 1px solid var(--color-border-badge-100);
      color: var(--color-text-badge-200);
    }

    &--completed {
      background-color: var(--color-bg-badge-300);
      border: 1px solid var(--color-border-badge-100);
      color: var(--color-text-badge-300);
    }

    &--replied {
      background-color: var(--color-bg-badge-400);
      border: 1px solid var(--color-border-badge-200);
      color: var(--color-text-badge-300);
    }
  }

  &__date {
    @include preRegular();
    font-size: 12px;
    line-height: 15px;
    color: var(--color-text-desc-item-600);
  }

  &__btn {
    &--dropdown {
      @include pos-center();
      width: 100%;
      height: 100%;
    }
  }
}
