@use '../common' as *;

.product-details {
  &__section {
    .container {
      @include max-width();
    }

    &--purchase {
      background-color: var(--color-bg-section-300);
      padding-bottom: 10px;
    }

    &--guide {
      background-color: var(--color-bg-section-100);
      padding: 30px 0 50px;
    }
  }

  &__content {
    &--purchase {
      background-color: var(--color-bg-item-100);
      padding: 30px 0;
      box-shadow: 0 1px 2px 0 #0000001a;
    }

    &--guide {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__img-box {
    @include flex-pos($jc: center, $ai: center);
    padding: 48px 80px;
    background-color: var(--color-bg-item-200);
  }

  &__sub-title {
    &--purchase {
      @include preRegular();
      font-size: 14px;
      line-height: 16px;
      color: var(--color-text-title-item-200);
      margin-bottom: 5px;
    }
  }

  &__title {
    &--purchase {
      @include preMedium();
      font-size: 18px;
      line-height: 21px;
      color: var(--color-text-title-item-100);
      margin-bottom: 12px;
    }

    &--guide {
      @include preSemiBold();
      font-size: 14px;
      line-height: 16px;
      color: var(--color-text-title-item-300);
      margin-bottom: 10px;
    }
  }

  &__price {
    &--purchase {
      @include preBold();
      font-size: 24px;
      line-height: 29px;
      color: var(--color-text-desc-item-300);
      margin-bottom: 10px;
    }
  }

  &__desc-box {
    &--guide {
      @include flex-pos($g: 5px);
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__desc {
    &--purchase {
      @include flex-pos($ai: center, $g: 12px);
      @include preRegular();
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 24px;
    }

    &--guide {
      @include preRegular();
      font-size: 14px;
      line-height: 19px;
      color: var(--color-text-desc-item-500);
      word-break: keep-all;
      margin-bottom: 10px;
    }
  }

  &__text {
    &--guide {
      @include preRegular();
      font-size: 14px;
      line-height: 19px;
      color: var(--color-text-desc-item-500);
      word-break: keep-all;
    }
  }

  &__dash {
    &--guide {
      @include preRegular();
      font-size: 14px;
      line-height: 19px;
      color: var(--color-text-desc-item-500);
    }
  }

  &__label {
    &--purchase {
      color: var(--color-text-title-item-200);
    }
  }

  &__value {
    &--purchase {
      color: var(--color-text-desc-item-400);
    }
  }
}
