@use '../common' as *;

.purchase {
  &__section {
    .container {
      @include max-width();
    }

    &--delivery {
      background-color: var(--color-bg-section-300);
      padding-bottom: 10px;

      .purchase__title--section {
        margin-bottom: 20px;
      }
    }

    &--product {
      padding: 20px 0 50px;

      .purchase__title--section {
        margin-bottom: 30px;
      }

      .npay-coupon {
        margin-bottom: 14px;
      }
    }
  }

  &__content {
    &--delivery {
      background-color: var(--color-bg-section-100);
      padding-top: 20px;
      box-shadow: 0 1px 2px 0 #0000001a;
    }
  }

  &__item {
    margin-bottom: 9px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    .icon--arrow-top-type1 {
      transform: rotate(180deg);
    }

    .purchase__field--product {
      padding: 3px 0;
    }

    .notice-box {
      overflow: hidden;
      height: 0;
      padding: 0;
    }

    &.is-active {
      .icon--arrow-top-type1 {
        transform: rotate(0deg);
      }

      .purchase__field--product {
        padding: 16px 0;
      }

      .notice-box {
        height: 100%;
        padding: 20px;
      }
    }
  }

  &__field-group {
    padding-bottom: 30px;
  }

  &__field {
    &--delivery {
      @include flex-pos($ai: center, $g: 8px);
      margin-bottom: 12px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--product {
      @include flex-pos($jc: space-between, $ai: center);
    }
  }

  &__title {
    &--section {
      @include preBold();
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--color-border-item-100);
    }

    &--recipient {
      @include preSemiBold();
      font-size: 14px;
      line-height: 16px;
      color: var(--color-text-title-item-100);
      margin-bottom: 12px;
    }
  }
}
