@use '../common' as *;

.redeem-points {
  &__section {
    .container {
      @include max-width();
    }

    &--my-point {
      padding: 20px 0 30px;
    }

    &--coupon {
      padding-bottom: 50px;
    }
  }

  &__btn {
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid var(--color-border-item-100);
  }

  &__title {
    &--coupon {
      @include preMedium();
      font-size: 14px;
      line-height: 16px;
      color: var(--color-text-title-section-200);
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-border-item-100);
    }
  }
}
