// category-bar
.category-bar {
  background: var(--bg-base-100);
  width: 100%;

  .list {
    @include flex-pos($ai: center, $g: 10px);
    overflow-y: hidden;
    overflow-x: auto;
    padding: 9px 16px;
    -ms-overflow-style: none; /* IE 및 Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    .app-nav-toggle {
      flex-shrink: 0;

      .btn {
        padding: 5px 14px;
        border-radius: 15px;
        font-size: 0;
        background: var(--btn-bg-base-100);
      }
    }

    .item {
      flex-shrink: 0;

      .btn {
        @include preSemiBold();
        padding: 7.5px 14px;
        border-radius: 15px;
        background: var(--btn-bg-base-100);
        font-size: 13px;
        color: var(--text-base-300);
        height: 30px;

        &.on {
          background: var(--btn-bg-accent-100);
          color: var(--text-base-200);
        }
      }
    }
  }
}

// subscription-bar
.subscription-bar {
  position: relative;
  background: var(--bg-base-100);
  width: 100%;

  &::after {
    @include elm-create();
    width: 52px;
    height: 100%;
    background: var(--bg-base-100);
    position: absolute;
    top: 0;
    right: 0;
  }

  .list {
    @include flex-pos($ai: center);
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 52px 0 8px;
    -ms-overflow-style: none; /* IE 및 Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }

    .item {
      flex-shrink: 0;

      .btn {
        @include flex-pos($fd: column, $ai: center, $g: 9px);
        line-height: 1;
        padding: 15px 8px;

        .profile-wrap {
          position: relative;
          width: 52px;
          height: 52px;

          &:after {
            @include elm-create();
            display: none;
            position: absolute;
            right: 0;
            bottom: 2px;
            width: 14px;
            height: 14px;
            background: var(--bg-accent-100);
            border: 2px solid #fff;
            border-radius: 100%;
          }

          .profile {
            @include image-set();
            display: block;
            overflow: hidden;
            border-radius: 100%;
            width: 100%;
            height: 100%;
          }

          &.on {
            &:after {
              display: block;
            }
          }
        }

        .name {
          @include text-cut-one();
          @include preMedium();
          width: 52px;
          font-size: 12px;
          letter-spacing: -0.12px;
          line-height: 14px;
          color: var(--text-base-300);
        }
      }
    }
  }

  .subscription-all-btn {
    @include preMedium();
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 52px;
    color: var(--text-accent-100);
    text-align: center;
    position: absolute;
    top: 15px;
    right: 0;
    width: 52px;
    height: 52px;
    background: var(--bg-base-100);
    z-index: 1;
  }
}

.tab-bar {
  &--download {
    .list {
      @include flex-pos($ai: center, $jc: space-between);
      @include max-width();
      border-bottom: 1px solid var(--border-base-400);

      .item {
        position: relative;
        display: block;
        margin-bottom: 16px;
        width: 100%;
        text-align: center;

        .btn {
          @include preRegular();
          font-size: 16px;
          line-height: 19px;
          color: var(--text-secondary-fix-100);

          &::before {
            @include elm-create();
            @include pos-x-center();
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: var(--bg-accent-100);
            bottom: -16px;
            display: none;
          }

          &.on {
            @include preBold();
            color: var(--text-base-700);

            &::before {
              display: block;
            }
          }
        }
      }
    }
  }
}
