.dropdown-wrap {
  position: relative;

  .dropdown {
    &--type1 {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      background: var(--bg-base-700);
      z-index: 2;
      border-radius: 15px;

      .dropdown-btn {
        @include flex-pos($jc: space-between, $ai: center, $g: 10px);
        padding: 7px 10px;

        .title {
          @include preMedium();
          @include text-cut-one();
          color: var(--text-secondary-1000);
          font-size: 14px;
          line-height: 16px;
        }
      }

      .dropdown-menu {
        display: none;
        padding-bottom: 2px;

        .item {
          .btn {
            @include preMedium();
            font-size: 14px;
            line-height: 16px;
            color: var(--text-secondary-fix-100);
            padding: 7px 12px;
            width: 100%;
            text-align: left;
          }
        }
      }

      &.on {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        .dropdown-menu {
          display: block;
        }
      }
    }
  }
}
