:root {
  // basic
  --icon-compass: url(../images/icon/compass.png);
  --icon-search: url(../images/icon/search.png);
  --icon-search-history: url(../images/icon/search-history.png);
  --icon-point: url(../images/icon/point.png);
  --icon-file: url(../images/icon/file.png);
  --icon-profile: url(../images/icon/profile.png);
  --icon-arrow-back: url(../images/icon/arrow-back.png);
  --icon-arrow-bottom-gray: url(../images/icon/arrow-bottom-gray.png);
  --icon-arrow-right-gray: url(../images/icon/arrow-right-gray.png);
  --icon-shorts: url(../images/icon/shorts.png);
  --icon-topbar-more: url(../images/icon/topbar-more.png);
  --icon-shorts-more: url(../images/icon/shorts-more.png);
  --icon-myfile-none: url(../images/icon/myfile-none.png);
  --icon-search-none: url(../images/icon/search-none.png);

  // video / shorts
  --icon-video-down: url(../images/icon/video-down.png);
  --icon-video-down-white: url(../images/icon/video-down-white.png);
  --icon-shorts-down: url(../images/icon/shorts-down.png);
  --icon-shorts-tag: url(../images/icon/shorts-tag.png);
  --icon-down-music: url(../images/icon/down-music.png);
  --icon-down-music-type2: url(../images/icon/down-music-type2.png);
  --icon-down-video: url(../images/icon/down-video.png);
  --icon-video-play: url(../images/icon/player-play.png);
  --icon-video-stop: url(../images/icon/player-stop.png);
  --icon-video-prev: url(../images/icon/player-prev.png);
  --icon-video-next: url(../images/icon/player-next.png);
  --icon-play-allplay: url(../images/icon/play-allplay.png);
  --icon-play-onlyplay: url(../images/icon/play-onlyplay.png);
  --icon-play-shuffle: url(../images/icon/play-shuffle.png);
  --icon-play-listmove: url(../images/icon/play-listmove.png);
  --icon-pip-arrow: url(../images/icon/pip-arrow.png);
  --icon-play-fullscreen: url(../images/icon/player-fullscreen.png);
  --icon-play-smallscreen: url(../images/icon/player-smallscreen.png);
  --icon-play-list: url(../images/icon/player-playlist.png);
  --icon-play-sound: url(../images/icon/play-sound.png);
  --icon-play-speed-up: url(../images/icon/play-speed-up.png);
  --icon-play-speed-down: url(../images/icon/play-speed-down.png);

  // voice / etc
  --icon-voice: url(../images/icon/voice.png);
  --icon-voice-gray: url(../images/icon/voice-gray.png);
  --icon-google: url(../images/icon/google.png);

  // select
  --icon-radio-off-type1: url(../images/icon/radio-off-type1.png);
  --icon-radio-on-type1: url(../images/icon/radio-on-type1.png);
  --icon-checkbox-off-type1: url(../images/icon/checkbox-off-type1.png);
  --icon-checkbox-on-type1: url(../images/icon/checkbox-on-type1.png);

  // sidebar
  --icon-sidebar-open: url(../images/icon/sidebar-open.png);
  --icon-sidebar-close: url(../images/icon/sidebar-close.png);
  --icon-sidebar-music: url(../images/icon/sidebar-music.png);
  --icon-sidebar-movie: url(../images/icon/sidebar-movie.png);
  --icon-sidebar-hype: url(../images/icon/sidebar-hype.png);
  --icon-sidebar-live: url(../images/icon/sidebar-live.png);
  --icon-sidebar-game: url(../images/icon/sidebar-game.png);
  --icon-sidebar-sports: url(../images/icon/sidebar-sports.png);
  --icon-sidebar-courses: url(../images/icon/sidebar-courses.png);
  --icon-sidebar-podcast: url(../images/icon/sidebar-podcast.png);
  --icon-sidebar-kids: url(../images/icon/sidebar-kids.png);
  --icon-sidebar-point: url(../images/icon/sidebar-point.png);
  --icon-sidebar-my: url(../images/icon/sidebar-my.png);
  --icon-sidebar-down: url(../images/icon/sidebar-down.png);
  --icon-sidebar-setting: url(../images/icon/sidebar-setting.png);
  --icon-sidebar-inquiry: url(../images/icon/sidebar-inquiry.png);
  --icon-sidebar-login-profile: url(../images/icon/sidebar-login-profile.png);

  // search
  --icon-search-delete: url(../images/icon/search-delete.png);
  --icon-search-mike: url(../images/icon/search-mike.png);
  --icon-search-go: url(../images/icon/search-go.png);

  // bottom-nav
  --icon-nav-home: url(../images/icon/nav-home.png);
  --icon-nav-home-on: url(../images/icon/nav-home-on.png);
  --icon-nav-shorts: url(../images/icon/nav-shorts.png);
  --icon-nav-shorts-on: url(../images/icon/nav-shorts-on.png);
  --icon-nav-subscription: url(../images/icon/nav-subscription.png);
  --icon-nav-subscription-on: url(../images/icon/nav-subscription-on.png);
  --icon-nav-library: url(../images/icon/nav-library.png);
  --icon-nav-library-on: url(../images/icon/nav-library-on.png);
  --icon-nav-ezdown: url(../images/icon/nav-ezdown.png);
  --icon-nav-ezdown-on: url(../images/icon/nav-ezdown-on.png);

  // onboarding
  --icon-onbd-key: url(../images/icon/onbd-key.png);
  --icon-onbd-down: url(../images/icon/onbd-down.png);
  --icon-onbd-battery: url(../images/icon/onbd-battery.png);
  --icon-onbd-noti: url(../images/icon/onbd-noti.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    // basic
    --icon-compass: url(../images/icon/dark/compass.png);
    --icon-search: url(../images/icon/dark/search.png);
    --icon-search-history: url(../images/icon/dark/search-history.png);
    --icon-file: url(../images/icon/dark/file.png);
    --icon-arrow-back: url(../images/icon/dark/arrow-back.png);
    --icon-topbar-more: url(../images/icon/dark/topbar-more.png);
    --icon-myfile-none: url(../images/icon/dark/myfile-none.png);
    --icon-search-none: url(../images/icon/dark/search-none.png);

    // video / shorts
    --icon-play-allplay: url(../images/icon/dark/play-allplay.png);
    --icon-play-onlyplay: url(../images/icon/dark/play-onlyplay.png);
    --icon-play-shuffle: url(../images/icon/dark/play-shuffle.png);
    --icon-play-listmove: url(../images/icon/dark/play-listmove.png);

    // select
    --icon-radio-off-type1: url(../images/icon/dark/radio-off-type1.png);
    --icon-radio-on-type1: url(../images/icon/dark/radio-on-type1.png);
    --icon-checkbox-off-type1: url(../images/icon/dark/checkbox-off-type1.png);
    --icon-checkbox-on-type1: url(../images/icon/dark/checkbox-on-type1.png);

    // sidebar
    --icon-sidebar-open: url(../images/icon/dark/sidebar-open.png);
    --icon-sidebar-close: url(../images/icon/dark/sidebar-close.png);
    --icon-sidebar-music: url(../images/icon/dark/sidebar-music.png);
    --icon-sidebar-movie: url(../images/icon/dark/sidebar-movie.png);
    --icon-sidebar-hype: url(../images/icon/dark/sidebar-hype.png);
    --icon-sidebar-live: url(../images/icon/dark/sidebar-live.png);
    --icon-sidebar-game: url(../images/icon/dark/sidebar-game.png);
    --icon-sidebar-sports: url(../images/icon/dark/sidebar-sports.png);
    --icon-sidebar-courses: url(../images/icon/dark/sidebar-courses.png);
    --icon-sidebar-podcast: url(../images/icon/dark/sidebar-podcast.png);
    --icon-sidebar-kids: url(../images/icon/dark/sidebar-kids.png);
    --icon-sidebar-point: url(../images/icon/dark/sidebar-point.png);
    --icon-sidebar-my: url(../images/icon/dark/sidebar-my.png);
    --icon-sidebar-down: url(../images/icon/dark/sidebar-down.png);
    --icon-sidebar-setting: url(../images/icon/dark/sidebar-setting.png);
    --icon-sidebar-inquiry: url(../images/icon/dark/sidebar-inquiry.png);

    // search
    --icon-search-delete: url(../images/icon/dark/search-delete.png);
    --icon-search-go: url(../images/icon/dark/search-go.png);

    // bottom-nav
    --icon-nav-home: url(../images/icon/dark/nav-home.png);
    --icon-nav-home-on: url(../images/icon/dark/nav-home-on.png);
    --icon-nav-shorts: url(../images/icon/dark/nav-shorts.png);
    --icon-nav-shorts-on: url(../images/icon/dark/nav-shorts-on.png);
    --icon-nav-subscription: url(../images/icon/dark/nav-subscription.png);
    --icon-nav-subscription-on: url(../images/icon/dark/nav-subscription-on.png);
    --icon-nav-library: url(../images/icon/dark/nav-library.png);
    --icon-nav-library-on: url(../images/icon/dark/nav-library-on.png);
    --icon-nav-ezdown: url(../images/icon/dark/nav-ezdown.png);
    --icon-nav-ezdown-on: url(../images/icon/dark/nav-ezdown-on.png);
  }
}

.dark {
  // basic
  --icon-compass: url(../images/icon/dark/compass.png);
  --icon-search: url(../images/icon/dark/search.png);
  --icon-search-history: url(../images/icon/dark/search-history.png);
  --icon-file: url(../images/icon/dark/file.png);
  --icon-arrow-back: url(../images/icon/dark/arrow-back.png);
  --icon-topbar-more: url(../images/icon/dark/topbar-more.png);
  --icon-myfile-none: url(../images/icon/dark/myfile-none.png);
  --icon-search-none: url(../images/icon/dark/search-none.png);

  // video / shorts
  --icon-play-allplay: url(../images/icon/dark/play-allplay.png);
  --icon-play-onlyplay: url(../images/icon/dark/play-onlyplay.png);
  --icon-play-shuffle: url(../images/icon/dark/play-shuffle.png);
  --icon-play-listmove: url(../images/icon/dark/play-listmove.png);

  // select
  --icon-radio-off-type1: url(../images/icon/dark/radio-off-type1.png);
  --icon-radio-on-type1: url(../images/icon/dark/radio-on-type1.png);
  --icon-checkbox-off-type1: url(../images/icon/dark/checkbox-off-type1.png);
  --icon-checkbox-on-type1: url(../images/icon/dark/checkbox-on-type1.png);

  // sidebar
  --icon-sidebar-open: url(../images/icon/dark/sidebar-open.png);
  --icon-sidebar-close: url(../images/icon/dark/sidebar-close.png);
  --icon-sidebar-music: url(../images/icon/dark/sidebar-music.png);
  --icon-sidebar-movie: url(../images/icon/dark/sidebar-movie.png);
  --icon-sidebar-hype: url(../images/icon/dark/sidebar-hype.png);
  --icon-sidebar-live: url(../images/icon/dark/sidebar-live.png);
  --icon-sidebar-game: url(../images/icon/dark/sidebar-game.png);
  --icon-sidebar-sports: url(../images/icon/dark/sidebar-sports.png);
  --icon-sidebar-courses: url(../images/icon/dark/sidebar-courses.png);
  --icon-sidebar-podcast: url(../images/icon/dark/sidebar-podcast.png);
  --icon-sidebar-kids: url(../images/icon/dark/sidebar-kids.png);
  --icon-sidebar-point: url(../images/icon/dark/sidebar-point.png);
  --icon-sidebar-my: url(../images/icon/dark/sidebar-my.png);
  --icon-sidebar-down: url(../images/icon/dark/sidebar-down.png);
  --icon-sidebar-setting: url(../images/icon/dark/sidebar-setting.png);
  --icon-sidebar-inquiry: url(../images/icon/dark/sidebar-inquiry.png);

  // search
  --icon-search-delete: url(../images/icon/dark/search-delete.png);
  --icon-search-go: url(../images/icon/dark/search-go.png);

  // bottom-nav
  --icon-nav-home: url(../images/icon/dark/nav-home.png);
  --icon-nav-home-on: url(../images/icon/dark/nav-home-on.png);
  --icon-nav-shorts: url(../images/icon/dark/nav-shorts.png);
  --icon-nav-shorts-on: url(../images/icon/dark/nav-shorts-on.png);
  --icon-nav-subscription: url(../images/icon/dark/nav-subscription.png);
  --icon-nav-subscription-on: url(../images/icon/dark/nav-subscription-on.png);
  --icon-nav-library: url(../images/icon/dark/nav-library.png);
  --icon-nav-library-on: url(../images/icon/dark/nav-library-on.png);
  --icon-nav-ezdown: url(../images/icon/dark/nav-ezdown.png);
  --icon-nav-ezdown-on: url(../images/icon/dark/nav-ezdown-on.png);
}

.icon {
  @include image-set();
  @include text-hide();
  display: inline-block;

  // size
  // 12, 14, 20, 22, 24, 26, 28, 30, 36, 38, 52, 66, 76
  &--100 {
    width: 12px;
    height: 12px;
  }

  &--200 {
    width: 14px;
    height: 14px;
  }

  &--300 {
    width: 20px;
    height: 20px;
  }

  &--400 {
    width: 22px;
    height: 22px;
  }

  &--500 {
    width: 24px;
    height: 24px;
  }

  &--600 {
    width: 26px;
    height: 26px;
  }

  &--700 {
    width: 28px;
    height: 28px;
  }

  &--800 {
    width: 30px;
    height: 30px;
  }

  &--900 {
    width: 36px;
    height: 36px;
  }

  &--1000 {
    width: 60px;
    height: 60px;
  }

  // basic
  &.compass {
    background-image: var(--icon-compass);
  }

  &.search {
    background-image: var(--icon-search);
  }

  &.search-history {
    background-image: var(--icon-search-history);
  }

  &.point {
    background-image: var(--icon-point);
  }

  &.file {
    background-image: var(--icon-file);
  }

  &.profile {
    background-image: var(--icon-profile);
    border-radius: 100%;
  }

  &.arrow-back {
    background-image: var(--icon-arrow-back);
  }

  &.arrow-bottom-gray {
    background-image: var(--icon-arrow-bottom-gray);
  }

  &.arrow-right-gray {
    background-image: var(--icon-arrow-right-gray);
  }

  &.shorts {
    background-image: var(--icon-shorts);
  }

  &.topbar-more {
    background-image: var(--icon-topbar-more);
  }

  &.shorts-more {
    background-image: var(--icon-shorts-more);
  }

  &.myfile-none {
    background-image: var(--icon-myfile-none);
  }

  &.search-none {
    background-image: var(--icon-search-none);
  }

  // video / shorts
  &.video-down {
    background-image: var(--icon-video-down);

    &--white {
      background-image: var(--icon-video-down-white);
    }
  }

  &.shorts-down {
    background-image: var(--icon-shorts-down);
  }

  &.shorts-tag {
    background-image: var(--icon-shorts-tag);
  }

  &.down-music {
    background-image: var(--icon-down-music);
  }

  &.down-music-type2 {
    background-image: var(--icon-down-music-type2);
  }

  &.down-video {
    background-image: var(--icon-down-video);
  }

  &.video-play {
    background-image: var(--icon-video-play);

    &.stop {
      background-image: var(--icon-video-stop);
    }
  }

  &.video-prev {
    background-image: var(--icon-video-prev);
  }

  &.video-next {
    background-image: var(--icon-video-next);
  }

  &.play-type {
    &.allplay {
      background-image: var(--icon-play-allplay);
    }

    &.onlyplay {
      background-image: var(--icon-play-onlyplay);
    }

    &.shuffle {
      background-image: var(--icon-play-shuffle);
    }
  }

  &.play-listmove {
    background-image: var(--icon-play-listmove);
  }

  &.pip-arrow {
    background-image: var(--icon-pip-arrow);
  }

  &.play-screen-size {
    background-image: var(--icon-play-fullscreen);

    &.on {
      background-image: var(--icon-play-smallscreen);
    }
  }

  &.play-list {
    background-image: var(--icon-play-list);
  }

  &.play-sound {
    background-image: var(--icon-play-sound);
  }

  &.play-speed-up {
    background-image: var(--icon-play-speed-up);
  }

  &.play-speed-down {
    background-image: var(--icon-play-speed-down);
  }

  // voice / etc
  &.voice {
    background-image: var(--icon-voice);
  }

  &.voice-gray {
    background-image: var(--icon-voice-gray);
  }

  &.google {
    background-image: var(--icon-google);
  }

  // sidebar
  &.sidebar-open {
    background-image: var(--icon-sidebar-open);
  }

  &.sidebar-close {
    background-image: var(--icon-sidebar-close);
  }

  &.sidebar-music {
    background-image: var(--icon-sidebar-music);
  }

  &.sidebar-movie {
    background-image: var(--icon-sidebar-movie);
  }

  &.sidebar-hype {
    background-image: var(--icon-sidebar-hype);
  }

  &.sidebar-live {
    background-image: var(--icon-sidebar-live);
  }

  &.sidebar-game {
    background-image: var(--icon-sidebar-game);
  }

  &.sidebar-sports {
    background-image: var(--icon-sidebar-sports);
  }

  &.sidebar-courses {
    background-image: var(--icon-sidebar-courses);
  }

  &.sidebar-podcast {
    background-image: var(--icon-sidebar-podcast);
  }

  &.sidebar-kids {
    background-image: var(--icon-sidebar-kids);
  }

  &.sidebar-point {
    background-image: var(--icon-sidebar-point);
  }

  &.sidebar-my {
    background-image: var(--icon-sidebar-my);
  }

  &.sidebar-down {
    background-image: var(--icon-sidebar-down);
  }

  &.sidebar-setting {
    background-image: var(--icon-sidebar-setting);
  }

  &.sidebar-inquiry {
    background-image: var(--icon-sidebar-inquiry);
  }

  &.sidebar-login-profile {
    background-image: var(--icon-sidebar-login-profile);
  }

  // search
  &.search-delete {
    background-image: var(--icon-search-delete);
  }

  &.search-mike {
    background-image: var(--icon-search-mike);
  }

  &.search-go {
    background-image: var(--icon-search-go);
  }

  // bottom-nav
  &.nav-home {
    background-image: var(--icon-nav-home);

    &.on {
      background-image: var(--icon-nav-home-on);
    }
  }

  &.nav-shorts {
    background-image: var(--icon-nav-shorts);

    &.on {
      background-image: var(--icon-nav-shorts-on);
    }
  }

  &.nav-subscription {
    background-image: var(--icon-nav-subscription);

    &.on {
      background-image: var(--icon-nav-subscription-on);
    }
  }

  &.nav-library {
    background-image: var(--icon-nav-library);

    &.on {
      background-image: var(--icon-nav-library-on);
    }
  }

  &.nav-ezdown {
    background-image: var(--icon-nav-ezdown);

    &.on {
      background-image: var(--icon-nav-ezdown-on);
    }
  }

  // onboarding
  &.onbd-key {
    background-image: var(--icon-onbd-key);
  }

  &.onbd-down {
    background-image: var(--icon-onbd-down);
  }

  &.onbd-battery {
    background-image: var(--icon-onbd-battery);
  }

  &.onbd-noti {
    background-image: var(--icon-onbd-noti);
  }
}
