input {
  &[type='text'],
  &[type='password'] {
    @include preSemiBold();
    font-size: 16px;
    line-height: 19px;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    color: var(--text-base-300);

    &:focus {
      outline: none;
    }

    &::selection {
      background: var(--selection-bg-base-100);
    }

    &::placeholder {
      @include preRegular();
      color: var(--text-secondary-200);
    }

    &.type1 {
      @include preBold();
      border: 1px solid var(--border-base-200);
      border-radius: 8px;
      padding: 14px 16px;
    }
  }

  &[type='file'] {
    display: none;

    & + label {
      @include flex-pos($ai: center, $g: 50px);
      @include preMedium();
      font-size: 14px;
      line-height: 18px;
      color: var(--text-base-300);
      width: 100%;
      height: 100%;
      border-radius: 8px;
      height: 48px;
      border: 1px solid var(--border-base-200);
      padding: 0 16px;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      .name {
        @include text-cut-one();
      }

      .icon {
        flex-shrink: 0;
      }
    }
  }

  &[type='checkbox'] {
    display: none;

    & + label {
      cursor: pointer;

      .icon {
        @include image-set();
        display: inline-block;

        &.type1 {
          min-width: 20px;
          max-width: 20px;
          min-height: 20px;
          max-height: 20px;
          background-image: var(--icon-checkbox-off-type1);
        }
      }

      &.type1 {
        @include flex-pos($ai: center, $g: 12px);

        .title {
          @include preMedium();
          font-size: 15px;
          line-height: 18px;
          color: var(--text-base-300);

          .desc {
            @include preRegular();
            display: block;
            font-size: 12px;
            line-height: 16px;
            color: var(--text-secondary-600);
            margin-top: 3px;
          }
        }
      }
    }

    &:checked {
      & + label {
        .icon {
          &.type1 {
            background-image: var(--icon-checkbox-on-type1);
          }
        }
      }
    }
  }

  &[type='radio'] {
    display: none;

    & + label {
      cursor: pointer;

      .icon {
        @include image-set();
        display: inline-block;

        &.type1 {
          min-width: 20px;
          max-width: 20px;
          min-height: 20px;
          max-height: 20px;
          background-image: var(--icon-radio-off-type1);
        }
      }

      &.type1 {
        @include flex-pos($ai: center, $jc: space-between);

        .title {
          @include preRegular();
          font-size: 16px;
          line-height: 19px;
          color: var(--text-base-300);

          .desc {
            @include preRegular();
            font-size: 12px;
            line-height: 14px;
            color: var(--text-secondary-600);
            display: block;
            margin-top: 4px;
          }
        }
      }

      &.type2 {
        @include flex-pos($ai: center, $g: 12px);

        .title {
          @include preMedium();
          font-size: 15px;
          line-height: 18px;
          color: var(--text-base-300);
        }
      }

      &.type3 {
        @include flex-pos($ai: center);
        height: 42px;
        position: relative;

        &::before {
          @include elm-create();
          width: 100vw;
          height: 100%;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }

        .title {
          @include preRegular();
          position: relative;
          z-index: 1;
          font-size: 14px;
          line-height: 16px;
          color: var(--text-base-1000);
        }
      }
    }

    &:checked {
      & + label {
        .icon {
          &.type1 {
            background-image: var(--icon-radio-on-type1);
          }
        }

        &.type3 {
          &::before {
            background: var(--bg-base-300);
          }

          .title {
            color: var(--text-base-1100);
          }
        }
      }
    }
  }
}
