:root {
  --logo-primary: url(../images/logo/logo.png);
  --logo-secondary: url(../images/logo/logo-secondary.png);
  --logo-splash: url(../images/logo/splash-logo.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo-primary: url(../images/logo/dark/logo.png);
    --logo-splash: url(../images/logo/dark/splash-logo.png);
  }
}

.dark {
  --logo-primary: url(../images/logo/dark/logo.png);
  --logo-splash: url(../images/logo/dark/splash-logo.png);
}

.logo {
  @include image-set($bs: contain);
  @include text-hide();
  display: inline-block;

  &--primary {
    width: 109px;
    height: 26px;
    background-image: var(--logo-primary);
  }

  &--secondary {
    width: 48px;
    height: 48px;
    background-image: var(--logo-secondary);
  }

  &--splash {
    width: 122px;
    height: 111px;
    background-image: var(--logo-splash);
  }
}
