// app-nav
.app-nav {
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100dvh;
  transition-delay: 0.3s;

  .box {
    position: relative;
    z-index: 1;
    width: 70%;
    max-width: 360px;
    height: 100%;
    background: var(--bg-base-200);
    transform: translateX(-100%);
    transition: 0.3s;

    .head {
      @include flex-pos($ai: center, $jc: space-between);
      @include max-width();
      height: 52px;
      margin-bottom: 12px;

      .title {
        @include preBold();
        font-size: 18px;
        color: var(--text-base-300);
      }
    }

    .cont {
      height: calc(100% - 64px);
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE Î∞è Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .user-actions-wrap {
        margin-top: 4px;
        margin-bottom: 16px;
        padding: 0 16px;

        .user-actions {
          border: 1px solid var(--border-base-200);
          border-radius: 8px;

          .btn {
            width: 100%;

            .icon {
              flex-shrink: 0;
            }

            &--login {
              @include flex-pos($ai: center, $jc: space-between);
              padding: 16px 8px 16px 14px;
              border-bottom: 1px solid var(--border-base-200);

              .desc-wrap {
                @include flex-pos($ai: center, $g: 12px);
                overflow: hidden;

                .desc {
                  @include text-cut-one();
                  @include preBold();
                  display: block;
                  max-width: 100%;
                  font-size: 14px;
                  letter-spacing: -0.28px;
                  line-height: 1;
                  color: var(--text-base-300);
                }
              }
            }

            &--point {
              @include flex-pos($ai: center, $jc: space-between, $g: 6px);
              padding: 14px 8px 14px 14px;

              .desc-wrap {
                @include flex-pos($ai: center, $jc: space-between);
                width: 100%;

                .desc {
                  @include preRegular();
                  font-size: 14px;
                  letter-spacing: -0.28px;
                  line-height: 1;
                  color: var(--text-base-800);
                }

                .point-wrap {
                  @include flex-pos($ai: center, $g: 3px);

                  .count {
                    @include preRegular();
                    font-size: 13px;
                    line-height: 1;
                    color: var(--text-base-900);
                  }
                }
              }
            }
          }
        }
      }

      .list {
        .item {
          @include flex-pos($ai: center, $g: 14px);
          padding: 15px 16px;
          width: 100%;
          height: 50px;

          .title {
            @include preMedium();
            font-size: 14px;
            color: var(--text-base-400);
          }

          &.on {
            background: var(--bg-base-300);

            .title {
              color: var(--text-accent-100);
            }
          }
        }
      }
    }

    &--category {
      .box-head {
        margin-bottom: 12px;
      }
    }

    &--page {
      .box-head {
        margin-bottom: 16px;
      }
    }
  }

  &.on {
    left: 0;
    transition-delay: 0s;

    .box {
      transform: translateX(0);
    }
  }
}

// bottom-nav
.bottom-nav {
  overflow: hidden;
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  border-radius: 20px 20px 0 0;
  border: 1px solid var(--border-base-100);
  background: var(--bg-base-100);

  .list {
    @include flex-pos($jc: space-between);
    height: inherit;

    .item {
      @include preRegular();
      width: 20%;
      height: inherit;

      .btn {
        @include preRegular();
        @include flex-pos($fd: column, $jc: center, $ai: center, $g: 4px);
        height: inherit;
        font-size: 10px;
        color: #888;
      }

      &.on {
        color: var(--text-accent-100);
      }
    }
  }
}
