.popup-wrap {
  position: relative;
  z-index: 9999;
}

.popup {
  display: none;

  &--basic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .box {
      background: var(--bg-base-200);
      border-radius: 16px;
      overflow: hidden;
      overflow-y: auto;
      width: 264px;
      max-width: calc(100% - 50px);
      max-height: calc(100vh - 96px);
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      &--size {
        &-100 {
          width: 600px;
        }
      }

      &--center {
        @include pos-center();
      }

      &--bottom {
        @include pos-bottom();
      }

      .cont {
        padding: 28px 16px 16px;
        text-align: center;

        &--padding-100 {
          padding: 28px 0 14px;
        }

        > .title {
          &--base {
            &-100 {
              @include preBold();
              font-size: 22px;
              letter-spacing: -0.44px;
              line-height: 1.36;
              margin-bottom: 20px;
              color: var(--text-base-700);
            }

            &-200 {
              @include preBold();
              font-size: 16px;
              line-height: 1.25;
              margin-bottom: 10px;
              color: var(--text-base-300);
            }

            &-300 {
              @include preBold();
              font-size: 18px;
              line-height: 21px;
              margin: 0 16px 15px;
              text-align: left;
              color: var(--text-base-300);
            }
          }
        }

        .gauge-wrap {
          overflow: hidden;
          height: 8px;
          border-radius: 4px;
          background: var(--bg-base-400);
          margin-bottom: 16px;

          .gauge {
            height: 100%;
            border-radius: 4px;
            background: var(--bg-accent-100);
          }
        }

        > .text {
          &--base {
            @include preRegular();
            font-size: 16px;
            line-height: 1.25;
            color: var(--text-base-300);
            margin-bottom: 28px;
          }

          &--color {
            &-100 {
              color: var(--text-secondary-400);
            }
          }

          .point {
            &.underline {
              text-decoration: underline;
            }

            &--color {
              &-100 {
                color: var(--text-base-800);
              }
            }
          }
        }

        .btn-wrap {
          &--row {
            @include flex-pos($ai: center, $g: 8px);
          }

          &--column {
            @include flex-pos($fd: column, $g: 13px);

            &.gapnone {
              gap: 0;
            }
          }
        }
      }
    }
  }

  &--select {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .box {
      background: var(--bg-base-200);
      border-radius: 20px 20px 0 0;
      padding: 32px 0 40px;
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
      max-height: calc(100vh - 96px);
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      &--center {
        @include pos-center();
      }

      &--bottom {
        @include pos-bottom();
      }

      > .title {
        @include max-width();
        @include preBold();
        font-size: 18px;
        line-height: 21px;
        color: var(--text-base-300);
        margin-bottom: 30px;

        &--smallmb {
          margin-bottom: 6px;
        }
      }

      > .desc {
        @include max-width();
        @include preRegular();
        font-size: 12px;
        line-height: 14px;
        color: var(--text-secondary-600);
        margin-bottom: 10px;
      }

      .list-head {
        &--type1 {
          @include flex-pos($jc: space-between, $g: 10px);

          .category-bar {
            overflow: hidden;
            background: var(--bg-base-200);

            .list {
              .item {
                .btn {
                  background: var(--btn-bg-base-500);
                }
              }
            }
          }

          .btn-wrap {
            @include flex-pos($jc: center, $ai: center);
            margin-right: 16px;
            flex-shrink: 0;
          }

          .dropdown-wrap {
            margin-right: 16px;
            flex-shrink: 0;
            min-width: 104px;

            .dropdown {
              top: 9px;

              .dropdown-btn {
                width: 104px;
              }
            }
          }
        }
      }

      .cont {
        margin-bottom: 40px;
        overflow: hidden;
        overflow-y: auto;
        -ms-overflow-style: none; /* IE 및 Edge */
        scrollbar-width: none; /* Firefox */
        max-height: 300px;

        &::-webkit-scrollbar {
          display: none; /* Chrome, Safari, Opera */
        }

        .list {
          &--radio {
            @include max-width();

            .item {
              margin-bottom: 24px;

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            &-type2 {
              @include max-width($mw: 100%);

              .item {
                margin-bottom: 0;
              }
            }
          }

          &--toggle {
            max-width: calc(100% - 32px);
            margin: 0 auto;

            .item {
              @include flex-pos($ai: center, $jc: space-between);

              .text-cover {
                > .title {
                  @include preRegular();
                  font-size: 16px;
                  line-height: 1.25;
                  color: var(--text-base-300);
                  margin-bottom: 4px;
                }

                .desc {
                  @include preRegular();
                  font-size: 12px;
                  line-height: 14px;
                  color: var(--text-secondary-400);

                  .point {
                    &.underline {
                      text-decoration: underline;
                    }

                    &--color {
                      &-100 {
                        color: var(--text-base-800);
                      }
                    }
                  }
                }
              }
            }
          }

          &--vedio-info {
            @include max-width();

            .item {
              @include flex-pos();
              margin-bottom: 20px;

              &:last-of-type {
                margin-bottom: 0;
              }

              .title {
                @include preSemiBold();
                font-size: 14px;
                line-height: 16px;
                color: var(--text-base-300);
                min-width: 96px;
              }

              .desc {
                @include preRegular();
                font-size: 14px;
                line-height: 18px;
                color: var(--text-base-1400);
              }

              &--column {
                display: block;

                .title {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }

        &--down-type {
          overflow-x: visible;

          .cont-item {
            margin-bottom: 40px;

            &:last-of-type {
              margin-bottom: 0;
            }

            > .title,
            > .desc {
              @include max-width();
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);
            }
          }
        }
      }

      .playback-speed {
        @include max-width();

        .title {
          @include preBold();
          font-size: 18px;
          line-height: 21px;
          color: var(--text-base-300);
          text-align: center;
          margin-bottom: 14px;
        }

        .gauge-wrap {
          height: 4px;
          border-radius: 2px;
          margin-bottom: 24px;
          background: var(--bg-base-1000);
          max-width: 360px;
          margin: 0 auto;
          margin-bottom: 24px;

          .gauge {
            position: relative;
            height: 100%;
            border-radius: 4px;
            background: var(--bg-accent-100);

            .gauge-control-btn {
              @include pos-y-center();
              right: -6px;
              width: 12px;
              height: 12px;
              border-radius: 100%;
              background: var(--bg-accent-100);
            }
          }
        }

        .speed-btn-wrap {
          @include flex-pos($jc: space-between, $ai: center, $g: 10px);
          max-width: 360px;
          margin: 0 auto;

          .speed-btn {
            @include flex-pos($ai: center, $jc: center);
            @include preSemiBold();
            font-size: 13px;
            line-height: 15px;
            color: var(--text-base-300);
            width: 100%;
            max-width: 58px;
            height: 30px;
            border-radius: 15px;
            background: var(--btn-bg-base-500);
          }
        }
      }

      .btn-wrap {
        @include max-width();

        &--row {
          @include flex-pos($ai: center, $g: 10px);
        }
      }
    }
  }

  &--search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-base-100);

    .container {
      @include max-width();
    }

    .head {
      height: 52px;
      border-bottom: 1px solid var(--border-accent-100);

      .container {
        @include flex-pos($ai: center);
        height: 100%;

        .back {
          margin-right: 20px;
        }

        .input-wrap {
          width: 100%;
        }

        .delete {
          margin-left: 12px;
          display: none;

          &.on {
            display: block;
          }
        }

        .mike {
          margin-left: 12px;
        }
      }
    }

    .list-none {
      display: none;
      height: calc(100vh - 52px);
      padding-top: 25vh;
      padding-bottom: 30vh;
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 28px;
      }

      .title {
        @include preBold();
        font-size: 16px;
        line-height: 19px;
        color: var(--text-base-300);
        text-align: center;
      }

      &.on {
        display: block;
      }
    }

    .list-head {
      @include flex-pos($jc: space-between);
      padding: 20px 16px 16px;

      .title {
        @include preBold();
        font-size: 14px;
        line-height: 16px;
        color: var(--text-base-300);
      }

      .remove-btn {
        @include preRegular();
        font-size: 14px;
        line-height: 16px;
        color: var(--text-base-1000);
      }
    }

    .list {
      height: calc(100% - 104px);
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .item {
        .btn {
          .container {
            @include flex-pos();
            padding: 14px 0;

            .icon {
              flex-shrink: 0;

              &.search,
              &.search-history {
                margin-right: 16px;
              }

              &.search-go {
                margin-left: 16px;
              }
            }

            .title-wrap {
              overflow: hidden;
              width: 100%;

              .title {
                @include text-cut-one();
                @include preSemiBold();
                font-size: 16px;
                line-height: 20px;
                color: var(--text-base-300);
              }
            }
          }
        }
      }
    }

    .btn {
      @include preRegular();
      font-size: 14px;
      line-height: 16px;
      color: var(--text-base-1000);

      &.search-toggle {
        text-decoration: underline;
        position: fixed;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &--mike {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: var(--bg-base-100);

    .head {
      @include flex-pos($ai: center);
      height: 52px;
      padding: 0 16px;
    }

    .box {
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */
      height: calc(100% - 52px);
      padding: 50px 16px 0;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .cont {
        position: relative;
        height: calc(100vh - 102px);
        min-height: 350px;

        .desc {
          @include preBold();
          font-size: 28px;
          line-height: 31px;
          color: var(--text-base-300);

          span {
            display: block;
            margin-bottom: 8px;

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        .voice-status {
          position: absolute;
          height: 76px;
          bottom: 100px;
          left: 0;
          right: 0;

          &--mic {
            .circle-wrap {
              .circle {
                @include pos-center();
                border-radius: 100%;
                background: var(--btn-bg-accent-100);

                &--1 {
                  width: 124px;
                  height: 124px;
                  opacity: 0.15;
                  background: #ffcbc9;
                  box-shadow: 0 0 20px #ff4343;
                }

                &--2 {
                  width: 100px;
                  height: 100px;
                  opacity: 0.1;
                }

                &--3 {
                  width: 76px;
                  height: 76px;
                }
              }
            }
          }

          &--listening {
            .loader {
              @include pos-center();
              width: 76px;
              height: 76px;
              border: 4px solid var(--bg-base-100);
              border: {
                right-color: var(--border-accent-100);
                top-color: var(--border-accent-100);
                bottom-color: var(--border-accent-100);
                radius: 100%;
              }
              animation: spin 0.8s infinite linear;
            }

            @keyframes spin {
              from {
                transform: translate(-50%, -50%) rotate(0deg);
              }
              to {
                transform: translate(-50%, -50%) rotate(359deg);
              }
            }
          }

          &--error {
            .circle-wrap {
              .circle {
                @include pos-center();
                border-radius: 100%;
                width: 76px;
                height: 76px;
                background: var(--btn-bg-base-300);
              }
            }

            .desc {
              @include preMedium();
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -39px;
              font-size: 16px;
              line-height: 19px;
              text-align: center;
              white-space: nowrap;
              color: var(--text-secondary-200);
            }
          }
        }
      }
    }
  }

  &--toast {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: calc(100% - 32px);
    min-height: 52px;

    .box {
      width: 100%;
      height: 100%;
      padding: 12px;
      background: var(--bg-secondary-100);
      border-radius: 32px;
      overflow: hidden;

      .cont {
        @include flex-pos($ai: center, $jc: center, $g: 8px);

        .desc {
          @include preMedium();
          font-size: 16px;
          text-align: center;
          line-height: 1.38;
          color: var(--text-base-200);
        }
      }
    }
  }

  &--btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &-downloading {
      bottom: 72px;
    }

    .box {
      width: 100%;

      &--center {
        @include pos-center();
      }

      &--bottom {
        @include pos-bottom();
      }

      .container {
        @include max-width();
      }

      .cont {
        .btn-wrap {
          &--row {
            @include flex-pos($ai: center, $g: 8px);
          }

          &--column {
            @include flex-pos($fd: column, $g: 13px);
          }
        }
      }
    }
  }

  &.on {
    &.popup {
      display: block;
    }
  }
}
