.subscription-channel-list {
  .list {
    .item {
      padding: 18px 0 22px 0;
      margin-bottom: 10px;

      .btn {
        .name-wrap {
          @include flex-pos($ai: center, $g: 14px);
          margin-bottom: 5px;

          .profile {
            @include image-set();
            display: block;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            flex-shrink: 0;
          }

          .name {
            @include text-cut-multiline($wlc: 3);
            @include preBold();
            width: 100%;
            font-size: 18px;
            letter-spacing: -0.18px;
            line-height: 21px;
            color: var(--text-base-300);
          }
        }

        .desc-wrap {
          margin-left: 42px;

          .desc {
            @include preRegular();
            @include text-cut-one();
            width: 100%;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 5px;
            color: var(--text-secondary-200);

            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
