.tag {
  display: inline-block;

  .badge-shape {
    border-radius: 4px;

    .text {
      @include preBold();
      display: block;
      font-size: 10px;
      letter-spacing: 0.2px;
    }
  }

  &--shorts {
    .badge-shape {
      @include flex-pos($ai: center, $g: 3px);
      padding: 2px 5px;
    }

    &-base {
      .badge-shape {
        background: var(--tag-bg-base-100);

        .text {
          color: var(--tag-text-base-100);
        }
      }
    }

    &-light {
      .badge-shape {
        background: var(--tag-bg-base-200);

        .text {
          color: var(--tag-text-base-200);
        }
      }
    }
  }

  &--live {
    .badge-shape {
      padding: 3px 4px;
      background: var(--tag-bg-accent);

      .text {
        color: var(--tag-text-base-100);
      }
    }
  }

  &--time {
    .badge-shape {
      padding: 3px 5px;
    }

    &-base {
      .badge-shape {
        background: var(--tag-bg-base-100);

        .text {
          color: var(--tag-text-base-100);
        }
      }
    }

    &-light {
      .badge-shape {
        background: var(--tag-bg-base-200);

        .text {
          color: var(--tag-text-base-200);
        }
      }
    }
  }
}
