// video-section
.video-section {
  &--link {
    margin-bottom: 35px;

    .video-head {
      @include flex-pos($jc: space-between, $ai: center);
      margin-bottom: 8px;

      .title {
        @include flex-pos($ai: center, $g: 12px);
        @include preBold();
        font-size: 18px;
        color: var(--text-base-400);
      }

      .more {
        @include flex-pos($jc: center, $ai: center);
        width: 36px;
        height: 36px;
      }
    }

    .video-list {
      @include flex-pos($g: 10px, $fw: wrap);
    }

    .video-card {
      position: relative;

      .video-link {
        @include pos-center();
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      .img-cover {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          margin: auto;
        }
      }

      &--single {
        .down,
        .tag {
          position: absolute;
          right: 8px;
        }

        .down {
          top: 8px;
          z-index: 2;
        }

        .tag {
          bottom: 8px;
        }

        .text-cover {
          @include flex-pos();

          .profile {
            @include image-set();
            position: relative;
            display: inline-block;
            border-radius: 100%;
            width: 32px;
            height: 32px;
            margin: 12px 10px 0 16px;
            flex-shrink: 0;
            z-index: 2;
          }

          .title-box {
            width: 100%;
            margin-top: 12px;

            .title {
              @include text-cut-multiline();
              @include preSemiBold();
              font-size: 14px;
              line-height: 1.43;
              color: var(--text-base-400);
              margin-bottom: 6px;
            }

            .info {
              @include preRegular();
              font-size: 12px;
              line-height: 1.33;
              color: var(--text-secondary-200);

              span {
                margin-right: 4px;
              }
            }
          }

          .more {
            position: relative;
            width: 48px;
            height: 48px;
            flex-shrink: 0;
            z-index: 2;
          }
        }
      }

      &--short {
        overflow: hidden;
        width: calc(50% - 5px);
        border-radius: 8px;

        .down,
        .more {
          position: absolute;
          top: 6px;
          z-index: 2;
        }

        .down {
          right: 32px;
        }

        .more {
          right: 6px;
        }
      }
    }

    .container {
      @include max-width();
    }
  }

  &--download {
    .download-list {
      .download-card {
        &--downloading {
          @include flex-pos($ai: center, $g: 12px);
          position: relative;
          padding: 14px 16px;

          .img-cover {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            max-width: 86px;
            height: 54px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              margin: auto;
            }

            .icon {
              @include pos-center();
            }
          }

          .text-cover {
            overflow: hidden;
            width: 100%;

            .title {
              @include text-cut-one();
              @include preBold();
              max-width: calc(100% - 40px);
              font-size: 15px;
              letter-spacing: -0.15px;
              color: var(--text-base-300);
              margin-bottom: 8px;
            }

            .gauge-wrap {
              overflow: hidden;
              height: 4px;
              border-radius: 2px;
              background: var(--bg-base-400);
              margin-bottom: 6px;

              .gauge {
                height: 100%;
                border-radius: 2px;
                background: var(--bg-accent-100);
              }
            }

            .desc {
              @include flex-pos($jc: space-between, $g: 10px);
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);

              .percent {
                margin-left: auto;
              }
            }
          }

          .btn {
            @include pos-center();
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          // stop
          &.stop {
            .text-cover {
              .title {
                color: var(--text-secondary-900);
              }

              .gauge-wrap {
                background: var(--bg-base-500);

                .gauge {
                  background: var(--bg-base-500);
                }
              }
            }
          }

          // selected
          &.selected {
            &::after {
              @include elm-create();
              @include pos-center();
              width: 100%;
              height: 100%;
              background: var(--bg-base-600);
              opacity: 0.5;
            }
          }
        }

        &--completed {
          @include flex-pos($ai: center, $g: 12px);
          position: relative;
          padding: 17px 16px;
          max-height: 88px;

          .img-cover {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            max-width: 86px;
            height: 54px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }

          .text-cover {
            overflow: hidden;
            width: 100%;

            .title-wrap {
              position: relative;

              .title {
                @include text-cut-one();
                @include preBold();
                max-width: calc(100% - 40px);
                font-size: 15px;
                line-height: 20px;
                letter-spacing: -0.15px;
                color: var(--text-base-300);
                margin-bottom: 4px;
              }

              input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-width: calc(100% - 40px);
                height: 20px;
                z-index: 2;
                padding: 2px 4px;
                border-radius: 4px;
                font-size: 14px;
                letter-spacing: -0.14px;
                background: var(--bg-base-100);
                display: none;

                &.on {
                  display: block;
                }
              }
            }

            .desc {
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);
              margin-bottom: 4px;
            }

            .info {
              @include flex-pos($ai: center, $g: 4px);
              margin-bottom: 2px;

              &:last-of-type {
                margin-bottom: 0;
              }

              .badge-shape {
                @include flex-pos($jc: center, $ai: center);
                @include preMedium();
                padding: 2px 4px;
                border-radius: 4px;
                font-size: 9px;
                letter-spacing: 0.18px;
                color: var(--text-base-200);
                width: 22px;
                flex-shrink: 0;

                &--pc {
                  background: #9c87f2;
                }

                &--mo {
                  background: #f95943;
                }
              }

              .date {
                @include preRegular();
                font-size: 11px;
                line-height: 13px;
                color: var(--text-secondary-600);
              }
            }
          }

          .btn {
            @include pos-center();
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          .more {
            position: absolute;
            top: 12px;
            right: 12px;
            z-index: 3;
          }

          // selected
          &.selected {
            &::after {
              @include elm-create();
              @include pos-center();
              width: 100%;
              height: 100%;
              background: var(--bg-base-600);
              opacity: 0.5;
            }
          }
        }

        &--import {
          @include flex-pos($ai: center, $g: 12px);
          position: relative;
          padding: 14px 16px;

          .img-cover {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            min-width: 64px;
            max-width: 64px;
            height: 54px;
            flex-shrink: 0;
            background-color: #222;

            img {
              width: 100%;
              height: 100%;
              margin: auto;
            }

            .icon {
              @include pos-center();
            }
          }

          .text-cover {
            overflow: hidden;
            width: 100%;

            .title {
              @include text-cut-one();
              @include preBold();
              max-width: calc(100% - 40px);
              font-size: 15px;
              letter-spacing: -0.15px;
              color: var(--text-base-300);
              margin-bottom: 4px;
            }

            .time {
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);
            }
          }

          .btn {
            @include pos-center();
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          // selected
          &.selected {
            &::after {
              @include elm-create();
              @include pos-center();
              width: 100%;
              height: 100%;
              background: var(--bg-base-600);
              opacity: 0.5;
            }
          }
        }

        &--playlist {
          @include flex-pos($ai: center);
          position: relative;
          padding: 14px 2px;
          max-height: 82px;

          .icon {
            &.play-listmove {
              margin-right: 2px;
            }
          }

          .img-cover {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            max-width: 86px;
            height: 54px;
            flex-shrink: 0;
            margin-right: 8px;

            img {
              width: 100%;
              height: 100%;
              margin: auto;
            }
          }

          .text-cover {
            overflow: hidden;
            width: 100%;

            .title {
              @include text-cut-one();
              @include preBold();
              max-width: calc(100% - 40px);
              font-size: 15px;
              letter-spacing: -0.15px;
              color: var(--text-base-300);
              margin-bottom: 4px;
            }

            .time {
              @include preRegular();
              font-size: 12px;
              line-height: 14px;
              color: var(--text-secondary-600);
            }
          }

          .btn {
            @include pos-center();
            width: 100%;
            height: 100%;
            z-index: 1;
          }

          .more {
            position: absolute;
            top: 12px;
            right: 12px;
            z-index: 3;
          }

          // selected
          &.selected {
            &::after {
              @include elm-create();
              @include pos-center();
              width: 100%;
              height: 100%;
              background: var(--bg-base-600);
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

// video-player
.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .player-overlay {
    position: relative;
    width: 100%;
    height: 33dvh;
    min-height: 202px;
    background: #000;

    .video {
      @include pos-center();
      width: 100%;
      height: 100%;
    }

    .controls-wrap {
      @include max-width();
      @include pos-x-center();
      @include flex-pos($fd: column, $jc: space-between);
      width: 100%;
      height: 100%;
      padding: 8px 0 10px;

      .top-controls {
        @include flex-pos($jc: space-between);

        .player-btn {
          @include preRegular();
          font-size: 12px;
          line-height: 14px;
          padding: 5px 10px;
          border-radius: 12px;
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
        }
      }

      .middle-controls {
        @include pos-center();
        @include flex-pos($jc: center, $ai: center, $g: 24px);

        .middle-controls-prev,
        .middle-controls-next,
        .middle-controls-play {
          @include flex-pos($jc: center, $ai: center);
          border-radius: 100%;
          background: rgba(0, 0, 0, 0.3);
        }

        .middle-controls-prev,
        .middle-controls-next {
          width: 38px;
          height: 38px;
        }

        .middle-controls-play {
          width: 56px;
          height: 56px;
        }
      }

      .bottom-controls {
        @include flex-pos($fd: row-reverse, $jc: space-between, $ai: flex-end);

        .player-actions {
          @include flex-pos($fd: column, $g: 10px);

          .player-btn {
            padding: 5px;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.3);

            &.list {
              display: none;
            }
          }
        }

        .player-timeline {
          .gauge-wrap {
            position: absolute;
            bottom: 0;
            left: -16px;
            width: 100vw;
            height: 2px;

            &::before {
              @include elm-create();
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(191, 191, 191, 0.3);
            }

            .guage-bg {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              background: rgba(248, 248, 248, 0.5);
            }

            .gauge {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              padding-right: 10px;
              background: var(--bg-accent-100);

              .gauge-control-btn {
                @include pos-y-center();
                right: 0;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: var(--bg-accent-100);
              }
            }
          }

          .player-time {
            @include preRegular();
            font-size: 12px;
            line-height: 14px;
            color: #999;
            padding: 5px 12px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 12px;

            .time-current {
              color: #fff;
            }
          }
        }

        .player-controls {
          display: none;
          position: absolute;
          bottom: 10px;
          right: 0;

          .player-speed {
            @include flex-pos($jc: center, $ai: center, $g: 6px);
            padding: 8px 12px;
            border-radius: 15px;
            background: rgba(0, 0, 0, 0.3);

            .player-btn {
              &.speed {
                @include preRegular();
                font-size: 12px;
                line-height: 14px;
                color: #fff;
              }
            }
          }

          .player-sound {
            @include flex-pos($jc: center, $ai: center, $g: 6px);
            padding: 5px 14px;
            border-radius: 15px;
            background: rgba(0, 0, 0, 0.3);

            .gauge-wrap {
              position: relative;
              min-width: 86px;
              height: 2px;

              &::before {
                @include elm-create();
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(191, 191, 191, 0.5);
              }

              .gauge {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                padding-right: 8px;
                background: var(--bg-accent-100);

                .gauge-control-btn {
                  @include pos-y-center();
                  right: 0;
                  width: 8px;
                  height: 8px;
                  border-radius: 100%;
                  background: var(--bg-accent-100);
                }
              }
            }
          }
        }
      }
    }
  }

  &.on {
    position: fixed;
    z-index: 99;

    .player-overlay {
      height: 100dvh;

      .controls-wrap {
        padding: 16px 0 10px;

        .top-controls {
          @include flex-pos($jc: space-between);

          .player-btn {
            &.speed {
              display: none;
            }
          }
        }

        .middle-controls {
          gap: 40px;
        }

        .bottom-controls {
          @include flex-pos($fd: column, $ai: flex-start, $g: 14px);

          .player-actions {
            margin-left: auto;

            .player-btn {
              &.list {
                display: inline-block;
              }
            }
          }

          .player-timeline {
            .gauge-wrap {
              @include max-width();
              position: relative;
              bottom: unset;
              height: 4px;
              width: 100vw;
              margin-bottom: 10px;

              .gauge {
                padding-right: 12px;

                .gauge-control-btn {
                  width: 12px;
                  height: 12px;
                }
              }
            }

            .player-time {
              display: inline-block;
              padding: 8px 12px;
              border-radius: 15px;
            }
          }

          .player-controls {
            @include flex-pos($ai: center, $g: 10px);
          }
        }
      }
    }

    &.fullscreen-playlist {
      @include flex-pos();

      .player-overlay {
        .controls-wrap {
          padding: 16px 0 34px;

          .top-controls {
            @include flex-pos($jc: space-between);
          }

          .middle-controls {
            gap: 24px;
          }

          .bottom-controls {
            @include flex-pos($fd: row-reverse, $jc: space-between, $ai: center);

            .player-actions {
              margin-left: 0;

              .player-btn {
                &.list {
                  display: none;
                }
              }
            }

            .player-timeline {
              .gauge-wrap {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 16px;
                max-width: unset;
                margin-bottom: 0;
              }
            }

            .player-controls {
              display: none;
            }
          }
        }
      }

      .play-list-area {
        height: 100dvh;
        flex-shrink: 0;
      }
    }
  }
}

.video-play-list {
  position: relative;
  width: 100%;
  height: calc(67dvh - 60px);
  min-height: 354px;

  .close {
    display: none;
    position: absolute;
    z-index: 99;
    top: 24px;
    right: 16px;
  }

  .play-list-wrap {
    position: relative;
    height: 100%;
    background: var(--bg-base-200);
    border-radius: 20px 20px 0 0;
    padding-top: 32px;

    > .text-cover {
      @include max-width();
      margin-bottom: 10px;

      .title-box {
        @include flex-pos($ai: center, $g: 10px);
        margin-bottom: 6px;

        .title {
          @include preBold();
          font-size: 18px;
          line-height: 21px;
          color: var(--text-base-700);
        }
      }

      .desc {
        @include preRegular();
        font-size: 12px;
        line-height: 14px;
        color: var(--text-secondary-600);
      }
    }

    .category-bar {
      margin-bottom: 1px;
      background: var(--bg-base-200);

      .list {
        .item {
          .btn {
            background: var(--btn-bg-base-500);
          }
        }
      }
    }

    .play-list {
      overflow: hidden;
      overflow-y: auto;
      -ms-overflow-style: none; /* IE 및 Edge */
      scrollbar-width: none; /* Firefox */
      height: calc(100% - 51px - 49px);

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .popup {
        &--btn {
          position: absolute;
          bottom: 40px;
          z-index: 3;
        }
      }
    }
  }

  &.fullscreen-playlist {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 100dvh;
    width: 50%;
    max-width: 500px;

    .close {
      display: inline-block;
    }

    .play-list-wrap {
      border-radius: 0;
      padding-top: 24px;
    }
  }
}
