::selection {
  background: #978eff;
  color: #fff;
}

.menu-two-bg-wrap {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 80px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.menu-two-bg-wrap .menu-two-bg {
  position: absolute;
  transform: translateY(-80px);
  width: 100%;
  height: 100%;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s;
}
.menu-two-bg-wrap.on {
  height: 80px;
}
.menu-two-bg-wrap.on .menu-two-bg {
  transform: translateY(0);
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0 80px;
  transition: background 0.2s;
}
header h1 a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/gnb_logo_w.png) no-repeat center/contain;
  width: 200px;
  height: 34px;
}
header .menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 80px;
  height: 100%;
}
header .menu li {
  position: relative;
}
header .menu li a {
  font-family: "Pretendard-Medium";
  position: relative;
  white-space: nowrap;
  display: block;
  height: 100%;
  line-height: 80px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.32px;
}
header .menu li ul {
  position: absolute;
  left: 11px;
  bottom: -80px;
  gap: 45px;
  width: 100%;
  display: none;
}
header .menu li ul li a {
  position: relative;
  color: #555;
  z-index: -999;
  font-size: 16px;
  opacity: 0;
}
header .menu li ul li a:hover {
  color: #978eff;
  transition: 0.2s;
}
header .menu li ul.on {
  display: flex;
}
header .menu li ul.on a {
  z-index: 9;
  opacity: 1;
}
header .menu li:last-child ul {
  left: -7px;
}
header .user .login {
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  gap: 10px;
}
header .user .login a {
  font-family: "Pretendard-Regular";
  display: inline-block;
  padding: 7.5px 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #fff;
  font-size: 13px;
  letter-spacing: -0.26px;
  cursor: pointer;
  transition: 0.2s;
}
header .user .login a:hover {
  background: #fff;
  color: #784dff;
}
header .user .login.after .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}
header .user .login.after .user-info .user-img {
  width: 20px;
  height: 20px;
  background: url(../images/ic_gnb_my_w.png) no-repeat center/cover;
}
header .user .login.after .user-info .user-name {
  font-family: "Pretendard-Regular";
  color: #fff;
  font-size: 14px;
}
header .user .login.after .user-info .user-name span {
  font-family: "Pretendard-Bold";
}
header.white {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
}
header.white h1 a {
  background: url(../images/gnb_logo_w_white.png) no-repeat center/contain;
}
header.white .menu > li > a {
  color: #333;
}
header.white .menu > li > a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #978eff;
  transition: 0.3s;
}
header.white .menu > li > a:hover, header.white .menu > li > a.on {
  color: #978eff;
}
header.white .menu > li > a:hover::before, header.white .menu > li > a.on::before {
  width: 100%;
}
header.white .user .login a {
  border: 1px solid #978eff;
  color: #978eff;
}
header.white .user .login a:hover {
  background: #978eff;
  color: #fff;
}
header.white .user .login.after .user-info .user-img {
  background: url(../images/ic_gnb_my_w_white.png) no-repeat center/cover;
}
header.white .user .login.after .user-info .user-name {
  color: #333;
}

.content .container {
  height: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

footer {
  background: #17213e;
  padding: 65px 20px;
}
footer .container {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .container .box.box1 .footer-logo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 31px;
  background-image: url(../images/img_footer_logo.png);
  margin-bottom: 30px;
}
footer .container .box.box1 .item.item1 {
  display: flex;
  margin-bottom: 30px;
}
footer .container .box.box1 .item.item1 a {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #fff;
  padding-right: 17.5px;
  margin-right: 17.5px;
  position: relative;
}
footer .container .box.box1 .item.item1 a::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
footer .container .box.box1 .item.item1 a:last-of-type::before {
  display: none;
}
footer .container .box.box1 .item.item2 .line {
  display: flex;
  margin-bottom: 13px;
}
footer .container .box.box1 .item.item2 .line p {
  font-family: "Pretendard-Light";
  font-size: 14px;
  color: #999fb1;
  padding-right: 9px;
  margin-right: 9px;
  position: relative;
}
footer .container .box.box1 .item.item2 .line p::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: #999fb1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
footer .container .box.box1 .item.item2 .line p:last-of-type::before {
  display: none;
}
footer .container .box.box1 .item.item2 .line.line3 {
  margin-bottom: 0;
}
footer .container .box.box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
footer .container .box.box2 .site-link-wrap {
  position: relative;
  cursor: pointer;
  width: 210px;
  height: 45px;
  padding-left: 15px;
  border-radius: 5px;
  background: #000d34;
}
footer .container .box.box2 .site-link-wrap::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 13px;
  height: 5.5px;
  background-image: url(../images/icon_footer_arrow_up.png);
}
footer .container .box.box2 .site-link-wrap p {
  font-family: "Pretendard-Medium";
  font-size: 14px;
  color: #fff;
  line-height: 45px;
}
footer .container .box.box2 .site-link-wrap ul {
  position: absolute;
}
footer .container .box.box2 .sns-link-wrap {
  display: flex;
  gap: 15px;
}
footer .container .box.box2 .sns-link-wrap .link {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 45px;
  background-size: contain;
  border-radius: 5px;
}
footer .container .box.box2 .sns-link-wrap .link.link1 {
  background-image: url(../images/btn_footer_blog.png);
}
footer .container .box.box2 .sns-link-wrap .link.link2 {
  background-image: url(../images/btn_footer_facebook.png);
}
footer .container .box.box2 .sns-link-wrap .link.link3 {
  background-image: url(../images/btn_footer_youyube.png);
}
footer .top-btn {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: url(../images/btn_top.png) no-repeat center/cover;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transform: translateY(120px);
  transition: 0.5s;
}
footer .top-btn.on {
  transform: translateY(0);
}