.header__container {
  max-width: 1376px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  flex-wrap: nowrap;
  padding-top: 42px;
  padding-bottom: 35px;
}
.header__logo a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  display: block;
  width: 85px;
  height: 39px;
  background-image: url(/assets/images/components/header/logo.png);
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 153px;
  flex-wrap: nowrap;
}
.header__content .header__nav .header__menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 50px;
  flex-wrap: nowrap;
}
.header__content .header__nav .header__menu-item {
  position: relative;
}
.header__content .header__nav .header__menu-item .header__menu-button {
  font-family: "Pretendard-Medium";
  font-size: 18px;
  line-height: 21px;
  color: #111;
}
.header__content .header__nav .header__menu-item .header__menu-button--with-arrow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  transition: 0.3s;
}
.header__content .header__nav .header__menu-item .header__menu-button--with-arrow i {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: 0.3s;
  width: 12px;
  height: 6px;
  background-image: url(/assets/images/components/header/arrow.png);
}
.header__content .header__nav .header__menu-item .header__menu-button--with-arrow.on, .header__content .header__nav .header__menu-item .header__menu-button--with-arrow:hover {
  color: #fc3220;
}
.header__content .header__nav .header__menu-item .header__menu-button--with-arrow.on i, .header__content .header__nav .header__menu-item .header__menu-button--with-arrow:hover i {
  background-image: url(/assets/images/components/header/arrow-red.png);
  transform: rotate(-180deg);
}
.header__content .header__nav .header__menu-item .header__submenu {
  position: absolute;
}
.header__content .header__nav .header__menu-item--download .header__submenu {
  top: calc(100% + 20px);
  left: -29px;
  width: 100vw;
  max-width: 640px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.header__content .header__nav .header__menu-item--download .header__submenu-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  gap: 30px 60px;
  flex-wrap: wrap;
}
.header__content .header__nav .header__menu-item--download .header__submenu-list .header__submenu-item {
  flex-basis: calc(50% - 30px);
}
.header__content .header__utils {
  display: none;
}
.header__content .header__toggle-button {
  display: none;
}

footer {
  background: #000;
}

.test {
  font-family: "Pretendard-Bold";
  font-size: 80px;
}