@use '../../common' as *;
@import '../../components/header';
@import '../../components/footer';

.home {
  .section {
    // section common
    .section-title {
      @include preRegular();
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.32px;
      color: $color-text-black;

      &.bold {
        @include preBold();
      }

      span {
        @include preBold();
        color: $color-text-red;
      }
    }

    .section-desc {
      @include preRegular();
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.18px;
      color: $color-text-gray;
    }

    // section1
    &.section1 {
      margin-bottom: 150px;

      // container
      .container {
        @include max-width();
      }

      // scroll-trigger
      .scroll-trigger {
        .swiper {
          transition: $transition-littleslow;
          opacity: 0;
        }

        &.on {
          .swiper {
            opacity: 1;
          }
        }
      }

      // style
      .scroll-trigger {
        .swiper {
          overflow: visible;
          height: 100%;
          height: 580px;
          background-image: linear-gradient(118deg, #a21284 -3%, #e8222f 33%, #f0a82f 124%);
          border-radius: 30px;
          margin-bottom: 49px;

          .swiper-wrapper {
            .swiper-slide {
              .slide-item {
                @include flex-pos($ai: center, $jc: space-between, $g: 20px);
                height: 100%;
                padding: 100px;
                overflow: hidden;

                .cont {
                  .logo-wrap {
                    width: 100%;
                    margin-bottom: 25px;

                    .logo {
                      @include text-hide();
                      @include image-set($bs: contain);
                      width: 100%;
                      height: 0;
                    }

                    &.ezlab {
                      max-width: 195px;

                      .logo {
                        padding-top: 45%;
                        background-image: url(../../../images/page/home/section/section1-logo-ezlab.png);
                      }
                    }

                    &.ezcapture {
                      max-width: 322px;

                      .logo {
                        padding-top: 25.8%;
                        background-image: url(../../../images/page/home/section/section1-logo-ezcapture.png);
                      }
                    }

                    &.ezzip {
                      max-width: 175px;

                      .logo {
                        padding-top: 50%;
                        background-image: url(../../../images/page/home/section/section1-logo-ezzip.png);
                      }
                    }

                    &.ezfinder {
                      max-width: 269px;

                      .logo {
                        padding-top: 32%;
                        background-image: url(../../../images/page/home/section/section1-logo-ezfinder.png);
                      }
                    }

                    &.ezmemo {
                      max-width: 268px;

                      .logo {
                        padding-top: 32%;
                        background-image: url(../../../images/page/home/section/section1-logo-ezmemo.png);
                      }
                    }
                  }

                  .desc {
                    @include preRegular();
                    font-size: 22px;
                    line-height: 28px;
                    letter-spacing: -0.22px;
                    color: $color-text-white;
                    margin-bottom: 58px;
                  }

                  .link {
                    @include preMedium();
                    display: inline-block;
                    font-size: 16px;
                    line-height: 50px;
                    text-align: center;
                    width: 160px;
                    height: 50px;
                    color: $color-text-white;
                    border-radius: 25px;
                    border: 1px solid $color-border-white;
                  }
                }

                .deco-wrap {
                  width: 100%;

                  .deco {
                    @include text-hide();
                    @include image-set($bs: contain);
                    width: 100%;
                  }

                  &.ezlab {
                    max-width: 600px;

                    .deco {
                      padding-top: 62%;
                      background-image: url(../../../images/page/home/section/section1-deco-ezlab.png);
                    }
                  }

                  &.ezcapture {
                    max-width: 551px;

                    .deco {
                      padding-top: 69.5%;
                      background-image: url(../../../images/page/home/section/section1-deco-ezcapture.png);
                    }
                  }

                  &.ezzip {
                    max-width: 551px;

                    .deco {
                      padding-top: 64%;
                      background-image: url(../../../images/page/home/section/section1-deco-ezzip.png);
                    }
                  }

                  &.ezfinder {
                    max-width: 551px;

                    .deco {
                      padding-top: 63%;
                      background-image: url(../../../images/page/home/section/section1-deco-ezfinder.png);
                    }
                  }

                  &.ezmemo {
                    max-width: 551px;

                    .deco {
                      padding-top: 63.5%;
                      background-image: url(../../../images/page/home/section/section1-deco-ezmemo.png);
                    }
                  }
                }
              }
            }
          }

          .controls {
            @include flex-pos($jc: center, $ai: center, $g: 48px);
            position: absolute;
            top: calc(100% + 25px);
            width: 100%;

            .progress-wrap {
              @include flex-pos($ai: center);
              position: relative;
              width: 100%;
              max-width: 860px;

              .swiper-progress {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                width: 100%;
                height: 6px;
                border-radius: 3px;
                overflow: hidden;
                background-color: #e2e2e2;

                svg {
                  --progress: 0;
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  stroke-width: 100%;
                  stroke: $color-bg-red;
                  fill: none;
                  stroke-dashoffset: calc(100 * (1 - var(--progress)));
                  stroke-dasharray: 100;
                }
              }
            }

            .arrows {
              @include flex-pos($g: 14px);
            }
          }
        }
      }
    }

    // section2
    &.section2 {
      margin-bottom: 150px;

      // container
      .container {
        @include max-width($mw: 1206px);
      }

      // scroll-trigger
      .scroll-trigger {
        .section-title {
          transition: $transition-littleslow;
          opacity: 0;
          transform: translateY(50%);
        }

        .section-desc {
          transition: $transition-littleslow;
          opacity: 0;
        }

        .swiper {
          transition: $transition-littleslow;
          opacity: 0;
          transform: translateY(50%);
        }

        &.on {
          .section-title {
            opacity: 1;
            transform: translateY(0);
          }

          .section-desc {
            opacity: 1;
          }

          .swiper {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      // style
      .scroll-trigger {
        &--1 {
          margin-bottom: 29px;

          .section-title {
            text-align: center;
          }
        }

        &--2 {
          margin-bottom: 100px;

          .section-desc {
            text-align: center;
          }
        }

        &--3 {
          .swiper {
            .swiper-wrapper {
              transition-timing-function: linear;

              .swiper-slide {
                width: unset;

                .slide-item {
                  .link {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    padding: 40px;
                    border: 1px solid $color-border-secondary;
                    border-radius: 30px;
                    min-width: 279px;
                    max-width: 279px;
                    min-height: 290px;
                    max-height: 290px;

                    .icon {
                      position: relative;
                      margin-bottom: 16px;

                      &.new {
                        &::before {
                          @include elm-create();
                          @include preMedium();
                          content: 'NEW';
                          bottom: -16px;
                          right: -14px;
                          width: 42px;
                          height: 42px;
                          background: $color-bg-red;
                          border: 2px solid $color-border-white;
                          border-radius: 100%;
                          text-align: center;
                          font-size: 12px;
                          line-height: 38px;
                          letter-spacing: -0.12px;
                          color: $color-text-white;
                        }
                      }
                    }

                    .title {
                      @include preBold();
                      font-size: 20px;
                      line-height: 24px;
                      letter-spacing: -0.2px;
                      color: $color-text-black;
                      margin-bottom: 24px;
                    }

                    .desc {
                      @include preRegular();
                      font-size: 16px;
                      line-height: 22px;
                      letter-spacing: -0.16px;
                      color: $color-text-black;
                      word-break: break-all;
                    }

                    .coming-soon {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      top: 0;
                      left: 0;

                      &::before {
                        @include elm-create();
                        width: 100%;
                        height: 100%;
                        background: #f5f5f5;
                        opacity: 0.5;
                      }

                      p {
                        @include pos-center();
                        @include preBold();
                        @include flex-pos($jc: center, $ai: center);
                        width: 164px;
                        height: 164px;
                        background-image: linear-gradient(142deg, #9c108b 14%, #ea232b 85%);
                        border-radius: 100%;
                        text-align: center;
                        font-size: 30px;
                        line-height: 32px;
                        letter-spacing: -0.3px;
                        color: $color-text-white;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // section3
    &.section3 {
      margin-bottom: 130px;

      // container
      .container {
        @include max-width();

        > div {
          padding: 100px;
          background: $color-bg-gray;
          border-radius: 30px;
        }
      }

      // scroll-trigger
      .scroll-trigger {
        .section-title {
          transition: $transition-littleslow;
          opacity: 0;
          transform: translateY(50%);
        }

        .section-desc {
          transition: $transition-littleslow;
          opacity: 0;
        }

        .swiper {
          transition: $transition-littleslow;
          opacity: 0;

          .swiper-wrapper {
            .swiper-slide {
              transition: $transition-littleslow;
              opacity: 0;
              transform: translateY(50%);
            }
          }
        }

        &.on {
          .section-title {
            opacity: 1;
            transform: translateY(0);
          }

          .section-desc {
            opacity: 1;
          }

          .swiper {
            opacity: 1;

            .swiper-wrapper {
              .swiper-slide {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }
      }

      // style
      .scroll-trigger {
        &--1 {
          margin-bottom: 29px;
        }

        &--2 {
          margin-bottom: 10px;
        }

        &--3 {
          .swiper {
            &::before {
              @include elm-create();
              bottom: 0;
              right: 0;
              z-index: 9;
              width: 20%;
              height: calc(100% - 70px);
              background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 2%, #f8f8f8 99%);
            }

            .swiper-wrapper {
              .swiper-slide {
                width: 230px;
                height: 100%;

                .slide-item {
                  height: 100%;

                  .link {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: $color-bg-white;

                    .deco {
                      @include image-set();
                      @include flex-pos($jc: flex-end, $ai: flex-end);
                      min-height: 202px;
                      padding: 15px;

                      &.ezcapture {
                        background-image: url(../../../images/page/home/section/section2-deco1.png);
                      }

                      &.ezzip {
                        background-image: url(../../../images/page/home/section/section2-deco2.png);
                      }

                      &.ezfinder {
                        background-image: url(../../../images/page/home/section/section2-deco3.png);
                      }

                      &.ezmemo {
                        background-image: url(../../../images/page/home/section/section2-deco4.png);
                      }

                      &.ezrecorder {
                        background-image: url(../../../images/page/home/section/section2-deco5.png);
                      }
                    }

                    .cont {
                      padding: 18px 22px;
                      min-height: 114px;

                      .title {
                        @include preBold();
                        font-size: 20px;
                        line-height: 24px;
                        letter-spacing: -0.2px;
                        color: $color-text-black;
                        margin-bottom: 10px;
                      }

                      .desc {
                        @include preRegular();
                        @include text-cut-multiline($wlc: 2);
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: -0.16px;
                        color: $color-text-black;
                        word-break: break-all;
                      }
                    }
                  }
                }
              }
            }

            .controls {
              .arrows {
                @include flex-pos($jc: flex-end, $g: 8px);
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }

    // section4
    &.section4 {
      margin-bottom: 160px;

      // container
      .container {
        @include max-width($mw: 1206px);
      }

      // scroll-trigger
      .scroll-trigger {
        .section-title {
          transition: $transition-littleslow;
          opacity: 0;
          transform: translateY(50%);
        }

        .swiper-wrap {
          transition: $transition-littleslow;
          opacity: 0;
          transform: translateY(50%);
        }

        &.on {
          .section-title {
            opacity: 1;
            transform: translateY(0);
          }

          .swiper-wrap {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

      // style
      .scroll-trigger {
        &--1 {
          margin-bottom: 99px;

          .section-title {
            text-align: center;
          }
        }

        &--2 {
          .swiper-wrap {
            @include flex-pos($g: 24px);

            .controls {
              @include flex-pos($ai: center);

              .swiper-pagination {
                @include flex-pos($fd: column, $g: 16px);
                position: relative;
                right: unset;
                left: unset;
                top: unset;
                transform: unset;

                .swiper-pagination-bullet {
                  transition: $transition-fast;
                  margin: 0;
                  width: 6px;
                  height: 6px;
                  border-radius: 3px;

                  &-active {
                    background: $color-bg-red;
                    height: 20px;
                  }
                }
              }
            }

            .swiper {
              width: 100%;

              .swiper-wrapper {
                .swiper-slide {
                  height: unset !important;
                  .slide-item {
                    @include flex-pos($jc: space-between, $ai: flex-end, $g: 20px);

                    .cont {
                      max-width: 412px;

                      .logo {
                        @include flex-pos($ai: center, $g: 12px);
                        @include preBold();
                        font-size: 24px;
                        line-height: 1;
                        letter-spacing: -0.24px;
                        color: $color-text-black;
                        margin-bottom: 50px;
                      }

                      .title {
                        @include preBold();
                        font-size: 24px;
                        line-height: 1.25;
                        letter-spacing: -0.24px;
                        color: $color-text-black;
                        margin-bottom: 20px;
                      }

                      .desc {
                        @include preRegular();
                        font-size: 18px;
                        line-height: 1.22;
                        letter-spacing: -0.18px;
                        color: $color-text-black;
                        margin-bottom: 40px;
                      }
                    }

                    .deco-wrap {
                      width: 100%;
                      max-width: 640px;

                      .deco {
                        @include image-set();
                        border-radius: 20px;

                        &.deco1 {
                          padding-top: 64.4%;
                          background-image: url(../../../images/page/home/section/section4-deco1.png);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // section5
    &.section5 {
      // container
      .container {
        @include max-width($mw: 1206px);
        height: 100%;
      }

      // scroll-trigger
      .scroll-trigger {
        .swiper {
          transition: $transition-littleslow;
          opacity: 0;
        }

        &.on {
          .swiper {
            opacity: 1;
          }
        }
      }

      // style
      .swiper {
        position: relative;

        .swiper-wrapper {
          .swiper-slide {
            @include image-set();
            height: 520px;

            &.ezcapture {
              background-image: url(../../../images/page/home/section/section5-bg-ezcapture.png);
            }

            &.ezzip {
              background-image: url(../../../images/page/home/section/section5-bg-ezzip.png);
            }

            &.ezfinder {
              background-image: url(../../../images/page/home/section/section5-bg-ezfinder.png);
            }

            &.ezmemo {
              background-image: url(../../../images/page/home/section/section5-bg-ezmemo.png);
            }

            .slide-item {
              @include flex-pos($fd: column, $jc: center);
              height: 100%;

              .title {
                @include preBold();
                font-size: 34px;
                line-height: 40px;
                letter-spacing: -0.34px;
                color: $color-text-white;
                margin-bottom: 30px;

                span {
                  @include preMedium();
                  display: block;
                  font-size: 28px;
                  line-height: 34px;
                  letter-spacing: -0.28px;
                  color: $color-text-white;
                  margin-top: 5px;
                }
              }

              .desc {
                @include preRegular();
                font-size: 18px;
                line-height: 1.33;
                letter-spacing: -0.18px;
                color: $color-text-white;
                margin-bottom: 62px;
              }
            }
          }
        }

        .controls {
          width: 100%;
          position: absolute;
          z-index: 9;
          bottom: 68px;

          .container {
            @include flex-pos($ai: center, $g: 16px);
            width: 100%;

            .swiper-pagination {
              @include flex-pos($ai: center, $g: 8px);
              position: relative;
              right: unset;
              left: unset;
              top: unset;
              bottom: unset;
              transform: unset;
              width: unset;

              .swiper-pagination-bullet {
                transition: $transition-fast;
                background: $color-bg-white;
                margin: 0;
                width: 6px;
                height: 6px;
                border-radius: 4px;
                opacity: 1;

                &-active {
                  width: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
