@use './common' as *;
@import './base/reset';
@import './base/fonts';
@import './components/header';
@import './components/navigation';
@import './components/bar';
@import './components/dropdown';
@import './components/video';
@import './components/button';
@import './components/tag';
@import './components/logo';
@import './components/icon';
@import './components/input';
@import './components/stack-list';
@import './components/popup';

body {
  &.scroll-lock {
    overflow: hidden;
  }

  .wrap {
    overflow: hidden;
    background: var(--bg-base-100);

    .main {
      min-height: 100dvh;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;

    &.light {
      &--700 {
        background: rgba(0, 0, 0, 0.7);
      }
    }

    &.on {
      display: block;
    }
  }
}
