:root {
  --bg-color1: #131313;
  --bg-color2: #14181d;
  --bg-color3: #9df63c;
  --bg-color4: #232323;
  --bg-color5: #fff;
  --text-color1: #fff;
  --text-color2: #131313;
  --text-color3: #9df63c;
  --text-color4: #0d0d0d;
  --text-color5: #7e7e7e;
  --text-color6: #666666;
  --text-color7: #a3c57d;
  --text-color8: #aaaaaa;
  --text-color9: #888888;
  --text-color10: #777777;
  --border-color1: #9df63c;
  --border-color2: #444444;
  --scrollbar-color1: #d8d8d8;
  --gaugeWrap-color: #444; 
  --gauge-color: #9df63c;
}

// font
@mixin preThin() {
  font-family: 'Pretendard-Thin';
}

@mixin preExtraLight() {
  font-family: 'Pretendard-ExtraLight';
}

@mixin preLight() {
  font-family: 'Pretendard-Light';
}

@mixin preRegular() {
  font-family: 'Pretendard-Regular';
}

@mixin preMedium() {
  font-family: 'Pretendard-Medium';
}

@mixin preSemiBold() {
  font-family: 'Pretendard-SemiBold';
}

@mixin preBold() {
  font-family: 'Pretendard-Bold';
}

@mixin paperLight() {
  font-family: 'Paperlogy-3Light';
}

@mixin paperRegular() {
  font-family: 'Paperlogy-4Regular';
}

@mixin paperSemiBold() {
  font-family: 'Paperlogy-6SemiBold';
}

@mixin paperBold() {
  font-family: 'Paperlogy-7Bold';
}

@mixin GmarketBold() {
  font-family: 'GmarketSansBold';
}

@mixin manropeMedium() {
  font-family: 'Manrope-Medium';
}

// common
@mixin create-ba() {
  content: "";
  display: block;
  position: absolute;
}

@mixin set-img() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

@mixin hide-txt() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin center-elm() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerR-elm() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

@mixin bCenter-elm() {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@mixin bLeft-elm() {
  position: absolute;
  bottom: 0;
  left: 0;
}

// common class
.link {
  &.type1 {
    @include paperRegular();
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    box-sizing: border-box;
    border: 1px solid var(--border-color1);
    transition: background .3s ease-in-out;
    min-width: 15rem;
    min-height: 4.375rem;;
    max-width: 15rem;
    max-height: 4.375rem;;

    &:hover {
      @include paperSemiBold();
      background: var(--bg-color3);
      color: var(--text-color4);
    }
  }
}

// scroll class
.scroll-text-wrap {
  color: var(--text-color1);
  position: absolute;
  height: 100vh;
  left: 12vw;
  top: 0;

  &.fix {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    .text-box {
      h2 {
        top: -25.47vh;
      }
    }
  }

  .text-box {
    position: relative;
    top: 41.66vh;
    display: flex;
    flex-direction: column;

    h2 {
      @include paperBold();
      position: absolute;
      font-size: 8.75rem;
      color: var(--text-color1);
      opacity: 0.03;
      white-space: nowrap;
      left: -14vw;
      top: 4.3vh;
      transition: .3s linear;
    }

    .title {
      @include preLight();
      font-size: 1.75rem;

      span {
        @include preSemiBold();
        display: block;
        color: var(--text-color3);
        font-size: 3.75rem;
        margin-top: 0.875rem;
      }
    }

    .text {
      @include preRegular();
      position: relative;
      font-size: 1.375rem;
      line-height: 2rem;
      padding-bottom: 2.788rem;

      &::before {
        @include create-ba();
        @include bLeft-elm();
        @include set-img();
        background-size: contain;
        width: 2.7rem;
        height: 1.031rem;
        background-image: url(../images/main/main-cont2-img1.png);
      }
    }
  }
}

.scroll-box {
  .scroll-cont {
    display: flex;

    .item {
      height: 100%;
      display: flex;
      align-items: flex-end;

      .link-box {
        @include set-img();
        position: relative;
        width: 100%;
        height: 74vh;
        color: var(--text-color1);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .3s ease-in-out;

        .link-bg {
          @include center-elm();
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .5);
          opacity: 1;
          transition: .3s ease-out;
        }

        .title {
          @include preSemiBold();
          position: relative;
          font-size: 2.25rem;
          transition: .1s ease-in-out;

          &::before {
            @include create-ba();
            @include bCenter-elm();
            width: 0;
            height: 2px;
            background: #fff;
          }
        }

        .text {
          @include preExtraLight();
          font-size: 1.125rem;
          line-height: 2;
          padding-bottom: 6.25rem;
        }

        .link {z-index: 1;}

        &:hover {
          .link-bg {
            opacity: 0;
          }

          .title {
            font-size: 2.5rem;

            &::before {
              width: 2.5rem;
              transition: .3s ease-in-out;
              transition-delay: .1s;
            }
          }

          .text {
            @include preMedium();
            font-size: 1.25rem;
            padding-bottom: 5.563rem;
            transition: .2s ease-in-out;
          }

          .link {
            @include paperSemiBold();
            background: var(--bg-color3);
            color: var(--text-color4);
          }
        }
      }
    }
  }
}

// animation
@mixin Y30pAndOPCZero() {
  opacity: 0;
  transform: translateY(30%);
}

@mixin Y50pAndOPCZero() {
  opacity: 0;
  transform: translateY(50%);
}

@mixin Y0pAndOPCFull() {
  opacity: 1;
  transform: translateY(0);
  transition: .7s ease-out;
}

// animation keyfram
@keyframes aniOPRepeat-type1 {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes aniTrXCenterYRepeat-type1 {
  from {
    transform: translateX(-50%) translateY(0);
  }

  to {
    transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes aniRotateInfinity-type1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}