@import "common";

html {font-size: 0.8333vw;}
body {overflow: hidden; background: var(--bg-color1);}

.wrap {
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &.hidden {
    overflow: hidden;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    padding: 0 2.813rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-color1);
    z-index: 999;
    color: var(--text-color1);
    user-select: none;
  
    h1 {
      a {
        @include hide-txt();
        @include set-img();
        display: block;
        width: 13.5rem;
        height: 1.375rem;
        background-image: url(../images/icon/logo.png);
        background-size: contain;
      }
    }
  
    .title-box {
      p {
        @include center-elm();
        @include preMedium();
        font-size: 1.25rem;
        z-index: -999999;
        opacity: 0;

        &.on {
          opacity: 1;
          z-index: 999999;
          transition: .8s ease-in-out;
        }
      }
    }
  
    .list-box {
      display: flex;
      align-items: center;
      gap: 2.813rem;
  
      > a {
        @include preMedium();
        font-size: 1.25rem;
      }

      .menu-wrap {
        position: relative;

        > button {
          @include hide-txt();
          position: relative;
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          z-index: 999999;
    
          i {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 0.888rem;
            height: 0.125rem;
            background: var(--text-color1);
          }
    
          &::before,
          &::after {
            width: 100%;
            height: 0.125rem;
            background: var(--text-color1);
            left: 0;
            transition: .3s;
            @include create-ba();
          }
    
          &::before {
            top: 0;
            
          }
    
          &::after {
            bottom: 0;
          }
    
          &.on {
            &::before,
            &::after {
              top: 50%;
              left: 50%;
            }
    
            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
    
            &::after {
              bottom: unset;
              transform: translate(-50%, -50%) rotate(-45deg);
            }
    
            i {
              opacity: 0;
            }
    
          }
        }

        .menu-bg {
          @include center-elm();
          border-radius: 100%;
          background: #464b55;
          z-index: 9999;
          transition: 0.5s 0.2s;
          width: 0px;
          height: 0px;

          &.on {
            width: 300vw;
            height: 300vh;
            background: var(--bg-color2);
          }
        }

        .menu-box {
          position: fixed;
          top: -9999999999px;
          left: 0;
          z-index: 99999;
          transition: 0s 0.7s;
          width: 100vw;
          height: 100vh;

          &.on {
            top: 0;

            > ul {
              > li {
                > div {
                  > a,
                  > button {
                    transform: translateY(0);
                    transition: opacity .3s ease-in-out, transform 0.7s 0.7s;
                  }
                }
              }
            }
          }

          > ul {
            position: absolute;
            top: 50%;
            left: 18.875rem;
            transform: translateY(-50%);

            > li {
              cursor: pointer;
              position: relative;
              margin-bottom: 2rem;

              > div {
                overflow: hidden;

                > a,
                > button {
                  @include preSemiBold();
                  display: block;
                  font-size: 4.688rem;
                  color: var(--text-color7);
                  opacity: 0.12;
                  transition: opacity .3s ease-in-out, transform 0.7s;
                  transform: translateY(-100%);
                }
              }

              > ul {
                display: none;
                position: absolute;
                top: 0;
                margin-left: 28.055rem;
                padding-left: 34.945rem;

                > li {
                  margin-bottom: 1.313rem;

                  &:last-child {
                    margin-bottom: 0;
                  }

                  > div {
                    position: relative;
                    display: inline-block;

                    > span {
                      @include manropeMedium();
                      position: absolute;
                      top: -9.498rem;
                      left: -10.4rem;
                      font-size: 12.5rem;
                      color: var(--text-color1);
                      transition: .1s ease-in-out;
                      opacity: 0;
                    }

                    > a {
                      @include preThin();
                      display: inline-block;
                      font-size: 2.25rem;
                      color: var(--text-color8);
                      white-space: nowrap;
                      opacity: .4;
                      transition: .3s ease-in-out;
                      position: relative;
                      z-index: 99999;

                      &:hover {
                        @include preMedium();
                        opacity: 1;
                        color: var(--text-color1);

                        + span {
                          opacity: 0.1;
                        }
                      }
                    }
                  }
                }
              }

              &:hover {
                > div {
                  > a,
                  > button {
                    color: var(--text-color3);
                    opacity: 1;
                  }
                }

                > ul {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    .gauge-box {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: var(--gaugeWrap-color);;

      .gauge {
        width: 0;
        height: 100%;
        background: var(--gauge-color);
        transition: .3s;
      }
    }
  }

  footer {
    position: relative;
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background: var(--bg-color4);
    user-select: none;

    p, a {
      @include preLight();
      position: relative;
      font-size: 0.875rem;
      color: var(--text-color1);
      list-style: none;
      text-decoration: none;


      &::before {
        @include create-ba();
        width: 1px;
        height: 0.688rem;
        background: #d9d9d9;
        top: 50%;
        right: -0.969rem;
        transform: translateY(-50%);
      }

      &:last-of-type {
        &::before {
          display: none;
        }
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.875rem;

      &:nth-child(2),
      &:nth-child(3) {
        margin-bottom: 0.75rem;
      }
    }

    > p {
      color: var(--text-color5);
    }
  }
}