:root {
  --bg-color1: #131313;
  --bg-color2: #14181d;
  --bg-color3: #9df63c;
  --bg-color4: #232323;
  --bg-color5: #fff;
  --text-color1: #fff;
  --text-color2: #131313;
  --text-color3: #9df63c;
  --text-color4: #0d0d0d;
  --text-color5: #7e7e7e;
  --text-color6: #666666;
  --text-color7: #a3c57d;
  --text-color8: #aaaaaa;
  --text-color9: #888888;
  --text-color10: #777777;
  --border-color1: #9df63c;
  --border-color2: #444444;
  --scrollbar-color1: #d8d8d8;
  --gaugeWrap-color: #444;
  --gauge-color: #9df63c;
}

.link.type1 {
  font-family: "Paperlogy-4Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  box-sizing: border-box;
  border: 1px solid var(--border-color1);
  transition: background 0.3s ease-in-out;
  min-width: 15rem;
  min-height: 4.375rem;
  max-width: 15rem;
  max-height: 4.375rem;
}
.link.type1:hover {
  font-family: "Paperlogy-6SemiBold";
  background: var(--bg-color3);
  color: var(--text-color4);
}

.scroll-text-wrap {
  color: var(--text-color1);
  position: absolute;
  height: 100vh;
  left: 12vw;
  top: 0;
}
.scroll-text-wrap.fix {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.scroll-text-wrap.fix .text-box h2 {
  top: -25.47vh;
}
.scroll-text-wrap .text-box {
  position: relative;
  top: 41.66vh;
  display: flex;
  flex-direction: column;
}
.scroll-text-wrap .text-box h2 {
  font-family: "Paperlogy-7Bold";
  position: absolute;
  font-size: 8.75rem;
  color: var(--text-color1);
  opacity: 0.03;
  white-space: nowrap;
  left: -14vw;
  top: 4.3vh;
  transition: 0.3s linear;
}
.scroll-text-wrap .text-box .title {
  font-family: "Pretendard-Light";
  font-size: 1.75rem;
}
.scroll-text-wrap .text-box .title span {
  font-family: "Pretendard-SemiBold";
  display: block;
  color: var(--text-color3);
  font-size: 3.75rem;
  margin-top: 0.875rem;
}
.scroll-text-wrap .text-box .text {
  font-family: "Pretendard-Regular";
  position: relative;
  font-size: 1.375rem;
  line-height: 2rem;
  padding-bottom: 2.788rem;
}
.scroll-text-wrap .text-box .text::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  width: 2.7rem;
  height: 1.031rem;
  background-image: url(../images/main/main-cont2-img1.png);
}

.scroll-box .scroll-cont {
  display: flex;
}
.scroll-box .scroll-cont .item {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.scroll-box .scroll-cont .item .link-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 74vh;
  color: var(--text-color1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.scroll-box .scroll-cont .item .link-box .link-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: 0.3s ease-out;
}
.scroll-box .scroll-cont .item .link-box .title {
  font-family: "Pretendard-SemiBold";
  position: relative;
  font-size: 2.25rem;
  transition: 0.1s ease-in-out;
}
.scroll-box .scroll-cont .item .link-box .title::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #fff;
}
.scroll-box .scroll-cont .item .link-box .text {
  font-family: "Pretendard-ExtraLight";
  font-size: 1.125rem;
  line-height: 2;
  padding-bottom: 6.25rem;
}
.scroll-box .scroll-cont .item .link-box .link {
  z-index: 1;
}
.scroll-box .scroll-cont .item .link-box:hover .link-bg {
  opacity: 0;
}
.scroll-box .scroll-cont .item .link-box:hover .title {
  font-size: 2.5rem;
}
.scroll-box .scroll-cont .item .link-box:hover .title::before {
  width: 2.5rem;
  transition: 0.3s ease-in-out;
  transition-delay: 0.1s;
}
.scroll-box .scroll-cont .item .link-box:hover .text {
  font-family: "Pretendard-Medium";
  font-size: 1.25rem;
  padding-bottom: 5.563rem;
  transition: 0.2s ease-in-out;
}
.scroll-box .scroll-cont .item .link-box:hover .link {
  font-family: "Paperlogy-6SemiBold";
  background: var(--bg-color3);
  color: var(--text-color4);
}

@keyframes aniOPRepeat-type1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes aniTrXCenterYRepeat-type1 {
  from {
    transform: translateX(-50%) translateY(0);
  }
  to {
    transform: translateX(-50%) translateY(-10px);
  }
}
@keyframes aniRotateInfinity-type1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.wrap .main .cont {
  background: var(--bg-color1);
  position: relative;
  user-select: none;
}
.wrap .main .cont .scroll-box {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
}
.wrap .main .cont .title-box {
  position: relative;
}
.wrap .main .cont .title-box h2 {
  font-family: "Paperlogy-7Bold";
  position: absolute;
  top: 2.438rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8.75rem;
  color: var(--text-color1);
  opacity: 0.03;
  white-space: nowrap;
  transition: 0.3s linear;
}
.wrap .main .cont .title-box .title {
  font-family: "Pretendard-Light";
  text-align: center;
  font-size: 1.75rem;
  color: var(--text-color1);
}
.wrap .main .cont .title-box .title span {
  display: block;
}
.wrap .main .cont .title-box .title span:nth-child(1) {
  padding-bottom: 0.875rem;
}
.wrap .main .cont .title-box .title span:nth-child(3) {
  padding-top: 2.5rem;
}
.wrap .main .cont .title-box .title strong {
  font-family: "Pretendard-SemiBold";
  display: block;
  color: var(--text-color3);
  font-size: 3.75rem;
}
.wrap .main .cont.cont1 {
  height: 100vh;
  overflow: hidden;
}
.wrap .main .cont.cont1 .bg-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../images/main/main-cont1-img1.png);
  background-size: 100% 7.5vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}
.wrap .main .cont.cont1 .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 45%;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box1 .text {
  opacity: 0;
  transform: translateY(50%);
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box1 .text p {
  font-family: "GmarketSansBold";
  font-size: 9.688rem;
  color: var(--text-color2);
  -webkit-text-stroke: 1px var(--text-color1);
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 {
  position: relative;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 {
  position: relative;
  padding-right: 7.8753rem;
  opacity: 0;
  transform: translateY(50%);
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p {
  font-family: "Paperlogy-7Bold";
  font-size: 9.813rem;
  display: flex;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span {
  position: relative;
  color: var(--text-color2);
  -webkit-text-stroke: 1px var(--text-color1);
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color1);
  opacity: 0;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(1)::before {
  content: "M";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(2)::before {
  content: "O";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(3)::before {
  content: "B";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(4)::before {
  content: "-";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(5)::before {
  content: "M";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(6)::before {
  content: "A";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(7)::before {
  content: "N";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(8)::before {
  content: "A";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(9)::before {
  content: "G";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(10)::before {
  content: "E";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(11)::before {
  content: "R";
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span.indie {
  font-family: "GmarketSansBold";
  position: absolute;
  right: 0;
  top: 0.5rem;
  font-size: 10.563rem;
  -webkit-text-stroke: 1px var(--text-color3);
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text1 p span.indie::before {
  content: "?";
  font-family: "GmarketSansBold";
  font-size: 10.563rem;
  color: var(--text-color3);
  opacity: 0;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text2 {
  position: absolute;
  opacity: 0;
  right: 13rem;
  top: -3.8rem;
}
.wrap .main .cont.cont1 .text-wrap .text-box.text-box2 .text.text2 p {
  font-family: "Paperlogy-4Regular";
  font-size: 1.625rem;
  line-height: 1.688rem;
  color: var(--text-color3);
}
.wrap .main .cont.cont1 .scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Paperlogy-3Light";
  font-size: 14px;
  color: var(--text-color1);
  bottom: calc(7.5vh + 50px);
  animation: ease-out 1s infinite alternate aniTrXCenterYRepeat-type1;
  transition: opacity 0.5s, bottom 0s;
}
.wrap .main .cont.cont1 .scroll-down::before, .wrap .main .cont.cont1 .scroll-down::after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 43px;
  height: 18px;
  background-image: url(../images/icon/scroll-down.svg);
  background-size: contain;
}
.wrap .main .cont.cont1 .scroll-down::before {
  bottom: -4.6vh;
  animation: linear 1s infinite alternate aniOPRepeat-type1;
}
.wrap .main .cont.cont1 .scroll-down::after {
  bottom: -6.2vh;
  animation: linear 1s infinite alternate aniOPRepeat-type1;
  animation-delay: 0.5s;
}
.wrap .main .cont.cont1 .scroll-down.off {
  opacity: 0;
  bottom: -200vh;
  transition: opacity 0.5s, bottom 0s 0.5s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box1 .text {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
  transition-delay: 0.7s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span::before {
  opacity: 1;
  transition: 1s ease-in;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(1)::before {
  transition-delay: 1.5s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(2)::before {
  transition-delay: 1.55s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(3)::before {
  transition-delay: 1.6s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(4)::before {
  transition-delay: 1.65s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(5)::before {
  transition-delay: 1.7s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(6)::before {
  transition-delay: 1.75s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(7)::before {
  transition-delay: 1.8s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(8)::before {
  transition-delay: 1.85s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(9)::before {
  transition-delay: 1.9s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(10)::before {
  transition-delay: 1.95s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span:nth-child(11)::before {
  transition-delay: 2s;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text1 p span.indie::before {
  transition: 1s ease-in;
  transition-delay: 2.05s;
  opacity: 1;
}
.wrap .main .cont.cont1.on .text-wrap .text-box.text-box2 .text.text2 {
  opacity: 1;
  right: 7.8753rem;
  transition: 1.2s ease-out;
  transition-delay: 2s;
}
.wrap .main .cont.cont2 .scroll-text-wrap .text-box {
  gap: 9.125rem;
}
.wrap .main .cont.cont2 .contact-link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 9rem;
  right: 10.125rem;
  width: 8.5rem;
  height: 8.5rem;
  background-size: 2.425rem 1.569rem;
  background-image: url(../images/icon/contactUs-arrow.png);
  z-index: 9;
  transform-origin: center;
  transition: opacity 0.3s, right 0s;
}
.wrap .main .cont.cont2 .contact-link.fix {
  position: fixed;
}
.wrap .main .cont.cont2 .contact-link.hidden {
  opacity: 0;
  right: -100vw;
  transition: opacity 0.3s, right 0s 0.3s;
}
.wrap .main .cont.cont2 .contact-link::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: aniRotateInfinity-type1 6s infinite linear;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(../images/icon/contactUs-text.png);
}
.wrap .main .cont.cont2 .scroll-box {
  display: none;
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont {
  padding-left: 52vw;
  width: 152vw;
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item {
  width: 25vw;
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item .link-box .title {
  margin-bottom: 3.375rem;
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item .link-box:hover .title {
  padding-bottom: 2.238rem;
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item.item1 .link-box {
  background-image: url(../images/main/main-cont2-img2.png);
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item.item2 .link-box {
  background-image: url(../images/main/main-cont2-img3.png);
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item.item3 .link-box {
  background-image: url(../images/main/main-cont2-img4.png);
}
.wrap .main .cont.cont2 .scroll-box .scroll-cont .item.item4 .link-box {
  background-image: url(../images/main/main-cont2-img5.png);
}
.wrap .main .cont.cont3 .scroll-text-wrap .text-box {
  gap: 9.125rem;
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont {
  padding-left: 52vw;
  width: 202vw;
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item {
  width: 25vw;
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item .link-box .title {
  margin-bottom: 7.75rem;
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item .link-box:hover .title {
  padding-bottom: 2.238rem;
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item1 .link-box {
  background-image: url(../images/main/main-cont3-img1.png);
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item2 .link-box {
  background-image: url(../images/main/main-cont3-img2.png);
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item3 .link-box {
  background-image: url(../images/main/main-cont3-img3.png);
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item4 .link-box {
  background-image: url(../images/main/main-cont3-img4.png);
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item5 .link-box {
  background-image: url(../images/main/main-cont3-img5.png);
}
.wrap .main .cont.cont3 .scroll-box .scroll-cont .item.item6 .link-box {
  background-image: url(../images/main/main-cont3-img6.png);
}
.wrap .main .cont.cont4 {
  padding-top: 13.75rem;
}
.wrap .main .cont.cont4 .title-box {
  padding-bottom: 12.875rem;
}
.wrap .main .cont.cont4 .tab-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap .main .cont.cont4 .tab-wrap .tab-menu {
  display: flex;
  gap: 7.5rem;
  margin-bottom: 8.063rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-menu button {
  font-family: "Pretendard-ExtraLight";
  display: block;
  font-size: 1.75rem;
  color: var(--text-color6);
  transition: 0.3s ease-in-out;
  min-width: 12.625rem;
  min-height: 2.125rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-menu button:hover, .wrap .main .cont.cont4 .tab-wrap .tab-menu button.on {
  font-family: "Pretendard-Regular";
  color: var(--text-color3);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont {
  position: relative;
  width: 100%;
  margin-bottom: 9.688rem;
  min-height: 10.931rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -9999;
  opacity: 0;
  transition: z-index 0s 0.5s;
  transform: translateY(30%);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.on {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.4s ease-in-out, 0.5s ease-in-out, z-index 0s 0s;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper .swiper-wrapper {
  transition-timing-function: linear;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper .swiper-wrapper .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper.swiper1 .swiper-wrapper .swiper-slide {
  background-image: url(../images/main/main-cont4-img1.png);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper.swiper2 .swiper-wrapper .swiper-slide {
  background-image: url(../images/main/main-cont4-img2.png);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper.swiper3 .swiper-wrapper .swiper-slide {
  background-image: url(../images/main/main-cont4-img3.png);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper.swiper4 .swiper-wrapper .swiper-slide {
  background-image: url(../images/main/main-cont4-img4.png);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab .swiper.swiper5 .swiper-wrapper .swiper-slide {
  background-image: url(../images/main/main-cont4-img5.png);
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.tab1 .swiper.swiper1 .swiper-wrapper .swiper-slide {
  height: 4.875rem;
  margin-right: 4.4rem;
  margin-bottom: 2.125rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.tab1 .swiper.swiper2 .swiper-wrapper .swiper-slide {
  height: 2.525rem;
  margin-right: 3.8rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.tab2 .swiper.swiper3 .swiper-wrapper .swiper-slide {
  height: 1.625rem;
  margin-right: 5.25rem;
  margin-bottom: 1.813rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.tab2 .swiper.swiper4 .swiper-wrapper .swiper-slide {
  height: 3rem;
  margin-right: 5.938rem;
  margin-bottom: 2rem;
}
.wrap .main .cont.cont4 .tab-wrap .tab-cont .tab.tab2 .swiper.swiper5 .swiper-wrapper .swiper-slide {
  height: 2.5rem;
  margin-right: 6.25rem;
}
.wrap .main .cont.cont5 {
  padding-top: 13.125rem;
}
.wrap .main .cont.cont5 .title-box {
  padding-bottom: 6.25rem;
}
.wrap .main .cont.cont5 .text-box {
  display: flex;
  gap: 3.125rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.375rem;
}
.wrap .main .cont.cont5 .text-box p,
.wrap .main .cont.cont5 .text-box a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
  color: var(--text-color8);
}
.wrap .main .cont.cont5 .text-box p span,
.wrap .main .cont.cont5 .text-box a span {
  font-family: "Pretendard-ExtraLight";
  font-size: 1.125rem;
  color: var(--text-color1);
}
.wrap .main .cont.cont5 .map-wrap {
  width: 100%;
  height: 540px;
}
.wrap .main .cont.cont5 .map-wrap iframe {
  width: 100%;
  height: 100%;
}
.wrap .sub {
  min-height: calc(100vh - 11.25rem);
  overflow: hidden;
  padding-top: 6.25rem;
  user-select: none;
}
.wrap .sub .cont {
  height: 100%;
}
.wrap .sub .cont .box {
  display: flex;
  padding-left: 18.75rem;
  height: 100%;
}
.wrap .sub .cont .box .list-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 18.75rem;
  height: 100%;
  border-right: 1px solid var(--gaugeWrap-color);
  padding-top: 12.5rem;
  padding-left: 5.313rem;
}
.wrap .sub .cont .box .list-box li {
  min-height: 1.5rem;
  margin-bottom: 2.313rem;
}
.wrap .sub .cont .box .list-box li:last-child {
  margin-bottom: 0;
}
.wrap .sub .cont .box .list-box li a {
  font-family: "Pretendard-ExtraLight";
  position: relative;
  display: block;
  color: var(--text-color6);
  font-size: 1.25rem;
  line-height: 1.5rem;
  transition: 0.3s ease-in-out;
}
.wrap .sub .cont .box .list-box li a::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 3px;
  height: 1.875rem;
  background: var(--bg-color3);
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.wrap .sub .cont .box .list-box li a.on, .wrap .sub .cont .box .list-box li a:hover {
  font-family: "Pretendard-Regular";
  color: var(--text-color1);
}
.wrap .sub .cont .box .list-box li a.on::before {
  opacity: 1;
}
.wrap .sub .cont .box .text-box {
  padding-top: 5.563rem;
  padding-left: 6.25rem;
}
.wrap .sub .cont .box .text-box .title-en {
  font-family: "Pretendard-ExtraLight";
  opacity: 0;
  transform: translateY(50%);
  font-size: 1.125rem;
  color: var(--text-color3);
  margin-bottom: 1rem;
}
.wrap .sub .cont .box .text-box h2 {
  font-family: "Pretendard-SemiBold";
  opacity: 0;
  transform: translateY(50%);
  font-size: 2.625rem;
  color: var(--text-color1);
  margin-bottom: 3.188rem;
}
.wrap .sub .cont .box .text-box .text {
  opacity: 0;
  transform: translateY(50%);
}
.wrap .sub .cont .box .text-box .text p {
  font-family: "Pretendard-ExtraLight";
  font-size: 1.375rem;
  color: var(--text-color1);
  margin-bottom: 1.125rem;
}
.wrap .sub .cont .box .text-box .text p:last-of-type {
  margin-bottom: 0;
}
.wrap .sub .cont .box .text-box .text p strong {
  font-family: "Pretendard-SemiBold";
}
.wrap .sub .cont .box .text-box .text > span {
  font-family: "Pretendard-ExtraLight";
  display: block;
  font-size: 1.125rem;
  color: var(--text-color9);
  margin-top: 2.5rem;
}
.wrap .sub .cont .box .text-box .img-box {
  opacity: 0;
  transform: translateY(30%);
  position: relative;
}
.wrap .sub .cont .box .text-box .img-box .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.wrap .sub .cont.on .box .text-box .title-en {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
}
.wrap .sub .cont.on .box .text-box h2 {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
  transition-delay: 0.1s;
}
.wrap .sub .cont.on .box .text-box .text {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
  transition-delay: 0.3s;
}
.wrap .sub .cont.on .box .text-box .img-box {
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s ease-out;
  transition-delay: 0.3s;
}
.wrap .sub.sub1-1 .cont .box .text-box .text {
  margin-bottom: 14.125rem;
}
.wrap .sub.sub1-1 .cont .box .text-box .img-box {
  width: 80.625rem;
  height: 24.375rem;
  margin-bottom: 5.5rem;
}
.wrap .sub.sub1-1 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub1-1-1-cont1-img1.png);
}
.wrap .sub.sub1-1 .cont .box .text-box .img-box .img.img2 {
  position: absolute;
  top: -14.438rem;
  right: 3.625rem;
  width: 27.75rem;
  height: 31.75rem;
  background-image: url(../images/sub/sub1-1-2-cont1-img1.png);
}
.wrap .sub.sub1-2 .cont .box .text-box .text {
  margin-bottom: 9.625rem;
}
.wrap .sub.sub1-2 .cont .box .text-box .img-box {
  width: 69.063rem;
  height: 23.625rem;
  margin-bottom: 10.625rem;
  margin-left: 5.813rem;
}
.wrap .sub.sub1-2 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub1-2-1-cont1-img1.png);
}
.wrap .sub.sub1-3 .cont .box .text-box .text {
  margin-bottom: 12rem;
}
.wrap .sub.sub1-3 .cont .box .text-box .img-box {
  width: 73.625rem;
  height: 20.125rem;
  margin-bottom: 11.75rem;
  margin-left: 3.5rem;
}
.wrap .sub.sub1-3 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub1-3-1-cont1-img1.png);
}
.wrap .sub.sub1-4 .cont .box .text-box .text {
  margin-bottom: 11.375rem;
}
.wrap .sub.sub1-4 .cont .box .text-box .img-box {
  width: 80.5rem;
  height: 26.25rem;
  margin-bottom: 6.25rem;
}
.wrap .sub.sub1-4 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub1-4-1-cont1-img1.png);
}
.wrap .sub.sub2-1 .cont .box .text-box .text {
  margin-bottom: 16.438rem;
}
.wrap .sub.sub2-1 .cont .box .text-box .img-box {
  width: 80.625rem;
  height: 18.75rem;
  margin-bottom: 5rem;
}
.wrap .sub.sub2-1 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-1-1-cont1-img1.png);
}
.wrap .sub.sub2-1 .cont .box .text-box .img-box .img.img2 {
  position: absolute;
  top: -10.956rem;
  right: 0;
  width: 58.563rem;
  height: 28.456rem;
  background-image: url(../images/sub/sub2-1-2-cont1-img1.png);
}
.wrap .sub.sub2-2 .cont .box .text-box .text {
  margin-bottom: 8.194rem;
}
.wrap .sub.sub2-2 .cont .box .text-box .img-box {
  width: 80.625rem;
  height: 23.444rem;
  margin-bottom: 8.55rem;
}
.wrap .sub.sub2-2 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-2-1-cont1-img1.png);
}
.wrap .sub.sub2-3 .cont .box .text-box .text {
  margin-bottom: 3.938rem;
}
.wrap .sub.sub2-3 .cont .box .text-box .img-box {
  width: 51.25rem;
  height: 30rem;
  margin-bottom: 6.25rem;
  margin-left: 29.375rem;
}
.wrap .sub.sub2-3 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-3-1-cont1-img1.png);
}
.wrap .sub.sub2-4 .cont .box .text-box .text {
  margin-bottom: 2.688rem;
}
.wrap .sub.sub2-4 .cont .box .text-box .img-box {
  width: 74.875rem;
  height: 30rem;
  margin-bottom: 7.5rem;
  margin-left: 5.75rem;
}
.wrap .sub.sub2-4 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-4-1-cont1-img1.png);
}
.wrap .sub.sub2-5 .cont .box .text-box .text {
  margin-bottom: 5.813rem;
}
.wrap .sub.sub2-5 .cont .box .text-box .img-box {
  width: 68rem;
  height: 27.95rem;
  margin-bottom: 6.425rem;
  margin-left: 12.625rem;
}
.wrap .sub.sub2-5 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-5-1-cont1-img1.png);
}
.wrap .sub.sub2-6 .cont .box .text-box .text {
  margin-bottom: 2.881rem;
}
.wrap .sub.sub2-6 .cont .box .text-box .img-box {
  width: 69.625rem;
  height: 32.681rem;
  margin-bottom: 7.5rem;
  margin-left: 11rem;
}
.wrap .sub.sub2-6 .cont .box .text-box .img-box .img.img1 {
  background-image: url(../images/sub/sub2-6-1-cont1-img1.png);
}
.wrap .tos,
.wrap .pi,
.wrap .op {
  height: calc(100vh - 11.25rem);
  padding: calc(6.25rem + 30px) 45px 0 45px;
}
.wrap .tos .cont,
.wrap .pi .cont,
.wrap .op .cont {
  height: 100%;
  background: var(--bg-color5);
  padding: 10px;
}
.wrap .tos .cont .text-wrap,
.wrap .pi .cont .text-wrap,
.wrap .op .cont .text-wrap {
  height: 100%;
  padding: 60px 80px 60px 50px;
  overflow: hidden;
  overflow-y: scroll;
}
.wrap .tos .cont .text-wrap::-webkit-scrollbar,
.wrap .pi .cont .text-wrap::-webkit-scrollbar,
.wrap .op .cont .text-wrap::-webkit-scrollbar {
  width: 8px;
}
.wrap .tos .cont .text-wrap::-webkit-scrollbar-thumb,
.wrap .pi .cont .text-wrap::-webkit-scrollbar-thumb,
.wrap .op .cont .text-wrap::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color1);
  border-radius: 4px;
}
.wrap .tos .cont .text-wrap .text-box h2,
.wrap .pi .cont .text-wrap .text-box h2,
.wrap .op .cont .text-wrap .text-box h2 {
  font-family: "Pretendard-Bold";
  text-align: center;
  font-size: 34px;
  margin-bottom: 60px;
  color: #111111;
}
.wrap .tos .cont .text-wrap .text-box .line-box,
.wrap .pi .cont .text-wrap .text-box .line-box,
.wrap .op .cont .text-wrap .text-box .line-box {
  margin-bottom: 60px;
  color: #011111;
}
.wrap .tos .cont .text-wrap .text-box .line-box:last-of-type,
.wrap .pi .cont .text-wrap .text-box .line-box:last-of-type,
.wrap .op .cont .text-wrap .text-box .line-box:last-of-type {
  margin-bottom: 0;
}
.wrap .tos .cont .text-wrap .text-box .line-box h3,
.wrap .pi .cont .text-wrap .text-box .line-box h3,
.wrap .op .cont .text-wrap .text-box .line-box h3 {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 22px;
}
.wrap .tos .cont .text-wrap .text-box .line-box h4,
.wrap .pi .cont .text-wrap .text-box .line-box h4,
.wrap .op .cont .text-wrap .text-box .line-box h4 {
  font-family: "Pretendard-Bold";
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.wrap .tos .cont .text-wrap .text-box .line-box p.type1,
.wrap .pi .cont .text-wrap .text-box .line-box p.type1,
.wrap .op .cont .text-wrap .text-box .line-box p.type1 {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  word-break: break-all;
}
.wrap .tos .cont .text-wrap .text-box .line-box p.type1:last-of-type,
.wrap .pi .cont .text-wrap .text-box .line-box p.type1:last-of-type,
.wrap .op .cont .text-wrap .text-box .line-box p.type1:last-of-type {
  margin-bottom: 0;
}
.wrap .tos .cont .text-wrap .text-box .line-box p.type1.mb20,
.wrap .pi .cont .text-wrap .text-box .line-box p.type1.mb20,
.wrap .op .cont .text-wrap .text-box .line-box p.type1.mb20 {
  margin-bottom: 20px;
}
.wrap .tos .cont .text-wrap .text-box .line-box p.type1.mb40,
.wrap .pi .cont .text-wrap .text-box .line-box p.type1.mb40,
.wrap .op .cont .text-wrap .text-box .line-box p.type1.mb40 {
  margin-bottom: 40px;
}
.wrap .tos .cont .text-wrap .text-box .line-box p.type1 a,
.wrap .pi .cont .text-wrap .text-box .line-box p.type1 a,
.wrap .op .cont .text-wrap .text-box .line-box p.type1 a {
  font-family: "Pretendard-Regular";
  color: #011111;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap {
  word-break: keep-all;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap.mb20,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap.mb20,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap.mb20 {
  margin-bottom: 20px;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table thead,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table thead,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table thead {
  background-color: #ebebeb;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table thead tr th,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table thead tr th,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table thead tr th {
  font-family: "Pretendard-Medium";
  font-size: 16px;
  padding: 15px 10px;
  line-height: 1.4;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #d9d9d9;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th {
  text-align: center;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th,
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table tbody tr td,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table tbody tr td,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table tbody tr th,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table tbody tr td {
  font-family: "Pretendard-Regular";
  padding: 15px 10px;
  font-size: 14px;
  line-height: 1.4;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  vertical-align: middle;
}
.wrap .tos .cont .text-wrap .text-box .line-box .table-wrap table tbody.tac,
.wrap .pi .cont .text-wrap .text-box .line-box .table-wrap table tbody.tac,
.wrap .op .cont .text-wrap .text-box .line-box .table-wrap table tbody.tac {
  text-align: center;
}

.login-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  padding: 20px;
  background-image: url(../images/login/login-bg.png);
}
.login-wrap .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 782px;
  max-height: 607px;
  padding: 0 20px;
  background: var(--bg-color2);
}
.login-wrap .login h1 {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 306px;
  height: 30px;
  margin-bottom: 26.7px;
  background-image: url(../images/login/login-logo.png);
  background-size: contain;
}
.login-wrap .login p {
  font-family: "Pretendard-Light";
  font-size: 18px;
  color: var(--text-color1);
  margin-bottom: 68.5px;
}
.login-wrap .login .input-box {
  width: 100%;
  margin-bottom: 34.5px;
}
.login-wrap .login .input-box input {
  font-family: "Pretendard-Regular";
  display: block;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  border: none;
  font-size: 16px;
  color: var(--text-color1);
  background: var(--bg-color2);
  outline: none;
  padding: 17.5px 0;
  border-bottom: 1px solid var(--border-color2);
  margin-bottom: 22px;
}
.login-wrap .login .input-box input::placeholder {
  color: var(--text-color10);
}
.login-wrap .login .input-box input:last-of-type {
  margin-bottom: 0;
}
.login-wrap .login .btn-box {
  width: 100%;
  max-width: 440px;
}
.login-wrap .login .btn-box input {
  display: none;
}
.login-wrap .login .btn-box input[type=checkbox] + label {
  font-family: "Pretendard-Medium";
  cursor: pointer;
  font-size: 16px;
  line-height: 23px;
  color: var(--text-color8);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.login-wrap .login .btn-box input[type=checkbox] + label i {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: contain;
  display: block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  margin-right: 12px;
  background-image: url(../images/icon/chk-off.png);
}
.login-wrap .login .btn-box input[type=checkbox]:checked + label i {
  background-image: url(../images/icon/chk-on.png);
}
.login-wrap .login .btn-box button {
  font-family: "Pretendard-SemiBold";
  display: block;
  width: 100%;
  cursor: pointer;
  height: 70px;
  font-size: 24px;
  color: var(--text-color4);
  background: var(--bg-color3);
  border: 1px solid var(--bg-color3);
  transition: 0.2s ease-in-out;
}
.login-wrap .login .btn-box button:hover {
  color: var(--text-color3);
  background: var(--bg-color2);
}